Repository rhinstaller/anaconda, changes with the labels that .github/labeler.yml gives for each.
All labels: f41, documentation, infrastructure

.github/labeler.yml:

# ======================================
# WARNING!
# THIS FILE IS GENERATED FROM A TEMPLATE
# DO NOT EDIT THIS FILE MANUALLY!
# ======================================
# The template is located in: labeler.yml.j2

# File to automatically label pull requests
# See https://github.com/actions/labeler

# Always apply target fedora version to any changes
f41:
- '**'

documentation:
- 'docs/**'

infrastructure:
- '.github/**'
- 'dockerfile/**'

write persistent config of any (dasd,zfcp,znet) s390 devices to sysroot (#1802482,#1937049)
  anaconda.spec.in
  data/systemd/Makefile.am
  data/systemd/anaconda-s390-device-config-import.service
  data/systemd/anaconda.target
  dracut/Makefile.am
  dracut/anaconda-copy-s390ccwconf.sh
  dracut/module-setup.sh
  pyanaconda/modules/storage/installation.py
Labels: f41

Add ping tool to Dracut
  anaconda.spec.in
  dracut/module-setup.sh
Labels: f41

network: use consolidated s390 device configuration (#1802482,#1937049)
  anaconda.spec.in
  pyanaconda/modules/network/nm_client.py
  pyanaconda/modules/network/utils.py
  tests/unit_tests/pyanaconda_tests/modules/network/test_module_network_nm_client.py
Labels: f41

unit_tests: drop DASDDevice.opts like in related blivet change
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_dasd.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_device_tree.py
Labels: f41

Add release note for new ping command in Dracut
  docs/release-notes/support-ping-in-dracut.rst
Labels: f41, documentation

Lower permissions for kickstart logs in /tmp
  pyanaconda/kickstart.py
Labels: f41

desired capacity tooltip text adapt language
  pyanaconda/ui/gui/spokes/lib/custom_storage_helpers.py
Labels: f41

Update translations from Weblate for master
  po/l10n-config.mk
Labels: f41

Add GNOME Kiosk keyboard manager class
  pyanaconda/modules/common/constants/services.py
  pyanaconda/modules/localization/gk_keyboard_manager.py
  pyanaconda/modules/localization/localization.py
  pyanaconda/modules/localization/localization_interface.py
Labels: f41

Use GNOME Kiosk's API in XklWrapper
  pyanaconda/ui/gui/spokes/keyboard.py
  pyanaconda/ui/gui/xkl_wrapper.py
Labels: f41

Setup gdbus-codegen
  .gitignore
  anaconda.spec.in
  scripts/makeupdates
  widgets/src/Makefile.am
  widgets/src/dbus/org.fedoraproject.Anaconda.Modules.Localization.xml
Labels: f41

Drop xrdb
  anaconda.spec.in
  pyanaconda/display.py
Labels: f41

Drop xrandr
  anaconda.spec.in
  pyanaconda/core/regexes.py
  pyanaconda/display.py
  pyanaconda/modules/common/constants/services.py
  pyanaconda/mutter_display.py
Labels: f41

Drop libxklavier
  .packit.yml
  .packit.yml.j2
  anaconda.spec.in
  widgets/configure.ac
  widgets/src/Makefile.am
Labels: f41

Use GNOME Kiosk's API in LayoutIndicator
  widgets/src/LayoutIndicator.c
  widgets/src/LayoutIndicator.h
Labels: f41

Drop the X.Org server dependency
  anaconda.py
  anaconda.spec.in
  configure.ac
  data/Makefile.am
  data/pam/Makefile.am
  data/pam/anaconda
  data/systemd/anaconda.service
  pyanaconda/core/constants.py
  pyanaconda/core/util.py
  pyanaconda/display.py
  pyanaconda/flags.py
  scripts/makeupdates
  scripts/run-in-new-session
Labels: f41

Add unit tests for GkKeyboardManager and its API in localization module
  tests/unit_tests/pyanaconda_tests/modules/localization/gk_keyboard_manager_test.py
  tests/unit_tests/pyanaconda_tests/modules/localization/test_module_localization.py
Labels: f41

New version 34.25.4.8
  anaconda.spec.in
  configure.ac
Labels: f41

Do not initialize kernel features in init
  pyanaconda/ui/gui/spokes/software_selection.py
Labels: f41

Drop xrandr
  anaconda.spec.in
  pyanaconda/core/regexes.py
  pyanaconda/display.py
  pyanaconda/modules/common/constants/services.py
  pyanaconda/mutter_display.py
Labels: f41

Drop xrdb
  anaconda.spec.in
  pyanaconda/display.py
Labels: f41

Add GNOME Kiosk keyboard manager class
  pyanaconda/modules/common/constants/services.py
  pyanaconda/modules/localization/gk_keyboard_manager.py
  pyanaconda/modules/localization/localization.py
  pyanaconda/modules/localization/localization_interface.py
Labels: f41

Setup gdbus-codegen
  .gitignore
  anaconda.spec.in
  scripts/makeupdates
  widgets/src/Makefile.am
  widgets/src/dbus/org.fedoraproject.Anaconda.Modules.Localization.xml
Labels: f41

Use GNOME Kiosk's API in XklWrapper
  pyanaconda/ui/gui/spokes/keyboard.py
  pyanaconda/ui/gui/xkl_wrapper.py
Labels: f41

Drop libxklavier
  .packit.yml
  .packit.yml.j2
  anaconda.spec.in
  widgets/configure.ac
  widgets/src/Makefile.am
Labels: f41

Use GNOME Kiosk's API in LayoutIndicator
  widgets/src/LayoutIndicator.c
  widgets/src/LayoutIndicator.h
Labels: f41

Handle the %pre and %pre-install sections in the runtime module
  anaconda.py
  pyanaconda/installation.py
  pyanaconda/kickstart.py
  pyanaconda/modules/common/constants/objects.py
  pyanaconda/modules/common/structures/scripts.py
  pyanaconda/modules/runtime/runtime.py
  pyanaconda/modules/runtime/scripts/Makefile.am
  pyanaconda/modules/runtime/scripts/__init__.py
  pyanaconda/modules/runtime/scripts/scripts.py
  pyanaconda/modules/runtime/scripts/scripts_interface.py
  pyanaconda/startup_utils.py
  tests/unit_tests/pyanaconda_tests/modules/runtime/test_module_runtime.py
  tests/unit_tests/pyanaconda_tests/modules/runtime/test_module_scripts.py
Labels: f41

New version - 41.4
  anaconda.spec.in
  configure.ac
Labels: f41

Drop xrdb
  anaconda.spec.in
  pyanaconda/display.py
Labels: f41

Setup gdbus-codegen
  .gitignore
  anaconda.spec.in
  scripts/makeupdates
  widgets/src/Makefile.am
  widgets/src/dbus/org.fedoraproject.Anaconda.Modules.Localization.xml
Labels: f41

Use GNOME Kiosk's API in XklWrapper
  pyanaconda/ui/gui/spokes/keyboard.py
  pyanaconda/ui/gui/xkl_wrapper.py
Labels: f41

Add unit tests for GkKeyboardManager and its API in localization module
  tests/unit_tests/pyanaconda_tests/modules/localization/gk_keyboard_manager_test.py
  tests/unit_tests/pyanaconda_tests/modules/localization/test_module_localization.py
Labels: f41

Drop libxklavier
  .packit.yml
  .packit.yml.j2
  anaconda.spec.in
  widgets/configure.ac
  widgets/src/Makefile.am
Labels: f41

Use GNOME Kiosk's API in LayoutIndicator
  widgets/src/LayoutIndicator.c
  widgets/src/LayoutIndicator.h
Labels: f41

Add GNOME Kiosk keyboard manager class
  pyanaconda/modules/common/constants/services.py
  pyanaconda/modules/localization/gk_keyboard_manager.py
  pyanaconda/modules/localization/localization.py
  pyanaconda/modules/localization/localization_interface.py
Labels: f41

Drop xrandr
  anaconda.spec.in
  pyanaconda/core/regexes.py
  pyanaconda/display.py
  pyanaconda/modules/common/constants/services.py
  pyanaconda/mutter_display.py
Labels: f41

Drop the X.Org server dependency
  anaconda.py
  anaconda.spec.in
  configure.ac
  data/Makefile.am
  data/pam/Makefile.am
  data/pam/anaconda
  data/systemd/anaconda.service
  pyanaconda/core/constants.py
  pyanaconda/core/util.py
  pyanaconda/display.py
  pyanaconda/flags.py
  scripts/makeupdates
  scripts/run-in-new-session
Labels: f41

New version 33.16.10.5
  anaconda.spec.in
  configure.ac
Labels: f41

Support the %pre and %pre-install sections in the kickstart specification
  pyanaconda/core/kickstart/script.py
  pyanaconda/core/kickstart/specification.py
  pyanaconda/modules/boss/kickstart_manager/parser.py
  tests/unit_tests/pyanaconda_tests/test_kickstart_specification.py
Labels: f41

FIXME: don't drop pam binaries during image build
  dockerfile/anaconda-iso-creator/Dockerfile
  dockerfile/anaconda-iso-creator/do-not-cleanup-pam-binaries-in-usr-sbin.patch
  dockerfile/anaconda-iso-creator/lorax-build
Labels: f41, infrastructure
