Repository rhinstaller/anaconda, changes with the labels that .github/labeler.yml gives for each.
All labels: f41, documentation, infrastructure

network: add inst.waitfornet.global boot option
  anaconda.py
  pyanaconda/argument_parsing.py
  pyanaconda/modules/network/network.py
  pyanaconda/modules/network/network_interface.py
  pyanaconda/network.py
Labels: f41

bootupd: call bootupctl with --update-firmware
  pyanaconda/modules/payloads/payload/rpm_ostree/installation.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_rpm_ostree_tasks.py
Labels: f41

Build iso with prefixdevname
  dockerfile/anaconda-iso-creator/0001-template.patch
  dockerfile/anaconda-iso-creator/0002-lorax.patch
  dockerfile/anaconda-iso-creator/Dockerfile
  dockerfile/anaconda-iso-creator/lorax-build
Labels: f41, infrastructure

Update translations from Weblate for master
  po/l10n-config.mk
Labels: f41

install-img-deps: Require podman
  anaconda.spec.in
Labels: f41

Add release notes for flatpak_remote conf key
  docs/release-notes/flatpak-remote-is-configurable.rst
Labels: f41, documentation

Move hardcoded flatpak remote to configuration
  data/anaconda.conf
  pyanaconda/core/configuration/payload.py
  pyanaconda/modules/payloads/payload/rpm_ostree/flatpak_installation.py
  tests/unit_tests/pyanaconda_tests/core/test_configuration.py
Labels: f41

New version - 41.5
  anaconda.spec.in
  configure.ac
Labels: f41

Update tests for kickstart commands
  tests/unit_tests/pyanaconda_tests/modules/runtime/test_module_runtime.py
Labels: f41

Migration of the remaining kickstart commands to the Runtime module
  pyanaconda/kickstart.py
  pyanaconda/modules/runtime/kickstart.py
Labels: f41

Add GNOME Kiosk keyboard manager class
  pyanaconda/modules/common/constants/services.py
  pyanaconda/modules/localization/gk_keyboard_manager.py
  pyanaconda/modules/localization/localization.py
  pyanaconda/modules/localization/localization_interface.py
Labels: f41

Setup gdbus-codegen
  .gitignore
  anaconda.spec.in
  scripts/makeupdates
  widgets/src/Makefile.am
  widgets/src/dbus/org.fedoraproject.Anaconda.Modules.Localization.xml
Labels: f41

Use GNOME Kiosk's API in XklWrapper
  pyanaconda/ui/gui/spokes/keyboard.py
  pyanaconda/ui/gui/xkl_wrapper.py
Labels: f41

Use GNOME Kiosk's API in LayoutIndicator
  widgets/src/LayoutIndicator.c
  widgets/src/LayoutIndicator.h
Labels: f41

Drop the X.Org server dependency
  anaconda.py
  anaconda.spec.in
  configure.ac
  data/pam/Makefile.am
  data/pam/anaconda
  data/systemd/anaconda.service
  pyanaconda/core/constants.py
  pyanaconda/core/util.py
  pyanaconda/display.py
  pyanaconda/flags.py
  scripts/Makefile.am
  scripts/run-in-new-session.py
Labels: f41

Drop libxklavier
  .packit.yml
  .packit.yml.j2
  anaconda.spec.in
  widgets/configure.ac
  widgets/src/Makefile.am
Labels: f41

Drop xrdb
  anaconda.spec.in
  pyanaconda/display.py
Labels: f41

Drop xrandr
  anaconda.spec.in
  pyanaconda/core/regexes.py
  pyanaconda/display.py
  pyanaconda/modules/common/constants/services.py
  pyanaconda/mutter_display.py
Labels: f41

Rename usevnc flag & similar variables
  anaconda.py
  pyanaconda/flags.py
  pyanaconda/startup_utils.py
  pyanaconda/ui/gui/spokes/keyboard.py
  pyanaconda/ui/tui/spokes/askvnc.py
Labels: f41

New version 34.25.4.9
  anaconda.spec.in
  configure.ac
Labels: f41

Update translations from Weblate for master
  po/l10n-config.mk
Labels: f41

gui:Fix potential index error for _remove_treeinfo_repositories()
  pyanaconda/ui/gui/spokes/installation_source.py
Labels: f41

gui:Fix index error for _remove_treeinfo_repositories()
  pyanaconda/ui/gui/spokes/installation_source.py
Labels: f41

Disable preexec for vtActivate()
  pyanaconda/core/util.py
Labels: f41

gui:Fix index error for _remove_treeinfo_repositories()
  pyanaconda/ui/gui/spokes/installation_source.py
Labels: f41

New version - 41.6
  anaconda.spec.in
  configure.ac
Labels: f41

Creating module for UI commands
  configure.ac
  pyanaconda/modules/runtime/runtime.py
  pyanaconda/modules/runtime/ui_commands/Makefile.am
  pyanaconda/modules/runtime/ui_commands/__init__.py
  pyanaconda/modules/runtime/ui_commands/ui_commands.py
Labels: f41

Creating module for runtime commands
  configure.ac
  pyanaconda/modules/runtime/runtime.py
  pyanaconda/modules/runtime/runtime_commands/Makefile.am
  pyanaconda/modules/runtime/runtime_commands/__init__.py
  pyanaconda/modules/runtime/runtime_commands/runtime_commands.py
  tests/unit_tests/pyanaconda_tests/modules/runtime/test_module_runtime.py
Labels: f41

FIXME: don't drop GNOME remote desktop deps during image build
  dockerfile/anaconda-iso-creator/Dockerfile
  dockerfile/anaconda-iso-creator/keep-GNOME-remote-desktop-dependencies-drop-Tiger-VNC.patch
  dockerfile/anaconda-iso-creator/lorax-build
Labels: f41, infrastructure

Rebuild Ask VNC spoke
  pyanaconda/core/constants.py
  pyanaconda/ui/tui/spokes/askrd.py
Labels: f41

Replace VNC support with GNOME remote desktop
  anaconda.py
  dockerfile/anaconda-iso-creator/do-not-remove-GNOME-remote-desktop-dependencies.patch
  pyanaconda/display.py
  pyanaconda/startup_utils.py
  pyanaconda/vnc.py
Labels: f41, infrastructure

Introduce GNOME remote desktop support
  anaconda.spec.in
  pyanaconda/core/util.py
  pyanaconda/gnome_remote_destop.py
Labels: f41

Disable preexec for vtActivate()
  pyanaconda/core/util.py
Labels: f41

Add RDP boot options & deprecate VNC boot options
  anaconda.py
  data/anaconda_options.txt
  docs/boot-options.rst
  pyanaconda/argument_parsing.py
Labels: f41, documentation

Disable preexec for vtActivate()
  pyanaconda/core/util.py
Labels: f41

WIP: Scripts for local boot.iso updates workflow
  scripts/rebuild_boot_iso
  scripts/update_boot_iso
Labels: f41

Determine UUID of the filesystem containing the GRUB config
  pyanaconda/modules/storage/bootloader/efi.py
Labels: f41

Update translations from Weblate for master
  po/l10n-config.mk
Labels: f41

infra: Enable autoupdate of localization for F40
  .github/workflows/l10n-po-update.yml
  .github/workflows/l10n-po-update.yml.j2
Labels: f41, infrastructure

New version - 40.22.3
  anaconda.spec.in
  configure.ac
Labels: f41

.github/labeler.yml:

# ======================================
# WARNING!
# THIS FILE IS GENERATED FROM A TEMPLATE
# DO NOT EDIT THIS FILE MANUALLY!
# ======================================
# The template is located in: labeler.yml.j2

# File to automatically label pull requests
# See https://github.com/actions/labeler

# Always apply target fedora version to any changes
f41:
- '**'

documentation:
- 'docs/**'

infrastructure:
- '.github/**'
- 'dockerfile/**'
