Repository rhinstaller/anaconda, pull requests merged in 2018-03, with the labels that each got.

#1352 Move the kickstart specification to pyanaconda.core.kickstart
  pyanaconda/core/kickstart.py
  pyanaconda/modules/bar/bar.py
  pyanaconda/modules/bar/kickstart.py
  pyanaconda/modules/base.py
  pyanaconda/modules/network/kickstart.py
  pyanaconda/modules/network/network.py
  pyanaconda/modules/timezone/kickstart.py
  pyanaconda/modules/timezone/timezone.py
Labels: f28, master

#1360 Add the kernel option resume= by default (#1206936)
  pyanaconda/bootloader.py
Labels: f28, master

#1353 Enable payload configuration for Install classes
  anaconda.py
  pyanaconda/anaconda.py
  pyanaconda/installclass.py
Labels: master

#1329 Rhel8 backport improve test invocation
  Makefile.am
  scripts/makeupdates
  scripts/testing/dependency_solver.py
  scripts/testing/setup-mock-test-env.py
  tests/Makefile.am
  tests/README.rst
  tests/nosetests.sh
  tests/pylint/runpylint.py
Labels: rhel8-branch

#1362 Clean dbus resources
  anaconda.py
  pyanaconda/anaconda.py
  pyanaconda/dbus/launcher.py
  pyanaconda/startup_utils.py
Labels: f28, master

#1359 Rhel8 alpha branch fix makebumpver
  scripts/makebumpver
Labels: rhel8-branch

#1364 Close DBus log file when quitting DBus session
  pyanaconda/dbus/launcher.py
Labels: f28, master

#1369 Always run anaconda private dbus session
  anaconda.spec.in
  data/dbus/Makefile.am
  data/dbus/anaconda-bus.conf
  pyanaconda/anaconda.py
  pyanaconda/core/constants.py
  pyanaconda/dbus/connection.py
  pyanaconda/dbus/constants.py
  pyanaconda/dbus/launcher.py
Labels: f28, master

#1370 Return restorecon utility to Fedora 28 mock
  scripts/testing/dependency_solver.py
Labels: f28, master

#1372 Fix makeupdates script to work with new DBus structure
  scripts/makeupdates
Labels: f28, master

#1371 Fix Makefile of the kickstart manager
  pyanaconda/modules/boss/kickstart_manager/Makefile.am
Labels: f28, master

#1373 Don't send empty kickstart to DBus modules
  pyanaconda/modules/boss/kickstart_manager/kickstart_manager.py
Labels: f28, master

#1345 Make formatting consistent in AnacondaWidgets.xml
  widgets/glade/AnacondaWidgets.xml
Labels: master

#1378 F28 devel add keyboard to localization module
  anaconda.py
  pyanaconda/keyboard.py
  pyanaconda/kickstart.py
  pyanaconda/modules/localization/kickstart.py
  pyanaconda/modules/localization/localization.py
  pyanaconda/modules/localization/localization_interface.py
  pyanaconda/ui/gui/spokes/keyboard.py
  pyanaconda/ui/gui/spokes/welcome.py
  tests/pyanaconda_tests/module_localization_test.py
Labels: f28

#1383 User module should parse only rootpw for now (#1553488)
  pyanaconda/modules/user/kickstart.py
  tests/pyanaconda_tests/module_user_test.py
Labels: f28, master

#1363 network: set TYPE value in ifcfg from kickstart in initrmfs
  dracut/parse-kickstart
Labels: f28, master

#1382 network module: add basic test
  tests/pyanaconda_tests/module_network_test.py
Labels: f28

#1389 Remove DBus modules Foo and Bar
  configure.ac
  data/dbus/org.fedoraproject.Anaconda.Modules.Bar.conf
  data/dbus/org.fedoraproject.Anaconda.Modules.Bar.service
  data/dbus/org.fedoraproject.Anaconda.Modules.Foo.conf
  data/dbus/org.fedoraproject.Anaconda.Modules.Foo.service
  pyanaconda/modules/Makefile.am
  pyanaconda/modules/bar/Makefile.am
  pyanaconda/modules/bar/__init__.py
  pyanaconda/modules/bar/__main__.py
  pyanaconda/modules/bar/bar.py
  pyanaconda/modules/bar/bar_interface.py
  pyanaconda/modules/bar/kickstart.py
  pyanaconda/modules/bar/tasks/Makefile.am
  pyanaconda/modules/bar/tasks/__init__.py
  pyanaconda/modules/bar/tasks/bar_task.py
  pyanaconda/modules/common/constants/namespaces.py
  pyanaconda/modules/common/constants/services.py
  pyanaconda/modules/foo/Makefile.am
  pyanaconda/modules/foo/__init__.py
  pyanaconda/modules/foo/__main__.py
  pyanaconda/modules/foo/foo.py
  pyanaconda/modules/foo/foo_interface.py
  pyanaconda/modules/foo/tasks/Makefile.am
  pyanaconda/modules/foo/tasks/__init__.py
  pyanaconda/modules/foo/tasks/foo_task.py
Labels: f28, master

#1387 Remove spurious echo call from tmux service file
  data/systemd/anaconda-tmux@.service
Labels: rhel8-branch

#1395 Don't autoquit by default if the last hub is empty (#1553935)
  pyanaconda/ui/gui/hubs/__init__.py
Labels: f28, master

#1397 Don't make safe to observe services on buses that don't run
  pyanaconda/dbus/observer.py
Labels: f28, master

#1393 Enable hibernation only on x86 (#1554345)
  pyanaconda/bootloader.py
Labels: f28, master

#1396 Add the LanguageKickstarted property
  pyanaconda/modules/localization/localization.py
  pyanaconda/modules/localization/localization_interface.py
  tests/pyanaconda_tests/module_localization_test.py
Labels: f28, master

#1398 Write rootpw command to kickstart (#1557529)
  pyanaconda/kickstart.py
Labels: f28, master

#1399 Use enums in DBus modules
  pyanaconda/modules/security/constants.py
  pyanaconda/modules/security/security.py
  pyanaconda/modules/security/security_interface.py
  pyanaconda/modules/services/constants.py
  pyanaconda/modules/services/services.py
  pyanaconda/modules/services/services_interface.py
Labels: f28, master

#1403 Make the class for removed kickstart commands more strict
  pyanaconda/kickstart.py
  tests/pyanaconda_tests/ks_version_test.py
Labels: f28, master

#1328 Rhel8 alpha branch remove btrfs support in kickstart 3
  anaconda.spec.in
  dracut/parse-kickstart
  pyanaconda/bootloader.py
  pyanaconda/kickstart.py
  pyanaconda/pwpolicy.py
  pyanaconda/storage/osinstall.py
  pyanaconda/ui/gui/spokes/installation_source.py
  tests/gettext_tests/style_guide.py
  tests/pyanaconda_tests/installclass_test.py
Labels: rhel8-branch

#1394 Fix the kickstart specification handler
  pyanaconda/core/kickstart.py
  tests/pyanaconda_tests/kickstart_specification_test.py
Labels: f28, master

#1379 datetime spoke: still pass ksdata to NTPconfigDialog (UIObject)
  pyanaconda/ui/gui/spokes/datetime_spoke.py
Labels: f28

#1409 Run all unit tests
  tests/pyanaconda_tests/dbus_identifier_test.py
  tests/pyanaconda_tests/dbus_namespace_test.py
  tests/pyanaconda_tests/installation_tasks_test.py
  tests/pyanaconda_tests/iutil_test.py
  tests/pyanaconda_tests/kickstart_dispatcher_test.py
  tests/pyanaconda_tests/kickstart_manager_test.py
  tests/pyanaconda_tests/pwpolicy_test.py
  tests/pyanaconda_tests/test_constants.py
Labels: f28, master

#1411 Remove the invalid self argument
  pyanaconda/ui/gui/spokes/advanced_storage.py
Labels: f28, master
