Repository rhinstaller/anaconda, pull requests merged in 2018-06, with the labels that each got.

#1484 Set locale to en_US.UTF-8 in every module (#1575415)
  pyanaconda/dbus/launcher.py
  pyanaconda/dbus_addons/baz/__main__.py
  pyanaconda/modules/boss/__main__.py
  pyanaconda/modules/common/__init__.py
  pyanaconda/modules/localization/__main__.py
  pyanaconda/modules/network/__main__.py
  pyanaconda/modules/payload/__main__.py
  pyanaconda/modules/security/__main__.py
  pyanaconda/modules/services/__main__.py
  pyanaconda/modules/storage/__main__.py
  pyanaconda/modules/timezone/__main__.py
  pyanaconda/modules/users/__main__.py
Labels: master

#1489 Fix pylint errors
  dracut/parse-kickstart
  pyanaconda/bootloader.py
  pyanaconda/core/util.py
  pyanaconda/installclass.py
  pyanaconda/payload/__init__.py
  pyanaconda/payload/dnfpayload.py
  pyanaconda/payload/rpmostreepayload.py
  pyanaconda/pwpolicy.py
  pyanaconda/safe_dbus.py
  pyanaconda/startup_utils.py
  pyanaconda/storage/osinstall.py
  pyanaconda/storage_utils.py
  tests/pylint/runpylint.py
Labels: master

#1493 If someone really wants to eject the cdrom, then do it. (#1499792)
  anaconda
Labels: rhel7-branch

#1498 Wait for kickstart modules to quit
  pyanaconda/modules/boss/module_manager.py
Labels: master

#1497 Ask for a default passphrase if required
  pyanaconda/ui/tui/spokes/storage.py
  pyanaconda/ui/tui/tuiobject.py
Labels: master

#1508 nvdimm: fix crash on non-block devices
  pyanaconda/storage/osinstall.py
Labels: master, rhel8-branch

#1502 Run an installation task to install a language
  pyanaconda/kickstart.py
  pyanaconda/localization.py
  pyanaconda/modules/common/errors/installation.py
  pyanaconda/modules/localization/installation.py
  pyanaconda/modules/localization/localization.py
  pyanaconda/modules/localization/localization_interface.py
  tests/nosetests/pyanaconda_tests/module_localization_test.py
Labels: master

#1494 Rhel7 branch add nvdimm support
  anaconda.spec.in
  pyanaconda/constants.py
  pyanaconda/kickstart.py
  pyanaconda/ui/gui/spokes/advstorage/nvdimm.glade
  pyanaconda/ui/gui/spokes/advstorage/nvdimm.py
  pyanaconda/ui/gui/spokes/filter.glade
  pyanaconda/ui/gui/spokes/filter.py
  pyanaconda/ui/gui/spokes/storage.py
Labels: rhel7-branch
