Repository rhinstaller/anaconda, pull requests merged in 2018-05, with the labels that each got.

#1461 Change the pop-up text with the pre-release warning (#1542998)
  pyanaconda/ui/gui/spokes/welcome.glade
Labels: rhel8-branch

#1406 Rhel8 alpha branch add nvdimm support
  anaconda.py
  anaconda.spec.in
  docs/boot-options.rst
  pyanaconda/argument_parsing.py
  pyanaconda/bootloader.py
  pyanaconda/constants.py
  pyanaconda/flags.py
  pyanaconda/kickstart.py
  pyanaconda/storage/osinstall.py
  pyanaconda/ui/gui/spokes/advanced_storage.glade
  pyanaconda/ui/gui/spokes/advanced_storage.py
  pyanaconda/ui/gui/spokes/advstorage/nvdimm.glade
  pyanaconda/ui/gui/spokes/advstorage/nvdimm.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/storage.py
  tests/gettext_tests/style_guide.py
Labels: port to Fedora, rhel8-branch

#1470 Fix name of the Zanata Python client package
  Makefile.am
Labels: master

#1467 Increase module startup timeout to 600 seconds
  pyanaconda/startup_utils.py
Labels: master

#1462 Fix crash on inst.noverifyssl with non-url method
  anaconda
Labels: rhel7-branch

#1469 Show correct bootloader error on the MacEFI platform
  pyanaconda/platform.py
Labels: master

#1468 Ask for a default passphrase if required (#1436304)
  pyanaconda/ui/tui/spokes/__init__.py
  pyanaconda/ui/tui/spokes/storage.py
Labels: port to Fedora, port to RHEL8, rhel7-branch

#1465 Update the pykickstart commands
  anaconda.spec.in
  dracut/parse-kickstart
  pyanaconda/kickstart.py
  pyanaconda/modules/storage/kickstart.py
Labels: master

#1473 Fix firewall DBUS module API usage (#1577405)
  pyanaconda/kickstart.py
Labels: master

#1434 Support fcoe --autovlan option (#1564096)
  pyanaconda/kickstart.py
  tests/nosetests/pyanaconda_tests/ks_version_test.py
Labels: f28

#1472 Modularization devel port nvdimm support
  anaconda.py
  anaconda.spec.in
  docs/boot-options.rst
  pyanaconda/argument_parsing.py
  pyanaconda/bootloader.py
  pyanaconda/core/constants.py
  pyanaconda/flags.py
  pyanaconda/kickstart.py
  pyanaconda/storage/osinstall.py
  pyanaconda/ui/gui/spokes/advanced_storage.glade
  pyanaconda/ui/gui/spokes/advanced_storage.py
  pyanaconda/ui/gui/spokes/advstorage/nvdimm.glade
  pyanaconda/ui/gui/spokes/advstorage/nvdimm.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/storage.py
  tests/gettext_tests/style_guide.py
Labels: f29

#1463 Fix KS logvol metadata and chunksize parameters (#1572511)
  pyanaconda/kickstart.py
Labels: master, rhel8-branch

#1474 Fix TUI mountpoint assignment
  pyanaconda/ui/tui/spokes/storage.py
Labels: master

#1478 Use new input responses from Simpleline
  pyanaconda/rescue.py
  pyanaconda/ui/tui/hubs/__init__.py
  pyanaconda/ui/tui/hubs/summary.py
  pyanaconda/ui/tui/spokes/__init__.py
  pyanaconda/ui/tui/spokes/askvnc.py
  pyanaconda/ui/tui/spokes/installation_source.py
  pyanaconda/ui/tui/spokes/network.py
  pyanaconda/ui/tui/spokes/software_selection.py
  pyanaconda/ui/tui/spokes/storage.py
  pyanaconda/ui/tui/spokes/time_spoke.py
  pyanaconda/ui/tui/spokes/user.py
Labels: master

#1480 Don't display "Alternate Architectures" in product name
  pyanaconda/product.py
Labels: rhel7-branch

#1477 Use the auto partitioning module in UI
  pyanaconda/anaconda.py
  pyanaconda/installation.py
  pyanaconda/installclass.py
  pyanaconda/kickstart.py
  pyanaconda/modules/storage/kickstart.py
  pyanaconda/modules/storage/storage.py
  pyanaconda/storage/osinstall.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/lib/passphrase.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/tui/spokes/storage.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
Labels: master

#1479 Add 10% for storage metadata to the total required space (#1578395)
  pyanaconda/core/constants.py
  pyanaconda/ui/gui/spokes/storage.py
Labels: master

#1486 Use subprocess32 to prevent concurrency issues.
  anaconda.spec.in
  pyanaconda/iutil.py
  pyanaconda/vnc.py
Labels: rhel7-branch

#1488 Close the DNF base later (#1571299)
  pyanaconda/payload/dnfpayload.py
Labels: master
