Repository rhinstaller/anaconda, pull requests merged in 2018-07, with the labels that each got.

#1521 Access the ZFCP module only on s390x
  pyanaconda/storage/osinstall.py
Labels: master

#1518 Tell libreport if it is a final release or not (#1596392)
  pyanaconda/exception.py
Labels: master, port to RHEL8

#1531 Define zanata branch statically for rhel-devel branch
  .gitignore
  Makefile.am
  configure.ac
  zanata.xml
Labels: rhel-devel

#1528 fstab: include a note about systemctl daemon-reload
  pyanaconda/storage/osinstall.py
Labels: master

#1538 Make pyanaconda.dbus.typing work with Python 3.7 (#1598574)
  pyanaconda/dbus/typing.py
Labels: master

#1534 Protected devices might be hidden (#1561766)
  pyanaconda/storage/osinstall.py
Labels: master

#1542 Fix packaging log level
  pyanaconda/anaconda_logging.py
  pyanaconda/payload/dnfpayload.py
Labels: master, rhel-devel

#1541 Remove the python-wrapt dependency
  anaconda.spec.in
  pyanaconda/anaconda_logging.py
Labels: master

#1543 Show a note about EULA where relevant
  pyanaconda/installclass.py
  pyanaconda/installclasses/rhel.py
  pyanaconda/ui/gui/hubs/progress.py
  pyanaconda/ui/tui/spokes/installation_progress.py
Labels: master, rhel-devel

#1533 Replace deprecated dracut options for booting with ibft.
  data/systemd/anaconda-nm-config.service
  pyanaconda/bootloader.py
  pyanaconda/network.py
  tests/nosetests/pyanaconda_tests/network_test.py
Labels: master, rhel-devel

#1529 3 column hub
  pyanaconda/ui/gui/hubs/__init__.py
  pyanaconda/ui/gui/spokes/advanced_storage.py
  pyanaconda/ui/gui/spokes/blivet_gui.py
  pyanaconda/ui/gui/spokes/datetime_spoke.py
  pyanaconda/ui/gui/spokes/installation_source.py
  pyanaconda/ui/gui/spokes/keyboard.py
  pyanaconda/ui/gui/spokes/language_support.py
  pyanaconda/ui/gui/spokes/network.py
  pyanaconda/ui/gui/spokes/root_password.py
  pyanaconda/ui/gui/spokes/software_selection.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/gui/spokes/user.py
  widgets/src/SpokeSelector.c
  widgets/src/resources/SpokeSelector-status.css
Labels: master, rhel-devel

#1547 Fix pylint errors
  pyanaconda/bootloader.py
  pyanaconda/ihelp.py
  pyanaconda/installclasses/centos.py
  pyanaconda/installclasses/fedora.py
  pyanaconda/installclasses/rhel.py
  pyanaconda/payload/livepayload.py
  pyanaconda/ui/gui/spokes/datetime_spoke.py
  pyanaconda/ui/gui/spokes/lib/entropy_dialog.py
  pyanaconda/ui/gui/spokes/lib/lang_locale_handler.py
  pyanaconda/ui/gui/xkl_wrapper.py
  pyanaconda/version.py.in
  scripts/analog
  tests/nosetests/pyanaconda_tests/network_test.py
  tests/nosetests/pyanaconda_tests/nm_test.py
  tests/nosetests/regex_tests/zfcp_name_test.py
  tests/pylint/runpylint.py
Labels: master

#1539 Support nvdimm only on x86_64
  anaconda.spec.in
  po/POTFILES.in
  pyanaconda/kickstart.py
  pyanaconda/ui/gui/spokes/filter.glade
  pyanaconda/ui/gui/spokes/filter.py
Labels: rhel7-branch

#1391 Initial module enablement and installation support
  anaconda.spec.in
  pyanaconda/errors.py
  pyanaconda/payload/dnfpayload.py
Labels: f28, master

#1548 Use productmd library to parse .treeinfo (#1411673)
  anaconda.spec.in
  pyanaconda/payload/__init__.py
  pyanaconda/payload/dnfpayload.py
Labels: master, rhel-devel

#1555 Reserve enough static space for 2 lines in spoke status on hub (#1584…
  widgets/src/SpokeSelector.c
Labels: master, rhel-devel

#1554 Fix disable additional repositories
  pyanaconda/payload/dnfpayload.py
Labels: master

#1553 Show better messages for NoSuchPackage and NoSuchGroup (#1599190)
  pyanaconda/payload/__init__.py
Labels: master, rhel-devel

#1514 Create the manual partitioning module
  pyanaconda/core/constants.py
  pyanaconda/installation.py
  pyanaconda/kickstart.py
  pyanaconda/modules/common/constants/objects.py
  pyanaconda/modules/storage/partitioning/__init__.py
  pyanaconda/modules/storage/partitioning/manual.py
  pyanaconda/modules/storage/partitioning/manual_data.py
  pyanaconda/modules/storage/partitioning/manual_interface.py
  pyanaconda/modules/storage/storage.py
  pyanaconda/ui/tui/spokes/storage.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
Labels: master

#1558 Starting from 3.0 DNF expects strings in comps queries
  pyanaconda/payload/dnfpayload.py
  pyanaconda/ui/gui/spokes/software_selection.py
  pyanaconda/ui/tui/spokes/software_selection.py
Labels: master, rhel-devel

#1560 Only show the "closest mirror" source option where appropriate
  pyanaconda/installclass.py
  pyanaconda/installclasses/rhel.py
  pyanaconda/payload/__init__.py
  pyanaconda/payload/dnfpayload.py
  pyanaconda/ui/gui/spokes/installation_source.py
  pyanaconda/ui/tui/spokes/installation_source.py
Labels: master, rhel-devel

#1552 Bootloader stage2 can't be on btrfs on rhel (#1533904)
  pyanaconda/bootloader.py
Labels: master, rhel-devel

#1556 Handle blivet gui support
  pyanaconda/installclass.py
  pyanaconda/installclasses/centos.py
  pyanaconda/installclasses/rhel.py
  pyanaconda/ui/gui/spokes/storage.glade
  pyanaconda/ui/gui/spokes/storage.py
Labels: master, rhel8-branch

#1557 Remove blivet-gui spoke and its dependencies
  anaconda.spec.in
  pyanaconda/ui/gui/spokes/blivet_gui.py
Labels: rhel-devel

#1551 Remove kickstart btrfs support
  dracut/parse-kickstart
  pyanaconda/core/kickstart/commands.py
  pyanaconda/core/kickstart/version.py
  pyanaconda/kickstart.py
  tests/gettext_tests/style_guide.py
Labels: rhel-devel
