Repository rhinstaller/anaconda, pull requests merged in 2018-02, with the labels that each got.

#1326 Master fix dd test for rawhide
  tests/dd_tests/dd_test.py
Labels: master

#1316 Improve test run
  Makefile.am
  scripts/makeupdates
  scripts/testing/dependency_solver.py
  scripts/testing/setup-mock-test-env.py
  tests/Makefile.am
  tests/README.rst
  tests/nosetests.sh
  tests/pylint/runpylint.py
Labels: master

#1331 Fix mitigation toggling with kickstart
  pyanaconda/ui/gui/spokes/performance.py
  pyanaconda/ui/tui/spokes/performance.py
Labels: rhel7-branch

#1324 Rename installclass_atomic to Fedora Atomic Host
  pyanaconda/installclasses/fedora_atomic_host.py
Labels: master

#1339 Revert the Kernel and performance spoke
  po/POTFILES.in
  pyanaconda/ui/gui/spokes/performance.glade
  pyanaconda/ui/gui/spokes/performance.py
  pyanaconda/ui/helpers.py
  pyanaconda/ui/tui/spokes/performance.py
  tests/pyanaconda_tests/ui_helpers_test.py
Labels: rhel7-branch

#1338 Temporarily don't test versions of specified kickstart objects
  tests/pyanaconda_tests/ks_version_test.py
Labels: master

#1296 Remove btrfs support from UI.
  pyanaconda/storage_utils.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/lib/accordion.py
  pyanaconda/ui/tui/spokes/storage.py
Labels: rhel8-branch

#1342 Master fix makebumpver
  scripts/makebumpver
Labels: master, port to RHEL8

#1333 Use the KickstartHandler class
  anaconda.spec.in
  pyanaconda/modules/bar/bar_kickstart.py
  pyanaconda/modules/base.py
  pyanaconda/modules/base_kickstart.py
  pyanaconda/modules/timezone/timezone.py
  tests/pyanaconda_tests/module_timezone_test.py
Labels: master

#1337 Use the KickstartError attributes
  pyanaconda/kickstart.py
  pyanaconda/modules/base_interface.py
  pyanaconda/pwpolicy.py
Labels: master

#1346 Use session bus and start session bus if not already running
  anaconda.py
  anaconda.spec.in
  data/dbus/Makefile.am
  data/systemd/Makefile.am
  data/systemd/anaconda-boss.service
  data/systemd/anaconda.target
  pyanaconda/anaconda.py
  pyanaconda/core/constants.py
  pyanaconda/dbus/__init__.py
  pyanaconda/dbus/constants.py
  pyanaconda/dbus/launcher.py
  scripts/Makefile.am
  scripts/makeupdates
  scripts/setup-updates
Labels: master

#1310 Use the Timezone module in UI
  anaconda.py
  pyanaconda/flags.py
  pyanaconda/installation.py
  pyanaconda/kickstart.py
  pyanaconda/modules/base.py
  pyanaconda/modules/base_interface.py
  pyanaconda/modules/boss/kickstart_manager.py
  pyanaconda/modules/timezone/timezone.py
  pyanaconda/network.py
  pyanaconda/startup_utils.py
  pyanaconda/timezone.py
  pyanaconda/ui/gui/spokes/datetime_spoke.py
  pyanaconda/ui/gui/spokes/welcome.py
  pyanaconda/ui/tui/spokes/time_spoke.py
  tests/pyanaconda_tests/ks_version_test.py
Labels: master

#1349 Fix logging of the DBus modules
  pyanaconda/anaconda_logging.py
  pyanaconda/dbus/launcher.py
  pyanaconda/dbus_addons/baz/__main__.py
  pyanaconda/dbus_addons/baz/baz.py
  pyanaconda/modules/bar/__main__.py
  pyanaconda/modules/bar/bar.py
  pyanaconda/modules/base.py
  pyanaconda/modules/boss/__main__.py
  pyanaconda/modules/boss/boss.py
  pyanaconda/modules/boss/install_manager/install_manager.py
  pyanaconda/modules/foo/__main__.py
  pyanaconda/modules/foo/foo.py
  pyanaconda/modules/network/__main__.py
  pyanaconda/modules/network/network.py
  pyanaconda/modules/timezone/__main__.py
  pyanaconda/modules/timezone/timezone.py
Labels: master

#1348 Fix the network module specification
  pyanaconda/modules/network/network_kickstart.py
  pyanaconda/network.py
  scripts/makeupdates
Labels: master

#1350 Add support for different message buses
  pyanaconda/dbus/__init__.py
  pyanaconda/dbus/connection.py
  pyanaconda/dbus/observer.py
  pyanaconda/modules/bar/bar.py
  pyanaconda/modules/base.py
  pyanaconda/modules/boss/module_manager.py
  pyanaconda/modules/network/network.py
  pyanaconda/ui/gui/spokes/datetime_spoke.py
  pyanaconda/ui/gui/spokes/network.py
  pyanaconda/ui/tui/spokes/network.py
  pyanaconda/ui/tui/spokes/time_spoke.py
  scripts/run_boss_locally.py
  tests/pyanaconda_tests/dbus_observer_test.py
  tests/pyanaconda_tests/install_manager_test.py
  tests/pyanaconda_tests/kickstart_manager.py
Labels: master

#1356 DBus logs are now saved to /tmp/dbus.log
  pyanaconda/dbus/launcher.py
Labels: master

#1354 Wait for DBus modules for longer time
  pyanaconda/startup_utils.py
Labels: master

#1327 Authconfig is replaced with authselect (#1542968)
  anaconda.spec.in
  data/interactive-defaults.ks
  pyanaconda/installation.py
  pyanaconda/kickstart.py
  pyanaconda/users.py
  tests/pyanaconda_tests/kickstart_dispatcher.py
  tests/pyanaconda_tests/kickstart_manager.py
  tests/pyanaconda_tests/ks_version_test.py
Labels: master

#1357 Use observers to access the hostname service
  pyanaconda/dbus/connection.py
  pyanaconda/dbus/observer.py
  pyanaconda/modules/network/network.py
Labels: master
