Repository rhinstaller/anaconda, pull requests merged in 2018-04, with the labels that each got.

#1407 Use the disk selection and initialization modules in UI
  anaconda.py
  pyanaconda/dbus/identifier.py
  pyanaconda/format_dasd.py
  pyanaconda/kickstart.py
  pyanaconda/modules/storage/kickstart.py
  pyanaconda/storage/osinstall.py
  pyanaconda/ui/gui/spokes/advanced_storage.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/lib/disks.py
  pyanaconda/ui/tui/spokes/storage.py
  tests/pyanaconda_tests/__init__.py
  tests/pyanaconda_tests/clearpart_test.py
  tests/pyanaconda_tests/ksdata_test.py
  tests/pyanaconda_tests/module_storage_test.py
Labels: f28, master

#1414 Fix forgotten usage of the selinux kickstart command
  anaconda.py
Labels: f28, master

#1419 Restore fix for RHBZ #1323012 (`set_name` not `setName`)
  pyanaconda/storage/osinstall.py
Labels: rhel8-branch

#1420 Do not redraw screen after text YesNo dialog (#1557951)
  pyanaconda/ui/tui/__init__.py
Labels: f28

#1417 Adapt to a new simpleline changes (#1557472)
  pyanaconda/ui/tui/__init__.py
Labels: f28

#1415 Move install time dependencies to a metapackage
  anaconda.spec.in
Labels: f28, master

#1423 authselect: fix typo in fingerprint case and enable silent last log
  pyanaconda/kickstart.py
Labels: f28, master

#1429 Do not redraw screen after text YesNo dialog
  pyanaconda/ui/tui/__init__.py
Labels: rhel8-branch

#1426 Fix the progress bar steps
  pyanaconda/installation.py
Labels: rhel8-branch

#1432 Add anaconda-install-env-deps as dependency of the anaconda package
  anaconda.spec.in
Labels: f28, master

#1425 Don't try to create required partitions if there are none
  pyanaconda/kickstart.py
Labels: f28, master

#1427 Clear errors when a user updates partitioning settings (#1535781)
  pyanaconda/ui/gui/spokes/custom.py
Labels: rhel7-branch

#1424 Don't try to create required partitions if there are none (#1557485)
  pyanaconda/kickstart.py
Labels: rhel7-branch

#1422 Fix parsing of hostname from cmdline for ipv6.
  pyanaconda/network.py
  pyanaconda/regexes.py
  tests/pyanaconda_tests/network_test.py
Labels: port to Fedora, rhel7-branch

#1442 localization: use LanguageKickstarted module property (#1568119)
  anaconda.py
  pyanaconda/modules/localization/localization_interface.py
  pyanaconda/ui/gui/spokes/welcome.py
  tests/pyanaconda_tests/module_localization_test.py
Labels: f28

#1435 rpmostreepayload: do not require network for dvd installation (#1565369)
  pyanaconda/payload/rpmostreepayload.py
Labels: f28

#1445 Fix broken kickstart command test
  tests/pyanaconda_tests/ks_version_test.py
Labels: master

#1433 Fix double logging to stdout
  pyanaconda/core/constants.py
Labels: master

#1447 Fix broken kickstart command test
  tests/pyanaconda_tests/ks_version_test.py
Labels: master

#1446 Fix bad bash '*' expansion when loading kernel modules
  dracut/anaconda-modprobe.sh
Labels: rhel8-branch

#1431 Replace deprecated dracut options for booting with ibft.
  data/systemd/anaconda-nm-config.service
  pyanaconda/bootloader.py
  pyanaconda/network.py
  tests/pyanaconda_tests/network_test.py
Labels: port to Fedora, rhel8-branch

#1440 Start only the specified kickstart modules (#1566621)
  pyanaconda/modules/boss/boss.py
  pyanaconda/modules/boss/boss_interface.py
  pyanaconda/modules/boss/module_manager.py
  pyanaconda/startup_utils.py
  scripts/run_boss_locally.py
Labels: f28

#1344 kickstart: "clearpart --list" does not work (#1410335)
  pyanaconda/kickstart.py
Labels: rhel7-branch

#1451 Disable window renaming in installer tmux
  data/tmux.conf
Labels: rhel8-branch

#1443 Create the dynamic module User
  configure.ac
  data/dbus/org.fedoraproject.Anaconda.Modules.User.conf
  data/dbus/org.fedoraproject.Anaconda.Modules.User.service
  data/dbus/org.fedoraproject.Anaconda.Modules.Users.conf
  data/dbus/org.fedoraproject.Anaconda.Modules.Users.service
  pyanaconda/kickstart.py
  pyanaconda/modules/common/base/base.py
  pyanaconda/modules/common/base/base_interface.py
  pyanaconda/modules/common/constants/interfaces.py
  pyanaconda/modules/common/constants/namespaces.py
  pyanaconda/modules/common/constants/services.py
  pyanaconda/modules/user/__main__.py
  pyanaconda/modules/users/Makefile.am
  pyanaconda/modules/users/__init__.py
  pyanaconda/modules/users/__main__.py
  pyanaconda/modules/users/kickstart.py
  pyanaconda/modules/users/user/Makefile.am
  pyanaconda/modules/users/user/__init__.py
  pyanaconda/modules/users/user/user.py
  pyanaconda/modules/users/user/user_interface.py
  pyanaconda/modules/users/users.py
  pyanaconda/modules/users/users_interface.py
  pyanaconda/ui/gui/spokes/root_password.py
  pyanaconda/ui/gui/spokes/user.py
  pyanaconda/ui/tui/spokes/root_password.py
  pyanaconda/ui/tui/spokes/user.py
  tests/nosetests/pyanaconda_tests/__init__.py
  tests/nosetests/pyanaconda_tests/kickstart_specification_test.py
  tests/nosetests/pyanaconda_tests/module_user_test.py
  tests/nosetests/pyanaconda_tests/module_users_test.py
Labels: master

#1456 Show correct root spoke lock status in reconfig mode (#1507940)
  pyanaconda/ui/gui/spokes/root_password.py
  pyanaconda/ui/tui/spokes/root_password.py
Labels: f28, master

#1452 Handle empty active attribute for consoles
  pyanaconda/core/util.py
Labels: f28, master

#1454 Remove makebumpver dependency from spec file
  anaconda.spec.in
  scripts/makebumpver
Labels: rhel8-branch

#1453 Remove makebumpver dependency from spec file
  anaconda.spec.in
  scripts/makebumpver
Labels: master, rhel8-branch

#1323 For EL rebuilds, users often want EPEL this permits a clean way to add it
  pyanaconda/installclasses/scientific.py
  pyanaconda/kickstart.py
  pyanaconda/payload/__init__.py
  pyanaconda/payload/dnfpayload.py
  tests/nosetests/pyanaconda_tests/installclass_test.py
Labels: master

#1457 Add missing lines and modularization only log to test coverage
  Makefile.am
Labels: master, rhel8-branch

#1450 Rhel7 fix 1360223
  pyanaconda/exception.py
Labels: master, rhel7-branch, rhel8-branch

#1460 Modular dev fix conflicting packages in cmdmode
  pyanaconda/exception.py
Labels: master, rhel8-branch

#1437 Rhel7 branch non ibft boot
  anaconda
  docs/boot-options.txt
  pyanaconda/bootloader.py
  pyanaconda/flags.py
  pyanaconda/ui/gui/spokes/custom.py
  tests/gettext/style_guide.py
Labels: port to Fedora, rhel7-branch
