Repository rhinstaller/anaconda, pull requests merged in 2018-09, with the labels that each got.

#1589 Use the default LUKS version for auto partitioning (#1624680)
  pyanaconda/storage/osinstall.py
Labels: f29, master

#1593 DNF 3.5 compatibility
  anaconda.spec.in
  pyanaconda/errors.py
  pyanaconda/payload/dnfpayload.py
Labels: rhel-devel

#1590 Don't try to get hostnamed proxy in non-installer-image environments
  anaconda.py
  pyanaconda/modules/network/network.py
  pyanaconda/modules/network/network_interface.py
Labels: rhel8-branch

#1601 Save lsblk output to the Anaconda traceback file
  pyanaconda/exception.py
Labels: f29, master

#1592 DNF 3.5 compatibility
  anaconda.spec.in
  pyanaconda/errors.py
  pyanaconda/payload/dnfpayload.py
Labels: f29, master

#1597 Remove librepo imports from Anaconda (#1626609)
  data/post-scripts/99-copy-logs.ks
  pyanaconda/exception.py
  pyanaconda/payload/dnfpayload.py
Labels: f29, master

#1566 Detect that there is not enough space on a device (#1613232)
  pyanaconda/payload/livepayload.py
Labels: f29, master

#1582 Fix branching documentation
  docs/release.rst
Labels: f29, master

#1510 Add SilverBlue InstallClass
  pyanaconda/installclasses/fedora_silverblue.py
Labels: f29, master

#1604 Fix librepo logging with new DNF
  pyanaconda/payload/dnfpayload.py
Labels: rhel-devel

#1603 Don't connect to signals of the Network Manager DBus objects (#1582233)
  pyanaconda/nm.py
Labels: rhel-devel

#1599 Don't connect to signals of the Network Manager DBus objects
  pyanaconda/nm.py
Labels: f29, master

#1608 Rhel devel prefixdevname
  dracut/Makefile.am
  dracut/anaconda-copy-prefixdefname.sh
  dracut/module-setup.sh
  pyanaconda/bootloader.py
  pyanaconda/kickstart.py
  pyanaconda/network.py
Labels: port to Fedora, rhel-devel

#1606 Fix all cd-rom devices are ejected after the installation
  anaconda
Labels: rhel7-branch

#1605 Add support for TAINT_SUPPORT_REMOVED (#1601545)
  pyanaconda/core/constants.py
  pyanaconda/core/util.py
  pyanaconda/installclass.py
  pyanaconda/installclasses/rhel.py
  pyanaconda/ui/gui/spokes/lib/unsupported_hardware.glade
  pyanaconda/ui/gui/spokes/lib/unsupported_hardware.py
  pyanaconda/ui/gui/spokes/welcome.glade
  pyanaconda/ui/gui/spokes/welcome.py
  pyanaconda/ui/tui/spokes/unsupported_hardware.py
Labels: port to Fedora, rhel-devel

#1607 Remove unused false positives
  tests/pylint/runpylint.py
Labels: f29, master

#1610 Remove the class for kernel arguments from pyanaconda.flags
  pyanaconda/argument_parsing.py
  pyanaconda/core/constants.py
  pyanaconda/core/kernel.py
  pyanaconda/flags.py
  tests/nosetests/pyanaconda_tests/argparse_test.py
Labels: f29, master

#1591 Don't try to get hostnamed proxy in non-installer-image environments …
  anaconda.py
  pyanaconda/modules/network/network.py
  pyanaconda/modules/network/network_interface.py
Labels: f29, master

#1609 Flags shouldn't process the kernel options
  anaconda.py
  data/anaconda_options.txt
  pyanaconda/argument_parsing.py
  pyanaconda/flags.py
Labels: f29, master

#1613 Don't set Anaconda-specific flags in Blivet
  pyanaconda/storage/osinstall.py
  tests/nosetests/pyanaconda_tests/storage_test.py
Labels: f29, master

#1584 Add system purpose support
  anaconda.spec.in
  configure.ac
  data/dbus/org.fedoraproject.Anaconda.Modules.Subscription.conf
  data/dbus/org.fedoraproject.Anaconda.Modules.Subscription.service
  pyanaconda/core/kickstart/commands.py
  pyanaconda/installation.py
  pyanaconda/kickstart.py
  pyanaconda/modules/common/constants/namespaces.py
  pyanaconda/modules/common/constants/services.py
  pyanaconda/modules/subscription/Makefile.am
  pyanaconda/modules/subscription/__init__.py
  pyanaconda/modules/subscription/__main__.py
  pyanaconda/modules/subscription/installation.py
  pyanaconda/modules/subscription/kickstart.py
  pyanaconda/modules/subscription/subscription.py
  pyanaconda/modules/subscription/subscription_interface.py
  pyanaconda/modules/subscription/system_purpose.py
  pyanaconda/ui/gui/spokes/system_purpose.glade
  pyanaconda/ui/gui/spokes/system_purpose.py
  tests/nosetests/pyanaconda_tests/module_subscription_tests.py
  tests/nosetests/pyanaconda_tests/system_purpose_test.py
Labels: rhel-devel

#1617 Set the VNC password directly (#1592686)
  pyanaconda/vnc.py
Labels: f29, master

#1620 Fix the rescue mode (#1631749)
  pyanaconda/rescue.py
Labels: f29, master

#1619 Fix the sanity check verify_gpt_biosboot (#1593446)
  pyanaconda/storage_utils.py
Labels: f29, master

#1612 Configure GRUB and zipl to use the "BootLoaderSpec" boot option configuration format
  anaconda.py
  data/anaconda_options.txt
  docs/boot-options.rst
  pyanaconda/argument_parsing.py
  pyanaconda/bootloader.py
  pyanaconda/errors.py
  pyanaconda/flags.py
  pyanaconda/payload/__init__.py
  pyanaconda/payload/livepayload.py
Labels: rhel-devel

#1622 Revert "Add system purpose support"
  anaconda.spec.in
  configure.ac
  data/dbus/org.fedoraproject.Anaconda.Modules.Subscription.conf
  data/dbus/org.fedoraproject.Anaconda.Modules.Subscription.service
  pyanaconda/core/kickstart/commands.py
  pyanaconda/installation.py
  pyanaconda/kickstart.py
  pyanaconda/modules/common/constants/namespaces.py
  pyanaconda/modules/common/constants/services.py
  pyanaconda/modules/subscription/Makefile.am
  pyanaconda/modules/subscription/__init__.py
  pyanaconda/modules/subscription/__main__.py
  pyanaconda/modules/subscription/installation.py
  pyanaconda/modules/subscription/kickstart.py
  pyanaconda/modules/subscription/subscription.py
  pyanaconda/modules/subscription/subscription_interface.py
  pyanaconda/modules/subscription/system_purpose.py
  pyanaconda/ui/gui/spokes/system_purpose.glade
  pyanaconda/ui/gui/spokes/system_purpose.py
  tests/nosetests/pyanaconda_tests/module_subscription_tests.py
  tests/nosetests/pyanaconda_tests/system_purpose_test.py
Labels: rhel-devel

#1623 Rhel devel fix python3 require
  anaconda.spec.in
Labels: rhel-devel

#1624 Configure librepo logging by DNF API
  data/post-scripts/99-copy-logs.ks
  pyanaconda/exception.py
  pyanaconda/payload/dnfpayload.py
Labels: f29, master
