Repository rhinstaller/anaconda, pull requests merged in 2018-12, with the labels that each got.

#1711 Fix module installation error reporting (#1644635)
  anaconda.spec.in
  pyanaconda/errors.py
  pyanaconda/payload/dnfpayload.py
Labels: rhel-devel

#1713 Split the Anaconda configuration handler to more files
  pyanaconda/core/configuration/anaconda.py
  pyanaconda/core/configuration/base.py
  pyanaconda/core/configuration/services.py
  pyanaconda/core/configuration/storage.py
  pyanaconda/core/configuration/system.py
  pyanaconda/core/configuration/target.py
  tests/nosetests/pyanaconda_tests/configuration_test.py
Labels: master

#1718 Run zipl again after generating initramfs (#1652727)
  pyanaconda/installation.py
  tests/pylint/runpylint.py
Labels: port to Fedora, rhel-devel

#1715 Drop the inst.noblscfg option
  anaconda.py
  data/anaconda_options.txt
  docs/boot-options.rst
  pyanaconda/argument_parsing.py
  pyanaconda/bootloader.py
  pyanaconda/flags.py
  pyanaconda/payload/livepayload.py
Labels: master

#1723 Use the default LUKS version for auto partitioning (#1628519)
  pyanaconda/storage/osinstall.py
Labels: rhel-devel

#1722 Remove initThreading method from pyanaconda.threading
  anaconda.py
  pyanaconda/threading.py
Labels: master

#1725 Make it possible to exit empty user spoke (#1620135)
  pyanaconda/ui/gui/spokes/user.py
Labels: port to Fedora, rhel-devel

#1728 Drop the inst.noblscfg option (#1658980)
  anaconda.py
  data/anaconda_options.txt
  docs/boot-options.rst
  pyanaconda/argument_parsing.py
  pyanaconda/bootloader.py
  pyanaconda/flags.py
Labels: rhel-devel

#1729 Don't allow to use LDL DASD disks (#1635825)
  pyanaconda/storage_utils.py
Labels: port to Fedora, rhel-devel

#1736 update python-coverage dependency
  anaconda.spec.in
Labels: rhel-devel

#1727 Make it possible to exit empty user spoke (#1620135)
  pyanaconda/ui/gui/spokes/user.py
Labels: master

#1731 Remove workaround for bd_s390_dasd_online
  pyanaconda/modules/storage/dasd/discover.py
Labels: master

#1730 Clean up /run/install (#1562239)
  scripts/anaconda-cleanup
Labels: master
