Repository rhinstaller/anaconda, pull requests merged in 2019-03, with the labels that each got.

#1847 Set up the kickstart partitioning from the storage by default
  pyanaconda/modules/storage/partitioning/base.py
  pyanaconda/modules/storage/partitioning/custom.py
  pyanaconda/storage/kickstart.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
Labels: f30, master

#1853 Set the correct attribute of the bootloader kickstart data
  pyanaconda/modules/storage/bootloader/bootloader.py
Labels: f30, master

#1854 Replace the default autopart type in the Storage module
  pyanaconda/core/constants.py
  pyanaconda/modules/storage/constants.py
  pyanaconda/modules/storage/partitioning/automatic.py
  pyanaconda/modules/storage/partitioning/automatic_interface.py
  pyanaconda/storage/execution.py
  pyanaconda/storage/osinstall.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/tui/spokes/storage.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
Labels: f30, master

#1855 Set the default filesystem type for /boot in the Storage module
  pyanaconda/modules/storage/storage.py
Labels: f30, master

#1852 Set up the disk initialization module from the partitioned storage
  pyanaconda/modules/storage/disk_initialization/initialization.py
  pyanaconda/storage/kickstart.py
  tests/nosetests/pyanaconda_tests/module_disk_init_test.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
Labels: f30, master

#1850 Get the required device size for the given space from DBus
  pyanaconda/modules/storage/storage.py
  pyanaconda/modules/storage/storage_interface.py
  pyanaconda/payload/__init__.py
  pyanaconda/storage/utils.py
  pyanaconda/ui/gui/spokes/lib/resize.py
  pyanaconda/ui/lib/space.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
Labels: f30, master

#1851 Offer only supported sector sizes in NVDIMM reconfiguration dialog
  pyanaconda/ui/gui/spokes/advstorage/nvdimm.glade
  pyanaconda/ui/gui/spokes/advstorage/nvdimm.py
Labels: rhel7-branch

#1861 Fix the import of ZFCP (#1684583)
  pyanaconda/storage/installation.py
Labels: f30, master

#1846 network: Get FCoE nics from the DBus module
  pyanaconda/installation.py
  pyanaconda/kickstart.py
  pyanaconda/network.py
Labels: f30, master

#1856 Clean up the storage spoke in TUI and GUI
  pyanaconda/core/constants.py
  pyanaconda/storage/osinstall.py
  pyanaconda/storage/utils.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/tui/spokes/storage.py
Labels: f30, master

#1857 Create the partitioning module for Blivet-GUI
  pyanaconda/modules/common/constants/objects.py
  pyanaconda/modules/storage/partitioning/__init__.py
  pyanaconda/modules/storage/partitioning/blivet.py
  pyanaconda/modules/storage/partitioning/blivet_interface.py
  pyanaconda/modules/storage/storage.py
  pyanaconda/storage/execution.py
  tests/nosetests/pyanaconda_tests/module_blivet_test.py
Labels: f30, master

#1865 Fix live payload error introduced by clean-up (#1685258)
  pyanaconda/payload/livepayload.py
Labels: f30, master

#1835 Create the default partitioning requests on demand
  anaconda.spec.in
  pyanaconda/storage/execution.py
  pyanaconda/storage/initialization.py
  pyanaconda/storage/osinstall.py
Labels: f30, master

#1871 Handle missing support for Blivet-GUI in the Storage module (#1685645)
  pyanaconda/modules/common/errors/storage.py
  pyanaconda/modules/storage/partitioning/blivet.py
  pyanaconda/modules/storage/partitioning/blivet_handler.py
  pyanaconda/modules/storage/partitioning/blivet_interface.py
  tests/nosetests/pyanaconda_tests/module_blivet_test.py
Labels: f30, master

#1868 Fix addrepo param from command line
  pyanaconda/anaconda.py
  pyanaconda/argument_parsing.py
Labels: f30, master

#1863 Detect and warn if SMT is enabled (#1684056)
  pyanaconda/core/constants.py
  pyanaconda/core/util.py
  pyanaconda/ui/gui/hubs/__init__.py
  pyanaconda/ui/gui/hubs/summary.py
  pyanaconda/ui/tui/spokes/kernel_warning.py
Labels: port to Fedora, rhel-devel

#1878 Update the SMT warning message
  pyanaconda/core/constants.py
Labels: port to Fedora, rhel-devel

#1874 efi: don't include the grub2-pc package on EFI installs
  pyanaconda/bootloader/efi.py
Labels: f30, master

#1873 payload: don't force host-only mode when executing dracut
  pyanaconda/payload/__init__.py
Labels: f30, manual testing required, master

#1867 Migrate TUI software spoke to pep8
  pyanaconda/ui/tui/spokes/software_selection.py
Labels: f30, master

#1866 Cleanup gui software spoke
  pyanaconda/ui/gui/spokes/software_selection.py
Labels: f30, master

#1876 Define the quit message in TUI (#1686116)
  pyanaconda/core/constants.py
  pyanaconda/rescue.py
  pyanaconda/ui/tui/__init__.py
  pyanaconda/ui/tui/spokes/askvnc.py
Labels: f30, master

#1877 Simplify the code for protected devices
  anaconda.py
  pyanaconda/modules/storage/storage.py
  pyanaconda/storage/initialization.py
  pyanaconda/storage/osinstall.py
  pyanaconda/storage/utils.py
  pyanaconda/ui/gui/spokes/installation_source.py
  pyanaconda/ui/helpers.py
Labels: f30, master

#1880 Add a new type of the installation system for the initial setup
  pyanaconda/core/configuration/system.py
Labels: f30, master

#1872 Simplify the storage reset
  anaconda.py
  pyanaconda/modules/storage/disk_selection/selection.py
  pyanaconda/modules/storage/disk_selection/selection_interface.py
  pyanaconda/modules/storage/storage.py
  pyanaconda/storage/format_dasd.py
  pyanaconda/storage/initialization.py
  pyanaconda/storage/osinstall.py
  pyanaconda/ui/gui/spokes/blivet_gui.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/lib/refresh.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/tui/spokes/storage.py
  tests/nosetests/pyanaconda_tests/module_disk_select_test.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
  tests/nosetests/pyanaconda_tests/storage_test.py
Labels: f30, master

#1879 Simplify update_storage_ksdata
  pyanaconda/installation.py
  pyanaconda/kickstart.py
  pyanaconda/storage/kickstart.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/tui/spokes/storage.py
  tests/nosetests/pyanaconda_tests/ksdata_test.py
Labels: f30, master

#1881 Validate post-installation snapshot requests with the storage checker
  anaconda.py
  pyanaconda/kickstart.py
  pyanaconda/modules/storage/snapshot/snapshot.py
  pyanaconda/modules/storage/snapshot/snapshot_interface.py
  pyanaconda/modules/storage/snapshot/validate.py
  pyanaconda/storage/execution.py
  tests/nosetests/pyanaconda_tests/module_snapshot_test.py
Labels: f30, master

#1883 Remove blank line in the SMT warning (#1684056)
  pyanaconda/ui/tui/spokes/kernel_warning.py
Labels: rhel-devel

#1884 Make SMT warning message smaller (#1684056)
  pyanaconda/core/constants.py
  pyanaconda/ui/tui/spokes/kernel_warning.py
Labels: rhel-devel

#1864 Network initialization with tasks
  anaconda.py
  pyanaconda/anaconda_loggers.py
  pyanaconda/core/constants.py
  pyanaconda/exception.py
  pyanaconda/modules/network/ifcfg.py
  pyanaconda/modules/network/initialization.py
  pyanaconda/modules/network/network.py
  pyanaconda/modules/network/network_interface.py
  pyanaconda/modules/network/nm_client.py
  pyanaconda/network.py
  pyanaconda/nm.py
  pyanaconda/ui/gui/spokes/network.py
  pyanaconda/ui/tui/spokes/network.py
Labels: f30, master

#1890 network module: fix updating of ONBOOT value on installed system
  pyanaconda/modules/network/ifcfg.py
Labels: f30, master

#1885 Simplify the partitioning
  pyanaconda/modules/storage/partitioning/automatic.py
  pyanaconda/modules/storage/partitioning/automatic_partitioning.py
  pyanaconda/modules/storage/partitioning/base_partitioning.py
  pyanaconda/modules/storage/partitioning/blivet.py
  pyanaconda/modules/storage/partitioning/custom.py
  pyanaconda/modules/storage/partitioning/custom_partitioning.py
  pyanaconda/modules/storage/partitioning/interactive_partitioning.py
  pyanaconda/modules/storage/partitioning/manual.py
  pyanaconda/modules/storage/partitioning/manual_partitioning.py
  pyanaconda/modules/storage/partitioning/noninteractive_partitioning.py
  pyanaconda/modules/storage/partitioning/schedule.py
  pyanaconda/storage/autopart.py
  pyanaconda/storage/execution.py
  pyanaconda/storage/osinstall.py
  pyanaconda/storage/utils.py
  pyanaconda/ui/gui/spokes/blivet_gui.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/tui/spokes/storage.py
  tests/gettext_tests/style_guide.py
  tests/nosetests/pyanaconda_tests/module_blivet_test.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
  tests/storage/cases/__init__.py
Labels: f30, master

#1882 payload: separate blivet.utils & blivet.arch call
  pyanaconda/payload/__init__.py
  pyanaconda/payload/livepayload.py
  pyanaconda/payload/rpmostreepayload.py
  pyanaconda/payload/utils.py
Labels: f30, master

#1875 Improve content of the top-level README file
  README
  README.rst
Labels: f30, master

#1895 Don't generate temporary kickstart in the Storage module
  pyanaconda/kickstart.py
  pyanaconda/modules/storage/storage.py
Labels: f30, master

#1897 Deprecate DBusObjectObserver
  pyanaconda/dbus/connection.py
  pyanaconda/dbus/identifier.py
  pyanaconda/dbus/observer.py
  tests/nosetests/pyanaconda_tests/dbus_identifier_test.py
  tests/nosetests/pyanaconda_tests/dbus_observer_test.py
Labels: f30, master

#1894 Update the kickstart data for iSCSI and NVDIMM during the installation
  pyanaconda/storage/kickstart.py
  pyanaconda/ui/gui/spokes/storage.py
Labels: f30, master

#1896 Simplify get_free_space
  pyanaconda/modules/storage/partitioning/automatic_partitioning.py
  pyanaconda/modules/storage/partitioning/custom_partitioning.py
  pyanaconda/modules/storage/partitioning/interactive_partitioning.py
  pyanaconda/modules/storage/partitioning/noninteractive_partitioning.py
  pyanaconda/storage/osinstall.py
  pyanaconda/storage/utils.py
  pyanaconda/ui/gui/spokes/advanced_storage.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/lib/cart.py
  pyanaconda/ui/gui/spokes/lib/custom_storage_helpers.py
  pyanaconda/ui/gui/spokes/lib/resize.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/lib/space.py
Labels: f30, master

#1891 Network nm cleanup
  pyanaconda/bootloader/base.py
  pyanaconda/installation.py
  pyanaconda/kickstart.py
  pyanaconda/modules/common/structures/network.py
  pyanaconda/modules/network/network.py
  pyanaconda/modules/network/network_interface.py
  pyanaconda/modules/storage/kickstart.py
  pyanaconda/network.py
  pyanaconda/nm.py
  pyanaconda/startup_utils.py
  pyanaconda/ui/gui/spokes/advstorage/fcoe.py
  pyanaconda/ui/gui/spokes/advstorage/iscsi.py
  pyanaconda/ui/gui/spokes/network.py
  pyanaconda/ui/tui/spokes/network.py
  pyanaconda/vnc.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
  tests/nosetests/pyanaconda_tests/network_test.py
  tests/nosetests/pyanaconda_tests/nm_test.py
Labels: f30, master

#1893 Better logging of invalid HD install
  pyanaconda/payload/__init__.py
Labels: f30, master

#1902 Network module api unit tests
  pyanaconda/modules/network/network.py
  tests/nosetests/pyanaconda_tests/module_network_test.py
Labels: f30, master

#1898 Hide the encryption checkbox for the interactive partitioning
  pyanaconda/ui/gui/spokes/storage.py
Labels: f30, master

#1899 Always specify the LUKS version in CustomPartitioningSpoke (#1689699)
  pyanaconda/ui/gui/spokes/custom_storage.py
Labels: f30, master

#1900 Remove useless swapoff
  pyanaconda/storage/fsset.py
  pyanaconda/storage/installation.py
Labels: f30, master

#1903 Fix the initialization of BootInfo (#1599378)
  pyanaconda/kexec.py
Labels: f30, master

#1904 Detect and warn if SMT is enabled (#1678353)
  po/POTFILES.in
  pyanaconda/constants.py
  pyanaconda/iutil.py
  pyanaconda/ui/gui/hubs/__init__.py
  pyanaconda/ui/gui/hubs/summary.py
  pyanaconda/ui/tui/spokes/kernel_warning.py
Labels: rhel7-branch

#1909 Fix the unit tests
  tests/nosetests/pyanaconda_tests/module_bootloader_test.py
  tests/nosetests/pyanaconda_tests/module_disk_init_test.py
  tests/nosetests/pyanaconda_tests/module_network_test.py
  tests/nosetests/pyanaconda_tests/module_nvdimm_test.py
  tests/nosetests/pyanaconda_tests/module_snapshot_test.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
  tests/nosetests/pyanaconda_tests/module_tasks_test.py
Labels: f30, master

#1911 F30 devel network unit tests ifcfg
  pyanaconda/modules/network/ifcfg.py
  pyanaconda/modules/network/nm_client.py
  tests/nosetests/pyanaconda_tests/module_network_ifcfg_test.py
Labels: f30, master
