Repository rhinstaller/anaconda, pull requests merged in 2019-09, with the labels that each got.

#2107 Use test dependencies from Fedora instead of pip
  scripts/testing/dependency_solver.py
  scripts/testing/setup-mock-test-env.py
  tests/pylint/runpylint.py
Labels: f31, master

#2112 Compare normalized XML strings
  tests/nosetests/pyanaconda_tests/__init__.py
  tests/nosetests/pyanaconda_tests/dbus_interface_test.py
  tests/nosetests/pyanaconda_tests/dbus_xml_test.py
Labels: f31, master

#2109 Drop dhclient requirement
  anaconda.spec.in
Labels: master

#2114 Drop dhclient requirement
  anaconda.spec.in
Labels: f31

#1519 dnfpayload: repo in _fetch_md is a dnf repo not ksrepo
  pyanaconda/payload/dnfpayload.py
Labels: f31, master, tracked

#1949 Make default state of addon repos configurable by product
  data/anaconda.conf
  pyanaconda/core/configuration/payload.py
  pyanaconda/payload/dnfpayload.py
  pyanaconda/payload/install_tree_metadata.py
Labels: master, tracked

#2092 F31 devel network remove onboot workarounds
  pyanaconda/kickstart.py
  pyanaconda/modules/network/device_configuration.py
  pyanaconda/modules/network/ifcfg.py
  pyanaconda/modules/network/initialization.py
  pyanaconda/modules/network/installation.py
  pyanaconda/modules/network/network.py
  pyanaconda/modules/network/network_interface.py
  pyanaconda/modules/network/nm_client.py
  pyanaconda/modules/network/utils.py
  pyanaconda/ui/tui/spokes/network.py
  tests/nosetests/pyanaconda_tests/module_network_ifcfg_test.py
  tests/nosetests/pyanaconda_tests/module_network_test.py
Labels: f31, master

#2105 Don't set up a warning label to None (#1745933)
  pyanaconda/ui/gui/spokes/lib/custom_storage_helpers.py
Labels: f31, master

#2108 Fall back to a boot drive with a valid stage1 device (#1168118)
  pyanaconda/bootloader/execution.py
Labels: f31, master

#2090 Handle exceptions without GTK (#1712987)
  pyanaconda/exception.py
Labels: rhel7-branch

#2071 Revert "Keep getSysroot for kdump-anaconda-addon"
  pyanaconda/core/util.py
Labels: master

#2103 Add DBus support for the Resize Dialog
  pyanaconda/modules/common/errors/storage.py
  pyanaconda/modules/storage/partitioning/automatic.py
  pyanaconda/modules/storage/partitioning/automatic_interface.py
  pyanaconda/ui/gui/spokes/lib/resize.glade
  pyanaconda/ui/gui/spokes/lib/resize.py
  tests/nosetests/pyanaconda_tests/module_part_automatic_test.py
Labels: master

#2117 Network adapt to nm in initramfs for no autoconnections
  pyanaconda/modules/network/initialization.py
  pyanaconda/modules/network/installation.py
  pyanaconda/modules/network/nm_client.py
Labels: f31, master

#2111 Use the device factory requests
  pyanaconda/modules/common/errors/storage.py
  pyanaconda/modules/common/structures/partitioning.py
  pyanaconda/modules/storage/partitioning/interactive_utils.py
  pyanaconda/storage/utils.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/lib/accordion.py
  pyanaconda/ui/gui/spokes/lib/custom_storage_helpers.py
  tests/nosetests/pyanaconda_tests/module_part_interactive_test.py
Labels: master

#2115 Remove __main__ functions for testing
  pyanaconda/geoloc.py
  pyanaconda/ui/gui/spokes/network.py
Labels: f31, master

#2116 Use flatpak API to create ref string
  pyanaconda/payload/flatpak.py
  tests/nosetests/pyanaconda_tests/payload_test.py
Labels: f31, master

#2113 Make clear where repo names are used not objects
  pyanaconda/payload/__init__.py
  pyanaconda/payload/dnfpayload.py
Labels: master

#2118 Add a space after the comma in the description
  pyanaconda/argument_parsing.py
Labels: f31, master, tracked

#2121 Fix the second screen of Welcome to Fedora (#1748203)
  data/liveinst/gnome/Makefile.am
  data/liveinst/gnome/fedora-welcome.js
  data/liveinst/gnome/install-button.png
  scripts/makeupdates
Labels: f31, master

#2122 Rhel7 branch devicetype team 1680606
  dracut/parse-kickstart
Labels: rhel7-branch

#2120 network tui: fix addr_str referenced before assignment (#1731415)
  pyanaconda/ui/tui/spokes/network.py
Labels: f31, master

#2128 Only partitions have the is_magic attribute (#1625154)
  pyanaconda/modules/storage/disk_initialization/configuration.py
  pyanaconda/storage/osinstall.py
Labels: master

#2104 Use numbers for user/group names when unpacking tar live image
  pyanaconda/payload/livepayload.py
Labels: f31, master, tracked

#2130 payload module: update live image tar payload options with --numeric-…
  pyanaconda/modules/payload/live/installation.py
Labels: f31, master

#2129 payload module: add tests for live image payload interface
  tests/nosetests/pyanaconda_tests/module_payload_live_image_test.py
Labels: f31, master

#2125 Nm in initramfs iscsi ibft
  pyanaconda/bootloader/base.py
  pyanaconda/modules/network/device_configuration.py
  pyanaconda/modules/network/ifcfg.py
  pyanaconda/modules/network/initialization.py
  pyanaconda/modules/network/network.py
  pyanaconda/modules/network/network_interface.py
  pyanaconda/modules/network/nm_client.py
  pyanaconda/network.py
  tests/nosetests/pyanaconda_tests/module_network_ifcfg_test.py
  tests/nosetests/pyanaconda_tests/module_network_nm_client_test.py
  tests/nosetests/pyanaconda_tests/module_network_test.py
Labels: f31, master

#2133 Extend the support for storage installation
  pyanaconda/modules/storage/bootloader/bootloader.py
  pyanaconda/modules/storage/bootloader/bootloader_interface.py
  pyanaconda/modules/storage/bootloader/installation.py
  pyanaconda/modules/storage/devicetree/viewer.py
  pyanaconda/modules/storage/devicetree/viewer_interface.py
  pyanaconda/modules/storage/disk_selection/selection_interface.py
  pyanaconda/modules/storage/installation.py
  pyanaconda/modules/storage/storage.py
  pyanaconda/modules/storage/storage_interface.py
  pyanaconda/ui/tui/spokes/storage.py
  tests/nosetests/pyanaconda_tests/module_bootloader_test.py
  tests/nosetests/pyanaconda_tests/module_device_tree_test.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
  tests/nosetests/pyanaconda_tests/simple_ui_test.py
Labels: master

#2134 Extend the support for storage validation
  pyanaconda/modules/common/structures/validation.py
  pyanaconda/modules/common/task/task.py
  pyanaconda/modules/common/task/task_interface.py
  pyanaconda/modules/storage/partitioning/automatic.py
  pyanaconda/modules/storage/partitioning/base.py
  pyanaconda/modules/storage/partitioning/base_interface.py
  pyanaconda/modules/storage/partitioning/blivet.py
  pyanaconda/modules/storage/partitioning/custom.py
  pyanaconda/modules/storage/partitioning/interactive.py
  pyanaconda/modules/storage/partitioning/manual.py
  pyanaconda/modules/storage/partitioning/validate.py
  pyanaconda/modules/storage/storage.py
  tests/nosetests/pyanaconda_tests/__init__.py
  tests/nosetests/pyanaconda_tests/module_blivet_test.py
  tests/nosetests/pyanaconda_tests/module_part_automatic_test.py
  tests/nosetests/pyanaconda_tests/module_part_custom_test.py
  tests/nosetests/pyanaconda_tests/module_part_interactive_test.py
  tests/nosetests/pyanaconda_tests/module_part_manual_test.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
Labels: master

#2135 Add a simple import test for pyanaconda
  tests/nosetests/pyanaconda_tests/simple_import_test.py
  tests/nosetests/pyanaconda_tests/simple_ui_test.py
Labels: master

#2124 Increase EFI System Partition (ESP) size to 200-600 MiB
  pyanaconda/platform.py
Labels: f31, master

#2132 Extend the support for partitioning modules
  pyanaconda/modules/storage/partitioning/base.py
  pyanaconda/modules/storage/partitioning/factory.py
  pyanaconda/modules/storage/storage.py
  pyanaconda/modules/storage/storage_interface.py
  tests/nosetests/pyanaconda_tests/module_blivet_test.py
  tests/nosetests/pyanaconda_tests/module_part_custom_test.py
  tests/nosetests/pyanaconda_tests/module_part_factory_test.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
Labels: master

#2138 Remove the old and broken zram-stats script (#1561773)
  scripts/Makefile.am
  scripts/makeupdates
  scripts/zram-stats
Labels: f31, master

#2137 Add the install class for Red Hat Virtualization (#1753316)
  pyanaconda/anaconda.py
  pyanaconda/core/constants.py
  pyanaconda/installclass.py
  pyanaconda/installclasses/rhv.py
  pyanaconda/storage_utils.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/lib/accordion.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/tui/spokes/storage.py
Labels: port to Fedora, rhel8-branch

#2140 Switch between layouts without confirmation (#1333984)
  pyanaconda/ui/gui/spokes/keyboard.py
Labels: f31, master

#2149 Patch DBus proxies in GUI and TUI simple import tests
  tests/nosetests/pyanaconda_tests/__init__.py
  tests/nosetests/pyanaconda_tests/module_network_test.py
  tests/nosetests/pyanaconda_tests/simple_ui_test.py
Labels: master

#2139 Support the %addon sections in the kickstart specification
  pyanaconda/addons.py
  pyanaconda/core/kickstart/addon.py
  pyanaconda/core/kickstart/specification.py
  pyanaconda/dbus_addons/baz/baz.py
  pyanaconda/dbus_addons/baz/kickstart.py
  pyanaconda/modules/common/base/base.py
  tests/nosetests/pyanaconda_tests/kickstart_specification_test.py
  tests/nosetests/pyanaconda_tests/module_baz_test.py
Labels: master

#2143 Add support for getting an object path of a DBus proxy
  pyanaconda/dbus/proxy.py
  tests/nosetests/pyanaconda_tests/dbus_proxy_test.py
Labels: master

#2145 Reset the storage and the playground of partitioning modules
  pyanaconda/modules/storage/partitioning/base.py
  pyanaconda/modules/storage/storage.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
Labels: master

#2150 Handle the bootloader reset in the partitioning task
  pyanaconda/modules/storage/partitioning/base_partitioning.py
Labels: master

#2148 Add DBus method for validation of selected disks
  pyanaconda/modules/storage/disk_selection/selection.py
  pyanaconda/modules/storage/disk_selection/selection_interface.py
  pyanaconda/storage/utils.py
  tests/nosetests/pyanaconda_tests/module_disk_select_test.py
Labels: master

#2146 Enable faulthandler in DBus modules
  pyanaconda/modules/common/__init__.py
Labels: master

#2152 Change the bases of the install classes for RHVH
  pyanaconda/installclasses/rhv.py
Labels: port to Fedora, rhel8-branch

#2147 Improve updates repo configuration in GUI (#1670471)
  pyanaconda/ui/gui/spokes/installation_source.glade
  pyanaconda/ui/gui/spokes/installation_source.py
Labels: master

#2151 Set the locale for unit tests
  tests/nosetests/pyanaconda_tests/__init__.py
Labels: master
