Repository rhinstaller/anaconda, pull requests merged in 2019-12, with the labels that each got.

#2234 Add the mount point attribute to the device format data
  pyanaconda/modules/common/structures/storage.py
  pyanaconda/modules/storage/devicetree/viewer.py
  tests/nosetests/pyanaconda_tests/module_device_tree_test.py
Labels: master

#2238 Raise MountFilesystemError from DBus methods
  pyanaconda/modules/common/errors/storage.py
  pyanaconda/modules/storage/devicetree/handler.py
  pyanaconda/modules/storage/devicetree/handler_interface.py
  tests/nosetests/pyanaconda_tests/module_device_tree_test.py
Labels: master

#2236 Create the boot loader factory
  anaconda.py
  data/anaconda.conf
  pyanaconda/bootloader/__init__.py
  pyanaconda/core/configuration/anaconda.py
  pyanaconda/core/configuration/bootloader.py
  pyanaconda/core/constants.py
  pyanaconda/modules/storage/bootloader/bootloader.py
  pyanaconda/modules/storage/bootloader/bootloader_interface.py
  pyanaconda/modules/storage/constants.py
  pyanaconda/storage/initialization.py
  pyanaconda/storage/osinstall.py
  tests/nosetests/pyanaconda_tests/__init__.py
  tests/nosetests/pyanaconda_tests/module_bootloader_test.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
  tests/storage/cases/__init__.py
Labels: master

#2237 Change the reset methods of the Storage module
  pyanaconda/modules/storage/bootloader/bootloader.py
  pyanaconda/modules/storage/dasd/dasd.py
  pyanaconda/modules/storage/devicetree/devicetree.py
  pyanaconda/modules/storage/devicetree/populate.py
  pyanaconda/modules/storage/disk_initialization/initialization.py
  pyanaconda/modules/storage/disk_selection/selection.py
  pyanaconda/modules/storage/partitioning/base.py
  pyanaconda/modules/storage/reset.py
  pyanaconda/modules/storage/snapshot/snapshot.py
  pyanaconda/modules/storage/storage.py
  pyanaconda/modules/storage/storage_interface.py
  pyanaconda/ui/gui/spokes/advstorage/nvdimm.py
  tests/nosetests/pyanaconda_tests/module_bootloader_test.py
  tests/nosetests/pyanaconda_tests/module_dasd_test.py
  tests/nosetests/pyanaconda_tests/module_device_tree_test.py
  tests/nosetests/pyanaconda_tests/module_disk_init_test.py
  tests/nosetests/pyanaconda_tests/module_disk_select_test.py
  tests/nosetests/pyanaconda_tests/module_part_automatic_test.py
  tests/nosetests/pyanaconda_tests/module_part_blivet_test.py
  tests/nosetests/pyanaconda_tests/module_part_custom_test.py
  tests/nosetests/pyanaconda_tests/module_part_interactive_test.py
  tests/nosetests/pyanaconda_tests/module_part_manual_test.py
  tests/nosetests/pyanaconda_tests/module_snapshot_test.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
Labels: manual testing required, master

#2231 Calculate the space on disks with supported disk labels
  pyanaconda/storage/osinstall.py
  pyanaconda/ui/gui/spokes/storage.py
  tests/nosetests/pyanaconda_tests/module_device_tree_test.py
Labels: master

#2241 network: wrap IPv4 addresses showed in GUI (#1777706)
  pyanaconda/ui/gui/spokes/network.glade
Labels: master

#2217 Keyboard move logic to module 1
  anaconda.py
  pyanaconda/installation.py
  pyanaconda/keyboard.py
  pyanaconda/kickstart.py
  pyanaconda/modules/common/errors/configuration.py
  pyanaconda/modules/common/errors/installation.py
  pyanaconda/modules/localization/installation.py
  pyanaconda/modules/localization/localed.py
  pyanaconda/modules/localization/localization.py
  pyanaconda/modules/localization/localization_interface.py
  pyanaconda/modules/localization/runtime.py
  tests/nosetests/pyanaconda_tests/module_localization_test.py
Labels: master

#2240 Reduce progress spinner repaints to save CPU (rhbz#1204242)
  data/anaconda-gtk.css
Labels: master, tracked

#2244 Extend DBus support for the Resize dialog window
  pyanaconda/modules/common/structures/storage.py
  pyanaconda/modules/storage/devicetree/viewer.py
  pyanaconda/modules/storage/partitioning/automatic.py
  pyanaconda/modules/storage/partitioning/automatic_interface.py
  tests/nosetests/pyanaconda_tests/module_device_tree_test.py
  tests/nosetests/pyanaconda_tests/module_part_automatic_test.py
Labels: master

#2243 Localization populate missing in installation task
  pyanaconda/installation.py
  pyanaconda/modules/localization/installation.py
  pyanaconda/modules/localization/localed.py
  pyanaconda/modules/localization/runtime.py
  tests/nosetests/pyanaconda_tests/module_localization_test.py
Labels: master

#2245 Add the attribute children to the device data
  pyanaconda/modules/common/structures/storage.py
  pyanaconda/modules/storage/devicetree/viewer.py
  tests/nosetests/pyanaconda_tests/module_device_tree_test.py
Labels: master

#2248 Calculate the space on uninitialized disks (#1782449)
  pyanaconda/storage/osinstall.py
Labels: master

#2249 Define a method required by _schedule_actions (#1782463)
  pyanaconda/ui/gui/spokes/lib/resize.py
Labels: master

#2250 Fix text color on info bars
  data/anaconda-gtk.css
Labels: port to Fedora, rhel8-branch

#2251 Fix RHSM HTTP proxy setup
  pyanaconda/modules/subscription/subscription.py
Labels: rhel8-branch

#2213 Cmdline deflagification
  anaconda.py
  pyanaconda/bootloader/base.py
  pyanaconda/bootloader/efi.py
  pyanaconda/core/kernel.py
  pyanaconda/flags.py
  pyanaconda/geoloc.py
  pyanaconda/installation.py
  pyanaconda/modules/network/network.py
  pyanaconda/modules/payloads/base/utils.py
  pyanaconda/network.py
  pyanaconda/payload/__init__.py
  tests/nosetests/pyanaconda_tests/kernel_test.py
  tests/nosetests/pyanaconda_tests/module_payload_test.py
Labels: master
