Repository rhinstaller/anaconda, pull requests merged in 2019-10, with the labels that each got.

#2156 Fix pylint issues
  pyanaconda/core/users.py
  scripts/githooks/pre-commit
  scripts/testing/setup-mock-test-env.py
  tests/pylint/runpylint.py
  tests/rpm_tests/__init__.py
Labels: master

#2154 Don't touch storage until it is ready
  pyanaconda/ui/gui/spokes/blivet_gui.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/tui/spokes/storage.py
Labels: master

#2144 Run the manual partitioning task for the given requests
  pyanaconda/modules/storage/partitioning/manual.py
  pyanaconda/modules/storage/partitioning/manual_partitioning.py
  pyanaconda/storage/execution.py
  tests/nosetests/pyanaconda_tests/module_part_manual_test.py
Labels: master

#2157 Switch to pypi pylint from RPM
  scripts/testing/dependency_solver.py
Labels: master

#2141 Remove pointless '../../' to clean up NFS mounts
  pyanaconda/payload/install_tree_metadata.py
Labels: master, tracked

#2160 network: split configure hostname task out of network installation ta…
  pyanaconda/kickstart.py
  pyanaconda/modules/network/installation.py
  pyanaconda/modules/network/network.py
  pyanaconda/modules/network/network_interface.py
  tests/nosetests/pyanaconda_tests/module_network_test.py
Labels: f31, master

#2164 Fix a missing patch in unit tests
  tests/nosetests/pyanaconda_tests/module_network_test.py
Labels: master

#2158 Support basic nested DBus structures
  pyanaconda/dbus/structure.py
  pyanaconda/dbus/typing.py
  tests/nosetests/pyanaconda_tests/dbus_structure_test.py
  tests/nosetests/pyanaconda_tests/dbus_typing_test.py
Labels: master

#2161 Skip version when processing kernel boot args (#1637472)
  pyanaconda/argument_parsing.py
Labels: port to Fedora, rhel8-branch

#2155 Rhel 8 ks from hdd with network and url
  dracut/anaconda-lib.sh
  dracut/anaconda-netroot.sh
  dracut/parse-kickstart
Labels: port to Fedora, rhel8-branch

#2166 Port the makeupdates script to Python 3
  scripts/makeupdates
Labels: master

#2159 Clean up the Boss module
  anaconda.py
  pyanaconda/dbus/launcher.py
  pyanaconda/kickstart.py
  pyanaconda/modules/boss/boss.py
  pyanaconda/modules/boss/boss_interface.py
  pyanaconda/modules/boss/install_manager/install_manager.py
  pyanaconda/modules/boss/kickstart_manager/kickstart_manager.py
  pyanaconda/modules/boss/module_manager/module_manager.py
  pyanaconda/modules/boss/module_manager/module_observer.py
  pyanaconda/modules/boss/module_manager/start_modules.py
  pyanaconda/modules/common/base/base.py
  pyanaconda/modules/common/base/base_interface.py
  pyanaconda/modules/common/constants/interfaces.py
  pyanaconda/modules/common/errors/module.py
  pyanaconda/modules/common/structures/kickstart.py
  pyanaconda/modules/payload/payload.py
  pyanaconda/ui/gui/spokes/network.py
  scripts/run_boss_locally.py
  tests/nosetests/pyanaconda_tests/__init__.py
  tests/nosetests/pyanaconda_tests/module_boss_install_test.py
  tests/nosetests/pyanaconda_tests/module_boss_kickstart_test.py
  tests/nosetests/pyanaconda_tests/module_boss_modules_test.py
  tests/nosetests/pyanaconda_tests/module_boss_test.py
  tests/nosetests/pyanaconda_tests/module_payload_shared.py
Labels: master

#2169 Skip buildins when processing kernel boot args (#1637472)
  pyanaconda/argument_parsing.py
Labels: master

#2170 Make the nomount boot option work again
  pyanaconda/rescue.py
Labels: master

#2175 Master small fixes in errors
  pyanaconda/errors.py
Labels: master

#2173 Remove make updates
  Makefile.am
Labels: master

#2171 Fix regexp for iscsi initiator iqn name validation (#1750865)
  pyanaconda/core/regexes.py
  tests/nosetests/regex_tests/iscsi_name_test.py
Labels: f31, master

#2168 Remove ldconfig scriptlet from a spec file
  anaconda.spec.in
Labels: master

#2167 Remove ldconfig spec macros
  anaconda.spec.in
Labels: rhel8-branch

#2174 Do not use module_debsolv_errors DNF method
  pyanaconda/errors.py
  pyanaconda/payload/dnfpayload.py
Labels: master

#2180 Don't mark the network command as removed
  pyanaconda/kickstart.py
Labels: master

#1669 Fix local repo files aren't enabled
  pyanaconda/payload/dnfpayload.py
Labels: rhel-devel

#2176 Add blog links to docs
  CONTRIBUTING.rst
  README.rst
  docs/intro.rst
Labels: master

#2153 Add DBus method that finds DASDs for formatting
  pyanaconda/modules/storage/dasd/dasd.py
  pyanaconda/modules/storage/dasd/dasd_interface.py
  pyanaconda/modules/storage/dasd/format.py
  pyanaconda/modules/storage/disk_initialization/initialization.py
  pyanaconda/modules/storage/storage.py
  pyanaconda/storage/format_dasd.py
  tests/nosetests/pyanaconda_tests/module_dasd_test.py
  tests/nosetests/pyanaconda_tests/module_fcoe_test.py
  tests/nosetests/pyanaconda_tests/module_iscsi_test.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
  tests/nosetests/pyanaconda_tests/module_zfcp_test.py
Labels: master

#2178 don't treat s390 as headless when selecting UI mode
  pyanaconda/display.py
Labels: master

#2165 Fix a unit test for a boot loader task
  tests/nosetests/pyanaconda_tests/module_bootloader_test.py
Labels: master

#2172 Add PARTUUID to lsblk_output log
  pyanaconda/exception.py
Labels: master

#2185 Fix links to a new pykickstart GitHub group
  docs/kickstart.rst
  dracut/README-driver-updates.md
Labels: master

#2186 Return back AutoPart kickstart command
  pyanaconda/kickstart.py
Labels: master

#2182 Remove useless support for boot loader update
  pyanaconda/bootloader/base.py
  pyanaconda/bootloader/efi.py
  pyanaconda/bootloader/grub2.py
Labels: master

#2119 Don't add more devices in boot-device NVRAM than the maximum allowed
  pyanaconda/bootloader.py
Labels: port to Fedora, rhel8-branch

#2089 Don't try to format FBA DASD devices (#1715303)
  pyanaconda/format_dasd.py
  tests/pylint/runpylint.py
Labels: port to Fedora, rhel8-branch

#2191 iscsi: do not generate initiator for generated kickstart if iscsi is …
  pyanaconda/modules/storage/iscsi/iscsi.py
Labels: master

#2195 Fix payload module cyclic imports
  pyanaconda/modules/payload/factory.py
Labels: master

#2192 Enable networking in the testing environment by default
  scripts/testing/setup-mock-test-env.py
Labels: master

#2184 Fix initramfs network configuration from kickstart from hd
  dracut/anaconda-lib.sh
  dracut/anaconda-netroot.sh
  dracut/parse-kickstart
Labels: master

#2197 Only attempt to open the ibm,max-boot-devices sysfs entry if it exists
  pyanaconda/bootloader.py
Labels: port to Fedora, port to RHEL8

#2188 Remove network command from anaconda
  pyanaconda/installation.py
  pyanaconda/kickstart.py
  pyanaconda/network.py
Labels: master

#2198 Fix other payload module cyclic imports
  pyanaconda/payload/__init__.py
  pyanaconda/payload/livepayload.py
Labels: master

#2163 Remove pydbus from pyanaconda
  anaconda.spec.in
  pyanaconda/core/signal.py
  pyanaconda/dbus/__init__.py
  pyanaconda/dbus/client.py
  pyanaconda/dbus/connection.py
  pyanaconda/dbus/constants.py
  pyanaconda/dbus/error.py
  pyanaconda/dbus/interface.py
  pyanaconda/dbus/launcher.py
  pyanaconda/dbus/observer.py
  pyanaconda/dbus/property.py
  pyanaconda/dbus/proxy.py
  pyanaconda/dbus/server.py
  pyanaconda/dbus/specification.py
  pyanaconda/dbus/typing.py
  pyanaconda/dbus/xml.py
  pyanaconda/modules/boss/module_manager/start_modules.py
  scripts/run_boss_locally.py
  tests/nosetests/pyanaconda_tests/dbus_client_test.py
  tests/nosetests/pyanaconda_tests/dbus_connection_test.py
  tests/nosetests/pyanaconda_tests/dbus_error_test.py
  tests/nosetests/pyanaconda_tests/dbus_interface_test.py
  tests/nosetests/pyanaconda_tests/dbus_observer_test.py
  tests/nosetests/pyanaconda_tests/dbus_property_test.py
  tests/nosetests/pyanaconda_tests/dbus_proxy_test.py
  tests/nosetests/pyanaconda_tests/dbus_server_test.py
  tests/nosetests/pyanaconda_tests/dbus_signal_test.py
  tests/nosetests/pyanaconda_tests/dbus_specification_test.py
  tests/nosetests/pyanaconda_tests/dbus_test.py
  tests/nosetests/pyanaconda_tests/dbus_typing_test.py
  tests/nosetests/pyanaconda_tests/dbus_xml_test.py
  tests/nosetests/pyanaconda_tests/module_boss_modules_test.py
  tests/pylint/runpylint.py
Labels: master

#2202 Add a temporary hack to fix installations on ppc64le and aarch64 (#1764666)
  data/tmux.conf
Labels: master
