Repository rhinstaller/anaconda, pull requests merged in 2019-04, with the labels that each got.

#1913 Disable updates-testing (#1670091)
  pyanaconda/payload/dnfpayload.py
  pyanaconda/ui/gui/spokes/installation_source.py
Labels: f30, master

#1918 Add DBus support for disk images
  anaconda.py
  pyanaconda/modules/storage/disk_selection/selection.py
  pyanaconda/modules/storage/disk_selection/selection_interface.py
  pyanaconda/modules/storage/storage.py
  pyanaconda/storage/initialization.py
  pyanaconda/storage/osinstall.py
  tests/nosetests/pyanaconda_tests/module_disk_select_test.py
Labels: f30, master

#1921 Fix the entry for swap in /etc/fstab (#1258322)
  pyanaconda/storage/fsset.py
Labels: f30, master

#1915 Set up the clearpart command from the storage
  pyanaconda/modules/storage/disk_initialization/initialization.py
  pyanaconda/modules/storage/storage.py
  tests/nosetests/pyanaconda_tests/module_disk_init_test.py
Labels: f30, master

#1922 Add DBus support for disk selection
  pyanaconda/modules/storage/disk_selection/selection.py
  pyanaconda/modules/storage/disk_selection/selection_interface.py
  pyanaconda/modules/storage/partitioning/base.py
  pyanaconda/modules/storage/storage.py
  pyanaconda/storage/format_dasd.py
  pyanaconda/storage/osinstall.py
  pyanaconda/storage/utils.py
  pyanaconda/ui/gui/spokes/advanced_storage.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/tui/spokes/storage.py
  tests/nosetests/pyanaconda_tests/module_disk_select_test.py
Labels: f30, master

#1908 Remove askmethod flag
  anaconda.py
  dracut/parse-anaconda-options.sh
  pyanaconda/argument_parsing.py
  pyanaconda/flags.py
  pyanaconda/payload/dnfpayload.py
  pyanaconda/ui/gui/spokes/installation_source.py
  pyanaconda/ui/tui/spokes/installation_source.py
Labels: f30, master

#1905 Add remaining DBus support for the bootloader
  pyanaconda/bootloader/__init__.py
  pyanaconda/bootloader/base.py
  pyanaconda/bootloader/execution.py
  pyanaconda/kickstart.py
  pyanaconda/modules/storage/bootloader/bootloader.py
  pyanaconda/modules/storage/bootloader/bootloader_interface.py
  pyanaconda/modules/storage/bootloader/installation.py
  pyanaconda/modules/storage/installation.py
  pyanaconda/modules/storage/partitioning/automatic_partitioning.py
  pyanaconda/modules/storage/partitioning/base.py
  pyanaconda/modules/storage/partitioning/interactive_partitioning.py
  pyanaconda/modules/storage/partitioning/noninteractive_partitioning.py
  pyanaconda/modules/storage/storage.py
  pyanaconda/storage/installation.py
  pyanaconda/storage/osinstall.py
  tests/nosetests/pyanaconda_tests/ksdata_test.py
  tests/nosetests/pyanaconda_tests/module_bootloader_test.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
Labels: f30, master

#1914 Add DBus support for device actions
  pyanaconda/modules/common/structures/storage.py
  pyanaconda/modules/storage/devicetree/devicetree.py
  pyanaconda/modules/storage/devicetree/devicetree_interface.py
  pyanaconda/modules/storage/partitioning/interactive_partitioning.py
  pyanaconda/ui/gui/spokes/blivet_gui.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/lib/summary.py
  tests/nosetests/pyanaconda_tests/device_tree_test.py
Labels: f30, master

#1919 Update the protected devices in the Storage module
  pyanaconda/modules/storage/disk_selection/selection.py
  pyanaconda/modules/storage/storage.py
  pyanaconda/storage/osinstall.py
  pyanaconda/storage/utils.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
Labels: f30, master

#1912 Simplify the code for clearing partitions
  pyanaconda/modules/storage/disk_initialization/__init__.py
  pyanaconda/modules/storage/disk_initialization/configuration.py
  pyanaconda/modules/storage/partitioning/automatic_partitioning.py
  pyanaconda/modules/storage/partitioning/custom_partitioning.py
  pyanaconda/modules/storage/partitioning/noninteractive_partitioning.py
  pyanaconda/modules/storage/partitioning/schedule.py
  pyanaconda/storage/initialization.py
  pyanaconda/storage/osinstall.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/tui/spokes/storage.py
  tests/nosetests/pyanaconda_tests/clearpart_test.py
Labels: f30, master

#1916 [F30] Prepare for fips-mode-setup being split out of crypto-policies
  pyanaconda/installation.py
  pyanaconda/payload/__init__.py
  pyanaconda/payload/dnfpayload.py
Labels: f30, master, tracked

#1930 Change fips package requirement reason
  pyanaconda/installation.py
Labels: f30, master

#1925 Remove unused import for DNF
  pyanaconda/payload/dnfpayload.py
Labels: f30, master

#1923 Use new ssl certificate kickstart options
  anaconda.spec.in
  dracut/parse-kickstart
  pyanaconda/core/kickstart/commands.py
  pyanaconda/payload/__init__.py
  pyanaconda/payload/dnfpayload.py
  pyanaconda/payload/install_tree_metadata.py
Labels: port to Fedora, rhel-devel

#1929 network: for vlan set DEVICE only if interfacename is specified in ki…
  dracut/parse-kickstart
  pyanaconda/modules/network/nm_client.py
  tests/nosetests/dracut_tests/parse-kickstart_test.py
Labels: f30, master

#1932 Fix the string representation of the data objects
  pyanaconda/dbus/structure.py
  pyanaconda/modules/common/structures/network.py
  pyanaconda/modules/common/structures/realm.py
  pyanaconda/modules/common/structures/storage.py
  tests/nosetests/pyanaconda_tests/dbus_structure_test.py
Labels: f30, master

#1936 network tui: fix updating of a connection from UI (#1692677)
  pyanaconda/ui/tui/spokes/network.py
Labels: f30, master

#1937 Fix bad assumption about base repo identification
  pyanaconda/image.py
  pyanaconda/payload/__init__.py
Labels: f30, master

#1931 Create the device tree module
  pyanaconda/image.py
  pyanaconda/modules/common/constants/interfaces.py
  pyanaconda/modules/common/constants/namespaces.py
  pyanaconda/modules/common/constants/objects.py
  pyanaconda/modules/storage/devicetree/__init__.py
  pyanaconda/modules/storage/devicetree/devicetree.py
  pyanaconda/modules/storage/devicetree/devicetree_interface.py
  pyanaconda/modules/storage/devicetree/handler.py
  pyanaconda/modules/storage/devicetree/handler_interface.py
  pyanaconda/modules/storage/devicetree/viewer.py
  pyanaconda/modules/storage/devicetree/viewer_interface.py
  pyanaconda/modules/storage/storage.py
  pyanaconda/modules/storage/storage_interface.py
  pyanaconda/storage/utils.py
  pyanaconda/ui/gui/spokes/lib/resize.py
  pyanaconda/ui/lib/space.py
  tests/nosetests/pyanaconda_tests/module_device_tree_test.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
Labels: f30, master

#1939 Bump Workstation root partition max size to 70 GiB
  pyanaconda/storage/partitioning.py
Labels: f30, master

#1910 network module: add network module unit tests
  tests/nosetests/pyanaconda_tests/module_network_test.py
Labels: f30, master

#1941 network: do not pass None value from NM device object to data holder …
  pyanaconda/modules/common/structures/network.py
  pyanaconda/modules/network/network.py
Labels: f30, master

#1943 Extend the function generate_string_from_data
  pyanaconda/dbus/structure.py
  tests/nosetests/pyanaconda_tests/dbus_structure_test.py
Labels: f30, master

#1926 Give payload a hook for adding disabled repos.
  pyanaconda/payload/__init__.py
Labels: master, tracked

#1942 Blivet-GUI should wait for the storage threads to finish (#1696478)
  pyanaconda/ui/gui/spokes/blivet_gui.py
Labels: f30, master

#1945 Add the class DBusData
  pyanaconda/bootloader/base.py
  pyanaconda/dbus/structure.py
  pyanaconda/kickstart.py
  pyanaconda/modules/common/structures/network.py
  pyanaconda/modules/common/structures/realm.py
  pyanaconda/modules/common/structures/storage.py
  pyanaconda/modules/network/network_interface.py
  pyanaconda/modules/security/security.py
  pyanaconda/modules/security/security_interface.py
  pyanaconda/modules/storage/devicetree/devicetree_interface.py
  pyanaconda/modules/storage/devicetree/viewer_interface.py
  pyanaconda/network.py
  pyanaconda/ui/gui/spokes/advstorage/fcoe.py
  pyanaconda/ui/gui/spokes/network.py
  pyanaconda/ui/tui/spokes/network.py
  tests/nosetests/pyanaconda_tests/dbus_structure_test.py
Labels: master

#1935 Handle bytes and strings from RPM (#1693766)
  pyanaconda/bootloader/installation.py
  pyanaconda/core/util.py
  pyanaconda/payload/__init__.py
  tests/nosetests/pyanaconda_tests/iutil_test.py
Labels: master, port to RHEL8

#1944 Add DBus support for device format data
  pyanaconda/image.py
  pyanaconda/modules/common/structures/storage.py
  pyanaconda/modules/storage/devicetree/handler.py
  pyanaconda/modules/storage/devicetree/handler_interface.py
  pyanaconda/modules/storage/devicetree/viewer.py
  pyanaconda/modules/storage/devicetree/viewer_interface.py
  pyanaconda/rescue.py
  pyanaconda/storage/utils.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/storage.py
  tests/nosetests/pyanaconda_tests/module_device_tree_test.py
Labels: master

#1948 Add DBus support for the device specifier for use in /etc/fstab
  pyanaconda/modules/storage/devicetree/viewer.py
  pyanaconda/modules/storage/devicetree/viewer_interface.py
  pyanaconda/modules/storage/partitioning/interactive_partitioning.py
  pyanaconda/ui/gui/spokes/blivet_gui.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  tests/nosetests/pyanaconda_tests/module_device_tree_test.py
Labels: master

#1947 network: do not crash on --device bootif when BOOTIF is not specified…
  pyanaconda/modules/network/nm_client.py
Labels: f30, master

#1924 Support setting network default onboot in rhv installclass (#1690336)
  pyanaconda/installclasses/rhv.py
Labels: manual testing required, port to Fedora, rhel7-branch

#1953 network: fix a typo in infiniband connections creating (#1698937)
  pyanaconda/modules/network/nm_client.py
Labels: f30, master

#1928 We inherit self.data.repo.dataList() from parent class.
  pyanaconda/payload/dnfpayload.py
Labels: manual testing required, master, tracked

#1954 Change the overflow color
  data/anaconda-gtk.css
Labels: rhel7-branch

#1955 get_iface_from_hwaddr: be more careful about hwaddr (#1703152)
  pyanaconda/modules/network/nm_client.py
Labels: master
