Repository rhinstaller/anaconda, pull requests merged in 2019-06, with the labels that each got.

#1986 Initial Setup and post install tool configuration improvements and fixes
  anaconda.py
  pyanaconda/modules/services/installation.py
  pyanaconda/modules/services/services.py
  pyanaconda/modules/services/services_interface.py
  pyanaconda/screen_access.py
  tests/nosetests/pyanaconda_tests/module_services_test.py
Labels: master

#1993 Use new ssl certificate kickstart options
  anaconda.spec.in
  dracut/parse-kickstart
  pyanaconda/core/kickstart/commands.py
  pyanaconda/payload/__init__.py
  pyanaconda/payload/dnfpayload.py
  pyanaconda/payload/install_tree_metadata.py
Labels: rhel8-branch

#1991 Replace the SELinux execute() method by a DBus Task
  pyanaconda/installation.py
  pyanaconda/kickstart.py
  pyanaconda/modules/security/installation.py
  pyanaconda/modules/security/security.py
Labels: master

#1994 Replace the Services execute() method by a DBus Task
  pyanaconda/installation.py
  pyanaconda/kickstart.py
  pyanaconda/modules/services/installation.py
  pyanaconda/modules/services/services.py
Labels: master

#1997 Replace the lang execute() method
  pyanaconda/installation.py
  pyanaconda/kickstart.py
  pyanaconda/modules/localization/localization.py
  pyanaconda/modules/localization/localization_interface.py
  tests/nosetests/pyanaconda_tests/module_localization_test.py
Labels: master

#1998 Rename zanata rhel-devel version
  zanata.xml
Labels: rhel8-branch

#1992 Adapt makebumpver to rhel-devel -> rhel-8 branch renaming.
  scripts/makebumpver
Labels: port to Fedora, rhel8-branch

#2000 Rhel 8.0 rename zanata rhel devel branch
  zanata.xml
Labels: rhel8-branch

#1995 Add DBus support for storage requirements
  pyanaconda/modules/common/base/base.py
  pyanaconda/modules/common/base/base_interface.py
  pyanaconda/modules/common/structures/requirement.py
  pyanaconda/modules/storage/bootloader/bootloader.py
  pyanaconda/modules/storage/storage.py
  tests/nosetests/pyanaconda_tests/module_requirements_test.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
Labels: master

#1979 Do not show quarterly release part of the version in UI.
  pyanaconda/product.py
  tests/nosetests/pyanaconda_tests/product_test.py
Labels: port to Fedora, rhel8-branch

#1978 Rename add-ons to additional software (#1674011)
  pyanaconda/ui/gui/spokes/software_selection.glade
  pyanaconda/ui/tui/spokes/software_selection.py
Labels: port to Fedora, rhel8-branch

#1952 Set the flag lvm_metadata_backup (#1673901)
  pyanaconda/storage/osinstall.py
Labels: rhel8-branch

#1950 Handle bytes and strings from RPM (#1689909)
  pyanaconda/bootloader.py
  pyanaconda/core/util.py
  pyanaconda/payload/__init__.py
  tests/nosetests/pyanaconda_tests/iutil_test.py
Labels: rhel8-branch

#2003 Use rhel-8.0 zanata version.
  zanata.xml
Labels: rhel8-branch

#1985 Fix non-root dir of install tree HD installation (#1689194)
  pyanaconda/payload/__init__.py
Labels: port to Fedora, rhel-devel, rhel8-branch

#1789 Set default entry to the BLS id instead of the entry index
  pyanaconda/bootloader.py
Labels: rhel8-branch

#1951 Fix the rescue mode (#1628653)
  pyanaconda/rescue.py
Labels: rhel8-branch

#1981 Hide spokes with the Anaconda configuration file
  anaconda.py
  data/anaconda.conf
  data/liveinst/liveinst
  data/product.d/fedora-silverblue.conf
  data/product.d/fedora-workstation-live.conf
  pyanaconda/core/configuration/system.py
  pyanaconda/core/configuration/ui.py
  pyanaconda/installation.py
  pyanaconda/modules/services/installation.py
  pyanaconda/modules/services/services.py
  pyanaconda/screen_access.py
  pyanaconda/ui/common.py
  pyanaconda/ui/gui/spokes/storage.py
  tests/nosetests/pyanaconda_tests/module_services_test.py
  tests/nosetests/pyanaconda_tests/product_test.py
  tests/nosetests/pyanaconda_tests/screen_access_manager_test.py
Labels: master

#2002 Pass nosmt boot option to installed system
  pyanaconda/bootloader.py
Labels: rhel7-branch

#1977 Protect cdroms during tree population for image installs.
  anaconda.spec.in
  pyanaconda/payload/__init__.py
  pyanaconda/storage/osinstall.py
Labels: rhel8-branch

#1989 Read files in /etc/anaconda/conf.d on demand
  anaconda.py
  pyanaconda/core/configuration/anaconda.py
  tests/nosetests/pyanaconda_tests/configuration_test.py
Labels: master

#1983 Add DBus support for teardown tasks
  anaconda.py
  pyanaconda/modules/common/base/base.py
  pyanaconda/modules/common/base/base_interface.py
  pyanaconda/modules/storage/storage.py
  pyanaconda/modules/storage/teardown.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
Labels: master

#2009 Move get_anaconda_version_string to util
  anaconda.py
  pyanaconda/core/util.py
  pyanaconda/exception.py
  pyanaconda/modules/services/installation.py
  pyanaconda/startup_utils.py
  tests/nosetests/pyanaconda_tests/iutil_test.py
Labels: master

#2010 Add the apply-updates script
  scripts/Makefile.am
  scripts/apply-updates
  scripts/makeupdates
Labels: master

#2004 Replace the XConfig execute() method by DBus Tasks
  pyanaconda/desktop.py
  pyanaconda/installation.py
  pyanaconda/kickstart.py
  pyanaconda/modules/services/installation.py
  pyanaconda/modules/services/services.py
  tests/nosetests/pyanaconda_tests/module_services_test.py
Labels: master

#1996 Change the path to the system root
  data/anaconda.conf
  pyanaconda/core/configuration/target.py
  pyanaconda/core/util.py
  pyanaconda/payload/dnfpayload.py
  pyanaconda/storage/osinstall.py
  pyanaconda/storage/root.py
  pyanaconda/ui/lib/space.py
  tests/nosetests/pyanaconda_tests/iutil_test.py
  tests/nosetests/pyanaconda_tests/payload_test.py
Labels: master

#2012 Improve the documentation of inst.stage2.all and inst.ks.all
  docs/boot-options.rst
Labels: master

#2008 Deprecate the method changed
  pyanaconda/dbus/template.py
Labels: master

#2016 Fix protecting of the live device (#1699387)
  pyanaconda/storage/osinstall.py
Labels: master

#2018 Fix list-screens script reference
  docs/user-interaction-config-file-spec.rst
Labels: master

#2017 Fix misleading comment
  pyanaconda/payload/dnfpayload.py
Labels: master

#2023 Move graphical login detection to task & related fixes
  anaconda.py
  pyanaconda/modules/services/installation.py
  pyanaconda/modules/services/services.py
  pyanaconda/payload/__init__.py
Labels: master

#2020 Clean up the custom spoke
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/lib/custom_storage_helpers.py
Labels: master

#2028 Fix the unit tests for the Services module
  tests/nosetests/pyanaconda_tests/module_services_test.py
Labels: master

#2011 Add support for disabling modules via module --disable (#1655523)
  anaconda.spec.in
  pyanaconda/core/kickstart/commands.py
  pyanaconda/payload/dnfpayload.py
Labels: port to Fedora, rhel8-branch

#2013 Add DBus support for passphrases
  pyanaconda/exception.py
  pyanaconda/installation.py
  pyanaconda/modules/storage/devicetree/handler.py
  pyanaconda/modules/storage/devicetree/handler_interface.py
  pyanaconda/modules/storage/partitioning/automatic.py
  pyanaconda/modules/storage/partitioning/automatic_interface.py
  pyanaconda/modules/storage/partitioning/base.py
  pyanaconda/modules/storage/partitioning/custom.py
  pyanaconda/modules/storage/partitioning/custom_interface.py
  pyanaconda/modules/storage/partitioning/custom_partitioning.py
  pyanaconda/storage/execution.py
  pyanaconda/storage/osinstall.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/lib/passphrase.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/tui/spokes/storage.py
  tests/nosetests/pyanaconda_tests/__init__.py
  tests/nosetests/pyanaconda_tests/module_device_tree_test.py
  tests/nosetests/pyanaconda_tests/module_part_automatic_test.py
  tests/nosetests/pyanaconda_tests/module_part_custom_test.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
Labels: master

#2027 Use FirewallMode enum firewall configuration DBus Task (#1722979)
  pyanaconda/modules/network/firewall/installation.py
  tests/nosetests/pyanaconda_tests/module_network_test.py
Labels: master

#2029 Add support for decomposing DBus values
  pyanaconda/dbus/typing.py
  tests/nosetests/pyanaconda_tests/dbus_structure_test.py
  tests/nosetests/pyanaconda_tests/dbus_typing_test.py
Labels: master

#2005 Fix setting and reporting ready state in Source Spoke.
  pyanaconda/ui/gui/spokes/installation_source.py
Labels: master

#2022 Migrate liveos payload
  pyanaconda/modules/common/constants/objects.py
  pyanaconda/modules/common/errors/payload.py
  pyanaconda/modules/payload/live/initialization.py
  pyanaconda/modules/payload/live/live_os.py
  pyanaconda/modules/payload/live/live_os_interface.py
  pyanaconda/modules/payload/payload.py
  pyanaconda/modules/payload/payload_interface.py
  tests/nosetests/pyanaconda_tests/module_payload_live_image_test.py
  tests/nosetests/pyanaconda_tests/module_payload_live_os_test.py
Labels: master

#2030 Don't use the auto partitioning module in the custom spoke
  pyanaconda/ui/gui/spokes/custom_storage.py
Labels: master

#2014 Move updates repo names to constants
  pyanaconda/core/constants.py
  pyanaconda/payload/dnfpayload.py
Labels: master

#2034 Respect changesok password policy for root password (#1584145)
  pyanaconda/ui/gui/spokes/root_password.py
Labels: port to Fedora, rhel8-branch

#2033 Fix default value for pwpolicy emptyok (#1664704)
  pyanaconda/pwpolicy.py
Labels: port to Fedora, rhel8-branch

#2036 LiveImage payload: clean up directory used for image mounting
  pyanaconda/payload/livepayload.py
Labels: master

#2035 LiveImage payload: mount live image privately
  pyanaconda/payload/livepayload.py
Labels: master

#2032 Add the option decorated_window to the Anaconda configuration
  data/anaconda.conf
  data/anaconda_options.txt
  docs/boot-options.rst
  pyanaconda/anaconda.py
  pyanaconda/argument_parsing.py
  pyanaconda/core/configuration/ui.py
  pyanaconda/ui/gui/__init__.py
Labels: master

#2026 Use the default file system type for /boot
  pyanaconda/modules/storage/partitioning/automatic_partitioning.py
  pyanaconda/modules/storage/storage.py
  pyanaconda/storage/initialization.py
  pyanaconda/storage/osinstall.py
Labels: master
