Repository rhinstaller/anaconda, pull requests merged in 2019-02, with the labels that each got.

#1761 Remove ksdata from InstallerStorage
  anaconda.py
  pyanaconda/anaconda.py
  pyanaconda/storage/format_dasd.py
  pyanaconda/storage/initialization.py
  pyanaconda/storage/osinstall.py
  pyanaconda/storage/utils.py
  pyanaconda/ui/gui/spokes/lib/refresh.py
  pyanaconda/ui/tui/spokes/storage.py
  tests/nosetests/pyanaconda_tests/storage_test.py
  tests/storage/cases/__init__.py
Labels: master

#1793 Remove multiboot support for tboot
  pyanaconda/bootloader/base.py
  pyanaconda/bootloader/image.py
  pyanaconda/bootloader/installation.py
Labels: master

#1790 Set default entry to the BLS id instead of the entry index
  pyanaconda/bootloader/grub2.py
Labels: master

#1794 Remove the argument protected from initialize_storage
  anaconda.py
  pyanaconda/storage/format_dasd.py
  pyanaconda/storage/initialization.py
  pyanaconda/storage/osinstall.py
  pyanaconda/storage/utils.py
  pyanaconda/ui/gui/spokes/lib/refresh.py
  pyanaconda/ui/tui/spokes/storage.py
  tests/nosetests/pyanaconda_tests/storage_test.py
Labels: master

#1792 Move the code for ignoring disks labeled OEMDRV
  anaconda.py
  pyanaconda/storage/utils.py
Labels: master

#1796 Clean up the InstallerStorage from the DBus calls
  pyanaconda/payload/__init__.py
  pyanaconda/storage/initialization.py
  pyanaconda/storage/installation.py
  pyanaconda/storage/osinstall.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/tui/spokes/storage.py
Labels: master

#1795 Allow non-ASCII characters in passphrases again (#1619813)
  pyanaconda/ui/gui/spokes/lib/passphrase.py
Labels: master

#1768 Change Skylake Spectre_V2 default to Retpolines (#1659626)
  pyanaconda/bootloader.py
  pyanaconda/isys/__init__.py
Labels: manual testing required, rhel7-branch

#1800 Remove obsolete Group tag & obsolete scriptlets
  anaconda.spec.in
Labels: master

#1771 Master network module winter ks
  anaconda.py
  pyanaconda/kickstart.py
  pyanaconda/modules/common/errors/installation.py
  pyanaconda/modules/common/structures/network.py
  pyanaconda/modules/network/constants.py
  pyanaconda/modules/network/device_configuration.py
  pyanaconda/modules/network/ifcfg.py
  pyanaconda/modules/network/installation.py
  pyanaconda/modules/network/kickstart.py
  pyanaconda/modules/network/network.py
  pyanaconda/modules/network/network_interface.py
  pyanaconda/modules/network/nm_client.py
  pyanaconda/modules/network/utils.py
  pyanaconda/network.py
  pyanaconda/nm.py
  pyanaconda/ui/gui/spokes/network.py
  pyanaconda/ui/tui/spokes/network.py
  tests/nosetests/pyanaconda_tests/module_network_ifcfg_test.py
  tests/nosetests/pyanaconda_tests/module_network_test.py
  tests/nosetests/pyanaconda_tests/network_test.py
Labels: master

#1798 Add support for providing results of tasks
  pyanaconda/dbus_addons/baz/baz.py
  pyanaconda/dbus_addons/baz/baz_interface.py
  pyanaconda/modules/boss/install_manager/installation.py
  pyanaconda/modules/common/base/base.py
  pyanaconda/modules/common/errors/task.py
  pyanaconda/modules/common/task/__init__.py
  pyanaconda/modules/common/task/result.py
  pyanaconda/modules/common/task/runnable.py
  pyanaconda/modules/common/task/task.py
  pyanaconda/modules/common/task/task_interface.py
  tests/nosetests/pyanaconda_tests/module_tasks_test.py
Labels: master

#1799 Create the device tree in the Storage module
  anaconda.py
  pyanaconda/anaconda.py
  pyanaconda/modules/storage/disk_selection/selection.py
  pyanaconda/modules/storage/disk_selection/selection_interface.py
  pyanaconda/modules/storage/reset.py
  pyanaconda/modules/storage/storage.py
  pyanaconda/modules/storage/storage_interface.py
  pyanaconda/storage/initialization.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
Labels: master

#1801 Drop the temporary anaconda-live dependency
  anaconda.spec.in
Labels: master

#1803 Configure and validate partitioning in the Storage module
  pyanaconda/dbus/connection.py
  pyanaconda/modules/common/constants/interfaces.py
  pyanaconda/modules/common/errors/configuration.py
  pyanaconda/modules/common/errors/storage.py
  pyanaconda/modules/storage/partitioning/automatic.py
  pyanaconda/modules/storage/partitioning/automatic_interface.py
  pyanaconda/modules/storage/partitioning/base.py
  pyanaconda/modules/storage/partitioning/base_interface.py
  pyanaconda/modules/storage/partitioning/configure.py
  pyanaconda/modules/storage/partitioning/manual.py
  pyanaconda/modules/storage/partitioning/manual_interface.py
  pyanaconda/modules/storage/partitioning/validate.py
  pyanaconda/modules/storage/storage.py
  pyanaconda/storage/execution.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
Labels: master

#1808 Remove a confusing message for headless systems (#1638791)
  pyanaconda/display.py
Labels: port to Fedora, rhel-devel

#1810 Don't load storage plugins in dir installations (#1674605)
  pyanaconda/modules/network/network.py
  pyanaconda/storage/initialization.py
  pyanaconda/storage/utils.py
Labels: master

#1804 Remove useless arguments from methods of the kickstart commands
  anaconda.py
  pyanaconda/bootloader/base.py
  pyanaconda/bootloader/installation.py
  pyanaconda/installation.py
  pyanaconda/kickstart.py
  pyanaconda/payload/__init__.py
  pyanaconda/storage/execution.py
Labels: master

#1806 Create installation tasks for the storage
  pyanaconda/installation.py
  pyanaconda/modules/storage/installation.py
  pyanaconda/modules/storage/storage.py
  pyanaconda/payload/__init__.py
  pyanaconda/payload/dnfpayload.py
  pyanaconda/payload/livepayload.py
  pyanaconda/payload/rpmostreepayload.py
  pyanaconda/storage/installation.py
Labels: master

#1807 Schedule the kickstart custom partitioning in the Storage module
  pyanaconda/modules/common/constants/objects.py
  pyanaconda/modules/common/errors/storage.py
  pyanaconda/modules/storage/kickstart.py
  pyanaconda/modules/storage/partitioning/__init__.py
  pyanaconda/modules/storage/partitioning/custom.py
  pyanaconda/modules/storage/storage.py
  pyanaconda/storage/execution.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
Labels: master

#1809 Change a confusing message for headless systems
  pyanaconda/display.py
Labels: master

#1812 Remove unmaintained signal handler (#1676683)
  anaconda.py
Labels: master

#1813 Change the overflow color
  data/anaconda-gtk.css
Labels: port to Fedora, rhel-devel

#1814 Fix missing space in translatable string
  pyanaconda/storage/execution.py
Labels: master

#1816 Apply the partitioning in the Storage module
  pyanaconda/modules/storage/storage.py
  pyanaconda/modules/storage/storage_interface.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
Labels: master

#1817 Update the stylesheet data
  data/anaconda-gtk.css
Labels: master

#1819 Move pyanaconda.ihelp
  pyanaconda/ui/gui/__init__.py
  pyanaconda/ui/gui/spokes/__init__.py
  pyanaconda/ui/lib/help.py
  pyanaconda/ui/tui/hubs/__init__.py
  pyanaconda/ui/tui/spokes/__init__.py
Labels: master

#1823 Clean up the Anaconda class
  anaconda.py
  pyanaconda/anaconda.py
  pyanaconda/display.py
Labels: master

#1825 Create the DBus installation tasks for the bootloader
  pyanaconda/bootloader/base.py
  pyanaconda/bootloader/efi.py
  pyanaconda/bootloader/grub2.py
  pyanaconda/bootloader/installation.py
  pyanaconda/modules/storage/installation.py
  tests/nosetests/pyanaconda_tests/module_bootloader_test.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
Labels: master

#1820 Check for dirinstall target on s390
  anaconda.py
Labels: master

#1828 Remove one more obsolete group tag
  anaconda.spec.in
Labels: master

#1818 Use unformatted DASDs for the partitioning
  pyanaconda/storage/initialization.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/tui/spokes/storage.py
Labels: master

#1802 Network module connect ui
  pyanaconda/modules/common/structures/network.py
  pyanaconda/network.py
  pyanaconda/nm.py
  pyanaconda/ui/gui/spokes/datetime_spoke.py
  pyanaconda/ui/gui/spokes/network.py
  pyanaconda/ui/tui/spokes/network.py
  tests/nosetests/pyanaconda_tests/network_test.py
Labels: master

#1830 Fix the storage reset in TUI
  pyanaconda/ui/tui/spokes/storage.py
Labels: master

#1821 Check for dirinstall target on s390
  anaconda.py
Labels: rhel-devel

#1832 Specify the sysroot when you call the DBus method InstallWithTasks
  pyanaconda/dbus_addons/baz/baz.py
  pyanaconda/modules/boss/install_manager/install_manager.py
  pyanaconda/modules/common/base/base.py
  pyanaconda/modules/common/base/base_interface.py
  pyanaconda/modules/storage/storage.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
Labels: master

#1815 Use unformatted DASDs for the partitioning (#1676630)
  pyanaconda/storage/osinstall.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/tui/spokes/storage.py
Labels: rhel-devel

#1833 Pass nosmt boot option to installed system.
  pyanaconda/bootloader.py
Labels: rhel-devel

#1829 Payload cleanup
  anaconda.py
  pyanaconda/bootloader/installation.py
  pyanaconda/installation.py
  pyanaconda/payload/__init__.py
  pyanaconda/payload/dnfpayload.py
  pyanaconda/payload/errors.py
  pyanaconda/payload/install_tree_metadata.py
  pyanaconda/payload/livepayload.py
  pyanaconda/payload/manager.py
  pyanaconda/payload/requirement.py
  pyanaconda/payload/rpmostreepayload.py
  pyanaconda/payload/source/sources.py
  pyanaconda/payload/utils.py
  pyanaconda/ui/gui/spokes/installation_source.py
  pyanaconda/ui/gui/spokes/lib/resize.py
  pyanaconda/ui/gui/spokes/network.py
  pyanaconda/ui/gui/spokes/software_selection.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/helpers.py
  pyanaconda/ui/lib/space.py
  pyanaconda/ui/tui/spokes/installation_source.py
  pyanaconda/ui/tui/spokes/network.py
  pyanaconda/ui/tui/spokes/software_selection.py
  tests/nosetests/pyanaconda_tests/payload_test.py
Labels: master, tracked

#1834 Remove useless storage code
  pyanaconda/anaconda.py
  pyanaconda/storage/initialization.py
Labels: master

#1836 Clean up pyanaconda.ui.lib.disks
  pyanaconda/storage/format_dasd.py
  pyanaconda/storage/utils.py
  pyanaconda/ui/gui/spokes/advanced_storage.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/lib/disks.py
  pyanaconda/ui/tui/spokes/storage.py
Labels: master

#1844 network module: take DEVICETYPE for team into account
  pyanaconda/modules/network/ifcfg.py
Labels: f30, master

#1842 network: fix network spoke status message
  pyanaconda/network.py
Labels: f30, master

#1848 Fixes for pylint-2.3.0
  pyanaconda/payload/dnfpayload.py
  tests/pylint/runpylint.py
Labels: f30, master

#1849 network module: fix disabling of ipv6
  pyanaconda/modules/network/nm_client.py
Labels: f30, master

#1840 Network remove api for boot options
  anaconda.py
  pyanaconda/modules/network/network.py
  pyanaconda/modules/network/network_interface.py
Labels: f30, master

#1843 Fix pep8 errors in TUI source spoke
  pyanaconda/ui/tui/spokes/installation_source.py
Labels: f30, master

#1839 F30 cleanup gui source spoke
  pyanaconda/ui/gui/spokes/installation_source.py
Labels: f30, master
