Repository rhinstaller/anaconda, pull requests merged in 2019-05, with the labels that each got.

#1957 Enable CDN access
  anaconda.spec.in
  pyanaconda/packaging/__init__.py
  pyanaconda/packaging/yumpayload.py
  tests/pyanaconda_tests/payload_test.py
Labels: rhel7-branch

#1946 Make from_structure and to_structure more strict
  pyanaconda/dbus/structure.py
  tests/nosetests/pyanaconda_tests/dbus_structure_test.py
Labels: master

#1962 Fix the unittests
  tests/Makefile.am
  tests/nosetests/dd_tests/dd_test.py
Labels: master

#1963 Fix the installation from NFS (#1708070)
  pyanaconda/packaging/__init__.py
Labels: rhel7-branch

#1907 Remove nosslverify flag
  anaconda.py
  data/anaconda.conf
  docs/boot-options.rst
  pyanaconda/core/configuration/anaconda.py
  pyanaconda/core/configuration/payload.py
  pyanaconda/flags.py
  pyanaconda/payload/__init__.py
  pyanaconda/payload/dnfpayload.py
  pyanaconda/payload/rpmostreepayload.py
  tests/nosetests/pyanaconda_tests/payload_test.py
Labels: master

#1967 Handle Firstboot kickstart command in DBus Task
  pyanaconda/core/util.py
  pyanaconda/installation.py
  pyanaconda/kickstart.py
  pyanaconda/modules/services/installation.py
  pyanaconda/modules/services/services.py
Labels: master

#1959 Use DBus consistently
  pyanaconda/dbus_addons/README.rst
  pyanaconda/dbus_addons/baz/baz.py
  pyanaconda/dbus_addons/baz/baz_interface.py
  pyanaconda/geoloc.py
  pyanaconda/modules/boss/boss.py
  pyanaconda/modules/boss/boss_interface.py
  pyanaconda/modules/users/users.py
  pyanaconda/modules/users/users_interface.py
  pyanaconda/ui/gui/spokes/root_password.py
  pyanaconda/ui/gui/spokes/user.py
  pyanaconda/ui/lib/users.py
  pyanaconda/ui/tui/spokes/root_password.py
  pyanaconda/ui/tui/spokes/user.py
  scripts/run_boss_locally.py
  tests/nosetests/pyanaconda_tests/module_users_test.py
Labels: master

#1969 A couple Initial Setup related fixes
  pyanaconda/modules/users/users.py
  pyanaconda/modules/users/users_interface.py
  pyanaconda/ui/gui/spokes/user.py
Labels: master

#1968 Remove HMC from flags
  anaconda.py
  pyanaconda/flags.py
  pyanaconda/payload/__init__.py
  pyanaconda/ui/gui/spokes/installation_source.py
  pyanaconda/ui/tui/spokes/installation_source.py
Labels: master, tracked

#1964 Use a DBus structure for the mount point requests
  pyanaconda/core/constants.py
  pyanaconda/modules/common/structures/partitioning.py
  pyanaconda/modules/storage/partitioning/manual.py
  pyanaconda/modules/storage/partitioning/manual_data.py
  pyanaconda/modules/storage/partitioning/manual_interface.py
  pyanaconda/modules/storage/partitioning/manual_partitioning.py
  pyanaconda/ui/tui/spokes/storage.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
Labels: master

#1961 Don't check the storage in a separate thread
  pyanaconda/core/constants.py
  pyanaconda/ui/gui/spokes/blivet_gui.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/helpers.py
Labels: master

#1972 Document how to report a bug
  README.rst
  docs/index.rst
  docs/reporting.rst
Labels: master

#1971 Firstboot Task followup fixes
  pyanaconda/installation.py
  pyanaconda/modules/services/installation.py
  pyanaconda/screen_access.py
Labels: master

#1965 Parse the output of df correctly (#1708701)
  pyanaconda/payload/dnfpayload.py
Labels: master

#1975 Skip scaling if there is no primary monitor (#1592014)
  pyanaconda/ui/gui/__init__.py
Labels: master

#1956 Cleanup long removed "headless" option from docs
  docs/boot-options.rst
Labels: master

#1980 Add DBus support for the rescue mode
  pyanaconda/modules/common/structures/storage.py
  pyanaconda/modules/storage/devicetree/handler.py
  pyanaconda/modules/storage/devicetree/handler_interface.py
  pyanaconda/modules/storage/devicetree/rescue.py
  pyanaconda/modules/storage/devicetree/viewer.py
  pyanaconda/modules/storage/devicetree/viewer_interface.py
  pyanaconda/rescue.py
  pyanaconda/storage/osinstall.py
  pyanaconda/storage/root.py
  tests/nosetests/pyanaconda_tests/module_device_tree_test.py
Labels: master

#1973 Define the __eq__ method of DBusData
  pyanaconda/dbus/structure.py
  pyanaconda/modules/common/structures/user.py
  tests/nosetests/pyanaconda_tests/dbus_structure_test.py
Labels: master

#1982 Don't define the __eq__ method of DBusData
  pyanaconda/dbus/structure.py
  tests/nosetests/pyanaconda_tests/dbus_structure_test.py
Labels: master

#1984 Add DBus support for populating a device tree
  pyanaconda/modules/storage/devicetree/handler.py
  pyanaconda/modules/storage/devicetree/handler_interface.py
  pyanaconda/modules/storage/devicetree/populate.py
  tests/nosetests/pyanaconda_tests/module_device_tree_test.py
Labels: master

#1970 Extend DBus support for manual partitioning
  pyanaconda/modules/common/structures/storage.py
  pyanaconda/modules/storage/devicetree/viewer.py
  pyanaconda/modules/storage/devicetree/viewer_interface.py
  pyanaconda/modules/storage/partitioning/manual.py
  pyanaconda/modules/storage/partitioning/manual_interface.py
  tests/nosetests/pyanaconda_tests/module_device_tree_test.py
  tests/nosetests/pyanaconda_tests/module_part_automatic_test.py
  tests/nosetests/pyanaconda_tests/module_part_custom_test.py
  tests/nosetests/pyanaconda_tests/module_part_manual_test.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
Labels: master

#1987 Require langtable-0.0.44, drop langtable-data requirement
  anaconda.spec.in
Labels: master
