Repository rhinstaller/anaconda, pull requests merged in 2020-09, with the labels that each got.

#2782 change keyboard ordering to US layout first, 'native' second
  pyanaconda/keyboard.py
Labels: master, notable change, tracked

#2785 Reset the RAID level of the device request (#1828092)
  pyanaconda/ui/gui/spokes/custom_storage.py
Labels: f33, master

#2787 Reset the state of the custom partitioning spoke
  pyanaconda/ui/gui/spokes/custom_storage.py
Labels: f33, master

#2802 Fix dracut rw mount
  dracut/anaconda-diskroot
  tests/nosetests/dracut_tests/dracut_source_test.py
Labels: f33, master

#2817 The underline character should not be displayed
  pyanaconda/ui/gui/spokes/advanced_storage.py
Labels: f33, master

#2810 Remove biospart support
  anaconda.spec.in
  dracut/kickstart-genrules.sh
  dracut/parse-kickstart
  pyanaconda/core/kickstart/commands.py
  pyanaconda/modules/payloads/source/harddrive/harddrive.py
  tests/nosetests/pyanaconda_tests/module_payload_dnf_test.py
Labels: f33, master

#2811 Network add nm keyfile support
  pyanaconda/modules/network/config_file.py
  pyanaconda/modules/network/constants.py
  pyanaconda/modules/network/device_configuration.py
  pyanaconda/modules/network/ifcfg.py
  pyanaconda/modules/network/initialization.py
  pyanaconda/modules/network/installation.py
  pyanaconda/modules/network/network.py
  pyanaconda/modules/network/network_interface.py
  pyanaconda/modules/network/nm_client.py
  pyanaconda/network.py
  pyanaconda/ui/gui/spokes/network.py
  pyanaconda/ui/tui/spokes/network.py
  tests/nosetests/pyanaconda_tests/module_network_config_file_test.py
  tests/nosetests/pyanaconda_tests/module_network_ifcfg_test.py
  tests/nosetests/pyanaconda_tests/module_network_nm_client_test.py
  tests/nosetests/pyanaconda_tests/module_network_test.py
Labels: f33, master

#2812 network: fix kickstart network --dhcpclass option
  dracut/parse-kickstart
Labels: port to Fedora, rhel8-branch

#2822 network: fix inst.dhcpclass boot option
  dracut/parse-anaconda-net.sh
Labels: port to Fedora, rhel8-branch

#2824 Do not check ro mount in Dracut for overlay
  tests/nosetests/dracut_tests/dracut_source_test.py
Labels: master

#2814 subscription: Assure payload restart on DVD install after registration
  pyanaconda/ui/lib/subscription.py
  tests/nosetests/pyanaconda_tests/subscription_helpers_test.py
Labels: port to Fedora, rhel8-branch

#2823 Propagate a lazy proxy of the storage model
  pyanaconda/core/util.py
  pyanaconda/modules/storage/partitioning/base.py
  tests/nosetests/pyanaconda_tests/module_part_interactive_test.py
  tests/nosetests/pyanaconda_tests/util_test.py
Labels: f33, master

#2828 network: fix using of values of NMConnectionType enum
  pyanaconda/modules/network/constants.py
  pyanaconda/modules/network/device_configuration.py
  pyanaconda/modules/network/nm_client.py
  pyanaconda/ui/gui/spokes/network.py
  tests/nosetests/pyanaconda_tests/module_network_nm_client_test.py
Labels: f33, master

#2826 Always clear treeinfo metadata (#1872056)
  pyanaconda/payload/dnf/payload.py
Labels: f33, master

#2819 Make custom storage summary dialog resizeable (1626555)
  pyanaconda/ui/gui/spokes/lib/summary.glade
Labels: f33, master

#2818 Recognize systemd.unit=anaconda.target in anaconda-generator
  data/systemd/anaconda-generator
Labels: manual testing required, master, tracked

#2714 network: do not enforce network standalone spoke on default source
  pyanaconda/ui/gui/spokes/network.py
Labels: master

#2833 Apply onboot policy even when network was configured in UI.
  pyanaconda/modules/network/network.py
Labels: f33, master

#2832 network: fix kickstart network --dhcpclass option
  dracut/parse-kickstart
Labels: f33, master

#2835 network: do not add superfluous quotes to inst.dhcpclass identifier
  dracut/parse-anaconda-net.sh
Labels: port to Fedora, rhel8-branch

#2834 network: fix parsing of hostname from ip= if mac is defined in dhcp
  pyanaconda/core/regexes.py
  pyanaconda/network.py
  tests/nosetests/pyanaconda_tests/network_test.py
Labels: f33, master

#2788 list major common keyboard layouts first
  pyanaconda/localization.py
  pyanaconda/ui/gui/spokes/keyboard.glade
  pyanaconda/ui/gui/spokes/keyboard.py
  pyanaconda/ui/gui/xkl_wrapper.py
  tests/nosetests/pyanaconda_tests/localization_test.py
Labels: manual testing required, master, notable change

#2825 network: apply kickstart network --nodefroute also from stage2
  pyanaconda/modules/network/nm_client.py
Labels: f33, master

#2831 network: fix inst.dhcpclass boot option
  dracut/parse-anaconda-net.sh
Labels: f33, master

#2821 Propagate verify_ssl to RHSM (port to Fedora)
  pyanaconda/modules/subscription/initialization.py
  pyanaconda/modules/subscription/installation.py
  pyanaconda/modules/subscription/subscription.py
  tests/nosetests/pyanaconda_tests/module_subscription_tasks_tests.py
  tests/nosetests/pyanaconda_tests/module_subscription_tests.py
  tests/nosetests/pyanaconda_tests/rhsm_observer_test.py
Labels: f33, master

#2480 Show warning message when entered size is not valid (#1809573)
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/lib/custom_storage_helpers.py
Labels: master

#2836 Add the DBus method IsDeviceShrinkable (#1875677)
  pyanaconda/modules/storage/partitioning/automatic/resizable_interface.py
  pyanaconda/modules/storage/partitioning/automatic/resizable_module.py
  pyanaconda/ui/gui/spokes/lib/resize.py
  tests/nosetests/pyanaconda_tests/module_resizable_test.py
Labels: f33, master

#2827 Differentiate between RAID levels of a device and its container
  pyanaconda/modules/storage/partitioning/interactive/add_device.py
  pyanaconda/modules/storage/partitioning/interactive/utils.py
  tests/nosetests/pyanaconda_tests/module_part_interactive_test.py
Labels: f33, master

#2840 network: fix missing log message argument
  pyanaconda/modules/network/nm_client.py
Labels: f33, master

#2829 Add support for booting installation media with plain SquashFS (Fedora 33)
  dracut/anaconda-lib.sh
  tests/nosetests/dracut_tests/dracut_source_test.py
Labels: f33, master

#2844 network: get hwadddr when binding to mac more robustly
  pyanaconda/modules/network/nm_client.py
Labels: f33, master

#2845 network: do not reset ipv6.addr-gen-mode in tui network configuration
  pyanaconda/ui/tui/spokes/network.py
Labels: f33, master

#2846 Network default addr gen mode to eui64
  pyanaconda/modules/network/initialization.py
  pyanaconda/modules/network/nm_client.py
Labels: f33, master

#2842 subscription: Payload restart fixes
  pyanaconda/ui/gui/spokes/subscription.py
  pyanaconda/ui/lib/subscription.py
  tests/nosetests/pyanaconda_tests/subscription_helpers_test.py
Labels: f33, master

#2839 Check if original partitions are mounted too
  pyanaconda/modules/storage/checker/utils.py
Labels: f33, master

#2843 Move code from payload classes to the Bootloader module
  pyanaconda/installation.py
  pyanaconda/modules/storage/bootloader/bootloader.py
  pyanaconda/modules/storage/bootloader/bootloader_interface.py
  pyanaconda/modules/storage/bootloader/installation.py
  pyanaconda/modules/storage/bootloader/utils.py
  pyanaconda/payload/base.py
  pyanaconda/payload/live/payload_base.py
  pyanaconda/payload/live/payload_liveimg.py
  pyanaconda/payload/rpmostreepayload.py
  tests/nosetests/pyanaconda_tests/module_bootloader_test.py
Labels: master

#2849 Clean up the DNF payload class
  pyanaconda/installation.py
  pyanaconda/payload/base.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/ui/gui/spokes/installation_source.py
  pyanaconda/ui/tui/spokes/installation_source.py
Labels: master

#2850 Fix CDN button visibility
  pyanaconda/ui/gui/spokes/installation_source.glade
  pyanaconda/ui/gui/spokes/installation_source.py
Labels: f33, master

#2830 Do not push pot files just tell user that he should update
  Makefile.am
Labels: f33, master

#2851 Port some PRs from master to f33 devel
  pyanaconda/modules/network/initialization.py
  pyanaconda/modules/network/nm_client.py
  pyanaconda/ui/tui/spokes/network.py
Labels: f33

#2838 Improve the error dialog for storage reset
  pyanaconda/errors.py
Labels: f33, master

#2852 Make locked root be completed only for kickstart
  pyanaconda/ui/gui/spokes/root_password.py
  pyanaconda/ui/tui/spokes/root_password.py
Labels: rhel8-branch

#2856 network: clone connections from intramfs to persistent config
  pyanaconda/modules/network/initialization.py
  pyanaconda/modules/network/nm_client.py
Labels: f33, master

#2857 Fix the combo box for an URL type of additional repositories (#1879127)
  pyanaconda/ui/gui/spokes/installation_source.glade
Labels: f33, master

#2860 Root password is mandatory if there is *not* admin user.
  pyanaconda/ui/tui/spokes/root_password.py
Labels: port to Fedora, rhel8-branch

#2859 network: add support for vlan over bond to stage 2 kickstart (pre)
  pyanaconda/modules/network/nm_client.py
Labels: f33, master

#2858 Move the execute method of the logging command
  anaconda.py
  pyanaconda/kickstart.py
  pyanaconda/startup_utils.py
Labels: master

#2863 Never mount partitions on a disk with the iso9660 filesystem (#1878784)
  dracut/anaconda-diskroot
  dracut/anaconda-lib.sh
Labels: port to Fedora, rhel8-branch

#2862 network: update docstring of clone_connection_async
  pyanaconda/modules/network/nm_client.py
Labels: f33, master

#2837 Never convert translated strings to uppercase
  CONTRIBUTING.rst
  anaconda.spec.in
  pyanaconda/core/util.py
  pyanaconda/localization.py
  pyanaconda/product.py
  pyanaconda/ui/gui/__init__.py
  pyanaconda/ui/gui/hubs/__init__.py
  pyanaconda/ui/gui/spokes/welcome.py
  pyanaconda/ui/gui/xkl_wrapper.py
Labels: f33, master, notable change

#2776 Enable Packit for smoke testing
  .packit.yml
  configure.ac
Labels: master

#2861 network: add support for bridged bond to stage 2 kickstart (%pre)
  pyanaconda/modules/network/constants.py
  pyanaconda/modules/network/nm_client.py
Labels: f33, master

#2866 Never mount partitions on a disk with the iso9660 filesystem
  dracut/anaconda-diskroot
  dracut/anaconda-lib.sh
Labels: f33, master

#2841 Change text on the Reset All button in custom part.
  pyanaconda/ui/gui/spokes/custom_storage.glade
Labels: master, notable change

#2867 network: do not bind virtual devices to mac
  pyanaconda/modules/network/nm_client.py
Labels: f33, master

#2737 Run the user instance of systemd
  pyanaconda/core/configuration/system.py
  pyanaconda/display.py
Labels: master

#2869 network: commit changes synchronously when dumping autoconnections
  pyanaconda/modules/network/initialization.py
Labels: f33, master

#2853 Replace the Packages DBus module with a DBus structure
  configure.ac
  pyanaconda/core/constants.py
  pyanaconda/modules/common/structures/payload.py
  pyanaconda/modules/payloads/Makefile.am
  pyanaconda/modules/payloads/kickstart.py
  pyanaconda/modules/payloads/packages/Makefile.am
  pyanaconda/modules/payloads/packages/__init__.py
  pyanaconda/modules/payloads/packages/constants.py
  pyanaconda/modules/payloads/packages/packages.py
  pyanaconda/modules/payloads/packages/packages_interface.py
  pyanaconda/modules/payloads/payload/dnf/dnf.py
  pyanaconda/modules/payloads/payload/dnf/dnf_interface.py
  pyanaconda/modules/payloads/payload/factory.py
  pyanaconda/modules/payloads/payloads.py
  tests/nosetests/pyanaconda_tests/module_payload_dnf_test.py
  tests/nosetests/pyanaconda_tests/module_payload_factory_test.py
  tests/nosetests/pyanaconda_tests/module_payload_packages_test.py
  tests/nosetests/pyanaconda_tests/module_payload_shared.py
  tests/nosetests/pyanaconda_tests/module_payloads_test.py
Labels: master

#2873 Document the mount points of the target system
  docs/index.rst
  docs/mount-points.rst
Labels: master
