Repository rhinstaller/anaconda, pull requests merged in 2020-04, with the labels that each got.

#2412 Add support for secrets in DBus structures
  pyanaconda/core/constants.py
  pyanaconda/modules/common/structures/secret.py
  tests/nosetests/pyanaconda_tests/secret_data_test.py
Labels: master

#2415 Rename _test_dbus_property to _check_dbus_property
  tests/nosetests/pyanaconda_tests/module_bootloader_test.py
  tests/nosetests/pyanaconda_tests/module_disk_init_test.py
  tests/nosetests/pyanaconda_tests/module_disk_select_test.py
  tests/nosetests/pyanaconda_tests/module_network_test.py
  tests/nosetests/pyanaconda_tests/module_part_automatic_test.py
  tests/nosetests/pyanaconda_tests/module_part_manual_test.py
Labels: f32, master

#2418 Fix text color on info bars
  data/anaconda-gtk.css
Labels: master

#2420 Fix support for string representations of DBus structures
  anaconda.spec.in
  pyanaconda/ui/gui/spokes/lib/custom_storage_helpers.py
  tests/nosetests/pyanaconda_tests/secret_data_test.py
  tests/nosetests/pyanaconda_tests/ui_custom_spoke_test.py
Labels: master

#2422 Fix the permission for changing a mount point (#1818500)
  pyanaconda/modules/storage/partitioning/interactive/utils.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  tests/nosetests/pyanaconda_tests/module_scheduler_test.py
Labels: f32, master

#2424 Allow to use an existing unlocked LUKS in one special case (#1772902)
  pyanaconda/storage/checker.py
Labels: f32, master

#2423 Fix the encryption checkbox in the custom spoke (#1819360)
  pyanaconda/ui/gui/spokes/custom_storage.py
Labels: f32, master

#2406 subscription: SubscriptionRequest DBus structure
  pyanaconda/core/constants.py
  pyanaconda/modules/common/structures/subscription.py
  pyanaconda/modules/subscription/kickstart.py
  pyanaconda/modules/subscription/subscription.py
  pyanaconda/modules/subscription/subscription_interface.py
  pyanaconda/modules/subscription/system_purpose.py
  tests/nosetests/pyanaconda_tests/module_subscription_tests.py
Labels: master

#2425 Use constants to check the type of the payload object (#1820418)
  pyanaconda/core/constants.py
  pyanaconda/installation.py
  pyanaconda/modules/payloads/constants.py
  pyanaconda/payload/base.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/livepayload.py
  pyanaconda/payload/manager.py
  pyanaconda/payload/rpmostreepayload.py
  pyanaconda/ui/gui/spokes/installation_source.py
  pyanaconda/ui/gui/spokes/language_support.py
  pyanaconda/ui/gui/spokes/software_selection.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/tui/spokes/installation_source.py
  pyanaconda/ui/tui/spokes/software_selection.py
Labels: master

#2417 Detect and warn if SMT is enabled (#1684056)
  data/anaconda.conf
  data/product.d/rhel.conf
  pyanaconda/core/configuration/system.py
  pyanaconda/core/constants.py
  pyanaconda/core/util.py
  pyanaconda/ui/gui/hubs/__init__.py
  pyanaconda/ui/gui/hubs/summary.py
  pyanaconda/ui/tui/spokes/kernel_warning.py
  tests/nosetests/pyanaconda_tests/simple_ui_test.py
Labels: master

#2416 Don't try to format FBA DASD devices (#1715303)
  pyanaconda/modules/storage/dasd/format.py
  tests/nosetests/pyanaconda_tests/module_dasd_test.py
  tests/pylint/runpylint.py
Labels: master

#2429 Improve code convention code formatting
  CONTRIBUTING.rst
Labels: master

#2431 Fix bad import of general errors
  pyanaconda/modules/payloads/source/url/url.py
  pyanaconda/modules/subscription/subscription.py
  tests/nosetests/pyanaconda_tests/module_source_url_test.py
Labels: master

#2199 Add DBus support for the ZIPL Secure Boot
  pyanaconda/bootloader/execution.py
  pyanaconda/bootloader/zipl.py
  pyanaconda/core/kickstart/commands.py
  pyanaconda/modules/storage/bootloader/bootloader.py
  pyanaconda/modules/storage/bootloader/bootloader_interface.py
  pyanaconda/modules/storage/constants.py
  pyanaconda/modules/storage/kickstart.py
  pyanaconda/ui/gui/spokes/lib/cart.glade
  pyanaconda/ui/gui/spokes/lib/cart.py
  tests/nosetests/pyanaconda_tests/module_bootloader_test.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
Labels: master

#2430 Add missing pieces for the Subscription DBus module
  data/dbus/org.fedoraproject.Anaconda.Modules.Subscription.conf
  data/dbus/org.fedoraproject.Anaconda.Modules.Subscription.service
  pyanaconda/modules/subscription/__init__.py
  pyanaconda/modules/subscription/subscription.py
Labels: master

#2440 network tui: fix getting of network device configurations (#1823011)
  pyanaconda/ui/tui/spokes/network.py
Labels: f32, master

#2426 Add force path join func
  CONTRIBUTING.rst
  pyanaconda/core/util.py
  tests/nosetests/pyanaconda_tests/util_test.py
Labels: master

#2203 Do not run hwclock when using image install mode
  anaconda
Labels: rhel7-branch, tracked

#2432 Create product configuration files for Red Hat Virtualization
  anaconda.py
  data/anaconda.conf
  data/product.d/ovirt.conf
  data/product.d/rhev.conf
  pyanaconda/core/configuration/anaconda.py
  pyanaconda/core/configuration/storage.py
  pyanaconda/core/configuration/storage_constraints.py
  pyanaconda/core/configuration/ui.py
  pyanaconda/core/constants.py
  pyanaconda/modules/common/structures/partitioning.py
  pyanaconda/modules/storage/checker/checker.py
  pyanaconda/modules/storage/checker/checker_interface.py
  pyanaconda/modules/storage/partitioning/automatic/automatic_module.py
  pyanaconda/modules/storage/partitioning/automatic/automatic_partitioning.py
  pyanaconda/storage/checker.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/lib/accordion.py
  pyanaconda/ui/lib/help.py
  tests/nosetests/pyanaconda_tests/module_storage_checker_test.py
  tests/nosetests/pyanaconda_tests/product_test.py
  tests/nosetests/pyanaconda_tests/storage_checker_test.py
Labels: master, notable change

#2434 Make the kickstart support for the btrfs command optional
  pyanaconda/modules/storage/kickstart.py
  tests/nosetests/pyanaconda_tests/module_part_factory_test.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
Labels: master

#2439 Add the ConnectToInsightsTask and related machinery
  pyanaconda/modules/common/errors/installation.py
  pyanaconda/modules/subscription/installation.py
  pyanaconda/modules/subscription/subscription.py
  pyanaconda/modules/subscription/subscription_interface.py
  tests/nosetests/pyanaconda_tests/module_subscription_tasks_tests.py
  tests/nosetests/pyanaconda_tests/module_subscription_tests.py
Labels: master

#2419 Fix non-root dir of install tree HD installation (#1689194)
  pyanaconda/payload/dnf/payload.py
Labels: master

#2433 subscription: Add service observer
  pyanaconda/core/constants.py
  pyanaconda/modules/common/constants/namespaces.py
  pyanaconda/modules/common/constants/objects.py
  pyanaconda/modules/common/constants/services.py
  pyanaconda/modules/subscription/initialization.py
  pyanaconda/modules/subscription/rhsm_observer.py
  pyanaconda/modules/subscription/subscription.py
  tests/nosetests/pyanaconda_tests/rhsm_observer_test.py
Labels: master

#2445 Expand the selector with swap (#1823127)
  pyanaconda/ui/gui/spokes/custom_storage.py
Labels: master

#2443 Only quit GTK mainloop on GUI quit request (#1643111)
  pyanaconda/ui/gui/__init__.py
Labels: master

#2444 Fix default value for pwpolicy emptyok (#1664704)
  pyanaconda/pwpolicy.py
Labels: master

#2451 Allow to remove incomplete devices (#1823232)
  pyanaconda/modules/storage/partitioning/interactive/scheduler_interface.py
  pyanaconda/modules/storage/partitioning/interactive/scheduler_module.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  tests/nosetests/pyanaconda_tests/module_scheduler_test.py
Labels: master

#2447 Install test dependencies from pip when possible
  scripts/testing/dependency_solver.py
  scripts/testing/setup-mock-test-env.py
Labels: master

#2437 Use black color for errors in bottom bar (#1823004)
  data/anaconda-gtk.css
Labels: master

#2449 Make sure that the summary button is really hidden (#1823467)
  pyanaconda/ui/gui/spokes/advanced_storage.py
Labels: master

#2453 Use join_paths instead of os.path.join in sources
  pyanaconda/modules/payloads/source/repo_files/initialization.py
  pyanaconda/modules/payloads/source/utils.py
Labels: master

#2435 Fix spokes ordering and add tests for priority uniqueness
  pyanaconda/ui/__init__.py
  pyanaconda/ui/common.py
  pyanaconda/ui/gui/spokes/installation_progress.py
  pyanaconda/ui/tui/spokes/installation_progress.py
  pyanaconda/ui/tui/spokes/kernel_warning.py
  pyanaconda/ui/tui/spokes/unsupported_hardware.py
  tests/nosetests/pyanaconda_tests/simple_ui_test.py
Labels: master

#2442 Mounting sources unification
  pyanaconda/modules/payloads/source/cdrom/cdrom.py
  pyanaconda/modules/payloads/source/cdrom/initialization.py
  pyanaconda/modules/payloads/source/hmc/hmc.py
  pyanaconda/modules/payloads/source/hmc/initialization.py
  pyanaconda/modules/payloads/source/live_os/initialization.py
  pyanaconda/modules/payloads/source/live_os/live_os.py
  pyanaconda/modules/payloads/source/mount_tasks.py
  pyanaconda/modules/payloads/source/nfs/initialization.py
  pyanaconda/modules/payloads/source/nfs/nfs.py
  pyanaconda/modules/payloads/source/source_base.py
  pyanaconda/modules/payloads/source/utils.py
  tests/nosetests/pyanaconda_tests/module_source_base_test.py
  tests/nosetests/pyanaconda_tests/module_source_cdrom_test.py
  tests/nosetests/pyanaconda_tests/module_source_hmc_test.py
  tests/nosetests/pyanaconda_tests/module_source_live_os_test.py
  tests/nosetests/pyanaconda_tests/module_source_nfs_test.py
Labels: master

#2456 Fix the validation of a device label (#1823221)
  pyanaconda/modules/storage/partitioning/interactive/change_device.py
  pyanaconda/modules/storage/partitioning/interactive/utils.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  tests/nosetests/pyanaconda_tests/module_scheduler_test.py
Labels: master

#2438 Print correct message if no linux partitions were found in rescue mode (#1823222)
  pyanaconda/rescue.py
Labels: master

#2458 Reset the partitioning of Blivet-GUI (#1826286)
  pyanaconda/ui/gui/spokes/blivet_gui.py
Labels: master

#2452 subscription: Add system purpose configuratation task
  pyanaconda/modules/common/structures/subscription.py
  pyanaconda/modules/subscription/installation.py
  pyanaconda/modules/subscription/subscription.py
  pyanaconda/modules/subscription/subscription_interface.py
  pyanaconda/modules/subscription/system_purpose.py
  tests/nosetests/pyanaconda_tests/module_subscription_tasks_tests.py
  tests/nosetests/pyanaconda_tests/module_subscription_tests.py
Labels: master

#2446 Remove the tip about the user name (#1823015)
  pyanaconda/ui/gui/spokes/user.glade
Labels: master

#2448 Translate names of OS installations on demand (#1823126)
  pyanaconda/storage/root.py
Labels: master

#2450 Change payload source ready state
  pyanaconda/modules/payloads/base/installation.py
  pyanaconda/modules/payloads/constants.py
  pyanaconda/modules/payloads/payload/payload_base.py
  pyanaconda/modules/payloads/source/harddrive/harddrive.py
  pyanaconda/modules/payloads/source/repo_files/repo_files.py
  pyanaconda/modules/payloads/source/source_base.py
  pyanaconda/modules/payloads/source/url/url.py
  tests/nosetests/pyanaconda_tests/module_payload_base_test.py
  tests/nosetests/pyanaconda_tests/module_payload_live_image_test.py
  tests/nosetests/pyanaconda_tests/module_payload_live_os_test.py
  tests/nosetests/pyanaconda_tests/module_payload_shared.py
  tests/nosetests/pyanaconda_tests/module_source_base_test.py
  tests/nosetests/pyanaconda_tests/module_source_harddrive_test.py
  tests/nosetests/pyanaconda_tests/module_source_repo_files_test.py
  tests/nosetests/pyanaconda_tests/module_source_url_test.py
Labels: master

#2462 date time gui: no empty space in combo for day and month selection (#…
  pyanaconda/ui/gui/spokes/datetime_spoke.py
Labels: master

#2464 subscription: Configure RHSM service
  pyanaconda/modules/subscription/runtime.py
  pyanaconda/modules/subscription/subscription.py
  pyanaconda/modules/subscription/subscription_interface.py
  tests/nosetests/pyanaconda_tests/module_subscription_tasks_tests.py
  tests/nosetests/pyanaconda_tests/module_subscription_tests.py
Labels: master

#2457 Use the new task class with the harddrive source
  pyanaconda/modules/payloads/source/harddrive/harddrive.py
  pyanaconda/modules/payloads/source/harddrive/initialization.py
  tests/nosetests/pyanaconda_tests/module_source_harddrive_test.py
Labels: master

#2467 gui source spoke: fix the key used to check proxy for additional repo
  pyanaconda/ui/gui/spokes/installation_source.py
Labels: master

#2465 Move the bootloader-related code to the module
  configure.ac
  pyanaconda/Makefile.am
  pyanaconda/bootloader/Makefile.am
  pyanaconda/modules/storage/bootloader/__init__.py
  pyanaconda/modules/storage/bootloader/base.py
  pyanaconda/modules/storage/bootloader/bootloader.py
  pyanaconda/modules/storage/bootloader/efi.py
  pyanaconda/modules/storage/bootloader/execution.py
  pyanaconda/modules/storage/bootloader/extlinux.py
  pyanaconda/modules/storage/bootloader/factory.py
  pyanaconda/modules/storage/bootloader/grub2.py
  pyanaconda/modules/storage/bootloader/image.py
  pyanaconda/modules/storage/bootloader/installation.py
  pyanaconda/modules/storage/bootloader/utils.py
  pyanaconda/modules/storage/bootloader/zipl.py
  pyanaconda/modules/storage/partitioning/automatic/noninteractive_partitioning.py
  pyanaconda/modules/storage/partitioning/base_partitioning.py
  pyanaconda/modules/storage/partitioning/interactive/interactive_partitioning.py
  pyanaconda/storage/osinstall.py
  tests/gettext_tests/style_guide.py
  tests/nosetests/pyanaconda_tests/__init__.py
  tests/nosetests/pyanaconda_tests/grub_raid_test.py
  tests/nosetests/pyanaconda_tests/module_bootloader_test.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
Labels: master

#2454 Unify module source test variable names
  tests/nosetests/pyanaconda_tests/module_source_cdrom_test.py
  tests/nosetests/pyanaconda_tests/module_source_harddrive_test.py
  tests/nosetests/pyanaconda_tests/module_source_live_os_test.py
  tests/nosetests/pyanaconda_tests/module_source_nfs_test.py
  tests/nosetests/pyanaconda_tests/module_source_repo_files_test.py
Labels: master

#2469 Run %onerror and %traceback scripts for all types of exceptions
  pyanaconda/exception.py
Labels: master

#2473 Remove TODO to solve is_ready for payload sources
  pyanaconda/modules/payloads/source/source_base.py
Labels: master

#2478 Separate the "Reset All" button from the edge of the screen
  pyanaconda/ui/gui/spokes/custom_storage.glade
Labels: master

#2476 Add resolv.conf to log-capture
  scripts/log-capture
Labels: manual testing required, master

#2477 Fix the error reporting from ReadKickstart
  pyanaconda/modules/common/base/base.py
  pyanaconda/modules/common/structures/kickstart.py
  tests/nosetests/pyanaconda_tests/module_base_test.py
  tests/nosetests/pyanaconda_tests/module_timezone_test.py
Labels: master

#2479 Remove pyanaconda.storage
  configure.ac
  pyanaconda/Makefile.am
  pyanaconda/core/storage.py
  pyanaconda/modules/storage/__main__.py
  pyanaconda/modules/storage/bootloader/base.py
  pyanaconda/modules/storage/bootloader/factory.py
  pyanaconda/modules/storage/checker/checker.py
  pyanaconda/modules/storage/checker/utils.py
  pyanaconda/modules/storage/devicetree/__init__.py
  pyanaconda/modules/storage/devicetree/fsset.py
  pyanaconda/modules/storage/devicetree/handler.py
  pyanaconda/modules/storage/devicetree/model.py
  pyanaconda/modules/storage/devicetree/rescue.py
  pyanaconda/modules/storage/devicetree/root.py
  pyanaconda/modules/storage/devicetree/utils.py
  pyanaconda/modules/storage/devicetree/viewer.py
  pyanaconda/modules/storage/disk_selection/selection.py
  pyanaconda/modules/storage/disk_selection/utils.py
  pyanaconda/modules/storage/initialization.py
  pyanaconda/modules/storage/installation.py
  pyanaconda/modules/storage/partitioning/automatic/automatic_partitioning.py
  pyanaconda/modules/storage/partitioning/automatic/utils.py
  pyanaconda/modules/storage/partitioning/custom/custom_partitioning.py
  pyanaconda/modules/storage/partitioning/interactive/interactive_partitioning.py
  pyanaconda/modules/storage/partitioning/interactive/utils.py
  pyanaconda/modules/storage/partitioning/specification.py
  pyanaconda/modules/storage/partitioning/validate.py
  pyanaconda/modules/storage/platform.py
  pyanaconda/modules/storage/snapshot/snapshot.py
  pyanaconda/modules/storage/storage.py
  pyanaconda/storage/Makefile.am
  pyanaconda/storage/__init__.py
  pyanaconda/storage/installation.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/lib/custom_storage_helpers.py
  tests/gettext_tests/style_guide.py
  tests/nosetests/pyanaconda_tests/clearpart_test.py
  tests/nosetests/pyanaconda_tests/module_bootloader_test.py
  tests/nosetests/pyanaconda_tests/module_dasd_test.py
  tests/nosetests/pyanaconda_tests/module_device_tree_test.py
  tests/nosetests/pyanaconda_tests/module_disk_init_test.py
  tests/nosetests/pyanaconda_tests/module_disk_select_test.py
  tests/nosetests/pyanaconda_tests/module_part_automatic_test.py
  tests/nosetests/pyanaconda_tests/module_part_blivet_test.py
  tests/nosetests/pyanaconda_tests/module_part_custom_test.py
  tests/nosetests/pyanaconda_tests/module_part_interactive_test.py
  tests/nosetests/pyanaconda_tests/module_part_manual_test.py
  tests/nosetests/pyanaconda_tests/module_resizable_test.py
  tests/nosetests/pyanaconda_tests/module_scheduler_test.py
  tests/nosetests/pyanaconda_tests/module_storage_checker_test.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
  tests/nosetests/pyanaconda_tests/simple_import_test.py
  tests/nosetests/pyanaconda_tests/storage_checker_test.py
  tests/nosetests/pyanaconda_tests/storage_test.py
Labels: master

#2472 subscription: Add subscription token transfer task
  pyanaconda/modules/common/errors/installation.py
  pyanaconda/modules/subscription/installation.py
  pyanaconda/modules/subscription/subscription.py
  tests/nosetests/pyanaconda_tests/module_subscription_tasks_tests.py
  tests/nosetests/pyanaconda_tests/module_subscription_tests.py
Labels: master

#2475 subscription: Add registration tasks
  pyanaconda/modules/common/constants/objects.py
  pyanaconda/modules/common/errors/subscription.py
  pyanaconda/modules/subscription/runtime.py
  pyanaconda/modules/subscription/subscription.py
  pyanaconda/modules/subscription/subscription_interface.py
  tests/nosetests/pyanaconda_tests/module_subscription_tasks_tests.py
  tests/nosetests/pyanaconda_tests/module_subscription_tests.py
Labels: master
