Repository rhinstaller/anaconda, pull requests merged in 2020-02, with the labels that each got.

#2288 Make sure RHSM HTTP proxy port from kickstart is an integer
  pyanaconda/modules/subscription/subscription.py
Labels: rhel8-branch

#2297 Fix DBus error detection
  pyanaconda/errors.py
  pyanaconda/installation_tasks.py
Labels: rhel8-branch

#2296 Extend the start-module script
  scripts/start-module
Labels: master

#2303 Don't set the device names (#1797274)
  pyanaconda/ui/gui/spokes/blivet_gui.py
  pyanaconda/ui/gui/spokes/custom_storage.py
Labels: master

#2302 Generate the device factory permissions
  pyanaconda/modules/common/structures/device_factory.py
  pyanaconda/modules/common/structures/partitioning.py
  pyanaconda/modules/storage/partitioning/interactive/add_device.py
  pyanaconda/modules/storage/partitioning/interactive/change_device.py
  pyanaconda/modules/storage/partitioning/interactive/scheduler_interface.py
  pyanaconda/modules/storage/partitioning/interactive/scheduler_module.py
  pyanaconda/modules/storage/partitioning/interactive/utils.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  tests/nosetests/pyanaconda_tests/module_part_interactive_test.py
  tests/nosetests/pyanaconda_tests/module_scheduler_test.py
Labels: master

#2300 Use opts in geoloc instead of kernel_arguments
  pyanaconda/geoloc.py
Labels: master

#2298 network: fix GUI crash on invalid devices in the list
  pyanaconda/ui/gui/spokes/network.py
Labels: port to Fedora, rhel8-branch

#2305 Set up the environment for pylint
  tests/pylint/runpylint.py
Labels: master

#2310 Fix checking of network device type in Add FCoE gui dialog (#1798876)
  pyanaconda/ui/gui/spokes/advstorage/fcoe.py
Labels: master

#2311 Do not crash on adding fcoe device in gui when there are no nics (#17…
  pyanaconda/ui/gui/spokes/advstorage/fcoe.py
Labels: master

#2308 Timezone kickstart setup method to dbus
  pyanaconda/installation.py
  pyanaconda/kickstart.py
  pyanaconda/modules/timezone/installation.py
  pyanaconda/modules/timezone/timezone.py
  pyanaconda/modules/timezone/timezone_interface.py
  pyanaconda/network.py
  tests/nosetests/pyanaconda_tests/module_timezone_test.py
Labels: master

#2299 Disable package download to / /tmp (#1781517)
  pyanaconda/payload/dnfpayload.py
Labels: notable change, port to Fedora, rhel8-branch, tracked

#2290 Support ksstrict in modules
  pyanaconda/kickstart.py
  pyanaconda/modules/common/base/base.py
  pyanaconda/modules/common/structures/kickstart.py
  tests/nosetests/pyanaconda_tests/module_timezone_test.py
Labels: master

#2269 Improve the protection of live devices
  pyanaconda/bootloader/execution.py
  pyanaconda/storage/osinstall.py
  pyanaconda/storage/utils.py
Labels: master

#2312 Fix the function _del_xdg_runtime_dir
  tests/pylint/runpylint.py
Labels: master

#2313 Handle the variant from GetResult (#1798392)
  pyanaconda/modules/storage/checker/checker_interface.py
  pyanaconda/network.py
  pyanaconda/ui/gui/spokes/advstorage/iscsi.py
  tests/nosetests/pyanaconda_tests/module_storage_checker_test.py
Labels: master

#2315 Disable package download to / /tmp (#1781517)
  pyanaconda/payload/dnfpayload.py
Labels: master, notable change

#2320 Fix PR tests with mock version 2
  scripts/testing/dependency_solver.py
Labels: master

#2323 Offer only supported sector sizes in NVDIMM reconfiguration dialog
  pyanaconda/ui/gui/spokes/advstorage/nvdimm.glade
  pyanaconda/ui/gui/spokes/advstorage/nvdimm.py
Labels: master

#2277 Do not allow selecting ignored disk in GUI even if it is the only one
  pyanaconda/ui/gui/spokes/storage.py
Labels: port to Fedora, rhel8-branch

#2318 Don't modify the list of device names
  pyanaconda/modules/storage/partitioning/interactive/utils.py
Labels: master

#2325 Migrate localization to weblate
  Makefile.am
  README.rst
  configure.ac
  docs/Makefile.am
  docs/release.rst
  docs/translations.txt
  po/Makefile.am
  scripts/makebumpver
  scripts/testing/dependency_solver.py
  scripts/testing/setup-mock-test-env.py
  translation-canary/tests/project-tests/test_projects.sh
  zanata.xml.in
Labels: master, notable change, port to RHEL8

#2319 Fix installation source switching to/from CDN
  pyanaconda/core/constants.py
  pyanaconda/modules/payload/payload.py
  pyanaconda/payload/__init__.py
  pyanaconda/ui/gui/spokes/installation_source.py
  pyanaconda/ui/gui/spokes/subscription.py
Labels: rhel8-branch

#2327 Fix crash on single disk selection in GUI
  pyanaconda/ui/gui/spokes/storage.py
Labels: rhel8-branch

#2328 Fix the default disk selection (#1805553)
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/lib/storage.py
  pyanaconda/ui/tui/spokes/storage.py
Labels: f32, master

#2331 Add DBus methods GetDeviceMountOptions and SetDeviceMountOptions
  pyanaconda/modules/storage/devicetree/handler.py
  pyanaconda/modules/storage/devicetree/handler_interface.py
  tests/nosetests/pyanaconda_tests/module_device_tree_test.py
Labels: f32, master

#2332 Fix the exit handler (#1805916)
  anaconda.py
Labels: f32, master

#2333 Handle a failed bootloader installation (#1806103)
  pyanaconda/bootloader/installation.py
  pyanaconda/errors.py
  pyanaconda/modules/common/errors/installation.py
  pyanaconda/modules/storage/bootloader/installation.py
Labels: f32, master

#2334 Wait for entropy in the DBus Storage module
  pyanaconda/installation_tasks.py
  pyanaconda/modules/storage/installation.py
Labels: f32, master

#2336 Don't remove unknown devices (#1806233)
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/lib/accordion.py
Labels: f32, master

#2337 network: fix GUI crash on invalid devices in the list
  pyanaconda/ui/gui/spokes/network.py
Labels: master

#2330 Fix weblate migration issues
  Makefile.am
  docs/release.rst
Labels: f32, master

#2335 Add translation badge
  README.rst
Labels: f32, master

#2339 Handle invalid optical install media (#1806520)
  pyanaconda/payload/image.py
Labels: f32, master

#2338 Start live CD with explicit GUI (#1765650)
  data/liveinst/liveinst
Labels: f32, master, tracked
