Repository rhinstaller/anaconda, pull requests merged in 2020-11, with the labels that each got.

#2964 workflows: Add manual triggering of tests
  .github/workflows/validate-rhel-8.yml
Labels: master

#2965 Remove PR test trigger
  .github/workflows/validate.yml
Labels: rhel8-branch

#2919 Allow hiding the help button selectively
  pyanaconda/ui/gui/__init__.py
  pyanaconda/ui/gui/spokes/installation_progress.py
Labels: rhel8-branch

#2967 Don't clobber host checkout on `make container-ci`
  .github/workflows/validate.yml
  .gitignore
  Makefile.am
  dockerfile/anaconda-ci/Dockerfile
  dockerfile/anaconda-ci/entrypoint.sh
  dockerfile/anaconda-ci/run-build-and-arg
  tests/README.rst
Labels: master, port to RHEL8

#2972 Fix user permission checking for rhel-8 validate task
  .github/workflows/validate-rhel-8.yml
Labels: master

#2971 Adjust rhel-8 log retrieval for changed container volume handling
  .github/workflows/validate-rhel-8.yml
Labels: blocked

#2970 Don't clobber host checkout on `make container-ci`
  .gitignore
  Makefile.am
  dockerfile/anaconda-ci/Dockerfile
  dockerfile/anaconda-ci/entrypoint.sh
  dockerfile/anaconda-ci/run-build-and-arg
  tests/README.rst
Labels: rhel8-branch

#2895 Allow to format selected DASDs (#1874394)
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/tui/spokes/storage.py
Labels: port to Fedora, rhel8-branch

#2975 Do not fail user check job in rhel-8 validate workflow
  .github/workflows/validate-rhel-8.yml
Labels: master

#2976 Rhel 8 dont require comment to start test for admins
  .github/workflows/owner-validate-rhel-8.yml
Labels: rhel8-branch

#2980 Master nosetests directories 3
  tests/nosetests/pyanaconda_tests/modules/boss/boss_test.py
  tests/nosetests/pyanaconda_tests/modules/boss/install_test.py
  tests/nosetests/pyanaconda_tests/modules/boss/kickstart_test.py
  tests/nosetests/pyanaconda_tests/modules/boss/modules_test.py
  tests/nosetests/pyanaconda_tests/modules/common/base_test.py
  tests/nosetests/pyanaconda_tests/modules/common/requirements_test.py
  tests/nosetests/pyanaconda_tests/modules/common/services_test.py
  tests/nosetests/pyanaconda_tests/modules/common/tasks_test.py
  tests/nosetests/pyanaconda_tests/modules/common/util_test.py
  tests/nosetests/pyanaconda_tests/modules/subscription/subscription_tasks_test.py
  tests/nosetests/pyanaconda_tests/modules/subscription/subscription_test.py
Labels: master

#2982 Fix UID and GID handling in GUI and D-Bus
  pyanaconda/core/constants.py
  pyanaconda/modules/common/structures/group.py
  pyanaconda/modules/common/structures/user.py
  pyanaconda/modules/users/installation.py
  pyanaconda/modules/users/users.py
  pyanaconda/ui/gui/spokes/advanced_user.glade
  pyanaconda/ui/gui/spokes/user.py
  tests/nosetests/pyanaconda_tests/module_users_test.py
Labels: master

#2906 Fix UID and GID handling in GUI and D-Bus
  pyanaconda/core/constants.py
  pyanaconda/modules/common/structures/group.py
  pyanaconda/modules/common/structures/user.py
  pyanaconda/modules/users/installation.py
  pyanaconda/modules/users/users.py
  pyanaconda/ui/gui/spokes/advanced_user.glade
  pyanaconda/ui/gui/spokes/user.py
  tests/nosetests/pyanaconda_tests/module_users_test.py
Labels: rhel8-branch

#2978 Remove autostep functionality
  pyanaconda/core/constants.py
  pyanaconda/core/util.py
  pyanaconda/ui/gui/__init__.py
  pyanaconda/ui/gui/hubs/__init__.py
  pyanaconda/ui/gui/spokes/__init__.py
  pyanaconda/ui/gui/spokes/welcome.py
Labels: master

#2984 scripts: do not require "Fixed in version" set for release
  scripts/makebumpver
Labels: rhel8-branch

#2968 Clean up the platform code
  pyanaconda/modules/storage/bootloader/base.py
  pyanaconda/modules/storage/checker/utils.py
  pyanaconda/modules/storage/initialization.py
  pyanaconda/modules/storage/partitioning/automatic/utils.py
  pyanaconda/modules/storage/partitioning/custom/custom_partitioning.py
  pyanaconda/modules/storage/partitioning/interactive/utils.py
  pyanaconda/modules/storage/platform.py
  pyanaconda/modules/storage/storage.py
  tests/nosetests/pyanaconda_tests/modules/storage/module_storage_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/partitioning/module_part_automatic_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/platform_test.py
  tests/nosetests/pyanaconda_tests/product_test.py
Labels: master

#2985 Remove deviceprobe and install commands
  pyanaconda/core/kickstart/commands.py
Labels: master, notable change

#2991 Fix GitHub container failure with latest Fedora Rawhide
  .github/workflows/container-autoupdate.yml
  .github/workflows/validate.yml
  Makefile.am
Labels: master, urgent

#2959 Don't include unknown files in the updates image
  scripts/makeupdates
Labels: master

#2979 Move the support for FIPS to the Security module
  pyanaconda/installation.py
  pyanaconda/modules/security/installation.py
  pyanaconda/modules/security/security.py
  pyanaconda/modules/security/security_interface.py
  pyanaconda/modules/storage/bootloader/utils.py
  pyanaconda/payload/dnf/payload.py
  tests/nosetests/pyanaconda_tests/module_security_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/module_bootloader_test.py
Labels: master

#2990 Fix the priority of the ostreesetup kickstart command (#1896761)
  pyanaconda/modules/payloads/payload/factory.py
  tests/nosetests/pyanaconda_tests/module_payload_rpm_ostree_test.py
Labels: master

#2988 Handle disabled and failing add-ons
  pyanaconda/modules/boss/module_manager/start_modules.py
  scripts/start-module
  tests/nosetests/pyanaconda_tests/modules/boss/modules_test.py
Labels: master

#2987 Run and fix master tests on Fedora ELN
  .github/workflows/validate.yml
  Makefile.am
  dockerfile/anaconda-ci/Dockerfile
  dockerfile/anaconda-ci/eln.repo
  tests/nosetests/pyanaconda_tests/modules/storage/partitioning/module_part_blivet_test.py
  tests/nosetests/pyanaconda_tests/ui/simple_ui_test.py
Labels: master

#2973 Select disks for implicit partitions (#1642391)
  pyanaconda/modules/storage/partitioning/automatic/automatic_partitioning.py
  pyanaconda/modules/storage/partitioning/automatic/utils.py
  pyanaconda/modules/storage/partitioning/specification.py
  tests/nosetests/pyanaconda_tests/module_part_automatic_test.py
  tests/nosetests/pyanaconda_tests/module_part_specification_test.py
Labels: port to Fedora, rhel8-branch

#2974 Create an abstraction of the DNF base
  pyanaconda/anaconda_loggers.py
  pyanaconda/core/regexes.py
  pyanaconda/core/util.py
  pyanaconda/modules/payloads/constants.py
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
  pyanaconda/modules/payloads/payload/dnf/initialization.py
  pyanaconda/modules/payloads/payload/dnf/utils.py
  pyanaconda/modules/payloads/source/repo_files/repo_files.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/dnf/utils.py
  tests/nosetests/pyanaconda_tests/core/util_test.py
  tests/nosetests/pyanaconda_tests/module_payload_dnf_manager_test.py
  tests/nosetests/pyanaconda_tests/module_payload_dnf_utils_test.py
Labels: master

#2864 Remove the support for changing the log level
  data/anaconda_options.txt
  docs/boot-options.rst
  pyanaconda/anaconda_loggers.py
  pyanaconda/anaconda_logging.py
  pyanaconda/argument_parsing.py
  pyanaconda/core/constants.py
  pyanaconda/startup_utils.py
Labels: master

#2953 Root password is mandatory if there is *not* admin user.
  pyanaconda/ui/tui/spokes/root_password.py
Labels: master

#3001 Install python-copr and RedHat CA into anaconda-ci container
  dockerfile/anaconda-ci/Dockerfile
Labels: rhel8-branch

#2935 rhbz#1888697 list important major languages
  anaconda.spec.in
  pyanaconda/localization.py
  pyanaconda/ui/gui/spokes/welcome.py
Labels: master

#3003 Remove leftover bootloader-related code from the Payloads service
  pyanaconda/modules/payloads/base/initialization.py
  pyanaconda/modules/payloads/base/installation.py
  pyanaconda/modules/payloads/base/utils.py
  pyanaconda/modules/payloads/payload/live_image/installation.py
  pyanaconda/modules/payloads/payload/live_image/live_image.py
  pyanaconda/modules/payloads/payload/live_os/live_os.py
  tests/nosetests/pyanaconda_tests/module_payload_live_image_test.py
  tests/nosetests/pyanaconda_tests/module_payload_live_os_test.py
  tests/nosetests/pyanaconda_tests/module_payload_live_test.py
Labels: master

#3005 Create an installation task for import of RPM keys
  pyanaconda/modules/payloads/payload/dnf/installation.py
  pyanaconda/payload/dnf/payload.py
  tests/nosetests/pyanaconda_tests/module_payload_dnf_installation_test.py
Labels: master

#2977 Network select wireless ap with dialog
  pyanaconda/ui/gui/spokes/network.glade
  pyanaconda/ui/gui/spokes/network.py
Labels: master

#3000 Move the package-related code to the DNF module
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
  pyanaconda/modules/payloads/payload/dnf/installation.py
  pyanaconda/modules/payloads/payload/dnf/utils.py
  pyanaconda/payload/dnf/payload.py
  tests/nosetests/pyanaconda_tests/module_payload_dnf_installation_test.py
  tests/nosetests/pyanaconda_tests/module_payload_dnf_manager_test.py
  tests/nosetests/pyanaconda_tests/module_payload_dnf_utils_test.py
Labels: master

#2961 Fix issue when ns_info cannot be retrieved for NVDimm namespace
  pyanaconda/modules/storage/nvdimm/nvdimm.py
  tests/nosetests/pyanaconda_tests/module_nvdimm_test.py
Labels: port to Fedora, rhel8-branch

#3002 Add workflow for daily RHEL COPR build
  .github/workflows/daily-rhel-copr.yml
Labels: master

#3012 Discard current boot list when updating the boot-device variable and use the bootlist tool
  pyanaconda/modules/storage/bootloader/grub2.py
Labels: rhel8-branch

#3009 network: do not use dialog for just single wireless connection to con…
  pyanaconda/ui/gui/spokes/network.py
Labels: master

#3013 Rebase test pull request also for rhel-8 contributors
  .github/workflows/validate-rhel-8.yml
  .github/workflows/validate.yml
Labels: master

#2981 Add upstream tag hint for Packit
  .packit.yml
Labels: master

#2989 Remove the method command
  pyanaconda/core/kickstart/commands.py
Labels: master

#2868 Run tests and build also for ELN repository
  .packit.yml
Labels: master

#2969 Do not check ssl certificate if --noverifyssl is in kickstart (#1745064)
  pyanaconda/payload/dnf/payload.py
Labels: master, port to RHEL8

#2902 post-scripts need to be sorted and anaconda log files relabeled
  data/post-scripts/99-copy-logs.ks
  pyanaconda/kickstart.py
Labels: rhel8-branch

#3017 [r8] Apply pylint excessive memory usage fix
  dockerfile/anaconda-ci/Dockerfile
  tests/pylint/censorship.py
  tests/pylint/pylintrc
Labels: rhel8-branch

#3006 Improve the error dialog for storage reset (#1877050)
  pyanaconda/errors.py
Labels: manual testing required, rhel8-branch

#3019 Do not check ssl certificate if --noverifyssl is in kickstart (#1745064)
  pyanaconda/payload/dnf/payload.py
Labels: rhel8-branch

#3018 Apply pylint excessive memory usage fix
  dockerfile/anaconda-ci/Dockerfile
  tests/pylint/censorship.py
  tests/pylint/pylintrc
Labels: master

#3011 Fix issue when ns_info cannot be retrieved for NVDimm namespace
  pyanaconda/modules/storage/nvdimm/nvdimm.py
  tests/nosetests/pyanaconda_tests/modules/storage/module_nvdimm_test.py
Labels: master

#2997 Fix error in initrd: shift count out of range
  dracut/anaconda-lib.sh
Labels: manual testing required, master

#2996 Add description and links for bug keyword searches
  CONTRIBUTING.rst
Labels: master, notable change

#2995 Network migrate secret agent to dasbus
  pyanaconda/modules/common/constants/namespaces.py
  pyanaconda/modules/common/constants/services.py
  pyanaconda/ui/gui/spokes/lib/network_secret_agent.glade
  pyanaconda/ui/gui/spokes/lib/network_secret_agent.py
  pyanaconda/ui/gui/spokes/network.glade
  pyanaconda/ui/gui/spokes/network.py
  tests/nosetests/pyanaconda_tests/secret_agent_test.py
Labels: master
