Repository rhinstaller/anaconda, pull requests merged in 2020-06, with the labels that each got.

#2627 Update required ack in makebumpver script for rhel > 7
  scripts/makebumpver
Labels: master

#2620 subscription: Make sure CDN repos are loaded and usable
  pyanaconda/payload/dnf/payload.py
Labels: master

#2619 Add back NFS ISO support (ups)
  pyanaconda/modules/payloads/source/harddrive/initialization.py
  pyanaconda/modules/payloads/source/nfs/initialization.py
  pyanaconda/modules/payloads/source/nfs/nfs.py
  pyanaconda/modules/payloads/source/utils.py
  tests/nosetests/pyanaconda_tests/module_payload_dnf_test.py
  tests/nosetests/pyanaconda_tests/module_source_base_test.py
  tests/nosetests/pyanaconda_tests/module_source_harddrive_test.py
  tests/nosetests/pyanaconda_tests/module_source_nfs_test.py
Labels: master

#2629 subscription: Fix authentication method switching in GUI
  pyanaconda/ui/gui/spokes/subscription.py
Labels: master

#2631 Set up LD_PRELOAD for the Payloads module
  data/dbus/org.fedoraproject.Anaconda.Modules.Payloads.service
  pyanaconda/modules/payloads/__main__.py
  scripts/start-module
Labels: master

#2642 Fix the pylint warning in the Payloads module
  pyanaconda/modules/payloads/__main__.py
Labels: master

#2636 Fix more SElinux contexts
  data/post-scripts/80-setfilecons.ks
Labels: port to Fedora, rhel8-branch, tracked

#2638 Don't use data.method.proxy
  pyanaconda/payload/dnf/payload.py
Labels: rhel-8-rebase, rhel8-branch

#2634 localization: do not crash on failed parsing of X layout (#1836047)
  pyanaconda/modules/localization/localed.py
  tests/nosetests/pyanaconda_tests/module_localization_test.py
Labels: rhel8-branch

#2633 localization: do not crash on failed parsing of X layout (#1836047)
  pyanaconda/modules/localization/localed.py
  tests/nosetests/pyanaconda_tests/module_localization_test.py
Labels: master

#2630 Fix wireless network configuration on get_ssid() returning None (#183…
  pyanaconda/ui/gui/spokes/network.py
Labels: master

#2641 Add pointer to kickstart tests to tests README
  tests/README.rst
Labels: master

#2626 Create /etc/systemd/network dir for ifname= renaming if needed.
  pyanaconda/modules/network/installation.py
  tests/nosetests/pyanaconda_tests/module_network_test.py
Labels: master

#2632 Catch Blivet's exceptions when we reset a device (#1843278)
  pyanaconda/modules/storage/partitioning/interactive/scheduler_module.py
  pyanaconda/modules/storage/partitioning/interactive/utils.py
Labels: master

#2643 Add daily build status badge
  README.rst
Labels: master

#2644 Fix passing of arguments when creating dracut arguments for FCoE
  pyanaconda/modules/storage/bootloader/base.py
Labels: port to Fedora, rhel8-branch

#2628 Use sshd_config drop in directory to allow root login
  pyanaconda/modules/users/installation.py
  tests/nosetests/pyanaconda_tests/module_users_test.py
Labels: master

#2640 resolved a user created password verification issue that could not exit
  pyanaconda/ui/gui/spokes/user.py
Labels: manual testing required, master, tracked

#2647 Network remove kwargs from ifcfg to ksdata
  pyanaconda/modules/network/ifcfg.py
  tests/nosetests/pyanaconda_tests/module_network_ifcfg_test.py
Labels: master

#2645 Master fix gui crash on unset user uid
  pyanaconda/ui/gui/spokes/user.py
Labels: master

#2646 Fix gui crash on unset user uid
  pyanaconda/ui/gui/spokes/user.py
Labels: rhel8-branch

#2648 Allow having /boot on a btrfs volume
  pyanaconda/modules/storage/bootloader/grub2.py
Labels: master

#2470 Use the Blivet's property is_empty
  anaconda.spec.in
  pyanaconda/modules/storage/disk_initialization/configuration.py
Labels: master

#2637 Don't use data.method.proxy
  pyanaconda/payload/dnf/payload.py
Labels: master

#2649 Don't prompt the user to ssh in VNC installations
  anaconda.py
  pyanaconda/startup_utils.py
Labels: master, notable change

#2657 Fix regression reading kernel list when collecting configurations
  pyanaconda/installation.py
Labels: port to Fedora, rhel8-branch

#2656 Prevent crash on unregistration
  pyanaconda/ui/gui/spokes/subscription.py
Labels: port to Fedora, rhel8-branch

#2652 Check Subscription module is available before use in payload code
  pyanaconda/payload/dnf/payload.py
Labels: rhel8-branch

#2639 Do not build Anaconda on i686
  anaconda.spec.in
Labels: rhel8-branch

#2635 Document common issues and bugs
  docs/common-bugs.rst
  docs/index.rst
Labels: master

#2654 Add logging messages to %post scripts
  data/post-scripts/80-setfilecons.ks
  data/post-scripts/90-copy-screenshots.ks
  data/post-scripts/99-copy-logs.ks
Labels: master

#2658 Fix regression reading kernel list when collecting configurations
  pyanaconda/installation.py
Labels: master

#2659 Clean up lists of files and directories to relabel
  data/post-scripts/80-setfilecons.ks
Labels: port to Fedora, rhel8-branch

#2667 Fix the mock function for DBus.get_proxy
  tests/nosetests/pyanaconda_tests/__init__.py
Labels: master

#2662 Split storage spoke dialogs to a separate module
  pyanaconda/ui/gui/spokes/lib/storage_dialogs.glade
  pyanaconda/ui/gui/spokes/lib/storage_dialogs.py
  pyanaconda/ui/gui/spokes/storage.glade
  pyanaconda/ui/gui/spokes/storage.py
Labels: master

#2663 Fix wireless network configuration on get_ssid() returning None
  pyanaconda/ui/gui/spokes/network.py
Labels: rhel8-branch

#2666 Show pylint version in logs
  tests/pylint/censorship.py
Labels: master

#2660 Master restorecon changes
  data/post-scripts/80-setfilecons.ks
Labels: master

#2674 Do not require treeinfo
  pyanaconda/modules/payloads/source/harddrive/initialization.py
  pyanaconda/modules/payloads/source/nfs/initialization.py
  pyanaconda/modules/payloads/source/utils.py
  pyanaconda/payload/image.py
  tests/nosetests/pyanaconda_tests/module_source_base_test.py
  tests/nosetests/pyanaconda_tests/module_source_harddrive_test.py
  tests/nosetests/pyanaconda_tests/module_source_nfs_test.py
Labels: master, port to RHEL8

#2673 Fix NFS with ISO in the URL
  pyanaconda/modules/payloads/source/nfs/initialization.py
  tests/nosetests/pyanaconda_tests/module_source_nfs_test.py
Labels: master, port to RHEL8

#2668 Use allowlist and blocklist in the Anaconda configuration file
  data/anaconda.conf
  pyanaconda/core/configuration/storage_constraints.py
  pyanaconda/core/constants.py
  pyanaconda/modules/storage/checker/utils.py
  tests/nosetests/pyanaconda_tests/storage_checker_test.py
Labels: master

#2669 Correctly set up the LUKS version when we click on a mount point
  pyanaconda/ui/gui/spokes/custom_storage.py
Labels: master, port to RHEL8

#2655 Remove the dasbus workarounds
  anaconda.spec.in
  pyanaconda/modules/subscription/initialization.py
  pyanaconda/modules/subscription/rhsm_observer.py
  tests/nosetests/pyanaconda_tests/__init__.py
  tests/nosetests/pyanaconda_tests/rhsm_observer_test.py
Labels: master

#2664 Fix hiding of network device activation switch (#1847493)
  pyanaconda/ui/gui/spokes/network.py
Labels: master

#2665 Fix hiding of network device activation switch
  pyanaconda/ui/gui/spokes/network.py
Labels: rhel8-branch

#2671 Move Subscription spoke under Software
  pyanaconda/ui/gui/spokes/subscription.py
  tests/nosetests/pyanaconda_tests/simple_ui_test.py
Labels: port to Fedora, rhel8-branch, tracked

#2675 Typo fix
  pyanaconda/modules/storage/snapshot/device.py
Labels: master

#2651 Change the default_partitioning option
  data/anaconda.conf
  data/product.d/fedora-atomic-host.conf
  data/product.d/fedora-server.conf
  data/product.d/ovirt.conf
  data/product.d/rhev.conf
  pyanaconda/core/configuration/storage.py
  pyanaconda/modules/storage/partitioning/automatic/automatic_partitioning.py
  pyanaconda/modules/storage/partitioning/automatic/utils.py
  pyanaconda/modules/storage/partitioning/specification.py
  tests/nosetests/pyanaconda_tests/configuration_test.py
  tests/nosetests/pyanaconda_tests/module_part_automatic_test.py
  tests/nosetests/pyanaconda_tests/product_test.py
Labels: master, notable change

#2680 Always specify the boot disk (#1630299)
  pyanaconda/modules/storage/partitioning/automatic/automatic_partitioning.py
  pyanaconda/modules/storage/partitioning/custom/custom_partitioning.py
Labels: port to Fedora, rhel8-branch

#2679 Remove the workaround with LD_PRELOAD (#1843533)
  anaconda.py
  data/tmux.conf
Labels: rhel8-branch

#2670 Exclude stderr from returned output when executing powerpc-utils tools
  pyanaconda/modules/storage/bootloader/grub2.py
Labels: port to Fedora, rhel8-branch

#2677 Rhel 8 fix nfs iso in path
  pyanaconda/modules/payloads/source/nfs/initialization.py
  tests/nosetests/pyanaconda_tests/module_source_nfs_test.py
Labels: rhel8-branch

#2676 Rhel 8 do not require treeinfo
  pyanaconda/modules/payloads/source/harddrive/initialization.py
  pyanaconda/modules/payloads/source/nfs/initialization.py
  pyanaconda/modules/payloads/source/utils.py
  pyanaconda/payload/image.py
  tests/nosetests/pyanaconda_tests/module_source_base_test.py
  tests/nosetests/pyanaconda_tests/module_source_harddrive_test.py
  tests/nosetests/pyanaconda_tests/module_source_nfs_test.py
Labels: rhel8-branch

#2683 network: fix obtaining of s390 options of a wired connection
  pyanaconda/modules/network/nm_client.py
  tests/nosetests/pyanaconda_tests/module_network_nm_client_test.py
Labels: port to Fedora, rhel8-branch

#2682 Move Subscription spoke under Software
  pyanaconda/ui/gui/spokes/subscription.py
  tests/nosetests/pyanaconda_tests/simple_ui_test.py
Labels: master

#2672 subscription: Handle CDN related source switching
  anaconda.py
  data/anaconda.conf
  data/product.d/centos.conf
  data/product.d/rhel.conf
  data/product.d/scientific-linux.conf
  pyanaconda/core/configuration/payload.py
  pyanaconda/core/constants.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/ui/gui/spokes/installation_source.glade
  pyanaconda/ui/gui/spokes/installation_source.py
  pyanaconda/ui/gui/spokes/software_selection.py
  pyanaconda/ui/gui/spokes/subscription.py
  pyanaconda/ui/lib/subscription.py
  tests/nosetests/pyanaconda_tests/subscription_helpers_test.py
Labels: port to Fedora, rhel8-branch

#2690 Fix RHSM HTTP proxy configuration crash in the GUI
  pyanaconda/ui/gui/spokes/subscription.py
Labels: port to Fedora, rhel8-branch

#2687 Don't mount DBus sources at /run/install/source (#1851037)
  pyanaconda/core/constants.py
  pyanaconda/modules/payloads/source/cdrom/initialization.py
  pyanaconda/modules/payloads/source/utils.py
  tests/nosetests/pyanaconda_tests/module_source_base_test.py
Labels: port to Fedora, rhel8-branch

#2685 network: do not enforce network standalone spoke on default source
  pyanaconda/ui/gui/spokes/network.py
Labels: port to Fedora, rhel8-branch

#2695 Fix displaying of empty software group description
  pyanaconda/payload/dnf/payload.py
Labels: port to Fedora, rhel8-branch
