Repository rhinstaller/anaconda, pull requests merged in 2020-10, with the labels that each got.

#2875 Drop obsolete Py_Initialize link check in configure
  configure.ac
Labels: master

#2876 Fix unit test dependency installation for boolean expressions
  scripts/testing/dependency_solver.py
  scripts/testing/setup-mock-test-env.py
  tests/README.rst
Labels: master

#2872 fix remove unkown partition in sda failed
  pyanaconda/modules/storage/partitioning/interactive/utils.py
Labels: master, port to Fedora

#2855 Import RPM certificates at end of installation
  data/anaconda.conf
  data/product.d/fedora.conf
  pyanaconda/core/configuration/payload.py
  pyanaconda/core/regexes.py
  pyanaconda/core/util.py
  pyanaconda/payload/dnf/payload.py
  tests/nosetests/pyanaconda_tests/util_test.py
Labels: master, notable change

#2879 Fix show missing inst. prefix warning appropriately
  pyanaconda/argument_parsing.py
  pyanaconda/core/kernel.py
  tests/nosetests/pyanaconda_tests/kernel_test.py
Labels: f33, master

#2881 fix remove unkown partition in sda failed
  pyanaconda/modules/storage/partitioning/interactive/utils.py
Labels: f33

#2871 Use the DBus source for RPM OSTree in UI
  pyanaconda/anaconda.py
  pyanaconda/kickstart.py
  pyanaconda/modules/payloads/payload/dnf/dnf.py
  pyanaconda/modules/payloads/payload/payload_base.py
  pyanaconda/modules/payloads/payload/rpm_ostree/rpm_ostree.py
  pyanaconda/modules/payloads/payloads.py
  pyanaconda/modules/payloads/source/rpm_ostree/rpm_ostree.py
  pyanaconda/payload/rpmostreepayload.py
  tests/nosetests/pyanaconda_tests/module_payload_base_test.py
  tests/nosetests/pyanaconda_tests/module_payload_rpm_ostree_test.py
  tests/nosetests/pyanaconda_tests/module_source_rpm_ostree_test.py
Labels: master

#2460 Stop passing rd.{dm,md,lvm,luks}=0 in installer environment
  dracut/parse-anaconda-options.sh
Labels: master

#2890 Run rpm tests in a GitHub action
  .github/workflows/validate.yml
  Makefile.am
  tests/rpm_tests/__init__.py
  tests/rpm_tests/create_rpm_test.py
Labels: master

#2894 network: remove function that is not used anymore
  pyanaconda/modules/network/nm_client.py
Labels: master

#2870 Process network kickstart in stage 2
  dracut/parse-kickstart
  pyanaconda/modules/network/initialization.py
  pyanaconda/modules/network/network.py
  pyanaconda/modules/network/network_interface.py
  pyanaconda/modules/network/nm_client.py
  pyanaconda/network.py
  tests/nosetests/dracut_tests/parse-kickstart_test.py
  tests/nosetests/pyanaconda_tests/module_network_test.py
Labels: master

#2892 Add Dockerfile for anaconda unit-tests
  Makefile.am
  dockerfile/ci-tasks/Dockerfile
  tests/README.rst
Labels: master

#2885 Show in the first screen only translated locales
  pyanaconda/localization.py
  pyanaconda/ui/gui/spokes/lib/lang_locale_handler.py
  pyanaconda/ui/gui/spokes/welcome.py
Labels: master

#2886 Remove the inst.singlelang boot option
  anaconda.py
  data/anaconda_options.txt
  docs/boot-options.rst
  pyanaconda/argument_parsing.py
  pyanaconda/flags.py
  pyanaconda/ui/gui/spokes/language_support.py
  pyanaconda/ui/gui/spokes/welcome.py
  pyanaconda/ui/tui/spokes/language_support.py
Labels: master, notable change

#2891 Fix dependency_solver to not require spec file to get pip dependencies
  scripts/testing/dependency_solver.py
Labels: master

#2888 Fix spelling/name of OSTree
  pyanaconda/modules/payloads/source/rpm_ostree/rpm_ostree.py
  tests/gettext_tests/style_guide.py
  tests/nosetests/pyanaconda_tests/module_source_rpm_ostree_test.py
Labels: master

#2899 Add more options how to start the tests container
  Makefile.am
  dockerfile/ci-tasks/Dockerfile
  dockerfile/ci-tasks/entrypoint.sh
  tests/README.rst
Labels: master

#2898 Add GitHub actions runner to ci-tasks container
  dockerfile/ci-tasks/Dockerfile
  dockerfile/ci-tasks/github-action-run-once
Labels: master

#2903 Fix SECTION headers in docstrings
  widgets/src/BaseStandalone.c
  widgets/src/BaseWindow.c
  widgets/src/DiskOverview.c
  widgets/src/HubWindow.c
  widgets/src/LayoutIndicator.c
  widgets/src/MountpointSelector.c
  widgets/src/SpokeSelector.c
  widgets/src/SpokeWindow.c
  widgets/src/StandaloneWindow.c
Labels: master

#2889 Remove support for the nfsiso: pseudo-protocol
  docs/boot-options.rst
  dracut/anaconda-netroot.sh
  dracut/parse-anaconda-repo.sh
  pyanaconda/modules/payloads/source/utils.py
Labels: master, notable change

#2897 Backport unit/rpm test fixes
  Makefile.am
  anaconda.spec.in
  scripts/testing/dependency_solver.py
  tests/nosetests/pyanaconda_tests/module_storage_test.py
  tests/rpm_tests/__init__.py
  tests/rpm_tests/create_rpm_test.py
Labels: rhel8-branch

#2900 Make it easier to run make commands
  CONTRIBUTING.rst
  scripts/testing/install_dependencies.sh
Labels: master

#2877 Set up proxy environmental variables with a function
  anaconda.py
  pyanaconda/startup_utils.py
Labels: master

#2896 Allow to format selected DASDs
  pyanaconda/ui/tui/spokes/storage.py
Labels: master

#2904 Run validate workflow in ci-tasks container
  .github/workflows/validate.yml
Labels: master

#2910 Don't stop unit tests when the tests failed
  .github/workflows/validate.yml
Labels: master

#2909 Simplify container make calls
  Makefile.am
  tests/README.rst
Labels: master

#2914 CI tasks cleanup
  .github/workflows/validate.yml
  Makefile.am
  tests/README.rst
Labels: master

#2905 Small fixes in unit tests
  tests/nosetests/pyanaconda_tests/kickstart_specification_test.py
Labels: master

#2918 Restrict pylint parallelism to available RAM
  tests/pylint/censorship.py
  tests/pylint/pylintrc
Labels: master

#2926 Add link to metacity enums schema
  data/window-manager/config/Makefile.am
Labels: master

#2925 Fix local tests run inside of container
  Makefile.am
  tests/README.rst
Labels: master, port to RHEL8

#2923 unit test improvement/fixes
  .github/workflows/validate.yml
  tests/README.rst
  tests/pylint/censorship.py
Labels: master

#2920 Run unit tests on self-hosted GitHub runner
  .github/workflows/validate.yml
  Makefile.am
  tests/README.rst
  tests/pylint/censorship.py
Labels: rhel8-branch

#2922 Verify RPM exists before running it
  pyanaconda/payload/dnf/payload.py
Labels: master

#2924 Clean up s390 partitioning check (#1855724)
  pyanaconda/modules/storage/checker/utils.py
Labels: master

#2928 post-scripts need to be sorted and anaconda log files relabeled
  data/post-scripts/99-copy-logs.ks
  pyanaconda/kickstart.py
Labels: master

#2933 Hardening of our GH action event trigger
  .github/workflows/validate.yml
Labels: master

#2932 Document how to start a self-hosted GitHub actions runner locally
  tests/README.rst
Labels: rhel8-branch

#2927 network: handle None values of team configuration correctly
  pyanaconda/modules/network/nm_client.py
Labels: master

#2921 Move constants to prevent circular dependency
  pyanaconda/ui/gui/spokes/lib/storage_dialogs.py
  pyanaconda/ui/gui/spokes/storage.py
Labels: master

#2940 Fix testing target branch instead of PR branch
  .github/workflows/validate.yml
Labels: master

#2942 Fix testing target branch instead of PR branch
  .github/workflows/validate.yml
Labels: rhel8-branch

#2938 network: do not crash on infiniband devices activated in initramfs
  pyanaconda/modules/network/initialization.py
Labels: rhel8-branch

#2917 fix “0 storage devices selected”abnormality
  pyanaconda/ui/gui/spokes/custom_storage.py
Labels: master

#2930 Move the code for requirements
  pyanaconda/core/constants.py
  pyanaconda/core/util.py
  pyanaconda/installation.py
  pyanaconda/modules/boss/boss.py
  pyanaconda/modules/boss/boss_interface.py
  pyanaconda/modules/boss/install_manager/install_manager.py
  pyanaconda/modules/common/structures/requirement.py
  pyanaconda/modules/payloads/payload/dnf/requirements.py
  pyanaconda/modules/security/security.py
  pyanaconda/payload/base.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/errors.py
  pyanaconda/payload/requirement.py
  tests/nosetests/pyanaconda_tests/module_boss_test.py
  tests/nosetests/pyanaconda_tests/module_payload_dnf_requirements_test.py
  tests/nosetests/pyanaconda_tests/module_security_test.py
  tests/nosetests/pyanaconda_tests/payload_test.py
  tests/nosetests/pyanaconda_tests/util_test.py
Labels: master

#2901 Organize nosetests in directories (1)
  tests/nosetests/pyanaconda_tests/core/__init__.py
  tests/nosetests/pyanaconda_tests/core/configuration_test.py
  tests/nosetests/pyanaconda_tests/core/dbus_test.py
  tests/nosetests/pyanaconda_tests/core/kernel_test.py
  tests/nosetests/pyanaconda_tests/core/signal_test.py
  tests/nosetests/pyanaconda_tests/core/user_create_test.py
  tests/nosetests/pyanaconda_tests/core/user_test.py
  tests/nosetests/pyanaconda_tests/core/util_test.py
  tests/nosetests/pyanaconda_tests/modules/__init__.py
  tests/nosetests/pyanaconda_tests/modules/boss/__init__.py
  tests/nosetests/pyanaconda_tests/modules/boss/kickstart_dispatcher_test.py
  tests/nosetests/pyanaconda_tests/modules/boss/module_boss_install_test.py
  tests/nosetests/pyanaconda_tests/modules/boss/module_boss_kickstart_test.py
  tests/nosetests/pyanaconda_tests/modules/boss/module_boss_modules_test.py
  tests/nosetests/pyanaconda_tests/modules/boss/module_boss_test.py
  tests/nosetests/pyanaconda_tests/modules/boss/observer_test.py
  tests/nosetests/pyanaconda_tests/modules/common/__init__.py
  tests/nosetests/pyanaconda_tests/modules/common/module_base_test.py
  tests/nosetests/pyanaconda_tests/modules/common/module_requirements_test.py
  tests/nosetests/pyanaconda_tests/modules/common/module_services_test.py
  tests/nosetests/pyanaconda_tests/modules/common/module_tasks_test.py
  tests/nosetests/pyanaconda_tests/modules/common/module_util_test.py
  tests/nosetests/pyanaconda_tests/modules/common/secret_data_test.py
  tests/nosetests/pyanaconda_tests/modules/subscription/__init__.py
  tests/nosetests/pyanaconda_tests/modules/subscription/module_subscription_tasks_tests.py
  tests/nosetests/pyanaconda_tests/modules/subscription/module_subscription_tests.py
  tests/nosetests/pyanaconda_tests/modules/subscription/rhsm_observer_test.py
  tests/nosetests/pyanaconda_tests/modules/timezone/__init__.py
  tests/nosetests/pyanaconda_tests/modules/timezone/module_timezone_test.py
  tests/nosetests/pyanaconda_tests/ui/__init__.py
  tests/nosetests/pyanaconda_tests/ui/subscription_spoke_tests.py
  tests/nosetests/pyanaconda_tests/ui/ui_custom_spoke_test.py
  tests/nosetests/pyanaconda_tests/ui/ui_payload_test.py
Labels: master, tracked

#2937 Move the code for the kernel package selection to new functions
  pyanaconda/core/util.py
  pyanaconda/isys/__init__.py
  pyanaconda/modules/payloads/payload/dnf/utils.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/utils.py
  tests/nosetests/pyanaconda_tests/core/util_test.py
  tests/nosetests/pyanaconda_tests/module_payload_dnf_utils_test.py
Labels: master

#2912 Add ELN support
  data/product.d/fedora-eln.conf
  tests/nosetests/pyanaconda_tests/product_test.py
Labels: master

#2943 Do not exclude English from available languages
  pyanaconda/localization.py
Labels: master

#2944 Master nosetests directories 2
  tests/nosetests/pyanaconda_tests/modules/localization/__init__.py
  tests/nosetests/pyanaconda_tests/modules/localization/module_localization_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/__init__.py
  tests/nosetests/pyanaconda_tests/modules/storage/clearpart_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/grub_raid_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/module_bootloader_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/module_dasd_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/module_device_tree_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/module_disk_init_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/module_disk_select_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/module_fcoe_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/module_iscsi_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/module_nvdimm_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/module_snapshot_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/module_storage_bootloader_args_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/module_storage_checker_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/module_storage_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/module_zfcp_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/partitioning/__init__.py
  tests/nosetests/pyanaconda_tests/modules/storage/partitioning/module_part_automatic_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/partitioning/module_part_blivet_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/partitioning/module_part_custom_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/partitioning/module_part_factory_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/partitioning/module_part_interactive_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/partitioning/module_part_manual_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/partitioning/module_resizable_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/partitioning/module_scheduler_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/storage_checker_test.py
  tests/nosetests/pyanaconda_tests/ui/simple_ui_test.py
Labels: master

#2946 Names of signal handlers should have the on_ prefix
  CONTRIBUTING.rst
  pyanaconda/ui/gui/spokes/lib/dasdfmt.glade
  pyanaconda/ui/gui/spokes/lib/dasdfmt.py
  pyanaconda/ui/gui/spokes/lib/refresh.glade
  pyanaconda/ui/gui/spokes/lib/refresh.py
  pyanaconda/ui/gui/spokes/lib/resize.glade
  pyanaconda/ui/gui/spokes/lib/resize.py
  pyanaconda/ui/gui/spokes/user.glade
  pyanaconda/ui/gui/spokes/user.py
Labels: master

#2947 Update the NVDIMM actions before we generate the output kickstart
  pyanaconda/modules/storage/nvdimm/nvdimm.py
  pyanaconda/modules/storage/storage.py
  tests/nosetests/pyanaconda_tests/modules/storage/module_nvdimm_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/module_storage_test.py
Labels: master

#2939 Add selinux=0 boot parameter when SELinux is set to disabled (#1882464)
  pyanaconda/modules/storage/bootloader/base.py
Labels: master

#2945 Remove unused code again
  pyanaconda/core/constants.py
  pyanaconda/core/timer.py
  pyanaconda/core/util.py
  pyanaconda/geoloc.py
  pyanaconda/localization.py
  pyanaconda/modules/common/constants/objects.py
  pyanaconda/modules/common/structures/subscription.py
  pyanaconda/modules/payloads/constants.py
  pyanaconda/modules/payloads/source/url/url.py
  pyanaconda/modules/storage/bootloader/base.py
  pyanaconda/modules/storage/bootloader/efi.py
  pyanaconda/modules/storage/bootloader/grub2.py
  pyanaconda/modules/storage/bootloader/image.py
  pyanaconda/modules/storage/bootloader/utils.py
  pyanaconda/modules/storage/checker/utils.py
  pyanaconda/modules/storage/devicetree/fsset.py
  pyanaconda/modules/storage/devicetree/model.py
  pyanaconda/modules/storage/partitioning/interactive/scheduler_interface.py
  pyanaconda/modules/storage/partitioning/interactive/scheduler_module.py
  pyanaconda/modules/storage/platform.py
  pyanaconda/modules/subscription/installation.py
  pyanaconda/modules/subscription/subscription.py
  pyanaconda/ntp.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/install_tree_metadata.py
  pyanaconda/payload/source/sources.py
  pyanaconda/threading.py
  pyanaconda/ui/gui/spokes/installation_source.py
  pyanaconda/ui/gui/spokes/lib/accordion.py
  pyanaconda/ui/gui/spokes/lib/passphrase.py
  pyanaconda/ui/gui/spokes/network.py
  pyanaconda/ui/gui/spokes/subscription.py
  tests/nosetests/pyanaconda_tests/localization_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/module_bootloader_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/partitioning/module_scheduler_test.py
Labels: master

#2950 Remove the debug flag
  anaconda.py
  pyanaconda/core/configuration/anaconda.py
  pyanaconda/flags.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/ui/tui/spokes/shell_spoke.py
Labels: master

#2931 Add GH action to build and push master container to registry
  .github/workflows/container-autoupdate.yml
  .github/workflows/validate.yml
  Makefile.am
  dockerfile/anaconda-ci/Dockerfile
  dockerfile/anaconda-ci/entrypoint.sh
  dockerfile/anaconda-ci/github-action-run-once
  tests/README.rst
Labels: master, port to RHEL8

#2948 Add workaround to fix support for installtree without repo
  pyanaconda/modules/payloads/source/utils.py
  tests/nosetests/pyanaconda_tests/module_source_base_test.py
Labels: master

#2949 Clean up the Payload class
  pyanaconda/payload/base.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/live/payload_liveimg.py
  pyanaconda/payload/manager.py
Labels: master

#2952 Improve the documentation of inst.variant
  docs/boot-options.rst
Labels: master

#2951 kickstart.py: fix typo
  pyanaconda/kickstart.py
Labels: master

#2954 Rename our GH action for container build to a better name
  .github/workflows/container-autoupdate.yml
Labels: master

#2956 Rename ci-tasks container to anaconda-ci
  Makefile.am
  dockerfile/anaconda-ci/Dockerfile
  dockerfile/anaconda-ci/entrypoint.sh
  dockerfile/anaconda-ci/github-action-run-once
  dockerfile/anaconda-ci/overlays.repo
  dockerfile/anaconda-ci/rhel-8.repo
  tests/README.rst
Labels: rhel8-branch

#2865 Fix traceback when starting installation with isnt.console (no args)
  pyanaconda/modules/storage/bootloader/base.py
Labels: master

#2955 Add container image build badge
  README.rst
Labels: blocked, master, notable change

#2958 Mock os.stat in the unit tests
  tests/nosetests/pyanaconda_tests/module_source_live_image_test.py
Labels: master

#2966 Fix and robustify validate workflow
  .github/workflows/validate.yml
Labels: master
