Repository rhinstaller/anaconda, pull requests merged in 2020-03, with the labels that each got.

#2341 F32 add weblate badge
  README.rst
Labels: f32

#2343 Adapt localization makefile commands
  Makefile.am
  configure.ac
  scripts/git-find-branch
Labels: master, port to Fedora

#2347 Adapt Makefile for f32 specific configuration
  Makefile.am
Labels: f32

#2340 Port prefixdevname to fedora
  data/anaconda.conf
  dracut/Makefile.am
  dracut/anaconda-copy-prefixdevname.sh
  dracut/module-setup.sh
  pyanaconda/modules/network/installation.py
  pyanaconda/modules/network/network.py
  tests/nosetests/pyanaconda_tests/module_network_test.py
Labels: f32, master

#2348 network: add network module tests for instalaltion tasks
  tests/nosetests/pyanaconda_tests/module_network_test.py
Labels: f32, master

#2346 Use the latest kernel version list (#1807252)
  pyanaconda/installation.py
Labels: f32, master

#2345 Check free space in the correct device tree (#1807339)
  pyanaconda/ui/gui/spokes/storage.py
Labels: f32, master

#2344 Fix incorrect docstrings
  pyanaconda/core/util.py
  pyanaconda/modules/storage/kickstart.py
Labels: f32, master

#2322 Ignore the required package btrfs-progs in RHEL
  data/product.d/rhel.conf
Labels: master

#2352 Remove the Baz module
  configure.ac
  data/dbus/org.fedoraproject.Anaconda.Addons.Baz.conf
  data/dbus/org.fedoraproject.Anaconda.Addons.Baz.service
  pyanaconda/Makefile.am
  pyanaconda/dbus_addons/Makefile.am
  pyanaconda/dbus_addons/README.rst
  pyanaconda/dbus_addons/__init__.py
  pyanaconda/dbus_addons/baz/Makefile.am
  pyanaconda/dbus_addons/baz/__init__.py
  pyanaconda/dbus_addons/baz/__main__.py
  pyanaconda/dbus_addons/baz/baz.py
  pyanaconda/dbus_addons/baz/baz_interface.py
  pyanaconda/dbus_addons/baz/kickstart.py
  pyanaconda/modules/common/constants/namespaces.py
  pyanaconda/modules/common/constants/services.py
  tests/nosetests/pyanaconda_tests/module_baz_test.py
  tests/nosetests/pyanaconda_tests/simple_import_test.py
Labels: master

#2349 Port bls related messages from rhel8
  pyanaconda/bootloader/installation.py
  pyanaconda/payload/__init__.py
  pyanaconda/payload/livepayload.py
Labels: f32, master

#2351 Add small badges for Read the Docs and translations
  README.rst
Labels: master

#2354 Always use the Anaconda's kickstart version
  pyanaconda/core/kickstart/specification.py
  pyanaconda/modules/localization/kickstart.py
  pyanaconda/modules/network/kickstart.py
  pyanaconda/modules/payloads/kickstart.py
  pyanaconda/modules/security/kickstart.py
  pyanaconda/modules/services/kickstart.py
  pyanaconda/modules/storage/kickstart.py
  pyanaconda/modules/timezone/kickstart.py
  pyanaconda/modules/users/kickstart.py
Labels: master

#2314 Add missing logs to the log-capture utility
  scripts/log-capture
Labels: master

#2356 Enhance branching
  Makefile.am
  branch-config.mk
  docs/release.rst
Labels: f32, master

#2360 Fix the unit tests for BTRFS
  tests/nosetests/pyanaconda_tests/module_bootloader_test.py
  tests/nosetests/pyanaconda_tests/module_scheduler_test.py
Labels: f32, master

#2350 Handle storage errors in UI (#1808650)
  pyanaconda/bootloader/zipl.py
  pyanaconda/errors.py
  pyanaconda/exception.py
  pyanaconda/modules/common/errors/installation.py
  pyanaconda/modules/common/errors/storage.py
  pyanaconda/modules/storage/devicetree/populate.py
  pyanaconda/modules/storage/installation.py
  pyanaconda/modules/storage/reset.py
  pyanaconda/rescue.py
  pyanaconda/storage/fsset.py
  pyanaconda/storage/installation.py
  pyanaconda/ui/gui/spokes/lib/detailederror.glade
  pyanaconda/ui/lib/storage.py
  tests/gettext_tests/style_guide.py
Labels: f32, master

#2355 Fix action buttons in the resize dialog (#1809950)
  pyanaconda/ui/gui/spokes/lib/resize.py
Labels: f32, master

#2362 Don't add None values to a combo box (#1810679)
  pyanaconda/ui/gui/spokes/advanced_storage.py
Labels: f32, master

#2357 Move functions from pyanaconda.storage.utils
  anaconda.py
  pyanaconda/bootloader/execution.py
  pyanaconda/core/storage.py
  pyanaconda/modules/storage/kickstart.py
  pyanaconda/modules/storage/partitioning/automatic/automatic_partitioning.py
  pyanaconda/modules/storage/partitioning/custom/custom_partitioning.py
  pyanaconda/modules/storage/partitioning/interactive/add_device.py
  pyanaconda/modules/storage/partitioning/interactive/utils.py
  pyanaconda/storage/utils.py
  pyanaconda/ui/gui/spokes/advanced_storage.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/installation_source.py
  pyanaconda/ui/gui/spokes/lib/accordion.py
  pyanaconda/ui/gui/spokes/lib/custom_storage_helpers.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/lib/storage.py
  pyanaconda/ui/tui/spokes/storage.py
Labels: master

#2363 Fix typos, comments and style in the storage-related code
  pyanaconda/modules/storage/dasd/dasd_interface.py
  pyanaconda/modules/storage/devicetree/handler.py
  pyanaconda/modules/storage/devicetree/handler_interface.py
  pyanaconda/modules/storage/devicetree/rescue.py
  pyanaconda/modules/storage/nvdimm/reconfigure.py
  pyanaconda/modules/storage/partitioning/interactive/scheduler_interface.py
  pyanaconda/modules/storage/partitioning/interactive/scheduler_module.py
  pyanaconda/modules/storage/partitioning/interactive/utils.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/lib/storage.py
Labels: master

#2364 Remove extra quotes from the doc strings
  pyanaconda/core/configuration/anaconda.py
  pyanaconda/modules/boss/module_manager/module_observer.py
  pyanaconda/modules/common/structures/device_factory.py
  pyanaconda/modules/storage/devicetree/handler.py
  pyanaconda/modules/storage/devicetree/handler_interface.py
  pyanaconda/modules/storage/devicetree/viewer.py
  pyanaconda/modules/storage/devicetree/viewer_interface.py
  pyanaconda/ui/gui/spokes/blivet_gui.py
  pyanaconda/ui/gui/spokes/storage.py
Labels: master

#2365 Execute a kickstarted partitioning (#1811242)
  pyanaconda/ui/gui/spokes/storage.py
Labels: f32, master

#995 Set liveimg min_size to be x3 the real size
  pyanaconda/payload/livepayload.py
Labels: master, tracked

#2326 Remove dead dracut code
  dracut/anaconda-lib.sh
Labels: manual testing required, master

#2358 Remove unused code
  pyanaconda/core/constants.py
  pyanaconda/kickstart.py
  pyanaconda/modules/common/base/base.py
  pyanaconda/modules/common/constants/interfaces.py
  pyanaconda/modules/common/errors/installation.py
  pyanaconda/modules/common/task/result.py
  pyanaconda/modules/localization/localed.py
  pyanaconda/modules/network/firewall/firewall.py
  pyanaconda/modules/network/ifcfg.py
  pyanaconda/modules/storage/constants.py
  pyanaconda/modules/storage/fcoe/fcoe_interface.py
  pyanaconda/modules/storage/iscsi/iscsi_interface.py
  pyanaconda/modules/storage/partitioning/interactive/scheduler_interface.py
  pyanaconda/modules/storage/partitioning/interactive/scheduler_module.py
  pyanaconda/modules/storage/zfcp/zfcp_interface.py
  pyanaconda/modules/users/users.py
  pyanaconda/safe_dbus.py
  pyanaconda/storage/osinstall.py
  pyanaconda/storage/utils.py
  pyanaconda/timezone.py
  pyanaconda/ui/gui/spokes/lib/accordion.py
  pyanaconda/ui/gui/spokes/lib/entropy_dialog.glade
  pyanaconda/ui/gui/spokes/lib/entropy_dialog.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/gui/spokes/user.py
  pyanaconda/ui/helpers.py
  pyanaconda/ui/lib/entropy.py
  pyanaconda/ui/tui/spokes/storage.py
  tests/nosetests/pyanaconda_tests/module_fcoe_test.py
  tests/nosetests/pyanaconda_tests/module_iscsi_test.py
  tests/nosetests/pyanaconda_tests/module_scheduler_test.py
  tests/nosetests/pyanaconda_tests/module_zfcp_test.py
Labels: master

#2367 Don't set up the locale if none is selected (#1649956)
  pyanaconda/ui/gui/spokes/welcome.py
Labels: f32, master

#2353 Verify that LVM destruction is orderly (#1688478)
  pyanaconda/storage/checker.py
  tests/nosetests/pyanaconda_tests/module_storage_checker_test.py
Labels: f32, master, notable change

#2369 Avoid downloading payload image in set up phase
  pyanaconda/modules/payloads/payload/live_image/initialization.py
  pyanaconda/payload/livepayload.py
Labels: f32, master

#2372 Module backport to better handling of sparse images
  pyanaconda/modules/payloads/payload/live_image/initialization.py
Labels: master

#2361 Make sure rhsm.service is running at Anaconda startup
  data/systemd/anaconda.target
Labels: rhel8-branch

#2375 Show the help again (#1812896)
  pyanaconda/ui/lib/help.py
Labels: f32, master

#2377 Don't override the method generate_kickstart
  pyanaconda/modules/common/base/base.py
  pyanaconda/modules/localization/localization.py
  pyanaconda/modules/network/network.py
  pyanaconda/modules/payloads/payloads.py
  pyanaconda/modules/security/security.py
  pyanaconda/modules/services/services.py
  pyanaconda/modules/storage/storage.py
  pyanaconda/modules/timezone/timezone.py
  pyanaconda/modules/users/users.py
Labels: master

#2379 Small payload tests improvement
  tests/nosetests/pyanaconda_tests/module_payloads_test.py
  tests/nosetests/pyanaconda_tests/module_source_live_os_test.py
Labels: master

#2374 Fix dd from kickstart with space
  dracut/driver-updates-genrules.sh
  dracut/driver_updates.py
  dracut/parse-kickstart
Labels: master

#2378 Support logging of Anaconda DBus modules to files (#1812380)
  pyanaconda/anaconda_loggers.py
  pyanaconda/anaconda_logging.py
  pyanaconda/kickstart.py
  pyanaconda/modules/common/__init__.py
  pyanaconda/modules/storage/__main__.py
Labels: f32, master

#2373 Ellipsize description in configure mount point
  pyanaconda/ui/gui/spokes/lib/custom_storage_helpers.glade
  pyanaconda/ui/gui/spokes/lib/custom_storage_helpers.py
Labels: f32, master, notable change

#2385 Wrap iscsi login error messages in GUI (#1811382)
  pyanaconda/ui/gui/spokes/advstorage/iscsi.glade
Labels: f32, master

#2384 Don't return anything from setup_kickstart
  pyanaconda/modules/common/base/base.py
  pyanaconda/modules/localization/localization.py
  pyanaconda/modules/network/firewall/firewall.py
  pyanaconda/modules/network/network.py
  pyanaconda/modules/payloads/payload/live_image/live_image.py
  pyanaconda/modules/payloads/payloads.py
  pyanaconda/modules/security/security.py
  pyanaconda/modules/services/services.py
  pyanaconda/modules/storage/bootloader/bootloader.py
  pyanaconda/modules/storage/disk_initialization/initialization.py
  pyanaconda/modules/storage/disk_selection/selection.py
  pyanaconda/modules/storage/snapshot/snapshot.py
  pyanaconda/modules/storage/storage.py
  pyanaconda/modules/timezone/timezone.py
  pyanaconda/modules/users/users.py
Labels: master

#2387 Rename add-ons to additional software (#1674011)
  pyanaconda/ui/gui/spokes/software_selection.glade
  pyanaconda/ui/tui/spokes/software_selection.py
Labels: master

#2386 Add missing period in iscsi login failure message.
  pyanaconda/ui/gui/spokes/advstorage/iscsi.glade
Labels: f32, master

#2383 Fix memory leak and fd leak
  utils/dd/dd_extract.c
  utils/dd/dd_list.c
  utils/dd/rpmutils.c
Labels: master, tracked

#2388 Fix setup test env other nose tests
  scripts/testing/setup-mock-test-env.py
Labels: master

#2392 Fix dud test
  tests/nosetests/dd_tests/dd_test.py
Labels: master

#2396 Revert "Fix PR tests with mock version 2"
  scripts/testing/dependency_solver.py
Labels: master

#2393 Change dd extract help
  utils/dd/dd_extract.c
Labels: f32, master

#2398 Pass nosmt boot option to installed system
  data/anaconda.conf
Labels: master

#2397 Adapt makebumpver to rhel-devel -> rhel-8 branch renaming.
  scripts/makebumpver
Labels: master

#2401 Clean up and rename parseNfsUrl
  pyanaconda/core/util.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/source/factory.py
  tests/nosetests/pyanaconda_tests/iutil_test.py
Labels: master

#2399 Add license to the __main__.py file for DBus modules
  pyanaconda/modules/boss/__main__.py
  pyanaconda/modules/localization/__main__.py
  pyanaconda/modules/network/__main__.py
  pyanaconda/modules/payloads/__main__.py
  pyanaconda/modules/security/__main__.py
  pyanaconda/modules/services/__main__.py
  pyanaconda/modules/storage/__main__.py
  pyanaconda/modules/subscription/__main__.py
  pyanaconda/modules/timezone/__main__.py
  pyanaconda/modules/users/__main__.py
Labels: master

#2400 Do not show quarterly release part of the version in UI.
  pyanaconda/product.py
  tests/nosetests/pyanaconda_tests/product_test.py
Labels: master

#2403 Use the right field of DiskStoreRow (#1816256)
  pyanaconda/ui/gui/spokes/advanced_storage.py
Labels: f32, master

#2405 Remove storage tests
  tests/Makefile.am
  tests/storage/__init__.py
  tests/storage/cases/__init__.py
  tests/storage/cases/bz1014545.py
  tests/storage/cases/bz1067707.py
  tests/storage/cases/reuse.py
  tests/storage/run_storage_tests.py
Labels: master

#2409 storage gui: keep expanded mountpoints info on actions in UI by defau…
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/lib/accordion.py
Labels: f32, master, notable change

#2411 Improve test speed
  scripts/testing/setup-mock-test-env.py
Labels: f32, master

#2408 Set up advanced storage on the right device tree (#1812561)
  pyanaconda/storage/utils.py
  pyanaconda/ui/gui/spokes/advanced_storage.py
  tests/nosetests/pyanaconda_tests/module_disk_select_test.py
Labels: f32, master

#2413 Handle translation of an empty string in widgets (#1815461)
  widgets/src/intl.h
Labels: f32, master

#2407 Don't call the DBus method IsNodeFromIbft from the Storage module (#1…
  pyanaconda/bootloader/base.py
Labels: f32, master

#2414 Don't always reset the interactive partitioning
  pyanaconda/ui/gui/spokes/blivet_gui.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/tui/spokes/storage.py
Labels: f32, master
