Repository rhinstaller/anaconda, pull requests merged in 2020-05, with the labels that each got.

#2484 1/2 DNF kickstart support
  anaconda.spec.in
  pyanaconda/core/kickstart/commands.py
  pyanaconda/modules/payloads/kickstart.py
  pyanaconda/modules/payloads/payload/dnf/dnf.py
  pyanaconda/modules/payloads/payload/factory.py
  pyanaconda/modules/payloads/payload/payload_base.py
  pyanaconda/modules/payloads/payloads.py
  pyanaconda/modules/payloads/source/source_base.py
  tests/nosetests/pyanaconda_tests/module_payload_base_test.py
  tests/nosetests/pyanaconda_tests/module_payload_dnf_test.py
  tests/nosetests/pyanaconda_tests/module_payload_factory_test.py
  tests/nosetests/pyanaconda_tests/module_payload_live_os_test.py
  tests/nosetests/pyanaconda_tests/module_payload_packages_test.py
  tests/nosetests/pyanaconda_tests/module_payload_shared.py
  tests/nosetests/pyanaconda_tests/module_payloads_test.py
  tests/nosetests/pyanaconda_tests/module_source_base_test.py
Labels: master

#2485 subscription: Fix registration tasks docstring typo
  pyanaconda/modules/subscription/runtime.py
Labels: master

#2482 network: don't try to use DeviceConfigurations on live cd (#1827999)
  pyanaconda/modules/network/network.py
Labels: master

#2483 subscription: Add subscription related package requirements
  pyanaconda/modules/subscription/subscription.py
  tests/nosetests/pyanaconda_tests/module_subscription_tests.py
Labels: master

#2486 Add the DBus method GetModules to the Boss service
  pyanaconda/modules/boss/boss.py
  pyanaconda/modules/boss/boss_interface.py
  pyanaconda/modules/boss/module_manager/module_manager.py
  tests/nosetests/pyanaconda_tests/module_boss_modules_test.py
  tests/nosetests/pyanaconda_tests/module_boss_test.py
Labels: master

#2481 subscription: Add unregistration task
  pyanaconda/modules/common/constants/objects.py
  pyanaconda/modules/common/errors/subscription.py
  pyanaconda/modules/subscription/runtime.py
  pyanaconda/modules/subscription/subscription.py
  pyanaconda/modules/subscription/subscription_interface.py
  tests/nosetests/pyanaconda_tests/module_subscription_tasks_tests.py
  tests/nosetests/pyanaconda_tests/module_subscription_tests.py
Labels: master

#2487 Destroy the disk selection dialog on escape
  pyanaconda/ui/gui/spokes/custom_storage.py
Labels: master, tracked

#2490 subscription: Attach subscription task
  pyanaconda/modules/common/constants/objects.py
  pyanaconda/modules/common/errors/subscription.py
  pyanaconda/modules/subscription/runtime.py
  pyanaconda/modules/subscription/subscription.py
  pyanaconda/modules/subscription/subscription_interface.py
  tests/nosetests/pyanaconda_tests/module_subscription_tasks_tests.py
  tests/nosetests/pyanaconda_tests/module_subscription_tests.py
Labels: master

#2491 subscription: Run install time subscription tasks
  pyanaconda/installation.py
  pyanaconda/modules/common/util.py
  tests/nosetests/pyanaconda_tests/module_util_test.py
Labels: master

#2474 2/2 DNF kickstart support
  anaconda.py
  pyanaconda/core/payload.py
  pyanaconda/core/util.py
  pyanaconda/modules/payloads/payload/dnf/dnf.py
  pyanaconda/modules/payloads/payload/live_image/utils.py
  pyanaconda/modules/payloads/source/cdrom/cdrom.py
  pyanaconda/modules/payloads/source/factory.py
  pyanaconda/modules/payloads/source/harddrive/harddrive.py
  pyanaconda/modules/payloads/source/hmc/hmc.py
  pyanaconda/modules/payloads/source/nfs/initialization.py
  pyanaconda/modules/payloads/source/nfs/nfs.py
  pyanaconda/modules/payloads/source/url/url.py
  pyanaconda/modules/subscription/subscription.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/dnf/repomd.py
  pyanaconda/payload/live/payload_liveimg.py
  pyanaconda/payload/source/factory.py
  pyanaconda/ui/gui/spokes/installation_source.py
  tests/nosetests/pyanaconda_tests/module_payload_dnf_test.py
  tests/nosetests/pyanaconda_tests/payload_test.py
  tests/nosetests/pyanaconda_tests/util_test.py
Labels: master

#2495 Ignore the required package dmraid in RHEL
  data/product.d/rhel.conf
Labels: master

#2455 Pre-select disk initialization mode in TUI
  pyanaconda/ui/tui/spokes/storage.py
Labels: master

#2494 Remove the HasSource D-Bus function
  pyanaconda/modules/payloads/payload/payload_base.py
  pyanaconda/modules/payloads/payload/payload_base_interface.py
  tests/nosetests/pyanaconda_tests/module_payload_shared.py
Labels: master

#2489 Improve behavior of the boot loader selection window
  pyanaconda/ui/gui/spokes/lib/cart.py
Labels: master, tracked

#2499 Remove a missed use of has_source() to fix tests
  tests/nosetests/pyanaconda_tests/module_payload_dnf_test.py
Labels: master

#2492 Source description
  pyanaconda/modules/payloads/source/cdrom/cdrom.py
  pyanaconda/modules/payloads/source/harddrive/harddrive.py
  pyanaconda/modules/payloads/source/hmc/hmc.py
  pyanaconda/modules/payloads/source/live_os/live_os.py
  pyanaconda/modules/payloads/source/nfs/nfs.py
  pyanaconda/modules/payloads/source/repo_files/repo_files.py
  pyanaconda/modules/payloads/source/source_base.py
  pyanaconda/modules/payloads/source/source_base_interface.py
  pyanaconda/modules/payloads/source/url/url.py
  pyanaconda/ui/gui/spokes/installation_source.py
  pyanaconda/ui/tui/spokes/installation_source.py
  tests/nosetests/pyanaconda_tests/module_source_base_test.py
  tests/nosetests/pyanaconda_tests/module_source_cdrom_test.py
  tests/nosetests/pyanaconda_tests/module_source_harddrive_test.py
  tests/nosetests/pyanaconda_tests/module_source_hmc_test.py
  tests/nosetests/pyanaconda_tests/module_source_live_os_test.py
  tests/nosetests/pyanaconda_tests/module_source_nfs_test.py
  tests/nosetests/pyanaconda_tests/module_source_repo_files_test.py
  tests/nosetests/pyanaconda_tests/module_source_url_test.py
Labels: master, tracked

#2488 Do not offer disk selection when encrypting existing partition
  pyanaconda/modules/storage/partitioning/interactive/utils.py
Labels: master, tracked

#2497 subscription: Add AttachedSubscription DBus structure
  pyanaconda/modules/common/structures/subscription.py
  tests/nosetests/pyanaconda_tests/module_subscription_tests.py
Labels: master

#2493 Add get_repo_configuration() for DNF payload
  pyanaconda/modules/common/structures/payload.py
  pyanaconda/modules/payloads/payload/dnf/dnf.py
  pyanaconda/modules/payloads/payload/dnf/dnf_interface.py
  pyanaconda/modules/payloads/source/cdrom/cdrom.py
  pyanaconda/modules/payloads/source/harddrive/harddrive.py
  pyanaconda/modules/payloads/source/hmc/hmc.py
  pyanaconda/modules/payloads/source/nfs/nfs.py
  pyanaconda/modules/payloads/source/source_base.py
  pyanaconda/modules/payloads/source/url/url.py
  tests/nosetests/pyanaconda_tests/module_payload_dnf_test.py
Labels: master

#2496 subscription: Simplified system purpose configuration
  pyanaconda/core/constants.py
  pyanaconda/core/subscription.py
  pyanaconda/modules/common/structures/subscription.py
  pyanaconda/modules/subscription/installation.py
  pyanaconda/modules/subscription/runtime.py
  pyanaconda/modules/subscription/subscription.py
  pyanaconda/modules/subscription/subscription_interface.py
  pyanaconda/modules/subscription/system_purpose.py
  tests/nosetests/pyanaconda_tests/module_subscription_tasks_tests.py
  tests/nosetests/pyanaconda_tests/module_subscription_tests.py
  tests/nosetests/pyanaconda_tests/subscription_helpers_test.py
Labels: master

#2471 Add the combo box for choosing a LUKS version in the container dialog
  pyanaconda/modules/common/structures/device_factory.py
  pyanaconda/modules/storage/partitioning/interactive/utils.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/lib/custom_storage_helpers.glade
  pyanaconda/ui/gui/spokes/lib/custom_storage_helpers.py
Labels: master, notable change

#2498 subscription: Initial subscription GUI bits
  pyanaconda/ui/gui/spokes/lib/subscription.py
  pyanaconda/ui/gui/spokes/subscription.glade
  pyanaconda/ui/gui/spokes/subscription.py
  tests/gettext_tests/style_guide.py
  tests/nosetests/pyanaconda_tests/simple_ui_test.py
  tests/nosetests/pyanaconda_tests/subscription_spoke_tests.py
Labels: master

#2501 Work around pylint 2.5.0 issue with _ in warning id
  anaconda.py
Labels: master

#2500 Add __repr__ to payload sources
  pyanaconda/modules/payloads/source/cdrom/cdrom.py
  pyanaconda/modules/payloads/source/harddrive/harddrive.py
  pyanaconda/modules/payloads/source/hmc/hmc.py
  pyanaconda/modules/payloads/source/live_os/live_os.py
  pyanaconda/modules/payloads/source/nfs/nfs.py
  pyanaconda/modules/payloads/source/repo_files/repo_files.py
  pyanaconda/modules/payloads/source/source_base.py
  pyanaconda/modules/payloads/source/url/url.py
  tests/nosetests/pyanaconda_tests/module_source_base_test.py
  tests/nosetests/pyanaconda_tests/module_source_cdrom_test.py
  tests/nosetests/pyanaconda_tests/module_source_harddrive_test.py
  tests/nosetests/pyanaconda_tests/module_source_hmc_test.py
  tests/nosetests/pyanaconda_tests/module_source_live_os_test.py
  tests/nosetests/pyanaconda_tests/module_source_nfs_test.py
  tests/nosetests/pyanaconda_tests/module_source_repo_files_test.py
  tests/nosetests/pyanaconda_tests/module_source_url_test.py
Labels: master

#2502 Create a DBus proxy of the DNF module
  pyanaconda/modules/common/errors/payload.py
  pyanaconda/modules/payloads/payloads.py
  pyanaconda/modules/payloads/payloads_interface.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/ui/lib/payload.py
  tests/nosetests/pyanaconda_tests/__init__.py
  tests/nosetests/pyanaconda_tests/module_payload_dnf_test.py
  tests/nosetests/pyanaconda_tests/module_payload_shared.py
  tests/nosetests/pyanaconda_tests/module_payloads_test.py
  tests/nosetests/pyanaconda_tests/ui_payload_test.py
Labels: master

#2508 subscription: Add network connectivity check to the Subscription spoke
  pyanaconda/ui/gui/spokes/subscription.py
Labels: master

#2503 Add ISOPath API to Hard drive payload source
  pyanaconda/modules/payloads/source/harddrive/harddrive.py
  pyanaconda/modules/payloads/source/harddrive/harddrive_interface.py
  pyanaconda/modules/payloads/source/harddrive/initialization.py
  pyanaconda/modules/payloads/source/utils.py
  tests/nosetests/pyanaconda_tests/module_source_harddrive_test.py
Labels: master, tracked

#2504 Add DeviceName API to CDrom source
  pyanaconda/modules/payloads/source/cdrom/cdrom.py
  pyanaconda/modules/payloads/source/cdrom/cdrom_interface.py
  pyanaconda/modules/payloads/source/cdrom/initialization.py
  tests/nosetests/pyanaconda_tests/module_source_cdrom_test.py
Labels: master, tracked

#2509 Add functions for DBus sources
  pyanaconda/ui/lib/payload.py
  tests/nosetests/pyanaconda_tests/ui_payload_test.py
Labels: master

#2506 subscription: Add the ParseAttachedSubscriptionsTask
  pyanaconda/modules/common/constants/objects.py
  pyanaconda/modules/subscription/runtime.py
  pyanaconda/modules/subscription/subscription.py
  pyanaconda/modules/subscription/subscription_interface.py
  tests/nosetests/pyanaconda_tests/module_subscription_tasks_tests.py
  tests/nosetests/pyanaconda_tests/module_subscription_tests.py
Labels: master

#2510 subscription: Asynchronous registration/unregistration handling
  anaconda.py
  pyanaconda/core/constants.py
  pyanaconda/modules/subscription/subscription.py
  pyanaconda/modules/subscription/subscription_interface.py
  pyanaconda/ui/gui/spokes/subscription.py
  pyanaconda/ui/lib/subscription.py
  tests/nosetests/pyanaconda_tests/module_subscription_tests.py
  tests/nosetests/pyanaconda_tests/subscription_helpers_test.py
Labels: master

#2513 Add the DBus method IsNetworkRequired
  pyanaconda/modules/payloads/payload/payload_base.py
  pyanaconda/modules/payloads/payload/payload_base_interface.py
  pyanaconda/modules/payloads/source/cdrom/cdrom.py
  pyanaconda/modules/payloads/source/harddrive/harddrive.py
  pyanaconda/modules/payloads/source/hmc/hmc.py
  pyanaconda/modules/payloads/source/live_os/live_os.py
  pyanaconda/modules/payloads/source/nfs/nfs.py
  pyanaconda/modules/payloads/source/repo_files/repo_files.py
  pyanaconda/modules/payloads/source/source_base.py
  pyanaconda/modules/payloads/source/url/url.py
  pyanaconda/modules/payloads/source/utils.py
  pyanaconda/payload/dnf/payload.py
  tests/nosetests/pyanaconda_tests/module_payload_base_test.py
  tests/nosetests/pyanaconda_tests/module_source_base_test.py
  tests/nosetests/pyanaconda_tests/module_source_cdrom_test.py
  tests/nosetests/pyanaconda_tests/module_source_harddrive_test.py
  tests/nosetests/pyanaconda_tests/module_source_hmc_test.py
  tests/nosetests/pyanaconda_tests/module_source_live_os_test.py
  tests/nosetests/pyanaconda_tests/module_source_nfs_test.py
  tests/nosetests/pyanaconda_tests/module_source_repo_files_test.py
  tests/nosetests/pyanaconda_tests/module_source_url_test.py
Labels: master

#2512 Change MountingSourceBase to a mixin class
  pyanaconda/modules/common/base/base.py
  pyanaconda/modules/payloads/source/cdrom/cdrom.py
  pyanaconda/modules/payloads/source/hmc/hmc.py
  pyanaconda/modules/payloads/source/live_os/live_os.py
  pyanaconda/modules/payloads/source/nfs/nfs.py
  pyanaconda/modules/payloads/source/source_base.py
  tests/nosetests/pyanaconda_tests/module_source_base_test.py
  tests/nosetests/pyanaconda_tests/module_source_cdrom_test.py
  tests/nosetests/pyanaconda_tests/module_source_hmc_test.py
  tests/nosetests/pyanaconda_tests/module_source_live_os_test.py
  tests/nosetests/pyanaconda_tests/module_source_nfs_test.py
Labels: master

#2505 Pylint 2.5.0 fixes
  pyanaconda/modules/storage/bootloader/base.py
  pyanaconda/modules/subscription/runtime.py
  tests/gui/date_time.py
  tests/gui/keyboard.py
  tests/gui/network.py
  tests/gui/progress.py
  tests/gui/rootpassword.py
  tests/gui/storage.py
  tests/gui/summary.py
  tests/gui/test_reclaim.py
  tests/gui/test_simple.py
  tests/gui/user.py
  tests/gui/welcome.py
Labels: master

#2514 Consistent method ordering for payload sources
  pyanaconda/modules/payloads/source/cdrom/cdrom.py
  pyanaconda/modules/payloads/source/harddrive/harddrive.py
  pyanaconda/modules/payloads/source/hmc/hmc.py
  pyanaconda/modules/payloads/source/live_os/live_os.py
  pyanaconda/modules/payloads/source/nfs/nfs.py
  pyanaconda/modules/payloads/source/repo_files/repo_files.py
  pyanaconda/modules/payloads/source/url/url.py
Labels: master

#2520 Switch call of pip3 to python3 -m pip
  scripts/testing/setup-mock-test-env.py
Labels: master, rhel-8-rebase

#2518 Remove kickstart btrfs support
  pyanaconda/core/kickstart/commands.py
Labels: rhel-8-rebase

#2529 Remove gjs dependency exclude which is no more needed with anaconda-live
  anaconda.spec.in
Labels: master, rhel-8-rebase

#2527 Extend the class DNFPayload
  pyanaconda/payload/base.py
  pyanaconda/payload/dnf/payload.py
Labels: master

#2523 Add functions to set up and tear down of DBus sources
  pyanaconda/ui/lib/payload.py
  tests/nosetests/pyanaconda_tests/ui_payload_test.py
Labels: master

#2524 Extend the objects for parsing the cmdline installation method
  pyanaconda/payload/source/sources.py
  tests/nosetests/pyanaconda_tests/payload_source_test.py
Labels: master

#2519 Rhel 8 rebase rhel8 ks commands
  dracut/parse-kickstart
  pyanaconda/core/kickstart/commands.py
  pyanaconda/core/kickstart/version.py
Labels: rhel-8-rebase

#2528 Remove sphinx test dependency
  docs/conf.py
  scripts/testing/dependency_solver.py
Labels: master, rhel-8-rebase

#2540 Fix of "Remove kickstart btrfs support"
  pyanaconda/core/kickstart/commands.py
Labels: rhel-8-rebase

#2530 subscription: Registration button sensitivity handling
  pyanaconda/ui/gui/spokes/subscription.py
  pyanaconda/ui/lib/subscription.py
  tests/nosetests/pyanaconda_tests/subscription_helpers_test.py
Labels: master

#2532 Change string according to translator comments
  pyanaconda/errors.py
Labels: master

#2547 Update pykickstart version for rhel
  anaconda.spec.in
Labels: rhel-8-rebase

#2539 Add dependency exclude
  scripts/testing/dependency_solver.py
Labels: rhel-8-rebase

#2535 Add exclude to the dependency_solver
  scripts/testing/dependency_solver.py
Labels: master, rhel-8-rebase

#2544 Rhel 8 rebase ignore blivet gui in rpm test
  tests/rpm_tests/create_rpm_test.py
Labels: rhel-8-rebase

#2545 Rhel 8 rebase update branch for running tests
  anaconda.spec.in
  docs/conf.py
  pyanaconda/ui/gui/spokes/blivet_gui.py
  scripts/testing/dependency_solver.py
  scripts/testing/setup-mock-test-env.py
Labels: rhel-8-rebase

#2531 Fix call to super() with missing parameters
  pyanaconda/ui/gui/spokes/subscription.py
Labels: master

#2521 Update the bootloader configuration after live installation
  pyanaconda/payload/live/payload_base.py
Labels: master

#2541 Move removal of blivet-gui in rhel upstream
  anaconda.spec.in
  pyanaconda/ui/gui/spokes/blivet_gui.py
Labels: master, rhel-8-rebase

#2534 Make RHEL the default (fallback) product
  pyanaconda/core/configuration/anaconda.py
Labels: rhel-8-rebase

#2550 Move lxml test dependency from pip to RPM
  scripts/testing/dependency_solver.py
Labels: rhel-8-rebase

#2517 subscription: Show data about attached subscriptions
  data/anaconda-gtk.css
  pyanaconda/ui/gui/spokes/lib/subscription.py
  pyanaconda/ui/gui/spokes/subscription.py
Labels: master

#2542 Implement the DBus methods for working with tasks
  pyanaconda/modules/payloads/payload/dnf/dnf.py
Labels: master

#2549 Move lxml test dependency from pip to RPM
  scripts/testing/dependency_solver.py
Labels: master, rhel-8-rebase

#2551 Use RHEL 8 version of FcoeData kickstart command
  pyanaconda/core/kickstart/commands.py
Labels: rhel-8-rebase

#2556 Call nose python module instead of nosetests binary
  tests/nosetests.sh
Labels: rhel-8-rebase

#2553 Fix the DBus task that sets up the SE/HMC source
  pyanaconda/modules/payloads/source/hmc/initialization.py
Labels: master

#2554 Always protect CD-ROM devices
  pyanaconda/modules/storage/devicetree/model.py
Labels: master

#2511 Mark kickstart commands of RPM sources as useless (1/5)
  pyanaconda/kickstart.py
  pyanaconda/modules/payloads/payloads.py
  tests/nosetests/pyanaconda_tests/module_payload_live_image_test.py
  tests/nosetests/pyanaconda_tests/module_payload_shared.py
Labels: master

#2515 Remove kickstart sources from the class DNFPayload (2/5)
  anaconda.py
  pyanaconda/anaconda.py
  pyanaconda/payload/base.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/dnf/repomd.py
  pyanaconda/payload/live/payload_liveimg.py
  pyanaconda/payload/manager.py
  pyanaconda/startup_utils.py
  tests/nosetests/pyanaconda_tests/payload_test.py
Labels: master

#2533 (3/5) Migrate SourceSwitchHandler to use source modules
  pyanaconda/ui/common.py
  pyanaconda/ui/helpers.py
  pyanaconda/ui/tui/spokes/installation_source.py
Labels: master

#2525 Remove kickstart sources from TUI (4/5)
  pyanaconda/ui/tui/spokes/installation_source.py
Labels: master

#2526 Remove kickstart sources from GUI (5/5)
  pyanaconda/ui/gui/spokes/installation_source.glade
  pyanaconda/ui/gui/spokes/installation_source.py
  pyanaconda/ui/gui/spokes/language_support.py
  pyanaconda/ui/gui/spokes/lib/lang_locale_handler.py
  pyanaconda/ui/gui/spokes/welcome.py
Labels: master

#2538 Avoid imports from blivet.devicefactory
  pyanaconda/core/configuration/storage_constraints.py
  pyanaconda/core/storage.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/lib/custom_storage_helpers.py
Labels: master

#2558 Run the set-up tasks of sources with signals enabled
  pyanaconda/modules/common/task/task.py
  pyanaconda/modules/payloads/base/initialization.py
  tests/nosetests/pyanaconda_tests/module_payloads_test.py
Labels: master

#2560 Small changes in the HDD source
  pyanaconda/modules/payloads/source/harddrive/harddrive.py
  pyanaconda/modules/payloads/source/harddrive/initialization.py
  tests/nosetests/pyanaconda_tests/module_source_harddrive_test.py
Labels: master

#2559 Call nose python module instead of nosetests binary
  tests/nosetests.sh
Labels: master

#2562 Use RHEL8 versions of Url, Repo, RepoData commands
  dracut/parse-kickstart
  pyanaconda/core/kickstart/commands.py
Labels: rhel-8-rebase

#2557 root spoke: set value of root ssh login checkbox from module
  pyanaconda/ui/gui/spokes/root_password.py
Labels: master, rhel-8-rebase

#2555 users module: fix check of existence of admin user
  pyanaconda/modules/users/users.py
Labels: master, rhel-8-rebase

#2563 Require subscription manager on rhel
  anaconda.spec.in
Labels: master, rhel-8-rebase

#2564 Add ignored field to rpm_tests
  tests/rpm_tests/create_rpm_test.py
Labels: master, rhel-8-rebase

#2552 Always clear kickstarted status for GUI time&date spoke (#1665428)
  pyanaconda/ui/gui/spokes/datetime_spoke.py
Labels: master, tracked

#2570 Fix bad GetIsoPath calls of hard drive source module
  pyanaconda/payload/dnf/payload.py
  pyanaconda/ui/gui/spokes/installation_source.py
Labels: master

#2543 Change fedora-welcome to rhel-welcome
  data/liveinst/gnome/Makefile.am
  data/liveinst/gnome/rhel-welcome.desktop
  data/liveinst/gnome/rhel-welcome.js
Labels: rhel-8-rebase

#2566 Use the source proxy to get the device name
  pyanaconda/ui/gui/spokes/installation_source.py
Labels: master

#2572 Fix adding to the protected devices list
  pyanaconda/ui/lib/storage.py
Labels: master

#2575 Resolve traceback when HDD ISO is not found
  pyanaconda/modules/payloads/source/harddrive/initialization.py
Labels: master

#2565 Collect package requirements of the Subscription module
  pyanaconda/installation.py
Labels: master

#2579 Replace SimpleQueue with Queue
  pyanaconda/modules/boss/module_manager/start_modules.py
Labels: rhel-8-rebase

#2580 Set up LANG for tests
  tests/testenv.sh
Labels: master

#2577 Make sure rhsm.service is running at Anaconda startup
  data/systemd/anaconda.target
Labels: rhel-8-rebase

#2578 Use F25_Timezone
  pyanaconda/core/kickstart/commands.py
Labels: rhel-8-rebase

#2574 Fixes in the Source spoke in GUI
  pyanaconda/ui/gui/spokes/installation_source.py
Labels: master

#2581 Revert --ignorebroken - quick and dirty version
  data/anaconda.conf
  data/product.d/rhel.conf
  pyanaconda/core/configuration/payload.py
  pyanaconda/modules/payloads/kickstart.py
  pyanaconda/modules/payloads/packages/packages.py
  pyanaconda/modules/payloads/packages/packages_interface.py
  pyanaconda/payload/dnf/payload.py
Labels: rhel-8-rebase

#2583 Fix the access to a DBus proxy of the Subscription module
  pyanaconda/ui/gui/spokes/subscription.py
Labels: master

#2582 Remove tests for --ignorebroken %packages section option
  tests/nosetests/pyanaconda_tests/module_payload_packages_test.py
Labels: rhel-8-rebase

#2585 Fix iso installation
  pyanaconda/modules/payloads/source/harddrive/initialization.py
  pyanaconda/modules/payloads/source/utils.py
Labels: master, rhel-8-rebase

#2589 Use a specific kickstart version in handle-sshpw
  utils/handle-sshpw
Labels: master

#2588 Create a proxy of the RHSM Config object for a specific interface
  pyanaconda/modules/subscription/initialization.py
  pyanaconda/modules/subscription/rhsm_observer.py
  tests/nosetests/pyanaconda_tests/rhsm_observer_test.py
Labels: master

#2590 Change connection flags for the RHSM private bus
  pyanaconda/modules/subscription/runtime.py
  tests/nosetests/pyanaconda_tests/module_subscription_tasks_tests.py
Labels: master

#2591 Skip the btrfs command if deprecated
  pyanaconda/modules/storage/partitioning/custom/custom_partitioning.py
Labels: master

#2592 subscription: Fix setting username to SubscriptionRequest in GUI
  pyanaconda/ui/gui/spokes/subscription.py
Labels: master, rhel-8-rebase

#2546 Setup RHEL rebuilds to exclude subscription-manager
  data/product.d/centos.conf
  data/product.d/scientific-linux.conf
  tests/nosetests/pyanaconda_tests/product_test.py
Labels: master

#2586 Update tests for move from F32_Timezone to F25_Timezone
  tests/nosetests/pyanaconda_tests/module_timezone_test.py
Labels: rhel-8-rebase

#2569 Fix python3 requires in spec file
  anaconda.spec.in
Labels: master, rhel-8-rebase

#2584 Update required version of blivet
  anaconda.spec.in
Labels: rhel-8-rebase

#2561 Rhel 8 rebase root policy
  pyanaconda/modules/users/users.py
  pyanaconda/ui/gui/spokes/root_password.py
Labels: rhel-8-rebase

#2571 subscription: Initial CDN source switching
  anaconda.py
  pyanaconda/payload/manager.py
  pyanaconda/ui/gui/spokes/subscription.py
  pyanaconda/ui/lib/subscription.py
  tests/nosetests/pyanaconda_tests/subscription_helpers_test.py
Labels: master

#2594 subscription: Fix Insights configuration in GUI
  pyanaconda/ui/gui/spokes/subscription.py
Labels: master, rhel-8-rebase

#2595 subscription: Set RHSM configuration before registration attempt
  pyanaconda/ui/lib/subscription.py
  tests/nosetests/pyanaconda_tests/subscription_helpers_test.py
Labels: master, rhel-8-rebase

#2576 Use platform-python instead of python3
  anaconda.py
  data/command-stubs/list-harddrives-stub
  dracut/driver_updates.py
  dracut/parse-kickstart
  dracut/python-deps
  scripts/anaconda-cleanup
  scripts/anaconda-read-journal
  scripts/instperf
  scripts/start-module
  utils/handle-sshpw
Labels: rhel-8-rebase

#2593 subscription: Fix SystemPurposeData equality checking
  pyanaconda/modules/common/structures/subscription.py
  tests/nosetests/pyanaconda_tests/module_subscription_tests.py
Labels: master, rhel-8-rebase

#2596 subscription: Fix disconnect() for RHSM observer
  pyanaconda/modules/subscription/runtime.py
  tests/nosetests/pyanaconda_tests/module_subscription_tasks_tests.py
Labels: master, rhel-8-rebase

#2599 subscription: Make sure /etc/yum.repos.d exists
  pyanaconda/modules/subscription/initialization.py
Labels: master, rhel-8-rebase

#2600 subscription: Do not pass payload to unregister() helper function
  pyanaconda/ui/gui/spokes/subscription.py
Labels: master, rhel-8-rebase

#2597 subscription: Fix typos related to ParseAttachedSubscriptions task
  pyanaconda/modules/subscription/subscription_interface.py
  pyanaconda/ui/lib/subscription.py
  tests/nosetests/pyanaconda_tests/module_subscription_tests.py
  tests/nosetests/pyanaconda_tests/subscription_helpers_test.py
Labels: master, rhel-8-rebase

#2598 subscription: Only require Insights package if subscribed
  pyanaconda/modules/subscription/subscription.py
  tests/nosetests/pyanaconda_tests/module_subscription_tests.py
Labels: master, rhel-8-rebase

#2601 Master rhel 8 rebase
  anaconda.py
  anaconda.spec.in
  data/anaconda.conf
  data/command-stubs/list-harddrives-stub
  data/liveinst/gnome/Makefile.am
  data/liveinst/gnome/rhel-welcome.desktop
  data/liveinst/gnome/rhel-welcome.js
  data/product.d/rhel.conf
  data/systemd/anaconda.target
  dracut/driver_updates.py
  dracut/parse-kickstart
  dracut/python-deps
  pyanaconda/core/configuration/anaconda.py
  pyanaconda/core/configuration/payload.py
  pyanaconda/core/kickstart/commands.py
  pyanaconda/core/kickstart/version.py
  pyanaconda/modules/boss/module_manager/start_modules.py
  pyanaconda/modules/payloads/kickstart.py
  pyanaconda/modules/payloads/packages/packages.py
  pyanaconda/modules/payloads/packages/packages_interface.py
  pyanaconda/modules/users/users.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/ui/gui/spokes/root_password.py
  scripts/anaconda-cleanup
  scripts/anaconda-read-journal
  scripts/instperf
  scripts/start-module
  scripts/testing/dependency_solver.py
  tests/nosetests/pyanaconda_tests/module_payload_packages_test.py
  tests/nosetests/pyanaconda_tests/module_timezone_test.py
  tests/rpm_tests/create_rpm_test.py
  utils/handle-sshpw
Labels: rhel-8-rebase, rhel8-branch

#2602 Use rhel-8 weblate translation repository
  README.rst
  branch-config.mk
Labels: rhel8-branch

#2603 Fix RHEL tests as much as possible
  pyanaconda/modules/payloads/packages/packages.py
  pyanaconda/modules/storage/kickstart.py
  tests/cppcheck/runcppcheck.sh
  tests/cppcheck/suppression-list.txt
  tests/nosetests/pyanaconda_tests/dbus_test.py
  tests/nosetests/pyanaconda_tests/module_part_blivet_test.py
  tests/nosetests/pyanaconda_tests/module_payload_packages_test.py
  tests/nosetests/pyanaconda_tests/module_users_test.py
Labels: port to Fedora, rhel8-branch

#2607 Fix imports of Blivet-GUI in unit tests
  pyanaconda/ui/gui/spokes/blivet_gui.py
  tests/nosetests/pyanaconda_tests/simple_import_test.py
  tests/nosetests/pyanaconda_tests/simple_ui_test.py
Labels: port to Fedora, rhel8-branch

#2610 Fix adding repository from unified URL source
  pyanaconda/core/payload.py
  pyanaconda/payload/install_tree_metadata.py
  tests/nosetests/pyanaconda_tests/payload_test.py
Labels: rhel-8-rebase, rhel8-branch

#2608 Fix adding repository from unified URL source
  pyanaconda/core/payload.py
  pyanaconda/payload/install_tree_metadata.py
  tests/nosetests/pyanaconda_tests/payload_test.py
Labels: master, rhel-8-rebase

#2609 subscription: Make sure CDN repos are loaded and usable
  pyanaconda/payload/dnf/payload.py
Labels: port to Fedora, rhel8-branch

#2604 subscription: Fix authentication method switching in GUI
  pyanaconda/ui/gui/spokes/subscription.py
Labels: port to Fedora, rhel8-branch

#2612 Update required ack in makebumpver script for rhel > 7
  scripts/makebumpver
Labels: port to Fedora, rhel-8-rebase, rhel8-branch

#2606 Fix string based on translator comments
  pyanaconda/startup_utils.py
Labels: master

#2611 Test fixes from rhel8
  tests/cppcheck/runcppcheck.sh
  tests/cppcheck/suppression-list.txt
Labels: master

#2605 Fix string based on translator comments
  pyanaconda/startup_utils.py
Labels: rhel8-branch

#2613 Fix changelog to keep rhel history
  anaconda.spec.in
Labels: rhel8-branch

#2614 Fixes for the CDROM source
  pyanaconda/payload/dnf/payload.py
  pyanaconda/ui/gui/spokes/installation_source.py
Labels: master, port to RHEL8, rhel-8-rebase

#2616 Fix source tear down
  pyanaconda/modules/payloads/source/mount_tasks.py
  pyanaconda/payload/dnf/repomd.py
  pyanaconda/payload/install_tree_metadata.py
  tests/nosetests/pyanaconda_tests/module_source_base_test.py
Labels: master, port to RHEL8, rhel-8-rebase

#2537 Set up FIPS during the installation
  anaconda.spec.in
  data/systemd/Makefile.am
  data/systemd/anaconda-fips.service
  data/systemd/anaconda-sshd.service
  data/systemd/anaconda.target
  pyanaconda/payload/dnf/payload.py
Labels: port to Fedora, rhel8-branch

#2618 Fixes for the CDROM source
  pyanaconda/modules/payloads/source/mount_tasks.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/dnf/repomd.py
  pyanaconda/payload/install_tree_metadata.py
  pyanaconda/ui/gui/spokes/installation_source.py
  tests/nosetests/pyanaconda_tests/module_source_base_test.py
Labels: rhel-8-rebase, rhel8-branch

#2615 Add back NFS ISO support (ups)
  pyanaconda/modules/payloads/source/harddrive/initialization.py
  pyanaconda/modules/payloads/source/nfs/initialization.py
  pyanaconda/modules/payloads/source/nfs/nfs.py
  pyanaconda/modules/payloads/source/utils.py
  tests/nosetests/pyanaconda_tests/module_payload_dnf_test.py
  tests/nosetests/pyanaconda_tests/module_source_base_test.py
  tests/nosetests/pyanaconda_tests/module_source_harddrive_test.py
  tests/nosetests/pyanaconda_tests/module_source_nfs_test.py
Labels: port to Fedora, rhel8-branch

#2567 RHEL8 help content compatibility
  data/anaconda.conf
  data/product.d/centos.conf
  data/product.d/fedora.conf
  data/product.d/rhel.conf
  data/product.d/scientific-linux.conf
  pyanaconda/core/constants.py
  pyanaconda/ui/gui/__init__.py
  pyanaconda/ui/gui/hubs/summary.py
  pyanaconda/ui/gui/spokes/__init__.py
  pyanaconda/ui/gui/spokes/advanced_storage.py
  pyanaconda/ui/gui/spokes/blivet_gui.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/datetime_spoke.py
  pyanaconda/ui/gui/spokes/installation_progress.py
  pyanaconda/ui/gui/spokes/installation_source.py
  pyanaconda/ui/gui/spokes/keyboard.py
  pyanaconda/ui/gui/spokes/language_support.py
  pyanaconda/ui/gui/spokes/network.py
  pyanaconda/ui/gui/spokes/root_password.py
  pyanaconda/ui/gui/spokes/software_selection.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/gui/spokes/user.py
  pyanaconda/ui/gui/spokes/welcome.py
  pyanaconda/ui/lib/help.py
  pyanaconda/ui/tui/hubs/__init__.py
  pyanaconda/ui/tui/hubs/summary.py
  pyanaconda/ui/tui/spokes/__init__.py
  pyanaconda/ui/tui/spokes/installation_source.py
  pyanaconda/ui/tui/spokes/language_support.py
  pyanaconda/ui/tui/spokes/network.py
  pyanaconda/ui/tui/spokes/root_password.py
  pyanaconda/ui/tui/spokes/software_selection.py
  pyanaconda/ui/tui/spokes/storage.py
  pyanaconda/ui/tui/spokes/time_spoke.py
  pyanaconda/ui/tui/spokes/user.py
  pyanaconda/ui/tui/tuiobject.py
  tests/nosetests/pyanaconda_tests/help_system_tests.py
Labels: rhel-8-rebase

#2622 Create /etc/systemd/network dir for ifname= renaming if needed.
  pyanaconda/modules/network/installation.py
  tests/nosetests/pyanaconda_tests/module_network_test.py
Labels: port to Fedora, rhel8-branch

#2621 Update requirements for fips - update-crypto-policies script
  anaconda.spec.in
Labels: port to Fedora, rhel8-branch
