Repository rhinstaller/anaconda, pull requests merged in 2021-06, with the labels that each got.

#3396 Remove unnecessary package from anaconda-ci container (#infra)
  dockerfile/anaconda-ci/Dockerfile
Labels: infrastructure, master

#3422 Get back requirement of 'inst.' prefix
  anaconda.py
  data/systemd/anaconda-noshell.service
  data/systemd/anaconda-shell@.service
  data/systemd/anaconda-sshd.service
  dracut/anaconda-diskroot
  dracut/anaconda-ks-sendheaders.sh
  dracut/fetch-kickstart-disk
  dracut/kickstart-genrules.sh
  dracut/parse-anaconda-dd.sh
  dracut/parse-anaconda-kickstart.sh
  dracut/parse-anaconda-net.sh
  dracut/parse-anaconda-options.sh
  dracut/parse-anaconda-repo.sh
  pyanaconda/argument_parsing.py
  tests/nosetests/pyanaconda_tests/argparse_test.py
Labels: ready to merge, rhel-9

#3407 Add support for iso creator container
  Makefile.am
  dockerfile/anaconda-ci/github-action-run-once
  dockerfile/anaconda-iso-creator/Dockerfile
  dockerfile/anaconda-iso-creator/lorax-build
  dockerfile/anaconda-iso-creator/rhel-8.repo
Labels: infrastructure, rhel8-branch

#3415 Add rhel-8 kickstart-tests support on PR (#infra)
  .github/workflows/kickstart-tests.yml
Labels: infrastructure, master

#3397 Do not use cache when building containers in tests (#infra)
  .github/workflows/tests.yml
Labels: infrastructure, master

#3318 Clarify the implementation of GetFormatTypeData
  pyanaconda/modules/storage/devicetree/viewer.py
  pyanaconda/modules/storage/devicetree/viewer_interface.py
Labels: master

#3416 Require biosdevname package if biosdevname=1 boot option is set
  pyanaconda/modules/network/network.py
  tests/nosetests/pyanaconda_tests/modules/network/module_network_test.py
Labels: port to Fedora, rhel-9

#3428 Port biosdevname requirement
  pyanaconda/modules/network/network.py
  tests/nosetests/pyanaconda_tests/modules/network/module_network_test.py
Labels: master

#3427 makebumpver: ignore commits with (#infra) in summary
  scripts/makebumpver
Labels: master

#3426 Make clear that team and vlan from ks in initramfs is not supported
  dracut/parse-kickstart
  tests/nosetests/dracut_tests/parse-kickstart_test.py
Labels: master

#3317 Don't allow reformat if the requested file system is unsupported
  pyanaconda/core/constants.py
  pyanaconda/modules/storage/devicetree/utils.py
  pyanaconda/modules/storage/devicetree/viewer.py
  pyanaconda/modules/storage/partitioning/interactive/utils.py
  tests/nosetests/pyanaconda_tests/modules/storage/partitioning/module_scheduler_test.py
Labels: master

#3418 Run tests on every push to a base branch
  .github/workflows/push-tests.yml
Labels: infrastructure

#3417 Move the support for the treeinfo metadata into a DBus module
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
  pyanaconda/modules/payloads/payload/dnf/tree_info.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/image.py
  pyanaconda/payload/install_tree_metadata.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/dnf_tree_info_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_manager_test.py
Labels: master

#3412 Replace the deprecated syspurpose CLI tool with SetSysrpose DBus call
  pyanaconda/modules/subscription/runtime.py
  pyanaconda/modules/subscription/subscription.py
  pyanaconda/modules/subscription/system_purpose.py
  tests/nosetests/pyanaconda_tests/modules/subscription/subscription_tasks_test.py
  tests/nosetests/pyanaconda_tests/modules/subscription/subscription_test.py
Labels: port to Fedora, ready to merge, rhel-9

#3433 Use secrets from the environment not organization (#infra)
  .github/workflows/container-autoupdate.yml
Labels: infrastructure, master

#3432 Reduce permissions for our tests workflow (#infra)
  .github/workflows/tests.yml
Labels: infrastructure, master

#3442 Fix import of Iterable from collections
  tests/nosetests/pyanaconda_tests/core/kernel_test.py
Labels: master

#3430 Apply the bootloader options before the installation
  pyanaconda/modules/storage/bootloader/base.py
  pyanaconda/modules/storage/bootloader/execution.py
  pyanaconda/modules/storage/bootloader/utils.py
  tests/nosetests/pyanaconda_tests/modules/storage/module_bootloader_test.py
Labels: master

#3387 Add suggestions to kickstart error message in liveinst
  data/liveinst/liveinst
  docs/common-bugs.rst
Labels: blocked, master

#3435 Remove unused scripts
  scripts/Makefile.am
  scripts/merge-pr
  scripts/upd-updates
Labels: master, port to RHEL9

#3449 Master port covscan 1
  dracut/kickstart-genrules.sh
  dracut/repo-genrules.sh
  dracut/updates-genrules.sh
  pyanaconda/installation_tasks.py
Labels: master

#3451 Master port covscan 2
  pyanaconda/modules/network/nm_client.py
  pyanaconda/startup_utils.py
Labels: master

#3448 Remove RPM_TESTS_ARGS support
  tests/Makefile.am
  tests/rpm_tests.sh
Labels: master

#3453 Update the pixel depth of xvnc server from 16 to 24
  pyanaconda/vnc.py
Labels: port to Fedora, ready to merge, rhel-9

#3450 Use C.UTF-8 if the requested locale is unsupported (#1958876)
  pyanaconda/localization.py
  pyanaconda/modules/localization/installation.py
  tests/nosetests/pyanaconda_tests/localization_test.py
  tests/nosetests/pyanaconda_tests/modules/localization/module_localization_test.py
Labels: port to Fedora, ready to merge, rhel-9

#3446 Port to RHEL 9: Make it possible to skip install time Insights errors (#1955296)
  pyanaconda/errors.py
  pyanaconda/modules/subscription/installation.py
Labels: ready to merge, rhel-9

#3436 Rhel9 covscan fixes (1)
  dracut/kickstart-genrules.sh
  dracut/repo-genrules.sh
  dracut/updates-genrules.sh
  pyanaconda/installation_tasks.py
Labels: ready to merge, rhel-9

#3437 Rhel9 covscan fixes (2)
  pyanaconda/modules/network/nm_client.py
  pyanaconda/startup_utils.py
Labels: ready to merge, rhel-9

#3455 Rhel9 covscan fixes (3)
  dracut/anaconda-ks-sendheaders.sh
Labels: ready to merge, rhel-9

#3456 Rhel9 covscan fixes (4) - Clean up the initialization of PartTypeSpoke
  pyanaconda/ui/tui/spokes/storage.py
Labels: ready to merge, rhel-9

#3429 Add check for infrastructure PRs (#infra)
  .github/workflows/infra-check.yml
  .structure-config
Labels: infrastructure, master, port to RHEL8, port to RHEL9

#3452 Add the ConfigureBootloaderWithTasks method
  pyanaconda/installation.py
  pyanaconda/modules/boss/boss.py
  pyanaconda/modules/boss/boss_interface.py
  pyanaconda/modules/boss/install_manager/install_manager.py
  pyanaconda/modules/common/base/base.py
  pyanaconda/modules/common/base/base_interface.py
  tests/unit_tests/pyanaconda_tests/modules/boss/test_boss.py
  tests/unit_tests/pyanaconda_tests/modules/common/test_base.py
Labels: master

#3457 Fix typo in release docs
  docs/release.rst
Labels: master

#3458 Master port covscan -3 - Fix broken hashbang
  dracut/anaconda-ks-sendheaders.sh
Labels: master

#3466 Fix infrastructure check
  .github/workflows/infra-check.yml
  .structure-config
Labels: infrastructure, master

#3463 Change the Python version to 3.10 in the makeupdates script
  scripts/makeupdates
Labels: master

#3454 Clean up the initialization of PartTypeSpoke
  pyanaconda/ui/tui/spokes/storage.py
Labels: master

#3467 Fix name of the infra check workflow task (#infra)
  .github/workflows/infra-check.yml
Labels: infrastructure, master

#3447 Enable running container tests in parallel
  Makefile.am
Labels: master

#3431 Use yescrypt hashing method for shadow passwords
  pyanaconda/core/users.py
  pyanaconda/modules/common/structures/user.py
  pyanaconda/modules/security/security_interface.py
  tests/unit_tests/pyanaconda_tests/modules/security/test_module_security.py
Labels: master

#3470 Update the pixel depth of xvnc server from 16 to 24
  pyanaconda/vnc.py
Labels: master

#3444 Port to Fedora: Make it possible to skip install time Insights errors (#1931069)
  pyanaconda/errors.py
  pyanaconda/modules/subscription/installation.py
Labels: master

#3469 Fix time setting for daylight savings, let Python do the work
  dockerfile/anaconda-ci/Dockerfile
  pyanaconda/isys/__init__.py
  tests/unit_tests/pyanaconda_tests/test_timezone.py
Labels: master

#3424 Use the RHEL 9 handler for kickstart parsing (#1961087)
  anaconda.spec.in
  dracut/parse-kickstart
  pyanaconda/core/kickstart/commands.py
  pyanaconda/core/kickstart/version.py
  pyanaconda/modules/storage/kickstart.py
Labels: ready to merge, rhel-9

#3474 Revert "ovirt / rhv: drop swap partition"
  data/product.d/ovirt.conf
  data/product.d/rhvh.conf
  tests/unit_tests/pyanaconda_tests/test_product.py
Labels: master
