Repository rhinstaller/anaconda, pull requests merged in 2021-12, with the labels that each got.

#3730 Enable the pytest assert introspection in the helper functions
  tests/unit_tests/__init__.py
Labels: master

#3717 The OPAL compatibility with XFS features is mandatory (#2008792)
  pyanaconda/modules/storage/checker/utils.py
  tests/nosetests/pyanaconda_tests/modules/storage/module_storage_checker_test.py
Labels: port to Fedora, rhel-9, ready to merge

#3729 Fix Source0 in spec to point to upstream source URL
  anaconda.spec.in
Labels: master

#3689 Add changelog to GH releases
  .github/workflows/tag-release.yml
Labels: master, infrastructure

#3709 Master dracut shellcheck level 2
  .structure-config
  dracut/.shellcheckrc
  dracut/anaconda-copy-prefixdevname.sh
  dracut/anaconda-depmod.sh
  dracut/anaconda-diskroot
  dracut/anaconda-ks-sendheaders.sh
  dracut/anaconda-lib.sh
  dracut/anaconda-modprobe.sh
  dracut/anaconda-pre-shutdown.sh
  dracut/fetch-driver-net.sh
  dracut/kickstart-genrules.sh
  dracut/module-setup.sh
  dracut/parse-anaconda-kickstart.sh
  dracut/parse-anaconda-net.sh
  dracut/parse-anaconda-options.sh
  dracut/parse-anaconda-repo.sh
  dracut/save-initramfs.sh
Labels: master

#3478 Rhel 9 fix centos stream repo name
  pyanaconda/core/constants.py
Labels: rhel-9, ready to merge

#3732 Remove the %anaconda section
  docs/kickstart.rst
  docs/release-notes/anaconda-section-removed.rst
  dracut/parse-kickstart
  pyanaconda/kickstart.py
  pyanaconda/modules/boss/kickstart_manager/parser.py
  tests/unit_tests/pyanaconda_tests/modules/boss/test_kickstart_dispatcher.py
  utils/handle-sshpw
Labels: master

#3731 Deprecate the ANA_INSTALL_PATH environment variable
  docs/release-notes/ana-install-path-deprecated.rst
  pyanaconda/core/util.py
Labels: master

#3735 Add a page with overview of CI actions
  docs/ci-status.rst
  docs/index.rst
Labels: f36

#3734 Remove the container build badge from README (#infra)
  README.rst
Labels: f36

#3737 Fix generation of commit range for release notes (#infra)
  .github/workflows/tag-release.yml
Labels: infrastructure

#3740 Fix reset of DBus containers in the unit tests
  tests/unit_tests/pyanaconda_tests/__init__.py
  tests/unit_tests/pyanaconda_tests/modules/storage/partitioning/test_module_part_interactive.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_storage.py
Labels: f36

#3733 Clean up the task for the checksum verification
  pyanaconda/modules/payloads/payload/live_image/installation.py
  pyanaconda/payload/live/payload_liveimg.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_live.py
Labels: f36

#3743 Quote things for ShellCheck
  data/systemd/anaconda-generator
Labels: f36

#3742 Shellcheckify liveinst scripts
  data/liveinst/liveinst
  data/liveinst/liveinst-setup.sh
Labels: f36

#3738 Introduce a download path to simplify the image payload code
  pyanaconda/modules/payloads/payload/live_image/installation.py
  pyanaconda/payload/live/payload_liveimg.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_live.py
Labels: f36

#3749 Fix boot options generated by the dracut module
  dracut/parse-kickstart
  tests/unit_tests/dracut_tests/test_parse_kickstart.py
Labels: manual testing required, rhel-9, ready to merge

#3744 Remove upd-kernel
  scripts/Makefile.am
  scripts/upd-kernel
Labels: f36

#3751 Fix ShellCheck issues in translation_canary
  translation-canary/tests/project-tests/test_projects.sh
Labels: f36

#3750 network: always use rd.iscsi.ibft when the need to access an iBFT device
  pyanaconda/modules/network/network.py
  pyanaconda/modules/network/nm_client.py
  tests/unit_tests/pyanaconda_tests/modules/network/test_module_network_nm_client.py
Labels: f36

#3748 Remove the dracut_args attribute
  pyanaconda/modules/storage/bootloader/base.py
Labels: f36

#3752 Retire execInSysroot
  pyanaconda/core/util.py
  pyanaconda/modules/network/firewall/installation.py
  pyanaconda/modules/storage/bootloader/efi.py
  pyanaconda/modules/storage/bootloader/extlinux.py
  pyanaconda/modules/storage/bootloader/grub2.py
  pyanaconda/modules/storage/bootloader/installation.py
  tests/unit_tests/pyanaconda_tests/modules/network/test_module_network.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_bootloader.py
Labels: f36

#3741 Do not try to load the floppy kernel module
  dracut/anaconda-modprobe.sh
Labels: f36

#3758 Fix too shallow clone in release action (#infra)
  .github/workflows/tag-release.yml
Labels: infrastructure

#3757 Remove the support for image installations from the liveinst script
  data/liveinst/liveinst
Labels: f36

#3747 Remove the base_repo property
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/manager.py
  pyanaconda/ui/gui/spokes/installation_source.py
  pyanaconda/ui/gui/spokes/software_selection.py
  pyanaconda/ui/tui/spokes/installation_source.py
  pyanaconda/ui/tui/spokes/software_selection.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf_manager.py
Labels: f36

#3760 Fix typo in debug print in network part
  pyanaconda/modules/network/network.py
Labels: f36

#3756 Move service util functions to new module
  pyanaconda/anaconda_logging.py
  pyanaconda/core/service.py
  pyanaconda/core/util.py
  pyanaconda/modules/services/installation.py
  pyanaconda/modules/subscription/initialization.py
  pyanaconda/modules/timezone/installation.py
  pyanaconda/startup_utils.py
  pyanaconda/ui/gui/spokes/datetime_spoke.py
  pyanaconda/ui/gui/spokes/lib/ntp_dialog.py
  tests/unit_tests/pyanaconda_tests/core/test_services.py
  tests/unit_tests/pyanaconda_tests/core/test_util.py
  tests/unit_tests/pyanaconda_tests/modules/subscription/test_rhsm_observer.py
  tests/unit_tests/pyanaconda_tests/modules/timezone/test_module_timezone.py
Labels: f36

#3746 Add ShellCheck to unit tests
  .shellcheckrc
  dockerfile/anaconda-ci/Dockerfile
  dracut/.shellcheckrc
  dracut/fetch-driver-net.sh
  dracut/parse-anaconda-options.sh
  tests/Makefile.am
  tests/shellcheck/ignores.sh
  tests/shellcheck/run_shellcheck.sh
Labels: port to RHEL9, f36

#3754 Use local spec file for container build
  Makefile.am
  dockerfile/anaconda-ci/Dockerfile
  dockerfile/anaconda-iso-creator/Dockerfile
  dockerfile/anaconda-rhel-copr/Dockerfile
  dockerfile/anaconda-rpm/Dockerfile
Labels: infrastructure, f36
