Repository rhinstaller/anaconda, pull requests merged in 2021-08, with the labels that each got.

#3554 tests: Fix failing ClearPartTestCase with latest blivet
  tests/unit_tests/pyanaconda_tests/modules/storage/test_clearpart.py
Labels: master

#3531 Don't add a prefix to the dependabot pull requests (#infra)
  .github/dependabot.yml
Labels: infrastructure, master

#3546 Rhel 9 improve dracut errors visibility
  anaconda.py
  dracut/Makefile.am
  dracut/anaconda-error-reporting.sh
  dracut/anaconda-lib.sh
  dracut/anaconda-netroot.sh
  dracut/fetch-driver-net.sh
  dracut/fetch-kickstart-disk
  dracut/fetch-kickstart-net.sh
  dracut/module-setup.sh
  dracut/parse-anaconda-kickstart.sh
  dracut/parse-anaconda-options.sh
  dracut/parse-anaconda-repo.sh
  pyanaconda/core/constants.py
  pyanaconda/startup_utils.py
  tests/nosetests/pyanaconda_tests/core/test_startup_utils.py
Labels: notable change, ready to merge, rhel-9

#3535 Disable anaconda-core's requirement on subscription-manager on CentOS
  anaconda.spec.in
Labels: ready to merge, rhel-9

#3512 Rhel 9 disable built in help system for now
  data/product.d/rhel.conf
  pyanaconda/ui/gui/__init__.py
  pyanaconda/ui/gui/spokes/language_support.py
  pyanaconda/ui/gui/spokes/welcome.py
  pyanaconda/ui/tui/tuiobject.py
Labels: port to Fedora, ready to merge, rhel-9

#3488 Fix generating of iscsi dracut arguments
  pyanaconda/modules/storage/bootloader/base.py
  pyanaconda/modules/storage/iscsi/iscsi.py
  tests/nosetests/pyanaconda_tests/module_iscsi_test.py
Labels: ready to merge, rhel8-branch

#3382 Show suggestions for an error caused by inconsistent sector sizes (#1935722)
  anaconda.spec.in
  pyanaconda/modules/storage/constants.py
  pyanaconda/modules/storage/partitioning/base_partitioning.py
  pyanaconda/modules/storage/partitioning/interactive/add_device.py
  pyanaconda/modules/storage/partitioning/interactive/change_device.py
Labels: ready to merge, rhel8-branch

#3477 Use a custom stylesheet to define CentOS-specific stylesheet data
  data/product.d/centos-stream.conf
Labels: ready to merge, rhel8-branch

#3495 Move post installation scripts to the end of queue (#1970879)
  pyanaconda/installation.py
Labels: ready to merge, rhel8-branch

#3498 Use RHEL help content for RHV/Ovirt (#1915910)
  data/product.d/ovirt.conf
  data/product.d/rhev.conf
Labels: ready to merge, rhel8-branch

#3534 Disable anaconda-core's requirement on subscription-manager on CentOS
  anaconda.spec.in
Labels: ready to merge, rhel8-branch

#3550 Fix typo in docstring
  pyanaconda/ui/gui/helpers.py
Labels: master

#3551 Fix admin user password condition handling in TUI
  pyanaconda/ui/tui/spokes/user.py
Labels: master

#3434 Add brltty to boot.iso
  anaconda.spec.in
  data/systemd/anaconda.target
  docs/release-notes/brltty.rst
Labels: master, notable change

#3558 Fix dependency on zram-generator in RHEL
  anaconda.spec.in
Labels: master, port to RHEL9

#3563 Remove blivet daily builds from Anaconda dailies (#infra)
  .packit.yml
Labels: master, infrastructure

#3561 Don't set default of gpt option at cmdline parsing
  pyanaconda/argument_parsing.py
  pyanaconda/core/configuration/anaconda.py
Labels: master

#3564 Remove blivet COPR repository from ELN containers (#infra)
  dockerfile/anaconda-ci/Dockerfile
  dockerfile/anaconda-rpm/Dockerfile
Labels: master, infrastructure

#3511 Change the root password spoke GUI design
  docs/release-notes/root-spoke.rst
  pyanaconda/ui/gui/spokes/root_password.glade
  pyanaconda/ui/gui/spokes/root_password.py
Labels: master, notable change

#3538 Change the NTP server dialog design
  pyanaconda/ui/gui/spokes/datetime_spoke.glade
  pyanaconda/ui/gui/spokes/lib/ntp_dialog.glade
  pyanaconda/ui/gui/spokes/lib/ntp_dialog.py
Labels: master, notable change

#3532 Bump codecov/codecov-action from 1 to 2 (#infra)
  .github/workflows/push-tests.yml
  .github/workflows/tests.yml
Labels: master, infrastructure

#3566 Add release notes for NTP dialog change
  docs/release-notes/ntp-dialog.rst
Labels: master

#3570 Fix issues from new pylint 2.10.2
  docs/conf.py
  pyanaconda/core/users.py
  pyanaconda/exception.py
  pyanaconda/ui/tui/__init__.py
  pyanaconda/ui/tui/tuiobject.py
  tests/pylint/pylintrc
  tests/pylint/runpylint.py
  tests/unit_tests/pyanaconda_tests/core/test_util.py
Labels: master, infrastructure

#3567 Improve the pytest output
  pyanaconda/core/util.py
  tests/unit_tests.sh
  tests/unit_tests/pyanaconda_tests/core/test_configuration.py
  tests/unit_tests/pyanaconda_tests/test_password_quality.py
Labels: master

#3569 fsset: Ignore all swap activation errors in turn_on_swap
  pyanaconda/modules/storage/devicetree/fsset.py
Labels: master

#3556 Move post installation scripts to the end of queue
  pyanaconda/installation.py
Labels: rhel-9, ready to merge

#3565 Check source type directly, not via DBus
  pyanaconda/ui/gui/spokes/subscription.py
Labels: port to Fedora, rhel-9, ready to merge

#3557 Don't run shell on every found virtualization console
  data/systemd/anaconda-generator
  scripts/makeupdates
Labels: master

#3440 Cleanup unneeded nfs repo mount with rd.live.ram
  dracut/Makefile.am
  dracut/anaconda-nfsrepo-cleanup.sh
  dracut/module-setup.sh
Labels: master, f35

#3573 Enable COPR build for Fedora 35
  .packit.yml
Labels: master, infrastructure

#3583 Print progress dots on one line in TUI
  pyanaconda/ui/tui/spokes/installation_progress.py
Labels: master
