Repository rhinstaller/anaconda, pull requests merged in 2021-03, with the labels that each got.

#3184 Make the user interface context safe for the initial setup
  anaconda.py
  pyanaconda/ui/context.py
  pyanaconda/ui/gui/spokes/installation_source.py
  pyanaconda/ui/gui/spokes/language_support.py
  pyanaconda/ui/gui/spokes/software_selection.py
  pyanaconda/ui/tui/spokes/installation_source.py
  pyanaconda/ui/tui/spokes/software_selection.py
Labels: f34, master

#3187 Add the GetKernelVersionList method
  pyanaconda/modules/common/errors/general.py
  pyanaconda/modules/payloads/payload/live_os/live_os.py
  pyanaconda/modules/payloads/payload/live_os/live_os_interface.py
  pyanaconda/modules/payloads/payload/payload_base.py
  pyanaconda/modules/payloads/payload/payload_base_interface.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_base_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_live_os_test.py
Labels: master

#3190 Add support for tear-down of the payload modules
  pyanaconda/modules/payloads/payload/payload_base.py
  pyanaconda/modules/payloads/payloads.py
  tests/nosetests/pyanaconda_tests/modules/payloads/module_payloads_test.py
Labels: master

#3206 Choose the best locale more carefully (#1933384)
  pyanaconda/ui/gui/spokes/welcome.py
Labels: f34, master

#3160 Master wrap misc. labels
  pyanaconda/ui/gui/spokes/welcome.glade
  widgets/src/SpokeSelector.c
Labels: f34, master

#3202 Conscious language blacklist 1
  docs/boot-options.rst
  docs/rescue.rst
  dracut/parse-anaconda-options.sh
  pyanaconda/modules/payloads/base/initialization.py
  pyanaconda/modules/payloads/base/utils.py
  tests/nosetests/pyanaconda_tests/modules/payloads/module_payload_base_utils_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/module_payloads_test.py
  tests/pylint/pylintrc
Labels: master

#3203 conscious lang: rename /etc/modprobe.d/anaconda-blacklist.conf
  pyanaconda/modules/payloads/base/utils.py
  tests/nosetests/pyanaconda_tests/modules/payloads/module_payload_base_utils_test.py
Labels: master

#3210 F34 devel fix owner tests
  .github/workflows/tests-owners.yml
Labels: f34, infrastructure, master

#3214 Fix copypaste typo in github owner tests
  .github/workflows/tests-owners.yml
Labels: f34, infrastructure, master

#3208 Handle exceptions inside the CopyBootloaderDataTask class
  pyanaconda/modules/payloads/payload/rpm_ostree/installation.py
  pyanaconda/payload/rpmostreepayload.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/rpm_ostree_tasks_test.py
Labels: master

#3213 change the grub2 user.cfg permission from 0700 to 0600
  pyanaconda/modules/storage/bootloader/grub2.py
Labels: master

#3209 Create a task for tearing down OSTree mount targets
  pyanaconda/modules/payloads/payload/rpm_ostree/installation.py
  pyanaconda/payload/rpmostreepayload.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/rpm_ostree_tasks_test.py
Labels: master

#3211 Extend the DBus API of the Payloads service
  pyanaconda/modules/payloads/base/initialization.py
  pyanaconda/modules/payloads/base/utils.py
  pyanaconda/modules/payloads/installation.py
  pyanaconda/modules/payloads/payload/dnf/dnf.py
  pyanaconda/modules/payloads/payload/live_image/live_image.py
  pyanaconda/modules/payloads/payload/live_os/live_os.py
  pyanaconda/modules/payloads/payload/payload_base.py
  pyanaconda/modules/payloads/payload/payload_base_interface.py
  pyanaconda/modules/payloads/payload/rpm_ostree/rpm_ostree.py
  pyanaconda/modules/payloads/payloads.py
  pyanaconda/modules/payloads/payloads_interface.py
  pyanaconda/payload/base.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/rpmostreepayload.py
  tests/nosetests/pyanaconda_tests/modules/payloads/module_payload_base_utils_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/module_payloads_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_base_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_live_image_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_live_os_test.py
Labels: master

#3215 Build new crun version for ELN container refresh
  .github/workflows/container-autoupdate.yml
Labels: infrastructure, master

#3204 Conscious language master slave
  pyanaconda/modules/network/device_configuration.py
  pyanaconda/modules/network/initialization.py
  pyanaconda/modules/network/nm_client.py
  pyanaconda/network.py
  pyanaconda/ui/gui/spokes/advanced_storage.py
  pyanaconda/ui/gui/spokes/network.glade
  pyanaconda/ui/gui/spokes/network.py
  tests/nosetests/pyanaconda_tests/modules/network/module_network_nm_client_test.py
  tests/nosetests/pyanaconda_tests/modules/network/module_network_test.py
Labels: master

#3205 conscious lang: replace slaves with ports in network GUI
  pyanaconda/ui/gui/spokes/network.glade
Labels: master, notable change

#3217 Introduce the PayloadInstallationError exception
  pyanaconda/errors.py
  pyanaconda/modules/common/errors/installation.py
  pyanaconda/modules/common/errors/payload.py
  pyanaconda/modules/payloads/base/installation.py
  pyanaconda/modules/payloads/payload/live_image/installation.py
  pyanaconda/modules/payloads/payload/rpm_ostree/flatpak_installation.py
  pyanaconda/modules/payloads/payload/rpm_ostree/flatpak_manager.py
  pyanaconda/modules/payloads/payload/rpm_ostree/installation.py
  pyanaconda/payload/errors.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_live_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/rpm_ostree_flatpak_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/rpm_ostree_tasks_test.py
Labels: master

#3216 Split the packages configuration data
  pyanaconda/modules/common/structures/packages.py
  pyanaconda/modules/common/structures/payload.py
  pyanaconda/modules/payloads/payload/dnf/dnf.py
  pyanaconda/modules/payloads/payload/dnf/dnf_interface.py
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
  pyanaconda/modules/payloads/payload/dnf/installation.py
  pyanaconda/modules/payloads/payload/dnf/utils.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/ui/gui/spokes/software_selection.py
  pyanaconda/ui/tui/spokes/software_selection.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_installation_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_manager_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_utils_test.py
Labels: master

#3225 Remove crun version abort for container refresh workflow
  .github/workflows/container-autoupdate.yml
Labels: infrastructure, master

#3218 Hide members of the DNF payload
  pyanaconda/payload/dnf/payload.py
Labels: master

#3220 Remove container refresh workaround for ELN
  .github/workflows/container-autoupdate.yml
Labels: infrastructure, master

#3222 Fix contributor tests
  .github/workflows/tests-contributors.yml
Labels: infrastructure, master

#3227 Use the volume UUID to search for the GRUB config in btrfs partitions
  pyanaconda/modules/storage/bootloader/efi.py
Labels: f34, master

#3226 network: remove unneeded line wrap
  pyanaconda/ui/gui/spokes/network.glade
Labels: master

#3221 Drop python3-syspurpose dependency
  anaconda.spec.in
Labels: f34, master

#3224 ostree: ignore exit code 65 for systemd-tmpfiles
  pyanaconda/payload/rpmostreepayload.py
Labels: port to Fedora, rhel8-branch, tracked

#3241 consicous lang: fix a fallout of slave -> port patch
  pyanaconda/ui/gui/spokes/network.py
Labels: master

#3236 Add logging for iSCSI / FCoE dracut arguments
  pyanaconda/modules/storage/bootloader/base.py
  pyanaconda/modules/storage/fcoe/fcoe.py
  pyanaconda/modules/storage/iscsi/iscsi.py
Labels: master

#3219 Fix unknown error when entering wrong NFS URL address
  pyanaconda/ui/gui/spokes/installation_source.py
Labels: manual testing required, master, tracked

#3234 Use the RPM OSTree module to install the payload
  pyanaconda/anaconda.py
  pyanaconda/modules/payloads/payload/live_os/live_os.py
  pyanaconda/modules/payloads/payload/payload_base.py
  pyanaconda/modules/payloads/payload/rpm_ostree/flatpak_installation.py
  pyanaconda/modules/payloads/payload/rpm_ostree/installation.py
  pyanaconda/modules/payloads/payload/rpm_ostree/rpm_ostree.py
  pyanaconda/modules/payloads/source/rpm_ostree/rpm_ostree.py
  pyanaconda/payload/rpmostreepayload.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/rpm_ostree_tasks_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/rpm_ostree_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/source/source_rpm_ostree_test.py
Labels: master

#3231 Use tasks for downloading and installing packages
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
  pyanaconda/modules/payloads/payload/dnf/download_progress.py
  pyanaconda/modules/payloads/payload/dnf/installation.py
  pyanaconda/modules/payloads/payload/dnf/transaction_progress.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/dnf/utils.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_installation_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_manager_test.py
Labels: master

#3243 Drop astroid hotfix patch
  dockerfile/anaconda-ci/Dockerfile
Labels: infrastructure, rhel8-branch

#3233 Handle the module command in the Payloads module
  pyanaconda/kickstart.py
  pyanaconda/modules/common/structures/packages.py
  pyanaconda/modules/payloads/kickstart.py
  pyanaconda/modules/payloads/payload/dnf/dnf.py
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
  pyanaconda/modules/payloads/payload/factory.py
  pyanaconda/payload/dnf/payload.py
  tests/nosetests/pyanaconda_tests/modules/payloads/module_payloads_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_manager_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_test.py
Labels: master

#3239 IOError cleanup
  dracut/driver_updates.py
  dracut/parse-kickstart
  pyanaconda/anaconda_logging.py
  pyanaconda/argument_parsing.py
  pyanaconda/core/configuration/base.py
  pyanaconda/core/kernel.py
  pyanaconda/core/startup/dbus_launcher.py
  pyanaconda/core/util.py
  pyanaconda/exception.py
  pyanaconda/isys/__init__.py
  pyanaconda/localization.py
  pyanaconda/modules/localization/installation.py
  pyanaconda/modules/network/installation.py
  pyanaconda/modules/payloads/installation.py
  pyanaconda/modules/security/installation.py
  pyanaconda/modules/storage/bootloader/efi.py
  pyanaconda/modules/storage/devicetree/root.py
  pyanaconda/modules/storage/installation.py
  pyanaconda/modules/subscription/system_purpose.py
  pyanaconda/modules/timezone/installation.py
  pyanaconda/ntp.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/install_tree_metadata.py
  pyanaconda/payload/live/payload_liveimg.py
  pyanaconda/rescue.py
  pyanaconda/ui/gui/__init__.py
  scripts/analog
  scripts/githooks/pre-commit
  scripts/makebumpver
  scripts/merge-pr
  tests/nosetests/pyanaconda_tests/core/util_test.py
Labels: master

#3244 ostree: ignore exit code 65 for systemd-tmpfiles
  pyanaconda/modules/payloads/payload/rpm_ostree/installation.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/rpm_ostree_tasks_test.py
Labels: master

#3247 Use a custom stylesheet to define Fedora-specific stylesheet data
  data/product.d/fedora.conf
Labels: master

#3232 Move the code for space and location requirements
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
  pyanaconda/modules/payloads/payload/dnf/installation.py
  pyanaconda/modules/payloads/payload/dnf/utils.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/dnf/repomd.py
  pyanaconda/payload/dnf/utils.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_installation_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_manager_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_utils_test.py
  tests/nosetests/pyanaconda_tests/payload_test.py
Labels: master

#3252 Fix crash in NTP servers GUI dialog on late network configuration
  pyanaconda/ui/gui/spokes/datetime_spoke.py
Labels: rhel8-branch

#3251 Check if the mount point exists before calling statvfs (#1824357)
  pyanaconda/payload/live/payload_base.py
Labels: f34, master

#3249 Create /tmp with the right permissions (#1937626)
  pyanaconda/modules/storage/devicetree/fsset.py
  tests/nosetests/pyanaconda_tests/modules/storage/module_storage_test.py
Labels: f34, master

#3253 Fix the warning about working NTP servers (#1889180)
  pyanaconda/ntp.py
  pyanaconda/ui/gui/spokes/datetime_spoke.py
Labels: f34, master

#3250 Clean up the dependencies (#1938132)
  anaconda.spec.in
Labels: f34, master

#3254 Don't automatically execute the default partitioning
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/tui/spokes/storage.py
Labels: f34, master

#3242 KS test workflow groups
  .github/workflows/kickstart-tests.yml
Labels: infrastructure, master

#3257 Fix setting of ipv6 addr gen mode
  pyanaconda/modules/network/initialization.py
  pyanaconda/modules/network/nm_client.py
  pyanaconda/ui/tui/spokes/network.py
Labels: rhel8-branch

#3246 network: clone connections from intramfs to persistent config
  pyanaconda/modules/network/initialization.py
  pyanaconda/modules/network/nm_client.py
Labels: rhel8-branch

#3258 network: match also connections named by MAC created by NM in initramfs
  pyanaconda/core/regexes.py
  pyanaconda/modules/network/initialization.py
Labels: port to Fedora, rhel8-branch

#3248 Document SSH root password login issues & possible workaround
  docs/common-bugs.rst
Labels: master

#3237 Make failure in generating of dracut arguments for iSCSI device non-f…
  pyanaconda/modules/storage/iscsi/iscsi.py
  tests/nosetests/pyanaconda_tests/modules/storage/module_iscsi_test.py
Labels: master

#3265 Update unit test for GetDracutArguments for FCoE
  tests/nosetests/pyanaconda_tests/modules/storage/module_fcoe_test.py
Labels: master

#3264 network: match also connections named by MAC created by NM in initramfs
  pyanaconda/core/regexes.py
  pyanaconda/modules/network/initialization.py
  tests/nosetests/regex_tests/initamfs_con_name_test.py
Labels: f34, master

#3269 Make the scale visible by default (#1943370)
  pyanaconda/ui/gui/spokes/lib/resize.glade
  pyanaconda/ui/gui/spokes/lib/resize.py
Labels: f34, master
