Repository rhinstaller/anaconda, pull requests merged in 2021-09, with the labels that each got.

#3582 Remove default values for Dockerfile arguments (#infra)
  dockerfile/anaconda-ci/Dockerfile
  dockerfile/anaconda-iso-creator/Dockerfile
  dockerfile/anaconda-rhel-copr/Dockerfile
  dockerfile/anaconda-rpm/Dockerfile
Labels: master, infrastructure

#3584 Replace nosave flags with conf
  anaconda.py
  data/anaconda.conf
  pyanaconda/argument_parsing.py
  pyanaconda/core/configuration/anaconda.py
  pyanaconda/core/configuration/target.py
  pyanaconda/flags.py
  pyanaconda/installation.py
  tests/unit_tests/pyanaconda_tests/test_argparse.py
Labels: master

#3589 Add missing apostrophe to suggestion
  pyanaconda/modules/storage/constants.py
Labels: master

#3588 Fix Removed options inst.[product|variant] were subsections
  docs/boot-options.rst
Labels: master, f35

#3576 Define a unique id in the main spokes and hubs
  pyanaconda/ui/common.py
  pyanaconda/ui/gui/hubs/summary.py
  pyanaconda/ui/gui/spokes/advanced_storage.py
  pyanaconda/ui/gui/spokes/blivet_gui.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/datetime_spoke.py
  pyanaconda/ui/gui/spokes/installation_progress.py
  pyanaconda/ui/gui/spokes/installation_source.py
  pyanaconda/ui/gui/spokes/keyboard.py
  pyanaconda/ui/gui/spokes/language_support.py
  pyanaconda/ui/gui/spokes/network.py
  pyanaconda/ui/gui/spokes/root_password.py
  pyanaconda/ui/gui/spokes/software_selection.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/gui/spokes/subscription.py
  pyanaconda/ui/gui/spokes/user.py
  pyanaconda/ui/gui/spokes/welcome.py
  pyanaconda/ui/tui/hubs/summary.py
  pyanaconda/ui/tui/spokes/installation_progress.py
  pyanaconda/ui/tui/spokes/installation_source.py
  pyanaconda/ui/tui/spokes/kernel_warning.py
  pyanaconda/ui/tui/spokes/language_support.py
  pyanaconda/ui/tui/spokes/network.py
  pyanaconda/ui/tui/spokes/root_password.py
  pyanaconda/ui/tui/spokes/shell_spoke.py
  pyanaconda/ui/tui/spokes/software_selection.py
  pyanaconda/ui/tui/spokes/storage.py
  pyanaconda/ui/tui/spokes/time_spoke.py
  pyanaconda/ui/tui/spokes/unsupported_hardware.py
  pyanaconda/ui/tui/spokes/user.py
  tests/unit_tests/pyanaconda_tests/ui/test_simple_ui.py
Labels: master, port to RHEL9

#3571 Copy logs in a task
  anaconda.py
  data/post-scripts/99-copy-logs.ks
  data/post-scripts/Makefile.am
  pyanaconda/installation.py
  pyanaconda/modules/boss/boss.py
  pyanaconda/modules/boss/boss_interface.py
  pyanaconda/modules/boss/installation.py
  tests/unit_tests/pyanaconda_tests/modules/boss/test_boss.py
  tests/unit_tests/pyanaconda_tests/modules/boss/test_copy_logs_task.py
Labels: master

#3485 Add Satellite registration support
  pyanaconda/core/constants.py
  pyanaconda/errors.py
  pyanaconda/modules/common/errors/installation.py
  pyanaconda/modules/common/errors/subscription.py
  pyanaconda/modules/subscription/constants.py
  pyanaconda/modules/subscription/initialization.py
  pyanaconda/modules/subscription/installation.py
  pyanaconda/modules/subscription/runtime.py
  pyanaconda/modules/subscription/satellite.py
  pyanaconda/modules/subscription/subscription.py
  pyanaconda/modules/subscription/subscription_interface.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/dnf/repomd.py
  pyanaconda/payload/dnf/utils.py
  pyanaconda/ui/gui/spokes/installation_source.py
  pyanaconda/ui/gui/spokes/subscription.glade
  pyanaconda/ui/gui/spokes/subscription.py
  pyanaconda/ui/lib/subscription.py
  tests/nosetests/pyanaconda_tests/modules/subscription/satellite_test.py
  tests/nosetests/pyanaconda_tests/modules/subscription/subscription_tasks_test.py
  tests/nosetests/pyanaconda_tests/modules/subscription/subscription_test.py
  tests/nosetests/pyanaconda_tests/modules/subscription/system_purpose_test.py
  tests/nosetests/pyanaconda_tests/subscription_helpers_test.py
Labels: port to Fedora, rhel-9, ready to merge

#3593 Remove misleading warning about inst.ks.device replacing ksdevice
  dracut/parse-anaconda-options.sh
Labels: rhel8-branch, ready to merge

#3591 Remove misleading warning about inst.ks.device replacing ksdevice
  dracut/parse-anaconda-net.sh
  dracut/parse-anaconda-options.sh
Labels: port to Fedora, rhel-9, ready to merge

#3596 Few tweaks to `inst.ks.all` doc
  docs/boot-options.rst
Labels: master

#3605 Stop using distutils to compare kernel versions
  anaconda.spec.in
  pyanaconda/modules/payloads/base/utils.py
Labels: master

#3606 The NTP server dialog without entries shouldn't crash (#2001591)
  pyanaconda/ui/gui/spokes/lib/ntp_dialog.py
Labels: master, f35

#3608 Fix boolean comparisons in asserts
  tests/unit_tests/pyanaconda_tests/__init__.py
  tests/unit_tests/pyanaconda_tests/core/test_configuration.py
  tests/unit_tests/pyanaconda_tests/core/test_profile.py
  tests/unit_tests/pyanaconda_tests/core/test_util.py
  tests/unit_tests/pyanaconda_tests/modules/boss/test_kickstart.py
  tests/unit_tests/pyanaconda_tests/modules/boss/test_kickstart_dispatcher.py
  tests/unit_tests/pyanaconda_tests/modules/boss/test_modules.py
  tests/unit_tests/pyanaconda_tests/modules/common/test_policy.py
  tests/unit_tests/pyanaconda_tests/modules/common/test_services.py
  tests/unit_tests/pyanaconda_tests/modules/common/test_tasks.py
  tests/unit_tests/pyanaconda_tests/modules/localization/test_module_localization.py
  tests/unit_tests/pyanaconda_tests/modules/network/test_module_network.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_dnf_tree_info.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf_manager.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_cdrom.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_flatpak.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_harddrive.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_hmc.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_live_image.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_live_os.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_nfs.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_repo_files.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_rpm_ostree.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_url.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/test_module_payloads.py
  tests/unit_tests/pyanaconda_tests/modules/security/test_module_security.py
  tests/unit_tests/pyanaconda_tests/modules/storage/partitioning/test_module_part_automatic.py
  tests/unit_tests/pyanaconda_tests/modules/storage/partitioning/test_module_part_custom.py
  tests/unit_tests/pyanaconda_tests/modules/storage/partitioning/test_module_part_specification.py
  tests/unit_tests/pyanaconda_tests/modules/storage/partitioning/test_module_resizable.py
  tests/unit_tests/pyanaconda_tests/modules/storage/partitioning/test_module_scheduler.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_bootloader.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_dasd.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_device_tree.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_disk_select.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_fcoe.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_iscsi.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_nvdimm.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_snapshot.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_storage.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_zfcp.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_storage_checker.py
  tests/unit_tests/pyanaconda_tests/modules/subscription/test_subscription.py
  tests/unit_tests/pyanaconda_tests/modules/timezone/test_module_timezone.py
  tests/unit_tests/pyanaconda_tests/modules/users/test_module_users.py
  tests/unit_tests/pyanaconda_tests/test_argparse.py
  tests/unit_tests/pyanaconda_tests/test_kickstart_specification.py
  tests/unit_tests/pyanaconda_tests/test_subscription_helpers.py
  tests/unit_tests/pyanaconda_tests/ui/test_software.py
Labels: master

#3568 Add multi organization account support
  pyanaconda/modules/common/errors/subscription.py
  pyanaconda/modules/common/structures/subscription.py
  pyanaconda/modules/subscription/runtime.py
  pyanaconda/modules/subscription/subscription.py
  pyanaconda/modules/subscription/subscription_interface.py
  pyanaconda/ui/gui/spokes/subscription.glade
  pyanaconda/ui/gui/spokes/subscription.py
  pyanaconda/ui/lib/subscription.py
  tests/nosetests/pyanaconda_tests/modules/subscription/subscription_tasks_test.py
  tests/nosetests/pyanaconda_tests/modules/subscription/subscription_test.py
  tests/nosetests/pyanaconda_tests/subscription_helpers_test.py
Labels: port to Fedora, rhel-9, ready to merge

#3604 Add AlmaLinux profile (master)
  data/profile.d/almalinux.conf
  tests/unit_tests/pyanaconda_tests/core/test_profile.py
Labels: master

#3602 Set hostname also from ip= static configuration without device (#1988…
  pyanaconda/network.py
  tests/unit_tests/pyanaconda_tests/test_network.py
Labels: master, f35

#3611 Do not stretch NTP toggle in GUI
  pyanaconda/ui/gui/spokes/datetime_spoke.glade
Labels: master, f35

#3613 Set an upper bound to entered sizes (#1992585)
  pyanaconda/core/constants.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/lib/custom_storage_helpers.py
Labels: master, f35

#3614 Revert "Install kbd-legacy if keyboard layout is "fi" (#1955793)"
  pyanaconda/modules/localization/localization.py
  tests/unit_tests/pyanaconda_tests/modules/localization/test_module_localization.py
Labels: master

#3612 Fix task to copy logs
  pyanaconda/modules/boss/installation.py
  tests/unit_tests/pyanaconda_tests/modules/boss/test_copy_logs_task.py
Labels: master

#3577 data/profile.d: Add profiles for KDE & Kinoite Spins
  data/profile.d/fedora-kde.conf
  data/profile.d/fedora-kinoite.conf
  tests/unit_tests/pyanaconda_tests/core/test_profile.py
Labels: master

#3615 Clarify that the software selection doesn't affect the Anaconda configuration
  docs/configuration-files.rst
Labels: master

#3600 Generate LVM devices file
  data/post-scripts/70-generate-lvm-device-file.ks
  data/post-scripts/Makefile.am
Labels: tracked, urgent, rhel-9, ready to merge

#3598 Verify the OPAL compatibility with XFS features (#1997832)
  pyanaconda/modules/storage/checker/utils.py
  tests/nosetests/pyanaconda_tests/modules/storage/module_storage_checker_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/storage_checker_test.py
Labels: port to Fedora, rhel-9, ready to merge

#3616 Do not crash if restorecon is missing on target system
  pyanaconda/modules/boss/installation.py
  tests/unit_tests/pyanaconda_tests/modules/boss/test_copy_logs_task.py
Labels: master

#3595 Enable ELN ~smoke tests~ COPR builds again (#infra)
  .packit.yml
Labels: master, infrastructure

#3617 Payload should wait for all storage related threads to finish
  pyanaconda/payload/manager.py
Labels: port to Fedora, rhel8-branch, port to RHEL9, ready to merge

#3625 Use curl-minimal instead of curl in dockerfiles (#infra)
  dockerfile/anaconda-ci/Dockerfile
  dockerfile/anaconda-rpm/Dockerfile
Labels: port to Fedora, infrastructure, rhel-9

#3620 Verify the OPAL compatibility with XFS features
  pyanaconda/modules/storage/checker/utils.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_storage_checker.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_storage_checker.py
Labels: master

#3621 Fix deprecation warning about Gdk.Cursor.new
  pyanaconda/ui/gui/utils.py
Labels: master

#3622 Update Rawhide release docs to state of the art as of Fedora 35
  docs/release.rst
Labels: master

#3609 Document workaround MGA G200e graphics card
  docs/common-bugs.rst
Labels: master

#3607 Use sysconfig in dracut directly, not via distutils
  dracut/python-deps
Labels: master

#3633 In installer environment set static, not transient hostname
  pyanaconda/modules/network/network.py
  tests/unit_tests/pyanaconda_tests/modules/network/test_module_network.py
Labels: master, f35
