Repository rhinstaller/anaconda, pull requests merged in 2021-02, with the labels that each got.

#3134 Upate repo url for kickstart tests run on PR
  .github/workflows/kickstart-tests.yml
Labels: master

#3131 Master organize nosetests 4
  tests/nosetests/pyanaconda_tests/modules/network/__init__.py
  tests/nosetests/pyanaconda_tests/modules/network/module_network_config_file_test.py
  tests/nosetests/pyanaconda_tests/modules/network/module_network_nm_client_test.py
  tests/nosetests/pyanaconda_tests/modules/network/module_network_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/module_payload_base_utils_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/module_payloads_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_base_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_installation_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_manager_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_requirements_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_utils_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_factory_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_live_image_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_live_os_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_live_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_shared.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/rpm_ostree_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/source/__init__.py
  tests/nosetests/pyanaconda_tests/modules/payloads/source/source_base_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/source/source_cdn_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/source/source_cdrom_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/source/source_closest_mirror_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/source/source_factory_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/source/source_harddrive_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/source/source_hmc_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/source/source_live_image_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/source/source_live_os_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/source/source_nfs_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/source/source_repo_files_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/source/source_rpm_ostree_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/source/source_url_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/source/source_utils_test.py
  tests/nosetests/pyanaconda_tests/modules/security/__init__.py
  tests/nosetests/pyanaconda_tests/modules/security/module_security_test.py
  tests/nosetests/pyanaconda_tests/modules/storage/partitioning/module_part_specification_test.py
  tests/nosetests/pyanaconda_tests/modules/users/__init__.py
  tests/nosetests/pyanaconda_tests/modules/users/module_users_test.py
Labels: master

#3130 Mark the rhsm and syspurpose kickstart commands as useless (#1921787)
  pyanaconda/kickstart.py
Labels: port to Fedora, rhel8-branch

#3121 Fix getting kernel version list for liveimg
  pyanaconda/modules/payloads/payload/live_image/utils.py
  pyanaconda/payload/live/payload_liveimg.py
Labels: port to Fedora, rhel8-branch

#3059 Adjust RHV-H product config to match real implementation
  data/product.d/ovirt.conf
  data/product.d/rhvh.conf
  tests/nosetests/pyanaconda_tests/product_test.py
Labels: master

#3133 Don't initialize the software selection if the payload is not set up (#1916114)
  pyanaconda/ui/gui/spokes/software_selection.py
  pyanaconda/ui/tui/spokes/software_selection.py
Labels: master

#3139 [CentOS] Take dnf substitutions from installer environment configuration
  pyanaconda/payload/dnf/payload.py
Labels: port to Fedora, rhel8-branch

#3138 Fix exclude arguments of tar payload extracting.
  pyanaconda/modules/payloads/payload/live_image/installation.py
  pyanaconda/payload/live/payload_liveimg.py
Labels: port to Fedora, rhel8-branch

#3126 Add a metapackage for image dependencies
  anaconda.spec.in
Labels: master, tracked

#3137 Fix getting kernel version list for liveimg
  pyanaconda/modules/payloads/payload/live_image/utils.py
Labels: master

#3143 Take dnf substitutions from installer environment configuration
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
Labels: master

#3148 Use redirector for rawhide repository for iso building on PR
  .github/workflows/kickstart-tests.yml
Labels: master

#3150 Do not use redirector for rawhide repository for iso building on PR
  .github/workflows/kickstart-tests.yml
Labels: master

#3147 Add support for non-critical installation errors
  pyanaconda/errors.py
  pyanaconda/modules/common/errors/installation.py
Labels: master

#3145 Don't run a canceled task
  pyanaconda/modules/common/task/task.py
  tests/nosetests/pyanaconda_tests/modules/common/tasks_test.py
Labels: master

#3142 Fix exclude arguments of tar payload extracting.
  pyanaconda/modules/payloads/payload/live_image/installation.py
  pyanaconda/payload/live/payload_liveimg.py
Labels: master

#3151 Unify GRUB configuration file location across all platforms
  pyanaconda/modules/storage/bootloader/efi.py
  pyanaconda/modules/storage/bootloader/utils.py
  tests/nosetests/pyanaconda_tests/modules/storage/module_bootloader_test.py
Labels: master

#3104 Move flatpak installation code to a task
  pyanaconda/anaconda.py
  pyanaconda/modules/payloads/payload/rpm_ostree/flatpak_initialization.py
  pyanaconda/modules/payloads/payload/rpm_ostree/flatpak_installation.py
  pyanaconda/modules/payloads/payload/rpm_ostree/flatpak_manager.py
  pyanaconda/payload/rpmostreepayload.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/flatpak_manager_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/rpm_ostree_flatpak_test.py
  tests/nosetests/pyanaconda_tests/payload_test.py
Labels: master

#3136 Remove support for no inst prefix
  anaconda.py
  data/systemd/anaconda-noshell.service
  data/systemd/anaconda-shell@.service
  data/systemd/anaconda-sshd.service
  dracut/anaconda-diskroot
  dracut/anaconda-ks-sendheaders.sh
  dracut/fetch-kickstart-disk
  dracut/kickstart-genrules.sh
  dracut/parse-anaconda-dd.sh
  dracut/parse-anaconda-kickstart.sh
  dracut/parse-anaconda-net.sh
  dracut/parse-anaconda-options.sh
  dracut/parse-anaconda-repo.sh
  pyanaconda/argument_parsing.py
  tests/nosetests/pyanaconda_tests/argparse_test.py
Labels: master

#3135 Warn on invalid host name in kickstart (#1897514)
  pyanaconda/modules/network/kickstart.py
  tests/nosetests/pyanaconda_tests/modules/network/module_network_test.py
Labels: master, tracked

#3154 Modify spec file to add patches required on rhel-9 rebuild (#1907566)
  anaconda.spec.in
Labels: master

#3152 Install support for non-ascii keyboard layouts (#1919483)
  pyanaconda/modules/localization/localization.py
  tests/nosetests/pyanaconda_tests/modules/localization/module_localization_test.py
Labels: master

#3158 Set volume id for iso built for kickstart test
  .github/workflows/kickstart-tests.yml
Labels: master

#3127 Create real updates images
  anaconda.py
  data/liveinst/liveinst
  pyanaconda/argument_parsing.py
  pyanaconda/core/constants.py
  pyanaconda/core/util.py
  pyanaconda/modules/payloads/constants.py
  pyanaconda/modules/payloads/payload/dnf/installation.py
  pyanaconda/product.py
  pyanaconda/startup_utils.py
  pyanaconda/ui/gui/__init__.py
  pyanaconda/ui/tui/__init__.py
  scripts/apply-updates
  scripts/makeupdates
  scripts/restart-anaconda
  scripts/start-module
  tests/nosetests/__init__.py
  tests/nosetests/pyanaconda_tests/__init__.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_installation_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_manager_test.py
Labels: master, notable change

#3144 Remove deprecated support for add-ons
  anaconda.py
  pyanaconda/addons.py
  pyanaconda/anaconda.py
  pyanaconda/installation.py
  pyanaconda/kickstart.py
  pyanaconda/startup_utils.py
  pyanaconda/ui/lib/addons.py
Labels: master, notable change

#3146 Don't run installation tasks of add-ons in a meta task
  pyanaconda/installation.py
  pyanaconda/modules/boss/boss.py
  pyanaconda/modules/boss/boss_interface.py
  pyanaconda/modules/boss/install_manager/install_manager.py
  pyanaconda/modules/common/task/meta.py
  pyanaconda/modules/common/typing.py
  tests/nosetests/pyanaconda_tests/modules/boss/boss_test.py
  tests/nosetests/pyanaconda_tests/modules/boss/install_test.py
Labels: master

#3153 network: wrap IP addresses showed in GUI for wireless devices (#1925781)
  pyanaconda/ui/gui/spokes/network.glade
Labels: master

#3155 Guess the default product name from the os-release files
  anaconda.py
  pyanaconda/core/configuration/anaconda.py
  tests/nosetests/pyanaconda_tests/core/configuration_test.py
Labels: master

#3149 Add dependabot support for GitHub actions
  .github/dependabot.yml
Labels: master

#3164 Rename pyanaconda.modules.common.typing
  pyanaconda/modules/boss/boss_interface.py
  pyanaconda/modules/common/custom_typing.py
Labels: f34, master

#3162 Add missing space to a message
  pyanaconda/core/constants.py
Labels: master

#3163 Create swap by default in RHEL-based installations (#1915297)
  data/product.d/rhel.conf
  tests/nosetests/pyanaconda_tests/product_test.py
Labels: f34, master

#3156 Add a kickstart specification for the main process
  pyanaconda/core/kickstart/commands.py
  pyanaconda/kickstart.py
  tests/nosetests/pyanaconda_tests/kickstart_specification_test.py
Labels: f34, master

#3165 Adapt Packit configuration to a newly branched Fedora
  .packit.yml
Labels: f34

#3171 Improve Packit configuration to use fedora-development
  .packit.yml
Labels: f34, master

#3049 Use Linux HOST_NAME_MAX hostname length limit
  pyanaconda/network.py
  tests/nosetests/pyanaconda_tests/network_test.py
Labels: f34, master

#3168 Do not hard-require zram-generator-default on RHEL just yet
  anaconda.spec.in
Labels: f34, master

#3166 Save lorax-packages.log to installed system
  data/post-scripts/99-copy-logs.ks
Labels: f34

#3174 Drop astroid hotfix patch
  dockerfile/anaconda-ci/Dockerfile
Labels: master

#3172 Drop mock-related variables from Makefile
  Makefile.am
Labels: f34, master

#3175 Drop astroid hotfix patch
  dockerfile/anaconda-ci/Dockerfile
Labels: f34, master

#3173 Don't block the start of the Network module by the hostname service
  pyanaconda/modules/network/network.py
  tests/nosetests/pyanaconda_tests/modules/network/module_network_test.py
Labels: f34, master

#3176 Drop unused Makefile variables
  Makefile.am
Labels: f34, infrastructure, master

#2684 Add table of branches to README
  CONTRIBUTING.rst
Labels: master

#3169 Switch branches for branched f34
  Makefile.am
  branch-config.mk
  dockerfile/anaconda-ci/Dockerfile
  dockerfile/anaconda-rpm/Dockerfile
  docs/release.rst
Labels: f34, infrastructure, master

#3058 ovirt: rebase on CentOS Stream
  data/product.d/ovirt.conf
  tests/nosetests/pyanaconda_tests/product_test.py
Labels: f34, master

#3179 Use a custom stylesheet to define RHEL-specific stylesheet data
  data/product.d/rhel.conf
Labels: f34, master

#3185 Add support for f34 and eln branches to container refresh workflow
  .github/workflows/container-autoupdate.yml
Labels: infrastructure, manual testing required, master

#3181 multiple fixes for packit
  .packit.yml
  configure.ac
Labels: infrastructure, master

#3186 Do not try to push latest from ELN tag
  .github/workflows/container-autoupdate.yml
Labels: infrastructure, master

#3177 [Storage] add btrfs_compression option (#1928857)
  anaconda.spec.in
  data/anaconda.conf
  data/product.d/fedora.conf
  pyanaconda/core/configuration/storage.py
  pyanaconda/modules/storage/initialization.py
Labels: f34, master

#3188 Add support for anaconda-rpm containers to refresh workflow
  .github/workflows/container-autoupdate.yml
Labels: infrastructure, manual testing required, master

#3189 Enable our and blivet COPR repositories for rpm tests
  Makefile.am
  dockerfile/anaconda-rpm/Dockerfile
Labels: f34, infrastructure, master

#3191 Add container push for rpm containers
  Makefile.am
Labels: f34, infrastructure, master

#3192 Remove interactive parameter from container-rpm-test
  Makefile.am
Labels: f34, infrastructure, master

#3193 Use docker as container engine for time required
  .github/workflows/container-autoupdate.yml
Labels: infrastructure, master

#3194 Use older Ubuntu for container auto-update workflow
  .github/workflows/container-autoupdate.yml
Labels: infrastructure, master

#3182 Don't translate prompt keys (#1892830)
  pyanaconda/ui/tui/hubs/__init__.py
  pyanaconda/ui/tui/hubs/summary.py
  pyanaconda/ui/tui/spokes/__init__.py
  pyanaconda/ui/tui/spokes/askvnc.py
  pyanaconda/ui/tui/spokes/installation_source.py
  pyanaconda/ui/tui/spokes/language_support.py
  pyanaconda/ui/tui/spokes/network.py
  pyanaconda/ui/tui/spokes/software_selection.py
  pyanaconda/ui/tui/spokes/storage.py
  pyanaconda/ui/tui/spokes/time_spoke.py
Labels: f34, master

#3183 Add the "Encrypt my data" checkbox to the custom partitioning spoke
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/lib/accordion.py
Labels: f34, master, notable change

#3195 Fix RHEL zram conditional in spec file
  anaconda.spec.in
Labels: f34, master

#3180 vconsole font selection to cover more langs
  pyanaconda/modules/localization/installation.py
  tests/nosetests/pyanaconda_tests/modules/localization/module_localization_test.py
Labels: f34, manual testing required, master

#3200 Pylint updates
  pyanaconda/core/configuration/storage.py
  pyanaconda/core/configuration/storage_constraints.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/manager.py
  tests/nosetests/pyanaconda_tests/modules/boss/modules_test.py
  tests/pylint/runpylint.py
Labels: f34, master

#3197 Determine GRUB directory relative path to use in config file
  pyanaconda/modules/storage/bootloader/efi.py
Labels: f34, master

#3199 The network spoke should be visible in live spins (#1932961)
  pyanaconda/ui/gui/spokes/network.py
Labels: f34, master
