Repository rhinstaller/anaconda, pull requests merged in 2021-05, with the labels that each got.

#3326 Remove support for some of the buildstamp options
  data/liveinst/liveinst
  pyanaconda/core/constants.py
  pyanaconda/product.py
Labels: master

#3312 Document the workaround for missing options of the repo command
  docs/common-bugs.rst
Labels: master

#3325 Enable closest mirror in CentOS Stream config
  data/product.d/centos-stream.conf
Labels: master

#3298 Check software selection in tasks
  pyanaconda/errors.py
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
  pyanaconda/modules/payloads/payload/dnf/installation.py
  pyanaconda/modules/payloads/payload/dnf/utils.py
  pyanaconda/modules/payloads/payload/dnf/validation.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/errors.py
  pyanaconda/ui/gui/spokes/software_selection.py
  pyanaconda/ui/tui/spokes/software_selection.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/dnf_validation_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_installation_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_manager_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_utils_test.py
Labels: master

#3307 Replace metacity with gnome-kiosk
  anaconda.spec.in
  data/window-manager/config/Makefile.am
  data/window-manager/config/org.gnome.metacity.gschema.override
  pyanaconda/display.py
Labels: master

#3331 Adapt localization part of Makefile to RHEL-9 (#infra)
  branch-config.mk
Labels: infrastructure, rhel-9

#3328 Revert "Modify spec file to add patches required on rhel-9 rebuild (#…
  anaconda.spec.in
Labels: rhel-9

#3333 Make sure rhsm.service is running at Anaconda startup
  data/systemd/anaconda.target
Labels: rhel-9

#3336 Adapt CI on RHEL-9 branch
  .github/workflows/container-autoupdate.yml
  .github/workflows/daily-rhel-copr.yml
  .github/workflows/kickstart-tests.yml
  .github/workflows/tests-contributors.yml
  .github/workflows/tests.yml
  .packit.yml
  branch-config.mk
  dockerfile/anaconda-ci/Dockerfile
  dockerfile/anaconda-ci/eln.repo
  dockerfile/anaconda-ci/github-action-run-once
  dockerfile/anaconda-ci/rhel-9.repo
  dockerfile/anaconda-rpm/Dockerfile
  dockerfile/anaconda-rpm/eln.repo
  dockerfile/anaconda-rpm/rhel-9.repo
Labels: infrastructure, rhel-9

#3308 Document too little memory for LUKS setup
  docs/common-bugs.rst
Labels: master

#3332 Update makebumpver for rhel9
  scripts/makebumpver
Labels: infrastructure, port to Fedora, rhel-9

#3319 The kernel boot argument sshd is removed and should warn user
  dracut/parse-anaconda-options.sh
Labels: master, port to RHEL9

#3345 Small fixups of metacity replacement.
  anaconda.py
  pyanaconda/display.py
Labels: master

#3340 Port update makebumpver for rhel9 to fedora
  scripts/makebumpver
Labels: master

#3343 The kernel boot argument sshd is removed and should warn user
  dracut/parse-anaconda-options.sh
Labels: rhel-9

#3338 Clean DNF to make the anaconda-rpm container smaller (#infra)
  dockerfile/anaconda-rpm/Dockerfile
Labels: infrastructure, master

#3341 Master drop workflow podman fail hotfix
  .github/workflows/container-autoupdate.yml
  .github/workflows/tests.yml
Labels: infrastructure, master

#3314 Add base repo name for CentOS Stream after repository renaming
  pyanaconda/core/constants.py
Labels: master

#3342 Add the load_repository method to the DNF manager
  pyanaconda/modules/common/errors/payload.py
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/errors.py
  pyanaconda/payload/manager.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_manager_test.py
Labels: master

#3348 Rhel 9 port Xorg start fix
  pyanaconda/core/util.py
  pyanaconda/display.py
Labels: rhel-9

#3330 subscription: allow dates in ISO 8601 format (port to RHEL 9)
  pyanaconda/modules/subscription/runtime.py
  tests/nosetests/pyanaconda_tests/modules/subscription/subscription_tasks_test.py
Labels: rhel-9

#3350 Add the repositories property to the DNF manager
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/ui/gui/spokes/installation_source.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_manager_test.py
Labels: master

#3349 Remove comments about ConditionArchitecture
  data/systemd/anaconda-direct.service
  data/systemd/anaconda-sshd.service
  data/systemd/anaconda-tmux@.service
Labels: master

#3339 Remove github-action-run-once script from anaconda-ci (#infra)
  dockerfile/anaconda-ci/Dockerfile
  dockerfile/anaconda-ci/github-action-run-once
Labels: infrastructure, master

#3351 Simplify the code for kickstart repositories
  pyanaconda/payload/dnf/payload.py
  pyanaconda/ui/gui/spokes/installation_source.py
Labels: master

#3321 Move post installation scripts to the end of queue for RHV-H
  pyanaconda/installation.py
Labels: master

#3359 Do not use pip cache when building containers (#infra)
  dockerfile/anaconda-ci/Dockerfile
  dockerfile/anaconda-rpm/Dockerfile
Labels: infrastructure, master

#3201 Add common bug with incomplete VG because of ignoredisk
  docs/common-bugs.rst
Labels: master

#3364 Fix boot options generated by the dracut module
  dracut/parse-kickstart
  tests/nosetests/dracut_tests/parse-kickstart_test.py
Labels: master

#3358 Revert "Use GitHub environment gating for kstests workflow" (#infra)
  .github/workflows/kickstart-tests.yml
Labels: infrastructure, master

#3360 Deduplicate dependency metapackages
  anaconda.spec.in
Labels: master

#3365 RHEL 8 Xorg timeout fix
  pyanaconda/core/util.py
  pyanaconda/display.py
Labels: rhel8-branch

#3293 Avoid a race condition during Connect to Red Hat spoke initialization
  pyanaconda/ui/gui/spokes/subscription.py
Labels: port to Fedora, port to RHEL9, rhel8-branch

#3361 Add support for repomd.xml hashes to the DNF manager
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
  pyanaconda/modules/payloads/payload/dnf/utils.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/dnf/repomd.py
  pyanaconda/payload/manager.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_manager_test.py
  tests/nosetests/pyanaconda_tests/payload_test.py
Labels: master

#3356 Move NTP server dialog to its own file
  pyanaconda/ui/gui/spokes/datetime_spoke.py
  pyanaconda/ui/gui/spokes/lib/ntp_dialog.py
Labels: master

#3366 Tweak dependabot configuration - or not?
  .github/dependabot.yml
Labels: infrastructure, master

#3375 Make the coverage status about tests informational
  .codecov.yml
Labels: infrastructure, master

#3367 Use .codecov.yml from the main branch
  .codecov.yml
Labels: infrastructure, master

#3370 Change logic in NFS validation
  pyanaconda/ui/gui/spokes/installation_source.py
Labels: master

#3167 Migrate from pytz to zoneinfo, list (close to) all time zones
  anaconda.spec.in
  pyanaconda/isys/__init__.py
  pyanaconda/timezone.py
Labels: f34, master, notable change

#3353 makebumpver: ignore commits with (#infra) in summary
  scripts/makebumpver
Labels: rhel-9

#3376 Support also gnome-kiosk window manager
  anaconda.py
  pyanaconda/display.py
Labels: rhel-9

#3373 network: check NM availability before running some methods (#1937185)
  pyanaconda/modules/network/network.py
Labels: master

#3311 Update dracut parse kickstart tests
  tests/nosetests/dracut_tests/parse-kickstart_test.py
Labels: master

#3368 Avoid a race condition during Connect to Red Hat spoke initialization
  pyanaconda/ui/gui/spokes/subscription.py
Labels: master

#3198 Clarify how branches are merged back for contributors to pick a target
  CONTRIBUTING.rst
Labels: master

#3381 Use daily builds for ELN containers
  .packit.yml
  dockerfile/anaconda-ci/Dockerfile
  dockerfile/anaconda-rpm/Dockerfile
Labels: infrastructure, master

#3313 Add base repo name for CentOS Stream after repository renaming
  pyanaconda/core/constants.py
Labels: port to Fedora, rhel8-branch

#3299 subscription: allow dates in ISO 8601 format
  pyanaconda/modules/subscription/runtime.py
  tests/nosetests/pyanaconda_tests/module_subscription_tasks_tests.py
Labels: manual testing required, rhel8-branch

#3369 Avoid a race condition during Connect to Red Hat spoke initialization
  pyanaconda/ui/gui/spokes/subscription.py
Labels: rhel-9

#3372 Populate the missing keyboard values before the payload installation
  pyanaconda/installation.py
Labels: master

#3344 Install kbd-legacy if keyboard layout is "fi" (#1955793)
  pyanaconda/modules/localization/localization.py
  tests/nosetests/pyanaconda_tests/modules/localization/module_localization_test.py
Labels: master

#3374 Show mount points for other types of actions (#1953134)
  pyanaconda/modules/storage/devicetree/viewer.py
  tests/nosetests/pyanaconda_tests/modules/storage/module_device_tree_test.py
Labels: master

#3379 Add the "Encrypt my data" checkbox to the custom partitioning spoke (#1903786)
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/lib/accordion.py
Labels: port to Fedora, rhel8-branch

#3380 Allow encryption of thin logical volumes (#1877777)
  pyanaconda/modules/storage/partitioning/interactive/utils.py
Labels: rhel8-branch

#3393 Add iso-creator container image to RHEL-9 branch
  Makefile.am
  dockerfile/anaconda-iso-creator/Dockerfile
  dockerfile/anaconda-iso-creator/lorax-build
  dockerfile/anaconda-iso-creator/rhel-9.repo
Labels: infrastructure, rhel-9

#3390 Remove the configuration file for Fedora Workstation Live
  data/liveinst/liveinst
  data/product.d/fedora-silverblue.conf
  data/product.d/fedora-workstation-live.conf
  data/product.d/fedora-workstation.conf
  tests/nosetests/pyanaconda_tests/product_test.py
Labels: master

#3394 Change the description of "Encrypt my data" in the custom partitioning spoke
  pyanaconda/ui/gui/spokes/lib/accordion.py
Labels: master

#3377 Add a log message for successful installation
  pyanaconda/installation.py
Labels: master, port to RHEL8, port to RHEL9

#3384 network: do not crash on team without IP config
  pyanaconda/modules/network/ifcfg.py
Labels: rhel8-branch

#3378 Don't automatically execute the default partitioning (#1954408)
  pyanaconda/ui/common.py
  pyanaconda/ui/gui/hubs/__init__.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/tui/hubs/summary.py
  pyanaconda/ui/tui/spokes/storage.py
Labels: rhel8-branch

#3315 Add CentOS Stream config
  data/product.d/centos-stream.conf
  data/product.d/centos.conf
  tests/nosetests/pyanaconda_tests/product_test.py
Labels: rhel8-branch

#3401 Use modinfo to check ko before modprobe
  dracut/anaconda-modprobe.sh
Labels: rhel8-branch

#3389 Remove the configuration file for CentOS Linux
  data/product.d/centos-stream.conf
  data/product.d/centos.conf
  tests/nosetests/pyanaconda_tests/product_test.py
Labels: master

#3398 Drop the "Allow SSH root login with password" checkbox (#1855736)
  pyanaconda/modules/users/installation.py
  pyanaconda/modules/users/users.py
  pyanaconda/modules/users/users_interface.py
  pyanaconda/ui/gui/spokes/root_password.glade
  pyanaconda/ui/gui/spokes/root_password.py
  tests/nosetests/pyanaconda_tests/modules/users/module_users_test.py
Labels: port to Fedora, rhel-9

#3404 Add a log message for successful installation (RHEL 8 port)
  pyanaconda/installation.py
Labels: rhel8-branch

#3405 Add a log message for successful installation (RHEL 9 port)
  pyanaconda/installation.py
Labels: rhel-9

#3406 Add RHEL-9 kickstart tests support
  .github/workflows/kickstart-tests.yml
Labels: infrastructure, master

#3411 Revert "Drop the "Allow SSH root login with password" checkbox (#1855…
  pyanaconda/modules/users/installation.py
  pyanaconda/modules/users/users.py
  pyanaconda/modules/users/users_interface.py
  pyanaconda/ui/gui/spokes/root_password.glade
  pyanaconda/ui/gui/spokes/root_password.py
  tests/nosetests/pyanaconda_tests/modules/users/module_users_test.py
Labels: rhel-9

#3400 Remove support for metacity
  anaconda.spec.in
  data/window-manager/config/Makefile.am
  data/window-manager/config/org.gnome.metacity.gschema.override
  pyanaconda/display.py
Labels: rhel-9

#3395 Infrastructure fixes on rhel-9 branch
  .github/workflows/tests.yml
  dockerfile/anaconda-ci/rhel-9.repo
Labels: infrastructure, rhel-9

#3410 Update a rhbz tag in spec file (#infra)
  anaconda.spec.in
Labels: rhel8-branch

#3409 Update makebumpver for current process
  scripts/makebumpver
Labels: rhel8-branch

#3386 Introduce the docs/release-notes directory
  CONTRIBUTING.rst
  docs/release-notes/template.rst
Labels: master

#3323 Fixed some more PEP8 issues in installation.py
  pyanaconda/installation.py
Labels: master
