Repository rhinstaller/anaconda, pull requests merged in 2021-04, with the labels that each got.

#3259 Create the substitute method
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
  pyanaconda/payload/dnf/payload.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_manager_test.py
Labels: master

#3273 Add the default_environment property to the DNF manager
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
  pyanaconda/modules/payloads/payload/dnf/utils.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/ui/gui/spokes/software_selection.py
  pyanaconda/ui/tui/spokes/software_selection.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_manager_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_utils_test.py
Labels: master

#3274 Add the is_cdn_registration_required function
  pyanaconda/ui/gui/spokes/software_selection.py
  pyanaconda/ui/lib/subscription.py
  tests/nosetests/pyanaconda_tests/subscription_helpers_test.py
Labels: master

#3272 Add DBus structures for comps data
  pyanaconda/modules/common/errors/payload.py
  pyanaconda/modules/common/structures/comps.py
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_manager_test.py
Labels: master

#3276 Pin version of astroid
  dockerfile/anaconda-ci/Dockerfile
Labels: infrastructure, rhel8-branch

#3271 Test on kstest runners (rhel)
  .github/workflows/owner-validate-rhel-8.yml
Labels: infrastructure, rhel8-branch

#3280 Run RHEL8 contributor tests on kstest runners
  .github/workflows/tests-contributors.yml
Labels: infrastructure, master

#3266 Master add workflow environments for contributors
  .github/workflows/kickstart-tests.yml
  .github/workflows/tests-contributors.yml
  .github/workflows/tests.yml
Labels: infrastructure, master

#3281 Do not generate dracut arguments multiple times for some storage devices
  pyanaconda/modules/storage/bootloader/base.py
Labels: master

#3263 Fix a small typo in common bugs
  docs/common-bugs.rst
Labels: master

#3283 Remove the pwpolicy kickstart command
  anaconda.py
  docs/kickstart.rst
  pyanaconda/kickstart.py
  pyanaconda/pwpolicy.py
  tests/nosetests/pyanaconda_tests/pwpolicy_test.py
Labels: master, notable change

#3284 Allow to exclude the kernel-lpae package
  pyanaconda/modules/payloads/payload/dnf/utils.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_utils_test.py
Labels: f34, master

#3288 Remove patches to avoid forcing inst. prefix on RHEL 9
  anaconda.spec.in
Labels: master

#3235 Add display-related dependencies
  anaconda.spec.in
Labels: master

#3289 Make sure rhsm.service is running at Anaconda startup
  data/systemd/anaconda.target
Labels: master, port to RHEL9

#3292 Document the issue about the ignoredisk command and installation sources
  docs/common-bugs.rst
Labels: master

#3290 Allow to use no default product configuration (#1947939)
  pyanaconda/core/configuration/anaconda.py
  tests/nosetests/pyanaconda_tests/core/configuration_test.py
Labels: master

#3286 Set up the Storage spoke in TUI on every entry
  pyanaconda/ui/tui/spokes/storage.py
Labels: master

#3282 Use the DNF manager instead of the DNF base
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
  pyanaconda/modules/payloads/payload/dnf/requirements.py
  pyanaconda/modules/payloads/payload/dnf/utils.py
  pyanaconda/payload/dnf/payload.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_manager_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_requirements_test.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/module_payload_dnf_utils_test.py
Labels: master

#3161 Remove product-specific data from the Anaconda stylesheet
  data/anaconda-gtk.css
Labels: master

#3255 Replace use of imp with importlib in collect()
  pyanaconda/core/util.py
Labels: master

#3285 Use the software selection cache in TUI
  pyanaconda/ui/lib/software.py
  pyanaconda/ui/tui/spokes/software_selection.py
  tests/nosetests/pyanaconda_tests/ui/software_test.py
Labels: master

#3279 subscription: allow dates in ISO 8601 format
  pyanaconda/modules/subscription/runtime.py
  tests/nosetests/pyanaconda_tests/modules/subscription/subscription_tasks_test.py
Labels: manual testing required, master, port to RHEL8, port to RHEL9

#3294 rhvh: fix EULA path for RHV-H
  data/product.d/rhvh.conf
  tests/nosetests/pyanaconda_tests/product_test.py
Labels: master

#3297 Fix RPMOSTree mount to the non-existing directory (#1906735)
  pyanaconda/modules/payloads/payload/rpm_ostree/installation.py
  tests/nosetests/pyanaconda_tests/modules/payloads/payload/rpm_ostree_tasks_test.py
Labels: master

#3296 Support bond device activated in initramfs from kickstart
  dracut/parse-kickstart
  tests/nosetests/dracut_tests/parse-kickstart_test.py
Labels: master

#3305 Fix the broken rootless podman on Ubuntu 20.04 20210419.1
  .github/workflows/tests.yml
Labels: infrastructure, master

#3302 Increase the minimal suggested size for /boot
  data/anaconda.conf
  tests/nosetests/pyanaconda_tests/modules/storage/storage_checker_test.py
Labels: master, port to RHEL8, port to RHEL9

#3291 Run RHEL COPR builds on kstest
  .github/workflows/daily-rhel-copr.yml
  dockerfile/anaconda-rhel-copr/Dockerfile
  dockerfile/anaconda-rhel-copr/copr-builder-rhel.conf
Labels: infrastructure, master

#3310 Add hotfix for Ubuntu hosts for container refresh
  .github/workflows/container-autoupdate.yml
Labels: infrastructure, master

#3316 Disable ELN testing on PRs
  .github/workflows/tests.yml
  .packit.yml
Labels: infrastructure, master

#3309 ovirt / rhv: drop swap partition
  data/product.d/ovirt.conf
  data/product.d/rhvh.conf
  tests/nosetests/pyanaconda_tests/product_test.py
Labels: master

#3303 Use the software selection cache in GUI
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/errors.py
  pyanaconda/ui/gui/spokes/lib/software_selection.py
  pyanaconda/ui/gui/spokes/software_selection.py
Labels: master

#3287 Use new fedora-latest alias in COPR
  .packit.yml
Labels: infrastructure, master

#3320 Improve debug message about configuration loading and writing
  pyanaconda/core/startup/dbus_launcher.py
Labels: master
