Repository rhinstaller/anaconda, pull requests merged in 2022-08, with the labels that each got.

#4188 Add support for NPIV enabled zFCP devices
  anaconda.spec.in
  pyanaconda/core/kickstart/commands.py
  pyanaconda/modules/storage/zfcp/discover.py
  pyanaconda/ui/gui/spokes/advstorage/zfcp.glade
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_zfcp.py
  tests/unit_tests/pyanaconda_tests/test_kickstart_specification.py
Labels: f37

#4196 Fix ELN containers somewhat
  dockerfile/anaconda-ci/Dockerfile
  dockerfile/anaconda-ci/eln.repo
  dockerfile/anaconda-rpm/Dockerfile
  dockerfile/anaconda-rpm/eln.repo
Labels: infrastructure, f37

#4244 Fix the Dependabot configuration file (#infra)
  .github/dependabot.yml
  docs/ci-status.rst
Labels: infrastructure, f37

#4246 Add unit tests for errors raised by the `ZFCPDiscoverTask` task
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_zfcp.py
Labels: f37

#4203 Install rdma-core if infiniband network device is found
  pyanaconda/modules/network/network.py
  tests/unit_tests/pyanaconda_tests/modules/network/test_module_network.py
Labels: rhel-9, ready to merge

#4239 Disable the Unregister button during unregistration
  pyanaconda/ui/gui/spokes/subscription.py
Labels: rhel-9, ready to merge

#4233 Initialize empty disks on the Manual Partitioning screen
  pyanaconda/modules/storage/disk_initialization/configuration.py
  pyanaconda/modules/storage/partitioning/interactive/utils.py
Labels: port to RHEL8, port to RHEL9, f37

#4204 Install rdma-core if infiniband network device is found
  pyanaconda/modules/network/network.py
  tests/nosetests/pyanaconda_tests/module_network_test.py
Labels: rhel8-branch, ready to merge

#4234 Disable the Unregister button during unregistration
  pyanaconda/ui/gui/spokes/subscription.py
Labels: port to Fedora, port to RHEL9, ready to merge

#4248 Container rebuilds as a reusable workflow (#infra)
  .github/workflows/container-autoupdate.yml
  .github/workflows/container-rebuild-action.yml
Labels: infrastructure, f37

#4249 Patch pylint on ELN too (#infra)
  dockerfile/anaconda-ci/Dockerfile
Labels: infrastructure, f37

#4245 Skip Kickstart version tests on RHEL
  tests/unit_tests/pyanaconda_tests/test_kickstart_specification.py
  tests/unit_tests/pyanaconda_tests/test_ks_version.py
Labels: f37

#4232 Prefer GPT instead of legacy MBR
  data/anaconda.conf
  data/anaconda_options.txt
  docs/boot-options.rst
  docs/release-notes/default_disk_label_type.rst
  pyanaconda/argument_parsing.py
  pyanaconda/core/configuration/anaconda.py
  pyanaconda/core/configuration/storage.py
  pyanaconda/modules/storage/initialization.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_initialization.py
Labels: f37

#4253 Add release note for no more copying /etc/resolv.conf
  docs/release-notes/do-not-copy-resolv-conf.rst
Labels: f37

#4252 Add release note for rootpw --allow-ssh option
  docs/release-notes/rootpw_allow_ssh.rst
Labels: f37

#4247 Fix growing installation size requirement
  pyanaconda/modules/payloads/base/utils.py
  pyanaconda/modules/payloads/source/live_os/initialization.py
  pyanaconda/modules/payloads/source/live_os/live_os.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_live_os.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/test_module_payload_base_utils.py
Labels: f37

#4240 rpm-ostree: Setup readonly sysroot for ostree & rw karg
  pyanaconda/modules/payloads/payload/rpm_ostree/installation.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_rpm_ostree_tasks.py
Labels: f37, release note required

#4254 Do not provide the anaconda-live subpackage on RHEL
  anaconda.spec.in
Labels: f37

#4261 Set environment in reusable workflow (#infra)
  .github/workflows/container-rebuild-action.yml
Labels: infrastructure, f37

#4256 Document: Fixed required space check always including swap
  docs/release-notes/swap-estimate-fix.rst
Labels: documentation, f37

#4255 Add release notes for f37 vslavik PRs (#docs)
  docs/release-notes/homedir-restorecon-chroot.rst
  docs/release-notes/resume-on-arm64.rst
  docs/release-notes/verify-media-dialog.rst
Labels: f37

#4262 Add release notes for RPMOSTree /sysroot mount as 'ro'
  docs/release-notes/rpmostree-has-sysroot-as-ro.rst
Labels: f37

#4263 Split container refresh: Fedora and ELN (#infra)
  .github/workflows/container-autoupdate-eln.yml
  .github/workflows/container-autoupdate-fedora.yml
  docs/ci-status.rst
Labels: infrastructure, f37

#4265 Remove release builds from CI status page (#docs)
  docs/ci-status.rst
Labels: documentation, f37

#4264 Update the tests for the SELinux configuration
  tests/unit_tests/pyanaconda_tests/modules/security/test_module_security.py
Labels: f37

#4259 Remove unused code
  pyanaconda/anaconda_loggers.py
  pyanaconda/anaconda_logging.py
  pyanaconda/core/constants.py
  pyanaconda/kickstart.py
  pyanaconda/localization.py
  pyanaconda/payload/dnf/payload.py
  tests/unit_tests/pyanaconda_tests/test_localization.py
Labels: f37

#4250 Simplify the payload manager
  anaconda.py
  pyanaconda/core/constants.py
  pyanaconda/payload/base.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/manager.py
  pyanaconda/payload/migrated.py
  pyanaconda/ui/gui/spokes/installation_source.py
  pyanaconda/ui/gui/spokes/lib/installation_source_helpers.py
  pyanaconda/ui/gui/spokes/network.py
  pyanaconda/ui/lib/subscription.py
  pyanaconda/ui/tui/spokes/installation_source.py
  pyanaconda/ui/tui/spokes/network.py
  tests/unit_tests/pyanaconda_tests/test_subscription_helpers.py
Labels: f38

#4260 Remove the SimpleConfigFile class
  pyanaconda/kexec.py
  pyanaconda/modules/security/installation.py
  pyanaconda/simpleconfig.py
  tests/unit_tests/pyanaconda_tests/test_kexec.py
  tests/unit_tests/pyanaconda_tests/test_simpleconfig.py
Labels: f38

#4258 Improve Register button click feedback
  pyanaconda/ui/gui/spokes/subscription.py
Labels: port to Fedora, rhel-9, ready to merge

#4266 Branching helper
  .branch-variables.yml
  Makefile.am
  dockerfile/anaconda-ci/Dockerfile
  scripts/jinja-render
Labels: f38

#4271 Show multiple bootloader devices on the Manual Partitioning screen
  pyanaconda/modules/common/structures/storage.py
  pyanaconda/modules/storage/devicetree/model.py
  pyanaconda/modules/storage/devicetree/root.py
  pyanaconda/modules/storage/devicetree/viewer.py
  pyanaconda/modules/storage/partitioning/interactive/utils.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  tests/unit_tests/pyanaconda_tests/modules/storage/partitioning/test_module_scheduler.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_model.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_device_tree.py
Labels: f38

#4277 Verify a biosboot partition on all installation targets
  pyanaconda/modules/storage/bootloader/base.py
  pyanaconda/modules/storage/bootloader/grub2.py
  pyanaconda/modules/storage/checker/utils.py
Labels: f38

#4288 More tests for core.util
  tests/unit_tests/pyanaconda_tests/core/test_util.py
Labels: f38

#4294 Define more macros for cppcheck
  tests/README.rst
  tests/cppcheck/runcppcheck.sh
Labels: f38

#4284 Web UI: update target name in test documentation
  ui/webui/test/README.rst
Labels: documentation

#4275 Add --hibernation option for Kickstart autopart
  pyanaconda/core/kickstart/commands.py
  pyanaconda/modules/common/structures/partitioning.py
  pyanaconda/modules/storage/partitioning/automatic/automatic_module.py
  pyanaconda/modules/storage/partitioning/automatic/automatic_partitioning.py
  pyanaconda/modules/storage/partitioning/automatic/utils.py
  tests/unit_tests/pyanaconda_tests/modules/storage/partitioning/test_module_part_automatic.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_storage.py
Labels: f38

#4297 Port cppcheck macros to f37
  tests/cppcheck/runcppcheck.sh
Labels: f37

#4300 Bump pykickstart version for F38_AutoPart
  anaconda.spec.in
  pyanaconda/core/kickstart/commands.py
  pyanaconda/modules/storage/partitioning/automatic/automatic_partitioning.py
Labels: f38

#4269 Drop packit override for webui package build
  .packit.yml
Labels: webui, release note required, f38

#4282 Remove execInSysroot
  pyanaconda/core/util.py
Labels: f38
