Repository rhinstaller/anaconda, pull requests merged in 2022-07, with the labels that each got.

#4224 Revert "Fix anaconda-rpm tests run" (#infra)
  dockerfile/anaconda-rpm/Dockerfile
Labels: infrastructure, f37

#4218 Add support for NPIV enabled zFCP devices
  anaconda.spec.in
  pyanaconda/core/kickstart/commands.py
  pyanaconda/modules/storage/zfcp/discover.py
  pyanaconda/ui/gui/spokes/advstorage/zfcp.glade
  tests/nosetests/pyanaconda_tests/module_zfcp_test.py
Labels: rhel8-branch, ready to merge

#4221 bootloader/base.py: enable resume on arm64
  pyanaconda/modules/storage/bootloader/base.py
Labels: f37

#4217 Add support for NPIV enabled zFCP devices
  anaconda.spec.in
  pyanaconda/core/kickstart/commands.py
  pyanaconda/modules/storage/zfcp/discover.py
  pyanaconda/ui/gui/spokes/advstorage/zfcp.glade
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_zfcp.py
Labels: rhel-9, ready to merge

#4194 Fix product config product_name for Rocky Linux (#2096046)
  data/product.d/rocky.conf
  tests/unit_tests/pyanaconda_tests/test_product.py
Labels: rhel-9, ready to merge

#4174 Add Circle Linux profile to Anaconda(rhel-9)
  data/product.d/circle.conf
  tests/unit_tests/pyanaconda_tests/test_product.py
Labels: rhel-9, ready to merge

#4228 Enable pylint
  dockerfile/anaconda-ci/Dockerfile
  pyanaconda/core/users.py
  tests/Makefile.am
  tests/pylint/runpylint.py
  tests/unit_tests/pyanaconda_tests/core/test_user_create.py
Labels: f37

#4096 Increase the minimal suggested size for /boot (#2042431)
  data/anaconda.conf
  tests/unit_tests/pyanaconda_tests/modules/storage/test_storage_checker.py
Labels: rhel-9, ready to merge

#4134 Add tooltip to the Insights checkbox (#2071665)
  pyanaconda/ui/gui/spokes/subscription.glade
Labels: port to Fedora, rhel-9, ready to merge

#4219 Media verification dialog button reflects state
  pyanaconda/ui/gui/spokes/installation_source.glade
  pyanaconda/ui/gui/spokes/installation_source.py
Labels: port to Fedora, rhel-9, ready to merge

#4165 Revert "Temporarily keep setter methods for the Kdump add-on"
  pyanaconda/modules/storage/bootloader/bootloader_interface.py
Labels: f37

#4229 Test and clean up the `suggest_swap_size` function
  pyanaconda/core/storage.py
  tests/unit_tests/pyanaconda_tests/core/test_storage.py
Labels: f37

#4167 Revert "Temporarily keep setter methods for Initial Setup"
  pyanaconda/modules/services/services_interface.py
Labels: f37

#4072 Move more code from the Installation Source spoke
  pyanaconda/ui/gui/spokes/installation_source.py
  pyanaconda/ui/gui/spokes/lib/installation_source_helpers.py
  tests/unit_tests/pyanaconda_tests/ui/test_ui_source_spoke.py
Labels: f37

#4238 Fixed required space check always including swap
  pyanaconda/ui/gui/spokes/storage.py
Labels: f37

#4241 Fix the missing npm package (#infra)
  dockerfile/anaconda-ci/Dockerfile
  dockerfile/anaconda-rpm/Dockerfile
Labels: infrastructure, f37

#4237 Hide the keyboard layout indicator in the passphrase dialog (#2070823)
  pyanaconda/ui/gui/spokes/lib/passphrase.glade
  pyanaconda/ui/gui/spokes/lib/passphrase.py
Labels: f37

#4230 Communicate media verification result clearly
  pyanaconda/ui/gui/spokes/lib/installation_source_helpers.glade
  pyanaconda/ui/gui/spokes/lib/installation_source_helpers.py
Labels: f37
