Repository rhinstaller/anaconda, pull requests merged in 2022-06, with the labels that each got.

#4135 Add tooltip to the Insights checkbox (#2069178)
  pyanaconda/ui/gui/spokes/subscription.glade
Labels: f37

#4131 Enable bootloader hiding on RHEL
  data/profile.d/centos.conf
  data/profile.d/rhel.conf
Labels: master

#4158 Add 'eln-baseos' to the DEFAULT_REPOS
  pyanaconda/core/constants.py
Labels: f37

#4161 Fix pylint issues (#infra)
  tests/pylint/pylintrc
  tests/pylint/runpylint.py
Labels: infrastructure, f37

#4143 Re enable permian for kstest on pr
  .github/workflows/kickstart-tests.yml
Labels: f37

#4159 Check if run as root earlier (#1935470)
  anaconda.py
Labels: f37

#4151 Always tear down devices after finding existing installations
  pyanaconda/modules/storage/devicetree/root.py
Labels: f37

#4160 Update common bugs for F35 resolv.conf issue
  docs/common-bugs.rst
Labels: documentation, f37

#4164 GUI: Ask for a missing passphrase during automated installations
  docs/release-notes/gui-missing-passphrase.rst
  pyanaconda/ui/gui/__init__.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/lib/storage.py
  pyanaconda/ui/tui/spokes/storage.py
Labels: f37

#4153 GUI: Ask for a missing passphrase during automated installations
  pyanaconda/ui/gui/__init__.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/lib/storage.py
  pyanaconda/ui/tui/spokes/storage.py
Labels: rhel-9, ready to merge

#4050 Enable bootloader hiding on RHEL
  data/product.d/centos-stream.conf
  data/product.d/rhel.conf
Labels: rhel-9, ready to merge

#4136 Add missing period when concatenating password error strings (#2075417)
  pyanaconda/core/constants.py
  pyanaconda/ui/gui/spokes/root_password.py
  pyanaconda/ui/gui/spokes/user.py
Labels: rhel-9, ready to merge

#4098 GUI: Ask for a missing passphrase during automated installations
  pyanaconda/ui/gui/__init__.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/lib/storage.py
  pyanaconda/ui/tui/spokes/storage.py
Labels: rhel8-branch, ready to merge

#4128 Add missing period when concatenating password error strings (#2075419)
  pyanaconda/core/constants.py
  pyanaconda/ui/gui/spokes/root_password.py
  pyanaconda/ui/gui/spokes/user.py
Labels: rhel8-branch, ready to merge

#4168 Display keyboard accelerator properly
  pyanaconda/ui/gui/spokes/storage.glade
Labels: f37

#4172 Web UI: Remove unused code
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/src/components/storage/InstallationDestination.jsx
Labels: f37, webui

#4119 webui: Disable "Next" button if no disks are selected
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/src/components/storage/InstallationDestination.jsx
  ui/webui/test/check-storage
  ui/webui/test/helpers/installer.py
  ui/webui/test/helpers/storage.py
Labels: f37, webui

#4181 Report registration errors from kickstart
  anaconda.py
  pyanaconda/errors.py
  pyanaconda/ui/lib/subscription.py
Labels: port to Fedora, rhel-9

#4180 Report registration errors from kickstart
  anaconda.py
  pyanaconda/errors.py
  pyanaconda/ui/lib/subscription.py
Labels: rhel8-branch

#4154 Add support for rootpw --allow-ssh
  anaconda.spec.in
  docs/common-bugs.rst
  pyanaconda/core/kickstart/commands.py
  pyanaconda/modules/users/users.py
  tests/unit_tests/pyanaconda_tests/modules/users/test_module_users.py
Labels: notable change, f37

#4183 dnf: apply the /etc/dnf/dnf.conf configuration file in the installer
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf_manager.py
Labels: f37

#4175 Add Circle Linux profile to Anaconda
  data/profile.d/Makefile.am
  data/profile.d/circle.conf
  tests/unit_tests/pyanaconda_tests/core/test_profile.py
Labels: f37

#4166 Revert "Temporarily keep setter methods for the OSCAP add-on"
  pyanaconda/modules/boss/user_interface/ui_interface.py
  pyanaconda/modules/network/firewall/firewall_interface.py
  pyanaconda/modules/payloads/payload/dnf/dnf_interface.py
Labels: f37

#4195 Remove the no-space-check option from pylintrc (#infra)
  tests/pylint/pylintrc
Labels: infrastructure, f36

#4187 dnf: apply the /etc/dnf/dnf.conf configuration file in the installer
  pyanaconda/payload/dnf/payload.py
Labels: rhel8-branch, ready to merge

#4178 Add support for rootpw --allow-ssh
  anaconda.spec.in
  pyanaconda/core/kickstart/commands.py
  pyanaconda/modules/users/users.py
  tests/unit_tests/pyanaconda_tests/modules/users/test_module_users.py
Labels: rhel-9, ready to merge

#4185 dnf: apply the /etc/dnf/dnf.conf configuration file in the installer
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf_manager.py
Labels: rhel-9, ready to merge

#4201 Temporarily ignore the new version of the zfcp command
  tests/unit_tests/pyanaconda_tests/test_kickstart_specification.py
Labels: f37

#4189 Web UI: Fix betanag popover position
  ui/webui/src/components/AnacondaHeader.jsx
Labels: f37, webui

#4202 containers: Don't downgrade npm (#infra)
  dockerfile/anaconda-ci/Dockerfile
  dockerfile/anaconda-rpm/Dockerfile
  tests/unit_tests/pyanaconda_tests/test_kickstart_specification.py
Labels: infrastructure, f37

#4206 Fix kickstart command order in new version
  anaconda.spec.in
  tests/unit_tests/pyanaconda_tests/modules/users/test_module_users.py
Labels: f37

#4207 Don't attempt to add frozen python modules to initramfs
  dracut/module-setup.sh
  dracut/python-deps
Labels: f37

#4211 anaconda-modprobe: don't try and load cramfs
  dracut/anaconda-modprobe.sh
Labels: f37

#4210 Fix kickstart command order in new version
  anaconda.spec.in
  tests/unit_tests/pyanaconda_tests/modules/users/test_module_users.py
Labels: rhel-9, ready to merge

#4214 bootloader: do not consider non-ibft iscsi disk as usable for bootloader
  pyanaconda/modules/storage/bootloader/base.py
  pyanaconda/modules/storage/bootloader/execution.py
Labels: rhel8-branch, ready to merge

#4216 Fix unit tests for python 3.11
  tests/Makefile.am
  tests/unit_tests/pyanaconda_tests/test_payload_source.py
Labels: infrastructure, f37

#4209 TUI software spoke is ready with failing repos, too
  pyanaconda/ui/tui/spokes/software_selection.py
Labels: port to Fedora, rhel-9, ready to merge

#4213 bootloader: do not consider non-ibft iscsi disk as usable for bootloader
  pyanaconda/modules/storage/bootloader/base.py
  pyanaconda/modules/storage/bootloader/execution.py
Labels: rhel-9, ready to merge

#4220 simplify TestValues enum creation and usage
  tests/unit_tests/pyanaconda_tests/test_payload_source.py
Labels: f37

#4215 Change the Python version to 3.11 in the makeupdates script
  scripts/makeupdates
Labels: f37

#4208 bootloader: do not consider non-ibft iscsi disk as usable for bootloader
  pyanaconda/modules/storage/bootloader/base.py
  pyanaconda/modules/storage/bootloader/execution.py
Labels: f37

#4186 Disable kexec on RISC-V
  anaconda.spec.in
Labels: manual testing required, f37
