Repository rhinstaller/anaconda, pull requests merged in 2022-03, with the labels that each got.

#3886 Remove progressQ
  pyanaconda/installation.py
  pyanaconda/progress.py
  pyanaconda/ui/gui/spokes/installation_progress.py
  pyanaconda/ui/tui/spokes/installation_progress.py
Labels: f37

#3882 Allow to run an incomplete installation via DBus
  pyanaconda/anaconda.py
  pyanaconda/modules/boss/boss.py
  pyanaconda/modules/boss/boss_interface.py
  pyanaconda/payload/base.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/migrated.py
  tests/unit_tests/pyanaconda_tests/modules/boss/test_boss.py
Labels: f37

#3905 Replace one more icon after removal from adwaita
  pyanaconda/ui/gui/spokes/lib/unsupported_hardware.glade
Labels: f36, f37

#3909 tests: webui: Increate timeout for accessible webui to 5 minutes
  ui/webui/test/machine_install.py
Labels: f37, webui

#3889 webui: Don't save SSH key in command from VM script
  ui/webui/test/webui_testvm.py
Labels: f37, webui

#3897 Remove the enable_ignore_broken_packages configuration option
  anaconda.spec.in
  data/anaconda.conf
  data/profile.d/rhel.conf
  pyanaconda/core/configuration/payload.py
  pyanaconda/modules/payloads/kickstart.py
Labels: f37

#3839 Remove undocumented installed scripts
  anaconda.spec.in
  docs/release-notes/removed-scripts.rst
  scripts/Makefile.am
  scripts/analog
  scripts/restart-anaconda
  scripts/run-anaconda
Labels: notable change, f37

#3915 webui: tests: actually boot into the webui mode
  ui/webui/test/check-basic
  ui/webui/test/check-installation-language
  ui/webui/test/check-root-account
  ui/webui/test/check-storage
  ui/webui/test/ks.cfg
  ui/webui/test/machine_install.py
  ui/webui/test/webuilib.py
Labels: webui

#3916 Do not set platform-specific defaults in kstests workflow (#infra)
  .github/workflows/kickstart-tests.yml
Labels: infrastructure, f37

#3906 Move the po files download to the `make` call (#infra)
  Makefile.am
  anaconda.spec.in
  po/.gitignore
  po/Makefile.am
Labels: f37

#3918 webui: first pass on the installation progress component
  .gitignore
  pyanaconda/ui/webui/__init__.py
  ui/webui/src/InstallationProgress.jsx
  ui/webui/src/InstallationProgress.scss
  ui/webui/src/Summary.jsx
  ui/webui/src/app.jsx
  ui/webui/test/check-installation-progress
  ui/webui/test/ks.cfg
  ui/webui/test/machine_install.py
Labels: webui, javascript

#3925 Remove the blivet_gui_supported configuration option
  data/anaconda.conf
  data/profile.d/rhel.conf
  pyanaconda/core/configuration/ui.py
  pyanaconda/ui/gui/spokes/storage.py
Labels: f37

#3926 Fix Makefile targets using L10N Makefile variables
  configure.ac
  po/Makefile.am
Labels: f37

#3891 master: move /var/tmp to its own partition
  data/profile.d/ovirt.conf
  data/profile.d/rhvh.conf
  tests/unit_tests/pyanaconda_tests/core/test_profile.py
Labels: f37

#3920 webui: tests: multiple improvements: stop using ks file for spawning cockpit-ws
  ui/webui/.gitignore
  ui/webui/Makefile.am
  ui/webui/test/check-basic
  ui/webui/test/check-installation-language
  ui/webui/test/check-installation-progress
  ui/webui/test/check-root-account
  ui/webui/test/check-storage
  ui/webui/test/ks.cfg
  ui/webui/test/machine_install.py
  ui/webui/test/webui_testvm.py
  ui/webui/test/webuilib.py
Labels: webui

#3919 webui: read conf from installation environment
  ui/webui/src/Common.jsx
  ui/webui/src/app.jsx
  ui/webui/src/helpers/conf.js
  ui/webui/test/check-basic
Labels: f37, webui

#3931 ovirt: move /var/tmp and /var/crash to own partition
  data/product.d/ovirt.conf
  data/product.d/rhev.conf
  tests/nosetests/pyanaconda_tests/product_test.py
Labels: rhel8-branch, ready to merge

#3939 Enable rhel-8 and rhel-9 minor branches for kickstart tests (#infra)
  .github/workflows/kickstart-tests.yml
Labels: infrastructure, f37

#3927 Change the example bug related to unlocked LUKS devices
  docs/common-bugs.rst
  docs/requirements.txt
Labels: documentation, f37

#3914 webui: implement top level wizard layout
  ui/webui/src/Common.jsx
  ui/webui/src/Summary.jsx
  ui/webui/src/Summary.scss
  ui/webui/src/app.jsx
  ui/webui/src/installation/InstallationLanguage.jsx
  ui/webui/src/installation/InstallationLanguage.scss
  ui/webui/src/installation/InstallationProgress.jsx
  ui/webui/src/installation/InstallationProgress.scss
  ui/webui/src/installation/ReviewConfiguration.jsx
  ui/webui/src/localization/Keyboard.jsx
  ui/webui/src/localization/Language.jsx
  ui/webui/src/network/NetworkHostname.jsx
  ui/webui/src/payloads/InstallationSource.jsx
  ui/webui/src/payloads/SoftwareSelection.jsx
  ui/webui/src/storage/InstallationDestination.jsx
  ui/webui/src/timezone/TimeDate.jsx
  ui/webui/src/users/RootAccount.jsx
  ui/webui/test/check-basic
  ui/webui/test/check-installation-language
  ui/webui/test/check-installation-progress
  ui/webui/test/check-root-account
  ui/webui/test/check-storage
Labels: webui, javascript

#3933 Remove the decorated_window conf option
  data/anaconda.conf
  docs/release-notes/remofe-conf-decorated.rst
  pyanaconda/core/configuration/ui.py
  pyanaconda/ui/gui/__init__.py
Labels: notable change, f37

#3936 Update branching settings for RHEL 8.6 (#infra)
  .github/workflows/tests.yml
  branch-config.mk
  dockerfile/anaconda-rpm/rhel-8.repo
Labels: infrastructure

#3934 Remove RpmDb setup for OSTree payloads
  pyanaconda/modules/payloads/payload/rpm_ostree/installation.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_rpm_ostree_tasks.py
Labels: f36, f37

#3940 Revert "Use RHEL 8.6 repositories for tests (#infra)"
  dockerfile/anaconda-ci/rhel-8.repo
  dockerfile/anaconda-iso-creator/lorax-build
  dockerfile/anaconda-iso-creator/rhel-8.repo
Labels: rhel8-branch

#3888 ovirt: move /var/tmp to its own partition
  data/product.d/ovirt.conf
  data/product.d/rhev.conf
  tests/nosetests/pyanaconda_tests/product_test.py
Labels: rhel8-branch, ready to merge

#3932 Make pylint survive WebUI artifacts
  tests/pylint/pylintrc
  tests/pylint/runpylint.py
Labels: f37

#3945 Remove --ignore-broken test (#test)
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf.py
Labels: rhel-9

#3944 Remove --ignore-broken test
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf.py
Labels: rhel-9

#3941 Revert "Use RHEL 9.0 repositories for tests (#infra)"
  dockerfile/anaconda-ci/rhel-9.repo
  dockerfile/anaconda-iso-creator/lorax-build
  dockerfile/anaconda-iso-creator/rhel-9.repo
  dockerfile/anaconda-rpm/rhel-9.repo
Labels: rhel-9

#3942 Update branching settings for rhel-9.0 branch (#infra)
  .github/workflows/tests.yml
  branch-config.mk
Labels: rhel-9

#3924 webui: rewrite language selection component to a class component
  ui/webui/src/installation/InstallationLanguage.jsx
  ui/webui/test/check-installation-language
Labels: f37, webui

#3947 webui: set default storage configuration in the JS code
  pyanaconda/ui/webui/__init__.py
  ui/webui/src/apis/boss.js
  ui/webui/src/apis/localization.js
  ui/webui/src/apis/storage.js
  ui/webui/src/components/Common.jsx
  ui/webui/src/components/app.jsx
  ui/webui/src/components/app.scss
  ui/webui/src/components/installation/InstallationLanguage.jsx
  ui/webui/src/components/installation/InstallationLanguage.scss
  ui/webui/src/components/installation/InstallationProgress.jsx
  ui/webui/src/components/installation/InstallationProgress.scss
  ui/webui/src/components/installation/ReviewConfiguration.jsx
  ui/webui/src/components/storage/InstallationDestination.jsx
  ui/webui/src/index.js
  ui/webui/test/check-installation-progress
Labels: f37, webui

#3937 Do not crash on network --device link with wireless device (#2051235)
  pyanaconda/modules/network/nm_client.py
Labels: f37

#3935 network: Handle network configuration paths not existing
  pyanaconda/modules/network/installation.py
Labels: f36, f37

#3950 Add noautodefault boot option
  anaconda.spec.in
  data/systemd/Makefile.am
  data/systemd/anaconda-generator
  data/systemd/anaconda-nm-disable-autocons.service
  docs/boot-options.rst
  scripts/Makefile.am
  scripts/anaconda-nm-disable-autocons
  scripts/makeupdates
Labels: f37

#3959 webui: fix progress reporting in the installation progress step
  ui/webui/src/apis/boss.js
  ui/webui/src/apis/localization.js
  ui/webui/src/apis/storage.js
  ui/webui/src/components/app.jsx
  ui/webui/src/components/installation/InstallationLanguage.jsx
  ui/webui/src/components/installation/InstallationProgress.jsx
  ui/webui/src/components/installation/InstallationProgress.scss
  ui/webui/src/components/storage/InstallationDestination.jsx
  ui/webui/test/check-installation-progress
Labels: f37, webui

#3946 Fix the --ignore-broken unit test
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf.py
Labels: f37

#3961 webui: show inline per - step alerts and stay in the same step when configuration is invalid
  ui/webui/src/components/app.jsx
  ui/webui/src/components/storage/InstallationDestination.jsx
  ui/webui/test/check-storage
Labels: f37, webui

#3957 Skip /etc/machine-info during live installs (#2036199)
  pyanaconda/modules/payloads/base/installation.py
  pyanaconda/modules/payloads/payload/live_image/installation.py
  pyanaconda/payload/live/payload_base.py
  pyanaconda/payload/live/payload_liveimg.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_live.py
Labels: port to RHEL9, rhel-9, ready to merge

#3951 makebumpver: ignore commits with (#test) in summary (#infra)
  scripts/makebumpver
Labels: rhel-9

#3965 Rhel 9.0 ignore commits with test in summary
  scripts/makebumpver
Labels: rhel-9, ready to merge

#3885 Port dracut arguments fix
  pyanaconda/modules/storage/bootloader/base.py
  pyanaconda/modules/storage/iscsi/iscsi.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_iscsi.py
Labels: rhel-9, ready to merge

#3960 Betanag for web ui
  ui/webui/src/components/AnacondaHeader.jsx
  ui/webui/src/components/app.jsx
  ui/webui/src/helpers/betanag.js
  ui/webui/src/helpers/conf.js
  ui/webui/test/check-basic
Labels: f37, webui

#3837 Handle the inst.addrepo option in the DNF payload class
  anaconda.py
  pyanaconda/anaconda.py
  pyanaconda/argument_parsing.py
  pyanaconda/payload/dnf/payload.py
  tests/unit_tests/pyanaconda_tests/test_argparse.py
Labels: f37

#3969 Clarify which Anaconda profile is used by CentOS Stream
  data/profile.d/centos.conf
Labels: f37

#3962 Update icon sizes for symbolic icons
  pyanaconda/ui/gui/main.glade
  pyanaconda/ui/gui/spokes/network.glade
  pyanaconda/ui/gui/spokes/network.py
  pyanaconda/ui/gui/spokes/welcome.glade
Labels: f36, f37

#3976 ShellCheck: Quote also variables inside ${...}
  dracut/anaconda-lib.sh
  dracut/anaconda-netroot.sh
Labels: f37

#3967 webui: start using custom webui-desktop script instead of cockpit-desktop
  anaconda.spec.in
  pyanaconda/ui/webui/__init__.py
  tests/shellcheck/ignores.sh
  ui/webui/Makefile.am
  ui/webui/test/check-basic
  ui/webui/webui-desktop
Labels: f37, webui

#3970 Extend the DBus documentation of the Storage module
  pyanaconda/modules/storage/storage.py
  pyanaconda/modules/storage/storage_interface.py
Labels: f37

#3972 Use the DNF manager to gather metadata
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/manager.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf_manager.py
Labels: f37

#3971 Use a task to set up an additional NFS repository
  pyanaconda/core/payload.py
  pyanaconda/payload/dnf/payload.py
  tests/unit_tests/pyanaconda_tests/test_payload.py
Labels: f37

#3968 dockerfile: stop using non-existing po-pull target (#infra)
  dockerfile/anaconda-rhel-copr/copr-builder-rhel.conf
Labels: infrastructure

#3977 webui: Test both betanag states
  ui/webui/test/check-basic
Labels: f37, webui

#3981 Use a task to set up an additional HDD repository
  pyanaconda/core/payload.py
  pyanaconda/kickstart.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/utils.py
  tests/unit_tests/pyanaconda_tests/test_payload.py
Labels: f37

#3982 webui: expose webui.remote boot option
  pyanaconda/anaconda.py
  pyanaconda/ui/webui/__init__.py
  ui/webui/test/machine_install.py
Labels: f37, webui

#3986 Reboot button for webui (+quit)
  pyanaconda/ui/webui/__init__.py
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/src/components/installation/InstallationProgress.jsx
  ui/webui/src/helpers/exit.js
  ui/webui/test/machine_install.py
Labels: f37, webui

#3991 Enable fingerprint authentication using enable-feature
  pyanaconda/modules/security/installation.py
  tests/unit_tests/pyanaconda_tests/modules/security/test_module_security.py
Labels: f36, f37

#3989 webui: more webui adjustments to reach mockups
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/src/components/installation/InstallationLanguage.jsx
  ui/webui/src/components/storage/InstallationDestination.jsx
  ui/webui/test/check-installation-language
Labels: f37, webui
