Repository rhinstaller/anaconda, pull requests merged in 2022-05, with the labels that each got.

#4073 Add the UpdatesEnabled DBus property
  pyanaconda/modules/common/constants/interfaces.py
  pyanaconda/modules/payloads/source/closest_mirror/closest_mirror.py
  pyanaconda/modules/payloads/source/closest_mirror/closest_mirror_interface.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/ui/gui/spokes/installation_source.py
  pyanaconda/ui/helpers.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_closest_mirror.py
Labels: f37

#4071 Remove the _configure method
  pyanaconda/payload/dnf/payload.py
Labels: f37

#4057 webui: Document how to fix failing pixel tests
  docs/testing.rst
Labels: f37, webui

#4053 Run eslint only in dev builds or when requested
  ui/webui/webpack.config.js
Labels: f37, webui

#4054 webui: tests: Change handling of steps and hide selectors in methods
  ui/webui/test/check-basic
  ui/webui/test/check-language
  ui/webui/test/check-progress
  ui/webui/test/check-review
  ui/webui/test/check-storage
  ui/webui/test/helpers/installer.py
  ui/webui/test/helpers/language.py
  ui/webui/test/helpers/review.py
  ui/webui/test/helpers/storage.py
Labels: f37, webui

#4076 Update misc npm packages
  ui/webui/package.json
Labels: f37, webui, javascript

#4079 Remove the get_mount_points function
  pyanaconda/payload/utils.py
Labels: f37

#4078 Remove deprecated payload exceptions
  pyanaconda/errors.py
  pyanaconda/modules/payloads/source/cdrom/initialization.py
  pyanaconda/modules/payloads/source/nfs/initialization.py
  pyanaconda/payload/errors.py
  pyanaconda/payload/manager.py
  pyanaconda/payload/utils.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_cdrom.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_nfs.py
Labels: f37

#4081 Geolocation modularity preparations
  pyanaconda/core/constants.py
  pyanaconda/geoloc.py
  pyanaconda/ui/gui/spokes/welcome.py
  scripts/makeupdates
Labels: f37

#4087 Run an installation task to close the DNF base
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
  pyanaconda/modules/payloads/payload/dnf/tear_down.py
  pyanaconda/payload/dnf/payload.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_dnf_tear_down.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf_manager.py
Labels: f37

#4080 Rename arguments of the `restart_thread` method
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/manager.py
  pyanaconda/ui/gui/spokes/installation_source.py
  pyanaconda/ui/gui/spokes/network.py
  pyanaconda/ui/lib/subscription.py
  pyanaconda/ui/tui/spokes/installation_source.py
  pyanaconda/ui/tui/spokes/network.py
Labels: f37

#4086 Remove the is_repo_enabled method
  pyanaconda/payload/dnf/payload.py
  pyanaconda/ui/gui/spokes/installation_source.py
Labels: f37

#4091 Simplify the implementation for the DBus interface for Users module
  pyanaconda/modules/users/users_interface.py
Labels: f37

#4089 Move the default source type on DBus
  pyanaconda/modules/payloads/payload/dnf/dnf.py
  pyanaconda/modules/payloads/payload/live_image/live_image.py
  pyanaconda/modules/payloads/payload/live_os/live_os.py
  pyanaconda/modules/payloads/payload/payload_base.py
  pyanaconda/modules/payloads/payload/payload_base_interface.py
  pyanaconda/modules/payloads/payload/rpm_ostree/rpm_ostree.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/payload/live/payload_liveimg.py
  pyanaconda/payload/live/payload_liveos.py
  pyanaconda/payload/migrated.py
  pyanaconda/payload/rpmostreepayload.py
  pyanaconda/ui/lib/payload.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/module_payload_shared.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_base.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_live_image.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_live_os.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_rpm_ostree.py
  tests/unit_tests/pyanaconda_tests/ui/test_ui_payload.py
Labels: f37

#4094 Make check for geolocation start a standalone helper
  anaconda.py
  pyanaconda/geoloc.py
  pyanaconda/startup_utils.py
  tests/unit_tests/pyanaconda_tests/core/test_startup_utils.py
Labels: f37

#4093 Split Timezone module tests for tasks to new file
  tests/unit_tests/pyanaconda_tests/modules/timezone/test_module_timezone.py
  tests/unit_tests/pyanaconda_tests/modules/timezone/test_timezone_tasks.py
Labels: f37

#4065 Rhel 9 backport checkout v3
  .github/dependabot.yml
  .github/workflows/infra-check.yml
  .github/workflows/tests.yml
Labels: infrastructure, rhel-9

#4066 build(deps): bump actions/checkout from 2 to 3 (#infra)
  .github/workflows/infra-check.yml
  .github/workflows/tests.yml
Labels: rhel8-branch, infrastructure

#4070 Enable to create a boot.iso manually from a branch instead only from the PR
  .github/workflows/build-boot-iso.yml
Labels: infrastructure, f37

#4100 Web UI: Reset the bootloader drive before we schedule partitions
  ui/webui/src/apis/storage.js
  ui/webui/src/components/storage/InstallationDestination.jsx
Labels: f37, webui

#4090 Add labels to dependabot PRs
  .github/dependabot.yml
Labels: infrastructure, f37

#4084 Install rdma-core if infiniband network device is found
  pyanaconda/modules/network/network.py
  tests/unit_tests/pyanaconda_tests/modules/network/test_module_network.py
Labels: f37

#4077 Test release daily
  .github/workflows/try-release-daily.yml
  docs/ci-status.rst
Labels: f37

#4108 tests: Get list of supported LVM RAID levels from blivet
  tests/unit_tests/pyanaconda_tests/modules/storage/partitioning/test_module_scheduler.py
Labels: f37

#4000 Run kickstart tests on PR via permian (#infra)
  .github/workflows/kickstart-tests.yml
Labels: infrastructure, f37

#4092 Add Virtuozzo Linux profile to Anaconda
  data/product.d/virtuozzo-linux.conf
  tests/unit_tests/pyanaconda_tests/test_product.py
Labels: rhel-9, ready to merge

#4110 Port restorecon user dirs to rhel 9
  pyanaconda/core/users.py
  pyanaconda/core/util.py
  tests/unit_tests/pyanaconda_tests/core/test_user_create.py
  tests/unit_tests/pyanaconda_tests/core/test_util.py
Labels: rhel-9, ready to merge

#4129 Port restorecon user dirs to rhel 8
  pyanaconda/core/users.py
  pyanaconda/core/util.py
  tests/nosetests/pyanaconda_tests/user_create_test.py
  tests/nosetests/pyanaconda_tests/util_test.py
Labels: rhel8-branch

#4118 Fix indentation in dependabot yaml config (#infra)
  .github/dependabot.yml
Labels: infrastructure, f37

#4138 Use the IsRootAccountLocked property
  pyanaconda/ui/gui/spokes/root_password.py
Labels: f37

#4132 Cleanup unneeded NFS repo with rd.live.ram parameter - rhel8
  dracut/Makefile.am
  dracut/anaconda-nfsrepo-cleanup.sh
  dracut/module-setup.sh
Labels: rhel8-branch

#4130 Port password eye fix for RHEL 8.7
  pyanaconda/ui/gui/spokes/lib/passphrase.py
  pyanaconda/ui/gui/spokes/root_password.py
  pyanaconda/ui/gui/spokes/user.py
Labels: rhel8-branch

#4140 Cleanup unneeded NFS repo with rd.live.ram parameter - rhel9
  dracut/Makefile.am
  dracut/anaconda-nfsrepo-cleanup.sh
  dracut/module-setup.sh
Labels: rhel-9

#4148 Fix tests README.rst how to run one unit test
  tests/README.rst
Labels: f37

#4144 Web UI: Automatically change the popover position
  ui/webui/src/components/Common.jsx
Labels: f37, webui

#4074 Geoloc modularity
  anaconda.py
  data/anaconda.conf
  pyanaconda/core/configuration/anaconda.py
  pyanaconda/core/configuration/timezone.py
  pyanaconda/core/constants.py
  pyanaconda/geoloc.py
  pyanaconda/modules/common/structures/timezone.py
  pyanaconda/modules/timezone/initialization.py
  pyanaconda/modules/timezone/timezone.py
  pyanaconda/modules/timezone/timezone_interface.py
  pyanaconda/ui/gui/spokes/welcome.py
  tests/unit_tests/pyanaconda_tests/core/test_configuration.py
  tests/unit_tests/pyanaconda_tests/modules/timezone/test_module_timezone.py
  tests/unit_tests/pyanaconda_tests/modules/timezone/test_timezone_geoloc.py
Labels: f37

#4097 Check if the mount point exists before calling statvfs (#1826760)
  pyanaconda/payload/live/payload_base.py
Labels: rhel8-branch, ready to merge

#4146 Run FixZIPLBootloader task after FIPS setup
  pyanaconda/installation.py
  pyanaconda/modules/storage/bootloader/bootloader.py
  pyanaconda/modules/storage/bootloader/bootloader_interface.py
  pyanaconda/modules/storage/bootloader/installation.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_bootloader.py
Labels: f37

#4147 Run FixZIPLBootloader task after FIPS setup
  pyanaconda/installation.py
  pyanaconda/modules/storage/bootloader/bootloader.py
  pyanaconda/modules/storage/bootloader/bootloader_interface.py
  pyanaconda/modules/storage/bootloader/installation.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_bootloader.py
Labels: rhel-9, ready to merge

#4152 Let dependency installation script ask interactively
  scripts/testing/install_dependencies.sh
Labels: infrastructure, f37
