Repository rhinstaller/anaconda, pull requests merged in 2022-11, with the labels that each got.

#4408 Remove the period at the end of the button caption
  pyanaconda/ui/gui/spokes/welcome.glade
Labels: f38

#4397 sync_run_task: Poll proxy state faster
  pyanaconda/modules/common/task/__init__.py
Labels: f38

#4406 infra: Drop unused manual workflow for rhel-8 tests
  .github/workflows/tests-contributors.yml
  .github/workflows/tests-contributors.yml.j2
Labels: infrastructure, f38

#4410 infra: Add runner id to kickstart test statuses
  .github/workflows/kickstart-tests.yml
  .github/workflows/kickstart-tests.yml.j2
Labels: infrastructure, f38

#4387 Release periodically
  .github/workflows/release-periodically.yml
  .github/workflows/release-periodically.yml.j2
  .github/workflows/tag-release.yml
  .github/workflows/tag-release.yml.j2
  scripts/makebumpver
Labels: infrastructure, f38

#4365 There are no installation targets if bootloader devices are not set (#2131183)
  pyanaconda/modules/storage/bootloader/base.py
  pyanaconda/modules/storage/bootloader/grub2.py
Labels: f38

#4421 makebumpver: Ignore all infra, not just bumps
  scripts/makebumpver
Labels: f38

#4417 network: commit changes synchronously when dumping autoconnections
  pyanaconda/modules/network/initialization.py
Labels: rhel8-branch, ready to merge

#4390 dracut: read filename dhcp option from dhcpopts file
  dracut/fetch-kickstart-net.sh
Labels: rhel8-branch, ready to merge

#4389 dracut: read filename dhcp option from dhcpopts file
  dracut/fetch-kickstart-net.sh
Labels: rhel-9, ready to merge

#4414 Initialize empty disks on the Manual Partitioning screen (#2127100)
  pyanaconda/modules/storage/disk_initialization/configuration.py
  pyanaconda/modules/storage/partitioning/interactive/utils.py
Labels: rhel-9, ready to merge

#4422 infra: Use environment for releases
  .github/workflows/release-periodically.yml
  .github/workflows/release-periodically.yml.j2
Labels: infrastructure, f38

#4425 Fix infobar colors in GTK GUI
  data/anaconda-gtk.css
Labels: port to RHEL9, f38

#4430 Fix tests after blivet rebase to RHEL-9
  tests/unit_tests/pyanaconda_tests/modules/storage/partitioning/test_module_scheduler.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_clearpart.py
Labels: rhel-9

#4429 Fix tests after blivet rebase to RHEL-8
  tests/nosetests/pyanaconda_tests/clearpart_test.py
  tests/nosetests/pyanaconda_tests/module_scheduler_test.py
Labels: rhel8-branch

#4377 Make text in custom_storage_helper more accurate
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/lib/custom_storage_helpers.glade
  pyanaconda/ui/gui/spokes/lib/custom_storage_helpers.py
Labels: port to RHEL8, port to RHEL9, f38

#4441 Fix automated releases
  .github/workflows/release-periodically.yml
  .github/workflows/release-periodically.yml.j2
Labels: infrastructure, f38

#4412 Support bond device activated in initramfs from kickstart
  dracut/parse-kickstart
  tests/unit_tests/dracut_tests/test_parse_kickstart.py
Labels: rhel-9, ready to merge

#4427 Fix the installation message about the payload installation
  pyanaconda/installation.py
Labels: f38

#4398 Disable the concurrency check in the error dialog in TUI
  anaconda.spec.in
  pyanaconda/ui/tui/tuiobject.py
Labels: rhel8-branch, ready to merge

#4409 Support bond device activated in initramfs from kickstart
  dracut/parse-kickstart
  tests/nosetests/dracut_tests/parse-kickstart_test.py
Labels: rhel8-branch, ready to merge

#4451 Add a block of history about the name of the installer
  docs/intro.rst
Labels: documentation, f38
