Repository rhinstaller/anaconda, pull requests merged in 2022-12, with the labels that each got.

#4450 makebumpver: ignore commits with (#test) in summary (#infra)
  scripts/makebumpver
Labels: f38

#4449 makebumpver: ignore commits with (#test) in summary (#infra)
  scripts/makebumpver
Labels: rhel8-branch

#4452 webui: Upgrade to react 18 and enable the new concurrent renderer
  ui/webui/package.json
  ui/webui/src/index.js
Labels: master, webui

#4469 infra: Don't run scheduled events on forks
  .github/workflows/container-autoupdate-eln.yml
  .github/workflows/container-autoupdate-eln.yml.j2
  .github/workflows/container-autoupdate-fedora.yml
  .github/workflows/container-autoupdate-fedora.yml.j2
  .github/workflows/daily-rhel-copr.yml
  .github/workflows/daily-rhel-copr.yml.j2
  .github/workflows/stale-pull-requests.yml
  .github/workflows/stale-pull-requests.yml.j2
  .github/workflows/try-release-daily.yml
  .github/workflows/try-release-daily.yml.j2
Labels: infrastructure, f38

#4465 infra: Notify about tagged releases in gChat
  .github/workflows/release-periodically.yml
  .github/workflows/release-periodically.yml.j2
Labels: infrastructure, f38

#4454 Use RHEL9_SshKeyData to fix sshkey quoting problem
  anaconda.spec.in
  pyanaconda/core/kickstart/commands.py
Labels: rhel-9, ready to merge

#4466 docs: corrections and additions to the history
  docs/intro.rst
Labels: documentation, f38

#4473 Fix typo in the docs
  docs/intro.rst
Labels: documentation, f38

#4464 GUI: Update the glade file for the Installation Source screen
  pyanaconda/ui/gui/spokes/installation_source.glade
Labels: f38
