Repository rhinstaller/anaconda, pull requests merged in 2022-04, with the labels that each got.

#3998 webui: tests: add support for adding a second disk to the test VM
  ui/webui/src/apis/storage.js
  ui/webui/src/components/storage/InstallationDestination.jsx
  ui/webui/test/check-storage
  ui/webui/test/machine_install.py
Labels: f37, webui

#3992 Add Release Notes for keyboard configuration split on Live (#2016613)
  docs/release-notes/detach-keyboard-config-from-Live.rst
Labels: f36, f37

#3987 webui: Initial Review screen implementation
  ui/webui/src/apis/localization.js
  ui/webui/src/apis/storage.js
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/src/components/installation/ReviewConfiguration.jsx
  ui/webui/test/check-installation-review
  ui/webui/test/helpers/installer.py
Labels: f37, webui

#4004 webui: Make it possible to go back to language selection screen
  ui/webui/src/components/AnacondaWizard.jsx
Labels: webui

#3996 webui: update selected language on the backend and some other improvements on the language step
  ui/webui/src/apis/localization.js
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/src/components/installation/InstallationLanguage.jsx
  ui/webui/src/helpers/language.js
  ui/webui/test/check-basic
  ui/webui/test/check-installation-language
  ui/webui/test/check-installation-progress
  ui/webui/test/check-installation-review
  ui/webui/test/check-storage
Labels: f37, webui

#4001 webui: fix reboot & quit callback
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/src/components/app.jsx
  ui/webui/src/helpers/conf.js
  ui/webui/src/helpers/exit.js
  ui/webui/test/check-basic
  ui/webui/test/machine_install.py
Labels: f37, webui

#4005 webui: port review screen confirmation from checkbox to modal dialog
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/src/components/installation/ReviewConfiguration.jsx
  ui/webui/test/helpers/installer.py
Labels: f37, webui

#4003 Bump Cockpit version of testlib to 266
  ui/webui/Makefile.am
  ui/webui/test/helpers/language.py
Labels: f37, webui

#4008 webui: standardize the naming of the ids and classNames
  ui/webui/.gitignore
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/src/components/installation/InstallationLanguage.scss
  ui/webui/src/components/installation/InstallationProgress.jsx
  ui/webui/src/components/installation/InstallationProgress.scss
  ui/webui/src/components/localization/InstallationLanguage.jsx
  ui/webui/src/components/review/ReviewConfiguration.jsx
  ui/webui/src/components/storage/InstallationDestination.jsx
  ui/webui/test/check-basic
  ui/webui/test/check-language
  ui/webui/test/check-progress
  ui/webui/test/check-review
  ui/webui/test/check-storage
  ui/webui/test/helpers/installer.py
  ui/webui/test/helpers/language.py
Labels: f37, webui

#4013 Add a workflow to build boot iso from a comment
  .github/workflows/build-boot-iso.yml
  dockerfile/anaconda-iso-creator/Dockerfile
  dockerfile/anaconda-iso-creator/lorax-build
Labels: infrastructure, f37

#4019 some little webui test fixes
  ui/webui/Makefile.am
  ui/webui/test/check-basic
  ui/webui/test/helpers/installer.py
Labels: webui

#4018 webui: fix typo in the review configuration disk table
  ui/webui/src/components/review/ReviewConfiguration.jsx
Labels: f37, webui

#3985 Improve some of the storage errors and warnings
  pyanaconda/modules/storage/checker/utils.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_storage_checker.py
Labels: f37

#4009 Add the `origin` attribute to the repo configuration data
  pyanaconda/core/constants.py
  pyanaconda/modules/common/structures/payload.py
  pyanaconda/modules/payloads/kickstart.py
  pyanaconda/payload/dnf/payload.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_dnf_repo.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_url.py
Labels: f37

#4012 Don't log the output of journalctl -b
  pyanaconda/modules/boss/installation.py
  tests/unit_tests/pyanaconda_tests/modules/boss/test_copy_logs_task.py
Labels: f37

#3988 Fix the documentation of the languages attribute in packages configuration
  pyanaconda/modules/common/structures/packages.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf_installation.py
Labels: f37

#4024 Fix translations in DBus modules (#2071098)
  pyanaconda/core/startup/dbus_launcher.py
Labels: f36

#4016 Fix unit tests of the treeinfo support
  pyanaconda/modules/payloads/payload/dnf/tree_info.py
  pyanaconda/payload/dnf/payload.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_dnf_tree_info.py
Labels: f37

#4014 webui: set modules locale for translating messages from the backend
  ui/webui/src/apis/boss.js
  ui/webui/src/components/localization/InstallationLanguage.jsx
  ui/webui/src/helpers/language.js
  ui/webui/test/check-language
  ui/webui/test/helpers/language.py
Labels: f37, webui

#4025 Don't set the global domain to `anaconda`
  anaconda.py
  pyanaconda/core/util.py
Labels: f37

#4021 webui: Also filter languages by English names
  ui/webui/src/components/localization/InstallationLanguage.jsx
  ui/webui/test/check-language
Labels: f37, webui

#4037 Fix keyboard spoke issue if Live system changed keyboard layouts (#20…
  pyanaconda/ui/gui/spokes/keyboard.py
Labels: f36, f37

#4002 webui: tests: increase abstraction of changing pages in the wizard
  ui/webui/test/check-review
  ui/webui/test/check-storage
  ui/webui/test/helpers/installer.py
Labels: f37, webui

#3984 scripts: don't unnecessarily use cat and use grep -E
  scripts/anaconda-pre-log-gen
Labels: f37

#4039 Improve logic of the keyboard spoke complete method
  pyanaconda/ui/gui/spokes/keyboard.py
Labels: f37

#4040 Distinguish URLs from paths in the treeinfo support
  pyanaconda/modules/payloads/payload/dnf/tree_info.py
  pyanaconda/payload/dnf/payload.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_dnf_tree_info.py
Labels: f37

#4044 Correct message when ignoring hibernation flag
  pyanaconda/core/storage.py
Labels: f37

#4042 Clean up the code that reloads treeinfo repositories
  pyanaconda/modules/payloads/payload/dnf/repositories.py
  pyanaconda/payload/dnf/payload.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_dnf_tree_info.py
Labels: f37

#4038 webui: tests improvements, dbus_reset_partitioning, check betanag
  ui/webui/test/check-basic
  ui/webui/test/check-language
  ui/webui/test/check-progress
  ui/webui/test/check-review
  ui/webui/test/check-storage
  ui/webui/test/helpers/installer.py
  ui/webui/test/helpers/language.py
  ui/webui/test/helpers/storage.py
Labels: f37

#3890 [rhel-9] ovirt: move /var/tmp to its own partition
  data/product.d/ovirt.conf
  data/product.d/rhvh.conf
  tests/unit_tests/pyanaconda_tests/test_product.py
Labels: rhel-9, ready to merge

#4015 webui: Update READMEs
  ui/webui/README.rst
  ui/webui/test/README.rst
Labels: documentation, f37, webui

#4046 Document why the DNF transaction runs in a sub-process
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
Labels: f37

#4047 Call join_paths to create an absolute path
  pyanaconda/modules/payloads/payload/dnf/tree_info.py
Labels: f37

#4052 Remove dependency on eslint-plugin-standard
  ui/webui/package.json
Labels: f37, webui

#4041 Improve dependabot handling of the infra-check (#infra)
  .github/dependabot.yml
  .github/workflows/infra-check.yml
Labels: infrastructure, f37

#4058 GUI fixes
  pyanaconda/ui/gui/COMPLIANCE
  pyanaconda/ui/gui/spokes/root_password.glade
  pyanaconda/ui/gui/spokes/root_password.py
  pyanaconda/ui/gui/spokes/storage.glade
Labels: f37

#3898 Add missing npm dependency to the install_dependencies
  scripts/testing/install_dependencies.sh
Labels: infrastructure, f37

#4055 Add eslint as an unit test for webui
  tests/Makefile.am
  tests/webui_eslint/run_webui_eslint.sh
Labels: f37, webui

#3913 webui: Don't check SSH key in command from VM script
  ui/webui/test/webui_testvm.py
Labels: f37, webui

#3993 Run restorecon in chroot when handling home dirs
  pyanaconda/core/users.py
  pyanaconda/core/util.py
  pyanaconda/modules/boss/installation.py
  tests/unit_tests/pyanaconda_tests/core/test_user_create.py
  tests/unit_tests/pyanaconda_tests/core/test_util.py
  tests/unit_tests/pyanaconda_tests/modules/boss/test_copy_logs_task.py
  tests/unit_tests/pyanaconda_tests/modules/boss/test_set_file_contexts_task.py
Labels: f37

#4061 Split the code for the installation source spoke
  pyanaconda/ui/gui/spokes/installation_source.glade
  pyanaconda/ui/gui/spokes/installation_source.py
  pyanaconda/ui/gui/spokes/lib/installation_source_helpers.glade
  pyanaconda/ui/gui/spokes/lib/installation_source_helpers.py
Labels: f37

#4067 Add new dependency to our container required by copr from pip (#infra)
  dockerfile/anaconda-ci/Dockerfile
Labels: rhel8-branch, infrastructure

#4068 Remove the unused _set_repo_enabled method
  pyanaconda/payload/dnf/payload.py
Labels: f37
