Repository rhinstaller/anaconda, pull requests merged in 2022-09, with the labels that each got.

#4292 Create the LVM devices file (#2011329)
  anaconda.spec.in
  pyanaconda/modules/storage/installation.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_storage.py
Labels: f38

#4301 Web UI: Show the help drawer next to content
  ui/webui/src/components/HelpDrawer.jsx
Labels: webui, f38

#4302 Run yelp under liveuser if possible
  pyanaconda/core/configuration/system.py
  pyanaconda/ui/lib/help.py
  tests/unit_tests/pyanaconda_tests/ui/test_help.py
Labels: port to Fedora, f37

#4310 Release from detected tag, not starting branch (#infra)
  .github/workflows/tag-release.yml
  .github/workflows/tag-release.yml.j2
Labels: infrastructure, f38

#4303 Do not pass rd.znet on to installed system unconditionally
  data/anaconda.conf
  docs/release-notes/no-rd-znet.rst
Labels: f38

#4309 Ignore dependabot commits in changelog
  scripts/makebumpver
Labels: f38

#4312 Report registration errors from kickstart
  anaconda.py
  pyanaconda/errors.py
  pyanaconda/ui/lib/subscription.py
Labels: f38

#4314 Always set system purpose from the GUI
  pyanaconda/modules/subscription/runtime.py
  pyanaconda/modules/subscription/system_purpose.py
  pyanaconda/ui/gui/spokes/subscription.py
Labels: f38

#4299 gui: fix summary hub layout for Japanese translations
  widgets/src/SpokeSelector.c
Labels: port to Fedora, rhel-9, ready to merge

#4317 Run yelp under liveuser with the right environment
  pyanaconda/ui/lib/help.py
  tests/unit_tests/pyanaconda_tests/ui/test_help.py
Labels: port to Fedora, f37

#4321 Run yelp under liveuser if possible
  pyanaconda/core/configuration/system.py
  pyanaconda/ui/lib/help.py
  tests/unit_tests/pyanaconda_tests/ui/test_help.py
Labels: f38

#4316 Do not crash on network --device link with wireless device
  pyanaconda/modules/network/nm_client.py
Labels: rhel-9, ready to merge

#4315 Do not crash on network --device link with wireless device
  pyanaconda/modules/network/nm_client.py
Labels: rhel8-branch, ready to merge

#4327 Do not crash on network --device link with wireless device
  pyanaconda/modules/network/nm_client.py
Labels: rhel8-branch, ready to merge

#4325 gui: fix summary hub layout for Japanese translations
  widgets/src/SpokeSelector.c
Labels: f38

#4323 Improve Register button click feedback
  pyanaconda/ui/gui/spokes/subscription.py
Labels: f38

#4329 Use correct hint for VNC password boot option
  pyanaconda/vnc.py
Labels: f38

#4305 Show multiple bootloader devices on the Manual Partitioning screen
  pyanaconda/modules/common/structures/storage.py
  pyanaconda/modules/storage/devicetree/model.py
  pyanaconda/modules/storage/devicetree/root.py
  pyanaconda/modules/storage/devicetree/viewer.py
  pyanaconda/modules/storage/partitioning/interactive/utils.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  tests/unit_tests/pyanaconda_tests/modules/storage/partitioning/test_module_scheduler.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_model.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_device_tree.py
Labels: f37

#4307 Verify a biosboot partition on all installation targets
  pyanaconda/modules/storage/bootloader/base.py
  pyanaconda/modules/storage/bootloader/grub2.py
  pyanaconda/modules/storage/checker/utils.py
Labels: f37

#4326 Use the Bugzilla API key in the `makebumpver` script
  scripts/makebumpver
Labels: port to RHEL8, infrastructure, port to RHEL9, f38

#4332 infra: Use the Bugzilla API key in the `makebumpver` script
  scripts/makebumpver
Labels: infrastructure, rhel-9

#4333 infra: Use the Bugzilla API key in the `makebumpver` script
  scripts/makebumpver
Labels: rhel8-branch, infrastructure

#4324 Document how to fix NPM cache issues in Cockpit CI
  docs/testing.rst
Labels: documentation, webui, f38

#4339 Reload packit config from template (#infra)
  .packit.yml
Labels: infrastructure, f37

#4330 Timezone spoke will not show timezone borders anymore (#2103657)
  docs/release-notes/timezone-remove-borders.rst
Labels: f37

#4328 F37 geoloc wait again
  anaconda.py
  pyanaconda/core/constants.py
  pyanaconda/modules/common/task/__init__.py
  pyanaconda/modules/timezone/timezone.py
  pyanaconda/modules/timezone/timezone_interface.py
  pyanaconda/startup_utils.py
  tests/unit_tests/pyanaconda_tests/core/test_startup_utils.py
  tests/unit_tests/pyanaconda_tests/modules/common/test_tasks.py
  tests/unit_tests/pyanaconda_tests/modules/timezone/test_module_timezone.py
Labels: port to Fedora, f37

#4343 Wait for geolocation and set result in main process
  anaconda.py
  pyanaconda/core/constants.py
  pyanaconda/modules/common/task/__init__.py
  pyanaconda/modules/timezone/timezone.py
  pyanaconda/modules/timezone/timezone_interface.py
  pyanaconda/startup_utils.py
  pyanaconda/ui/gui/spokes/welcome.py
  tests/unit_tests/pyanaconda_tests/core/test_startup_utils.py
  tests/unit_tests/pyanaconda_tests/modules/common/test_tasks.py
  tests/unit_tests/pyanaconda_tests/modules/timezone/test_module_timezone.py
Labels: f38

#4337 Re-enable tag release for branched fedora (#infra)
  .github/workflows/tag-release.yml.j2
Labels: infrastructure, f38

#4338 Create hw module from bits of isys and utils.
  anaconda.py
  pyanaconda/core/hw.py
  pyanaconda/core/util.py
  pyanaconda/display.py
  pyanaconda/isys/__init__.py
  pyanaconda/modules/payloads/payload/dnf/requirements.py
  pyanaconda/modules/payloads/payload/dnf/utils.py
  pyanaconda/modules/storage/checker/utils.py
  pyanaconda/startup_utils.py
  pyanaconda/ui/gui/hubs/summary.py
  pyanaconda/ui/tui/spokes/kernel_warning.py
  tests/unit_tests/pyanaconda_tests/core/test_hw.py
  tests/unit_tests/pyanaconda_tests/core/test_util.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf_requirements.py
Labels: blocked, f38

#4340 CI: Check that no commits forgot infra-reload (#infra)
  .github/workflows/infra-check.yml
Labels: manual testing required, infrastructure, f38

#4354 Fix Web UI VM startup on F37
  ui/webui/test/machine_install.py
Labels: webui, f38

#4350 Use faulthandler instead of isys signal handlers
  anaconda.py
  pyanaconda/isys/__init__.py
  pyanaconda/isys/isys.c
Labels: release note required, f38

#4304 Call the Blivet.copy method
  anaconda.spec.in
  pyanaconda/modules/storage/devicetree/model.py
Labels: f38

#4351 Fix duplicate alt-D accelerator on root account screen
  pyanaconda/ui/gui/spokes/root_password.glade
Labels: f38

#4356 Web UI: Make context help reusable
  ui/webui/src/components/HelpDrawer.jsx
  ui/webui/src/components/app.jsx
  ui/webui/src/components/storage/HelpStorageOptions.jsx
  ui/webui/src/components/storage/InstallationDestination.jsx
Labels: webui, f38
