Repository rhinstaller/anaconda, pull requests merged in 2023-07, with the labels that each got.

#4834 Build boot.iso for webui e2e tests and use it
  .github/workflows/webui-tests.yml
  .github/workflows/webui-tests.yml.j2
Labels: infrastructure, webui, f39

#4877 webui: Disable strict host checking in SSH config snippet
  ui/webui/test/README.rst
Labels: webui, f39

#4881 webui: if device selection changed since last partitioning request redo the partitioning
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/src/components/storage/CustomMountPoint.jsx
  ui/webui/test/check-storage
Labels: webui, f39

#4885 webui: pin down cockpit-* packages versions for gating purposes
  ui/webui/test/build-rpms
  ui/webui/test/prepare-updates-img
Labels: webui, f39

#4883 webui: tests: adjust next and back helper methods to count with a non linear step tree
  ui/webui/test/check-basic
  ui/webui/test/check-progress
  ui/webui/test/check-review
  ui/webui/test/check-storage
  ui/webui/test/helpers/installer.py
Labels: webui, f39

#4892 webui: tests: stabilize the integration suite
  ui/webui/src/components/app.jsx
  ui/webui/test/check-language
  ui/webui/test/helpers/installer.py
Labels: webui, f39

#4893 Fix unit tests for python 3.12
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_flatpak_manager.py
Labels: f39

#4894 infra: Group dependabot updates
  .github/dependabot.yml
Labels: infrastructure, f39

#4826 Be more indulgent when reclaiming disk space (#1855371)
  pyanaconda/ui/gui/spokes/lib/resize.py
Labels: rhel8-branch, ready to merge

#4808 Do not print error on inst.ks=cdrom|hd (#2211857)
  dracut/fetch-kickstart-net.sh
Labels: rhel8-branch, ready to merge

#4902 webui: tests: implement a 'reach' helper method
  ui/webui/test/check-basic
  ui/webui/test/check-review
  ui/webui/test/check-storage
  ui/webui/test/helpers/installer.py
Labels: webui, f39

#4904 webui: pin down cockpit-ws and cockpit-bridge versions before the python bridge release
  ui/webui/test/prepare-updates-img
Labels: webui, f39

#4872 Allow showing passphrase when unlocking LUKS device
  pyanaconda/ui/gui/spokes/custom_storage.glade
  pyanaconda/ui/gui/spokes/custom_storage.py
Labels: rhel-9, ready to merge

#4825 Be more indulgent when reclaiming disk space (#2187371)
  pyanaconda/ui/gui/spokes/lib/resize.py
Labels: rhel-9, ready to merge

#4807 Do not print error on inst.ks=cdrom|hd (#2077045)
  dracut/fetch-kickstart-net.sh
Labels: rhel-9, ready to merge

#4882 webui: correct the last partitioning getter
  ui/webui/src/apis/storage.js
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/src/components/storage/InstallationDestination.jsx
  ui/webui/test/check-storage
  ui/webui/test/helpers/storage.py
Labels: webui, f39

#4906 infra: Don't consider the Fedora 38 branch anymore
  .branch-variables.yml
  .github/workflows/container-autoupdate-fedora.yml
  .github/workflows/tests-daily.yml
  .github/workflows/try-release-daily.yml
Labels: infrastructure, f39

#4910 webui: fix disk selection not working when moving back to the disk selection screen
  ui/webui/src/components/storage/InstallationDestination.jsx
  ui/webui/test/check-storage
  ui/webui/test/helpers/storage.py
Labels: webui, f39

#4879 Handle subprocess disallowing preexec during shutdown
  anaconda.py
  pyanaconda/core/util.py
  pyanaconda/vnc.py
  tests/unit_tests/pyanaconda_tests/core/test_util.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_storage.py
Labels: f39

#4891 webui: Hide the language selection screen on Live images
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/test/check-basic
Labels: webui, f39

#4912 infra: Disable pylint for python 3.12
  tests/Makefile.am
Labels: f39

#4915 webui: tests: port helpers to busctl and unselect all disks on teardown
  ui/webui/test/anacondalib.py
  ui/webui/test/helpers/storage.py
Labels: webui, f39

#4917 Add possibility to run pylint-only test
  Makefile.am
  tests/Makefile.am
  tests/pylint/runpylint
Labels: f39

#4919 webui: simplify webui-desktop script
  pyanaconda/ui/webui/__init__.py
  ui/webui/webui-desktop
Labels: webui, f39

#4899 webui: Introduce new Critical error component
  ui/webui/src/apis/boss.js
  ui/webui/src/apis/localization.js
  ui/webui/src/apis/payloads.js
  ui/webui/src/apis/storage.js
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/src/components/Error.jsx
  ui/webui/src/components/app.jsx
  ui/webui/test/check-basic
Labels: webui, f39

#4914 Enable ruff pylint checks
  pyanaconda/core/startup/dbus_launcher.py
  pyanaconda/display.py
  pyanaconda/modules/common/structures/packages.py
  pyanaconda/modules/common/structures/user.py
  pyanaconda/modules/storage/reset.py
  pyanaconda/modules/storage/storage.py
  pyanaconda/modules/storage/storage_interface.py
  pyanaconda/modules/subscription/runtime.py
  pyanaconda/ui/gui/spokes/advanced_storage.py
  pyanaconda/ui/tui/spokes/askvnc.py
  pyanaconda/ui/tui/spokes/shell_spoke.py
  pyanaconda/ui/webui/__init__.py
  tests/glade_tests/test_format_string.py
  tests/ruff/ruff.toml
  tests/unit_tests/dracut_tests/test_driver_updates.py
  tests/unit_tests/pyanaconda_tests/core/test_util.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_clearpart.py
  tests/unit_tests/regex_tests/test_groupparse.py
  ui/webui/test/end2end/storage_encryption.py
Labels: f39

#4908 makeupdates: Now targeting python 3.12
  scripts/makeupdates
Labels: f39

#4920 webui: tests: more test cleanup improvements
  ui/webui/src/components/app.jsx
  ui/webui/test/anacondalib.py
  ui/webui/test/check-storage
Labels: webui, f39

#4744 Update License tag in the spec file template to use SPDX syntax
  anaconda.spec.in
Labels: f39

#4873 webui: introduce dialog to unlock existing locked LUKS partitions
  pyanaconda/modules/common/structures/storage.py
  pyanaconda/modules/storage/devicetree/viewer.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_device_tree.py
  ui/webui/src/apis/storage.js
  ui/webui/src/components/app.jsx
  ui/webui/src/components/review/ReviewConfiguration.jsx
  ui/webui/src/components/storage/CustomMountPoint.jsx
  ui/webui/src/components/storage/InstallationDestination.jsx
  ui/webui/src/components/storage/UnlockDialog.jsx
  ui/webui/test/check-storage
Labels: webui, f39

#4916 infra: Check container age in testing make targets
  Makefile.am
  scripts/testing/check-container-age.sh
Labels: f39

#4924 webui: allow critical errors also in the first load of the application
  ui/webui/src/components/app.jsx
  ui/webui/test/check-basic
Labels: webui, f39

#4926 spec: Honor 79 char limit for descriptions
  anaconda.spec.in
Labels: f39

#4764 Drop deprecated conf: kickstart_modules, addons_enabled
  data/anaconda.conf
  docs/release-notes/removed-conf-options.rst
  pyanaconda/core/configuration/anaconda.py
  tests/unit_tests/pyanaconda_tests/core/test_configuration.py
Labels: notable change, f39

#4931 Publish isFinal on D-Bus
  pyanaconda/modules/runtime/user_interface/ui.py
  pyanaconda/modules/runtime/user_interface/ui_interface.py
  pyanaconda/product.py
Labels: f39

#4923 webui: language information should be fetched also for live media
  ui/webui/src/apis/localization.js
  ui/webui/src/components/app.jsx
  ui/webui/src/components/localization/InstallationLanguage.jsx
  ui/webui/src/components/review/ReviewConfiguration.jsx
  ui/webui/test/check-basic
Labels: webui, f39

#4858 Port GUI kernel switcher for ARM 64k
  data/anaconda.conf
  data/profile.d/rhel.conf
  pyanaconda/core/configuration/ui.py
  pyanaconda/ui/gui/spokes/software_selection.glade
  pyanaconda/ui/gui/spokes/software_selection.py
  pyanaconda/ui/lib/software.py
  pyanaconda/ui/tui/spokes/software_selection.py
  tests/unit_tests/pyanaconda_tests/ui/test_software.py
Labels: f39

#4932 Product cleanups
  pyanaconda/core/constants.py
  pyanaconda/product.py
  pyanaconda/ui/webui/__init__.py
Labels: f39

#4927 Handle missing buildstamp on live media
  ui/webui/src/apis/runtime.js
  ui/webui/src/components/app.jsx
  ui/webui/src/helpers/betanag.js
Labels: webui, f39

#4939 webui: the encryption password screen is not subpage anymore
  ui/webui/test/check-storage
  ui/webui/test/end2end/storage_encryption.py
  ui/webui/test/helpers/installer.py
Labels: webui, f39

#4941 webui: setup lint for style files
  ui/webui/.stylelintrc.json
  ui/webui/build.js
  ui/webui/package.json
  ui/webui/src/components/HeaderKebab.scss
  ui/webui/src/components/app.scss
  ui/webui/src/components/installation/InstallationProgress.scss
  ui/webui/src/components/storage/DiskEncryption.scss
Labels: webui, f39

#4938 webui: a few tests fixes and code improvements
  ui/webui/src/actions/storage-actions.js
  ui/webui/src/components/storage/StorageConfiguration.jsx
  ui/webui/test/check-storage
Labels: webui, f39

#4909 infra: Enable @storage/udisks-daily Copr repo for CI images
  dockerfile/anaconda-ci/Dockerfile
  dockerfile/anaconda-rpm/Dockerfile
Labels: infrastructure, f39

#4943 webui: make all actions return anonymous functions
  ui/webui/src/actions/localization-actions.js
  ui/webui/src/actions/storage-actions.js
Labels: webui, f39

#4878 WIP: Check for webui with property
  pyanaconda/anaconda.py
  pyanaconda/core/constants.py
Labels: webui, f39

#4949 infra: Fix permissions for Permian GitHub reporter
  .github/workflows/webui-tests.yml
  .github/workflows/webui-tests.yml.j2
Labels: infrastructure, f39

#4954 webui: debounce password quality checks to be done only once per 300ms
  ui/webui/package.json
  ui/webui/src/components/storage/DiskEncryption.jsx
Labels: webui, f39

#4955 infra: Fix check of test results in webui-tests workflow
  .github/workflows/webui-tests.yml
  .github/workflows/webui-tests.yml.j2
Labels: infrastructure, f39

#4930 webui: tests: Fix WebUI end2end tests
  ui/webui/test/end2end/wizard_navigation.py
  ui/webui/test/helpers/end2end.py
  ui/webui/test/helpers/progress.py
Labels: webui, f39

#4957 webui: docs: fix documentation on how to re-create the updates.img
  ui/webui/test/README.rst
Labels: webui, f39

#4959 webui: debounce changes on the password confirmation field
  ui/webui/src/components/storage/DiskEncryption.jsx
Labels: webui, f39

#4961 webui: Introduce cockpit-style debug() helper
  ui/webui/src/apis/localization.js
  ui/webui/src/apis/storage.js
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/src/components/app.jsx
  ui/webui/src/components/storage/InstallationMethod.jsx
  ui/webui/src/helpers/log.js
  ui/webui/test/README.rst
Labels: webui, f39

#4918 webui: Add Firefox theme for use on Live media
  anaconda.spec.in
  pyanaconda/ui/webui/__init__.py
  ui/webui/Makefile.am
  ui/webui/firefox-theme/default/chrome/userChrome.css
  ui/webui/firefox-theme/default/user.js
  ui/webui/firefox-theme/live/chrome/userChrome.css
  ui/webui/firefox-theme/live/user.js
  ui/webui/webui-desktop
Labels: blocked, webui, f39

#4950 webui: Disable minification
  ui/webui/build.js
Labels: webui, f39

#4963 webui: unpack GetDiskFreeSpace and GetDiskTotalSpace from array
  ui/webui/src/actions/storage-actions.js
  ui/webui/src/apis/storage.js
Labels: webui, f39

#4962 webui: minor code cleanups
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/src/components/review/ReviewConfiguration.jsx
  ui/webui/src/components/storage/InstallationMethod.jsx
  ui/webui/src/components/storage/InstallationScenario.jsx
  ui/webui/test/helpers/storage.py
Labels: webui, f39

#4951 Add a sub-module manager
  pyanaconda/modules/common/submodule_manager.py
  pyanaconda/modules/runtime/runtime.py
  pyanaconda/modules/storage/bootloader/bootloader.py
  pyanaconda/modules/storage/dasd/dasd.py
  pyanaconda/modules/storage/devicetree/devicetree.py
  pyanaconda/modules/storage/disk_initialization/initialization.py
  pyanaconda/modules/storage/disk_selection/selection.py
  pyanaconda/modules/storage/nvdimm/nvdimm.py
  pyanaconda/modules/storage/snapshot/snapshot.py
  pyanaconda/modules/storage/storage.py
  pyanaconda/modules/storage/storage_subscriber.py
Labels: f39

#4973 webui: Translate strings used in cockpit.format
  ui/webui/src/components/HeaderKebab.jsx
  ui/webui/src/components/app.jsx
  ui/webui/src/components/localization/InstallationLanguage.jsx
Labels: webui, f39

#4965 webui: catch also exceptions from GetDevicesAction when rescanning disks
  ui/webui/src/components/storage/InstallationMethod.jsx
Labels: webui, f39

#4953 webui: Quit button does not work on the Live image
  ui/webui/webui-desktop
Labels: webui, f39

#4977 docs: use correct path for manual VM testing command
  ui/webui/test/README.rst
Labels: webui, f39

#4958 Revert 64k ARM switcher
  data/anaconda.conf
  data/profile.d/rhel.conf
  pyanaconda/core/configuration/ui.py
  pyanaconda/ui/gui/spokes/software_selection.glade
  pyanaconda/ui/gui/spokes/software_selection.py
  pyanaconda/ui/lib/software.py
  pyanaconda/ui/tui/spokes/software_selection.py
  tests/unit_tests/pyanaconda_tests/ui/test_software.py
Labels: f39

#4967 webui: tests: add method to partition disk
  ui/webui/test/check-storage
Labels: webui, f39

#4971 Don't copy bots in container, we don't need them
  dockerfile/anaconda-ci/Dockerfile
  dockerfile/anaconda-ci/run-build-and-arg
  dockerfile/anaconda-rpm/Dockerfile
Labels: infrastructure, f39

#4978 webui: update cockpit dependencies to the latest released in rawhide
  ui/webui/test/prepare-updates-img
Labels: webui, f39

#4970 Allow reformatting of 'plain' btrfs volumes
  pyanaconda/modules/storage/partitioning/manual/manual_partitioning.py
Labels: f39
