Repository rhinstaller/anaconda, pull requests merged in 2023-06, with the labels that each got.

#4800 If system uses nano as default editor, do the same
  anaconda.py
Labels: f39

#4740 Load translations on the fly - eval approach
  ui/webui/src/components/Common.jsx
  ui/webui/src/components/app.jsx
  ui/webui/src/components/localization/InstallationLanguage.jsx
  ui/webui/src/manifest.json
Labels: webui, f39

#4799 Block more usernames as reserved
  pyanaconda/core/users.py
  tests/unit_tests/pyanaconda_tests/core/test_user.py
Labels: f39

#4809 webui: change the language direction when language changes
  ui/webui/src/components/localization/InstallationLanguage.jsx
  ui/webui/src/index.js
  ui/webui/test/check-language
  ui/webui/test/helpers/language.py
Labels: webui, f39

#4806 tests: Fix webui-tests workflow
  .github/workflows/webui-tests.yml
  .github/workflows/webui-tests.yml.j2
  ui/webui/test/integration/github_pr.plan.yaml
  ui/webui/test/integration/webui_integration_all.plan.yaml
Labels: webui, f39

#4794 Rhel 9 fix inst proxy
  dracut/parse-anaconda-options.sh
  dracut/parse-kickstart
  tests/unit_tests/dracut_tests/test_parse_kickstart.py
Labels: port to Fedora, rhel-9, ready to merge

#4812 Improve btrfs handling in custom partitioning
  pyanaconda/modules/storage/devicetree/root.py
  pyanaconda/modules/storage/partitioning/interactive/utils.py
Labels: f39

#4817 webui: enable linter for webui CI runs
  .cockpit-ci/run
  ui/webui/src/index.js
Labels: webui, f39

#4819 infra: Make it possible to build webui boot.iso by comment
  .github/workflows/build-boot-iso.yml
  .github/workflows/build-boot-iso.yml.j2
Labels: infrastructure, f39

#4820 Suggest cockpit toolbox for the developent of the webui
  CONTRIBUTING.rst
  ui/webui/README.rst
  ui/webui/test/README.rst
Labels: webui, f39

#4810 infra: Upload kickstart test logs together
  .github/workflows/kickstart-tests.yml
  .github/workflows/kickstart-tests.yml.j2
Labels: infrastructure, f39

#4795 Don't override blivet's preferred disk label type by default
  anaconda.spec.in
  data/anaconda.conf
  docs/release-notes/respect-blivet-label-type.rst
Labels: f39

#4793 infra: Automatically add labels for new PRs
  .branch-variables.yml
  .github/labeler.yml
  .github/labeler.yml.j2
  .github/workflows/autolabel.yml
Labels: infrastructure, f39

#4802 Stop infinite wait for CDROM when KS is processed (#2209599)
  dracut/kickstart-genrules.sh
Labels: rhel-9, ready to merge

#4775 Change driver_updates exit info messages to debug (#2154904)
  dracut/driver_updates.py
Labels: rhel8-branch, ready to merge

#4803 Stop infinite wait for CDROM when KS is processed (#2209602)
  dracut/kickstart-genrules.sh
Labels: rhel8-branch, ready to merge

#4833 Master fix add label permissions
  .github/labeler.yml
  .github/labeler.yml.j2
  .github/workflows/autolabel.yml
Labels: infrastructure, f39

#4815 Add easy way to build ISO from Anaconda
  CONTRIBUTING.rst
  Makefile.am
Labels: infrastructure, f39

#4818 Add missing toolbox deps webui
  CONTRIBUTING.rst
  scripts/testing/install_dependencies.sh
  scripts/testing/install_webui_dependencies.sh
Labels: infrastructure, webui, f39

#4836 webui: increasing timeout for download cockpit rpms
  ui/webui/test/build-rpms
Labels: webui, f39

#4838 webui: add expected journal messages coming from cockpit's new python bridge
  ui/webui/test/anacondalib.py
Labels: webui, f39

#4841 Revert "WebUI: explicitly specify GITHUB_BASE for pixel test commands"
  ui/webui/test/README.rst
Labels: webui, f39

#4839 Fix typo in container-webui-iso-build Make target (#infra)
  Makefile.am
Labels: infrastructure, f39

#4771 RHEL 9 geolocation and timezone
  anaconda.py
  data/anaconda.conf
  docs/boot-options.rst
  pyanaconda/core/configuration/anaconda.py
  pyanaconda/core/configuration/timezone.py
  pyanaconda/core/constants.py
  pyanaconda/geoloc.py
  pyanaconda/modules/common/structures/timezone.py
  pyanaconda/modules/common/task/__init__.py
  pyanaconda/modules/timezone/initialization.py
  pyanaconda/modules/timezone/timezone.py
  pyanaconda/modules/timezone/timezone_interface.py
  pyanaconda/startup_utils.py
  pyanaconda/ui/gui/spokes/datetime_spoke.py
  pyanaconda/ui/gui/spokes/lib/beta_warning_dialog.glade
  pyanaconda/ui/gui/spokes/lib/beta_warning_dialog.py
  pyanaconda/ui/gui/spokes/welcome.glade
  pyanaconda/ui/gui/spokes/welcome.py
  pyanaconda/ui/tui/spokes/time_spoke.py
  tests/unit_tests/pyanaconda_tests/core/test_configuration.py
  tests/unit_tests/pyanaconda_tests/core/test_startup_utils.py
  tests/unit_tests/pyanaconda_tests/modules/common/test_tasks.py
  tests/unit_tests/pyanaconda_tests/modules/timezone/test_module_timezone.py
  tests/unit_tests/pyanaconda_tests/modules/timezone/test_timezone_geoloc.py
  tests/unit_tests/pyanaconda_tests/modules/timezone/test_timezone_tasks.py
Labels: rhel-9, ready to merge

#4829 Fix "proxy" boot option is printing inst. warning (#2177219)
  pyanaconda/argument_parsing.py
Labels: rhel-9, ready to merge

#4824 Allow/improve displaying passwords in plain text (#2013190)
  pyanaconda/ui/gui/spokes/installation_source.glade
  pyanaconda/ui/gui/spokes/installation_source.py
  pyanaconda/ui/gui/spokes/root_password.glade
  pyanaconda/ui/gui/spokes/root_password.py
  pyanaconda/ui/gui/spokes/subscription.glade
  pyanaconda/ui/gui/spokes/subscription.py
  pyanaconda/ui/gui/spokes/user.glade
  pyanaconda/ui/gui/spokes/user.py
Labels: rhel-9, ready to merge

#4845 WebUI: Convert InstallationProgress to function
  ui/webui/src/components/installation/InstallationProgress.jsx
Labels: webui, f39

#4852 WebUI: Use Cockpit's os-release implementation
  ui/webui/src/components/app.jsx
  ui/webui/src/components/localization/InstallationLanguage.jsx
  ui/webui/src/helpers/product.js
Labels: webui, f39

#4850 WebUI: Switch Quit/Reboot button in Progress spoke
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/src/components/installation/InstallationProgress.jsx
Labels: webui, f39

#4855 webui: Fix WebUI end2end tests after recent renaming and introducing of screenshot limit
  .github/workflows/webui-tests.yml
  .github/workflows/webui-tests.yml.j2
  ui/webui/test/end2end/default.tc.yaml
  ui/webui/test/end2end/storage_encryption.tc.yaml
  ui/webui/test/end2end/wizard_navigation.tc.yaml
  ui/webui/test/helpers/end2end.py
  ui/webui/test/helpers/step_logger.py
Labels: infrastructure, webui, f39

#4689 GUI kernel switcher for ARM 64k and Gemini
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
  pyanaconda/payload/dnf/payload.py
  pyanaconda/ui/gui/spokes/software_selection.glade
  pyanaconda/ui/gui/spokes/software_selection.py
  pyanaconda/ui/lib/software.py
  pyanaconda/ui/tui/spokes/software_selection.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf_manager.py
  tests/unit_tests/pyanaconda_tests/ui/test_ui_software.py
Labels: port to Fedora, rhel-9, ready to merge

#4857 Fix anaconda-rpm container for DNF5 (#infra)
  dockerfile/anaconda-rpm/Dockerfile
Labels: infrastructure, f39

#4698 docs: Document the distribution component
  docs/common-bugs.rst
Labels: documentation, f39

#4854 Fix Anaconda startup on Live media via custom webview launcher script
  anaconda.spec.in
  pyanaconda/ui/webui/__init__.py
  tests/shellcheck/ignores.sh
  ui/webui/Makefile.am
  ui/webui/test/check-basic
  ui/webui/webui-desktop
Labels: webui, f39

#4864 webui: state update logic fixes in the reducer
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/src/components/storage/StorageConfiguration.jsx
  ui/webui/src/reducer.js
Labels: webui, f39

#4866 WebUI: Change help drawer width
  ui/webui/src/components/HelpDrawer.jsx
Labels: webui, f39

#4848 Allow showing passphrase when unlocking LUKS device
  pyanaconda/ui/gui/spokes/custom_storage.glade
  pyanaconda/ui/gui/spokes/custom_storage.py
Labels: f39

#4856 webui: store system language information in the global store
  ui/webui/src/actions/localization-actions.js
  ui/webui/src/apis/boss.js
  ui/webui/src/apis/localization.js
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/src/components/app.jsx
  ui/webui/src/components/localization/InstallationLanguage.jsx
  ui/webui/src/components/review/ReviewConfiguration.jsx
  ui/webui/src/reducer.js
Labels: webui, f39

#4871 webui: Start Web UI when the anaconda-webui package is installed
  pyanaconda/anaconda.py
Labels: f39

#4869 Fix aarch64 architecture detection
  pyanaconda/ui/lib/software.py
  tests/unit_tests/pyanaconda_tests/ui/test_ui_software.py
Labels: rhel-9

#4867 Remove unused variable in TUI software selection
  pyanaconda/ui/tui/spokes/software_selection.py
Labels: rhel-9
