Repository rhinstaller/anaconda, pull requests merged in 2023-09, with the labels that each got.

#5078 webui: When re-scanning don't reset disk selection
  ui/webui/src/components/storage/InstallationMethod.jsx
  ui/webui/test/check-storage
  ui/webui/test/helpers/storage.py
Labels: webui, f39

#5120 Fedora 39 rescan no unselect
  ui/webui/src/components/storage/InstallationMethod.jsx
  ui/webui/test/check-storage
  ui/webui/test/helpers/storage.py
Labels: webui, f39

#5114 webui: Show warning when trying to use non-ASCII LUKS passphrase
  ui/webui/src/components/storage/DiskEncryption.jsx
  ui/webui/test/check-storage
Labels: webui, f39

#5117 infra: Enable interrupt for containers
  Makefile.am
Labels: f40

#5070 infra: Don't add translation update to changelog
  .github/workflows/release-from-tag.yml
Labels: infrastructure, f40

#5002 Move product.py to core
  pyanaconda/core/constants.py
  pyanaconda/core/product.py
  pyanaconda/exception.py
  pyanaconda/modules/payloads/payload/dnf/repositories.py
  pyanaconda/modules/payloads/payload/dnf/utils.py
  pyanaconda/modules/runtime/user_interface/ui.py
  pyanaconda/modules/storage/bootloader/efi.py
  pyanaconda/modules/storage/bootloader/extlinux.py
  pyanaconda/modules/storage/bootloader/grub2.py
  pyanaconda/modules/storage/bootloader/systemd.py
  pyanaconda/modules/storage/bootloader/utils.py
  pyanaconda/modules/storage/bootloader/zipl.py
  pyanaconda/modules/storage/checker/utils.py
  pyanaconda/modules/storage/devicetree/model.py
  pyanaconda/modules/storage/partitioning/interactive/utils.py
  pyanaconda/product.py
  pyanaconda/startup_utils.py
  pyanaconda/ui/gui/__init__.py
  pyanaconda/ui/gui/hubs/__init__.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/installation_progress.py
  pyanaconda/ui/gui/spokes/lib/accordion.py
  pyanaconda/ui/gui/spokes/lib/storage_dialogs.py
  pyanaconda/ui/gui/spokes/welcome.py
  pyanaconda/ui/helpers.py
  pyanaconda/vnc.py
  tests/unit_tests/pyanaconda_tests/core/test_product.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_dnf_repositories.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf_utils.py
  tests/unit_tests/pyanaconda_tests/test_product.py
Labels: blocked, f39

#5081 Revert the ESP maximum size back to 600MiB
  docs/release-notes/bigger-esp.rst
  pyanaconda/modules/storage/platform.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_platform.py
Labels: release note required, f39, f40

#5074 core: Look up live user from PKEXEC_UID
  pyanaconda/core/live_user.py
  tests/unit_tests/pyanaconda_tests/core/test_live_user.py
Labels: port to Fedora, f40

#5119 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f39

#5130 Container args cleanup
  Makefile.am
Labels: f40

#5128 infra: Fix makeupdates script place for liveinst
  scripts/makeupdates
Labels: f39

#5127 infra: Fix makeupdates script place for liveinst
  scripts/makeupdates
Labels: f40

#5129 core: Look up live user from PKEXEC_UID
  pyanaconda/core/live_user.py
  tests/unit_tests/pyanaconda_tests/core/test_live_user.py
Labels: f39

#5090 Revert the ESP maximum size back to 600MiB
  docs/release-notes/bigger-esp.rst
  pyanaconda/modules/storage/platform.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_platform.py
Labels: f39

#5056 Copy /var/lib/gnome-initial-setup/state to installed system
  pyanaconda/modules/payloads/payload/live_os/installation.py
  pyanaconda/modules/payloads/payload/live_os/live_os.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_live_os.py
Labels: port to Fedora, f40

#5138 F39 port 5056 copy gis state
  pyanaconda/modules/payloads/payload/live_os/installation.py
  pyanaconda/modules/payloads/payload/live_os/live_os.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_live_os.py
Labels: webui, f39

#5112 Use Firefox environment variables for styling
  data/liveinst/liveinst.desktop
  ui/webui/firefox-theme/live/chrome/userChrome.css
  ui/webui/firefox-theme/live/user.js
  ui/webui/webui-desktop
Labels: webui, f40

#5140 Use Firefox environment variables for styling
  data/liveinst/liveinst.desktop
  ui/webui/firefox-theme/live/chrome/userChrome.css
  ui/webui/firefox-theme/live/user.js
  ui/webui/webui-desktop
Labels: webui, f39

#4880 Docs: added to 'Common bugs and issues' workaround for setup on 4K block devices
  docs/common-bugs.rst
Labels: documentation, f40

#5135 webui: fix a typo in pre-blivet dialog
  ui/webui/src/components/storage/InstallationMethod.jsx
Labels: webui, f40

#5134 webui: update fonts in log review for BZ reporting for Patterfly v5
  ui/webui/src/components/Error.scss
Labels: webui, f40

#5125 webui: fix button spacing in BZ error reporting dialog
  ui/webui/src/components/Error.jsx
Labels: master, webui, f40

#5137 webui: remove extra parenthesis
  ui/webui/src/components/app.jsx
Labels: webui, f40

#5136 infra: do not run manual kickstart tests on PR
  .github/workflows/kickstart-tests.yml
  .github/workflows/kickstart-tests.yml.j2
Labels: infrastructure, f40

#5142 infra: Raise kstest errors in the permian step
  .github/workflows/kickstart-tests.yml
  .github/workflows/kickstart-tests.yml.j2
Labels: infrastructure, f40

#5126 infra: Fix differential shellcheck options
  .github/workflows/differential-shellcheck.yml
Labels: infrastructure, f40

#5143 infra: Don't add translation update to changelog
  .github/workflows/release-from-tag.yml
Labels: infrastructure, f39

#5151 F39 port shellcheck fixes
  .github/workflows/differential-shellcheck.yml
Labels: infrastructure, f39

#5141 webui: Fix checking for locked LUKS devices
  ui/webui/src/components/storage/MountPointMapping.jsx
  ui/webui/test/check-storage
Labels: webui, f40

#5146 webui: Fix checking for locked LUKS devices
  ui/webui/src/components/storage/MountPointMapping.jsx
  ui/webui/test/check-storage
Labels: webui, f39

#5148 Add 'localhost-live' to ignored hostnames for device naming
  pyanaconda/modules/storage/devicetree/model.py
Labels: f40

#5159 webui: reset partitioning when the user goes back from review screen
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/src/components/storage/InstallationMethod.jsx
  ui/webui/test/check-storage
  ui/webui/test/helpers/storage.py
Labels: port to Fedora, webui, f40

#5150 infra: Support webui-desktop script by makeupdates
  scripts/makeupdates
Labels: infrastructure, f39

#5157 Remove unused variable from makeupdates script
  scripts/makeupdates
Labels: f40

#5067 Guard length of url for bz reporting
  ui/webui/src/components/Error.jsx
Labels: master, webui, f39, f40

#5170 cppcheck: Pretend we know more macros
  tests/cppcheck/runcppcheck.sh
Labels: f40

#5168 webui: tests: wipefs on vda is done in the VirtInstallMachineCase setUp
  ui/webui/test/check-storage
Labels: webui, f40

#5171 liveinst: Don't exec pkexec
  data/liveinst/liveinst
Labels: port to Fedora, f40

#5174 F39 fix cppcheck
  tests/cppcheck/runcppcheck.sh
Labels: f39

#5164 webui: Start blivet-gui with --auto-dev-updates
  anaconda.spec.in
  ui/webui/src/components/storage/InstallationMethod.jsx
  ui/webui/test/prepare-updates-img
Labels: blocked, webui, f40

#5158 Add 'localhost-live' to ignored hostnames for device naming
  pyanaconda/modules/storage/devicetree/model.py
Labels: blocked, f39

#5175 f39: liveinst: Don't exec pkexec
  data/liveinst/liveinst
Labels: f39

#5155 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f39

#5163 webui: Start blivet-gui with --keep-above
  ui/webui/src/components/storage/InstallationMethod.jsx
Labels: blocked, webui, f40

#5176 webui: tidy up some test files
  ui/webui/test/check-storage
  ui/webui/test/helpers/storage.py
Labels: webui, f40

#5177 webui: Remove test for unformattable filesystems
  ui/webui/test/check-storage
Labels: webui, f40

#5153 Fix install complete text
  pyanaconda/ui/gui/spokes/installation_progress.py
Labels: port to Fedora, f40

#5187 webui: Unpin blivet-gui dependency from test/prepare-updates-img
  ui/webui/test/prepare-updates-img
Labels: webui, f40

#5184 spec: Add depdendency on fs tools to anaconda-install-env-deps
  anaconda.spec.in
Labels: f40

#5188 docs: Add efibootmgr non-unicode output to common bugs
  docs/common-bugs.rst
Labels: documentation, f40

#5193 test cleanup
  Makefile.am
  dockerfile/anaconda-ci/requirements.txt
  tests/Makefile.am
  tests/pep8/config
  tests/pep8/config.target
  tests/pep8/runpep8.sh
Labels: infrastructure, f40

#5144 infra: Don't run infra check on merged PRs
  .github/workflows/infra-check.yml
Labels: infrastructure, f40

#5121 Get list of required mount points for mount point assignment from backend
  pyanaconda/modules/common/structures/storage.py
  pyanaconda/modules/storage/devicetree/viewer.py
  pyanaconda/modules/storage/devicetree/viewer_interface.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_device_tree.py
  ui/webui/src/apis/storage.js
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/src/components/storage/MountPointMapping.jsx
  ui/webui/test/check-storage
Labels: webui, f40

#5178 webui: improve custom mountpoint assigment
  ui/webui/src/components/storage/EncryptedDevices.jsx
  ui/webui/src/components/storage/MountPointMapping.jsx
  ui/webui/src/helpers/storage.js
  ui/webui/test/check-storage
  ui/webui/test/helpers/storage.py
Labels: webui, f40

#5199 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f40

#5149 infra: Support webui-desktop script by makeupdates
  scripts/makeupdates
Labels: infrastructure, f40

#5189 Read rsync progress directly
  pyanaconda/core/util.py
  pyanaconda/modules/payloads/payload/live_image/installation.py
  pyanaconda/modules/payloads/payload/live_image/installation_progress.py
  tests/unit_tests/pyanaconda_tests/core/test_util.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_image_installation.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_live.py
Labels: f40

#5191 Use pytest parallel execution
  dockerfile/anaconda-ci/requirements.txt
  tests/unit_tests/dracut_tests/test_driver_updates.py
  tests/unit_tests/unit_tests.sh
Labels: infrastructure, f40

#5210 Revert "tests: Run pytest in parallel on available cpu cores"
  dockerfile/anaconda-ci/requirements.txt
  tests/unit_tests/unit_tests.sh
Labels: infrastructure, f40

#5207 Fix crash because of missing import statement
  anaconda.py
Labels: f40

#5201 webui: prevent re-defining required mount points from the UI
  ui/webui/src/components/storage/MountPointMapping.jsx
  ui/webui/test/check-storage
  ui/webui/test/helpers/storage.py
Labels: webui, f40

#5205 install-env-deps: recommend kdump-anaconda-addon
  anaconda.spec.in
Labels: f40

#5180 webui: port dropdown to new PF5 implementation
  ui/webui/src/components/HeaderKebab.jsx
Labels: webui, f40

#5206 infra: Migrate missing checkout GH actions to v4
  .github/workflows/build-image.yml
  .github/workflows/build-image.yml.j2
  .github/workflows/container-rebuild-action.yml
  .github/workflows/container-rebuild-action.yml.j2
  .github/workflows/kickstart-tests.yml
  .github/workflows/kickstart-tests.yml.j2
  .github/workflows/l10n-po-update.yml
  .github/workflows/l10n-po-update.yml.j2
  .github/workflows/push-tests.yml
  .github/workflows/push-tests.yml.j2
  .github/workflows/release-automatically.yml
  .github/workflows/release-automatically.yml.j2
  .github/workflows/tests-daily.yml
  .github/workflows/tests-daily.yml.j2
  .github/workflows/tests.yml
  .github/workflows/tests.yml.j2
  .github/workflows/try-release-daily.yml
  .github/workflows/try-release-daily.yml.j2
  .github/workflows/webui-periodic.yml
  .github/workflows/webui-periodic.yml.j2
  .github/workflows/webui-tests.yml
  .github/workflows/webui-tests.yml.j2
Labels: infrastructure, f40

#5213 webui: helpers: add documentation
  ui/webui/src/components/review/ReviewConfiguration.jsx
  ui/webui/src/helpers/storage.js
  ui/webui/src/helpers/utils.js
Labels: webui, f40

#5216 webui: do not hardcode the required mount points in the getInitialRequests
  ui/webui/src/components/storage/MountPointMapping.jsx
  ui/webui/test/check-review
  ui/webui/test/check-storage
Labels: webui, f40
