Repository rhinstaller/anaconda, pull requests merged in 2023-11, with the labels that each got.

#5279 Add new substitution members in dnf tests
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf_manager.py
Labels: f39

#5294 spec: Remove dependency on jfsutils
  anaconda.spec.in
Labels: f40

#5297 storage: Allow systemd-boot only for package installations
  pyanaconda/modules/storage/bootloader/efi.py
  pyanaconda/modules/storage/bootloader/systemd.py
Labels: port to Fedora, f39, release-blocker

#5300 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f40

#5284 Adjust test_mount_filesystems to the latest blivet changes
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_storage.py
Labels: f40

#5293 widgets: disable glade in RHEL builds
  anaconda.spec.in
  widgets/Makefile.am
  widgets/configure.ac
Labels: f40

#5299 Remove instperf
  anaconda.spec.in
  data/systemd/Makefile.am
  data/systemd/anaconda-direct.service
  data/systemd/anaconda-pre.service
  data/systemd/anaconda.target
  data/systemd/instperf.service
  scripts/Makefile.am
  scripts/instperf
  scripts/instperf.p
Labels: f40

#5311 infra: Pin pocketlint version
  dockerfile/anaconda-ci/Dockerfile
Labels: infrastructure, rhel-9

#5312 infra: Pin pocketlint version
  dockerfile/anaconda-ci/Dockerfile
Labels: rhel8-branch, infrastructure

#5306 infra: trigger anaconda Web UI integration tests on specific file changes
  .github/workflows/trigger-webui.yml
Labels: infrastructure, f40

#5314 logging: split image package list message into 8K chunks
  anaconda.py
  pyanaconda/core/util.py
Labels: master, f40

#5323 Docs changes from bug triage
  docs/boot-options.rst
  docs/common-bugs.rst
Labels: documentation, f40

#5332 F39 port blivet mount fs
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_storage.py
Labels: f39

#5330 docs: Describe l10n CI changes for new Fedoras
  docs/release.rst
Labels: documentation, f40

#5334 workflows: Drop COCKPITUOUS_TOKEN from trigger-webui.yml
  .github/workflows/trigger-webui.yml
Labels: infrastructure, f40

#5322 Use 'os.uname().machine' to get machine architecture instead of 'uname -i'
  pyanaconda/modules/payloads/payload/dnf/installation.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf_installation.py
Labels: f40

#5335 Remove all support of the built-in help system
  anaconda.spec.in
  data/anaconda.conf
  data/profile.d/fedora.conf
  data/profile.d/ovirt.conf
  data/profile.d/rhel.conf
  data/profile.d/rhvh.conf
  docs/release-notes/remove-help-support.rst
  pyanaconda/core/configuration/ui.py
  pyanaconda/ui/gui/__init__.py
  pyanaconda/ui/gui/spokes/__init__.py
  pyanaconda/ui/lib/help.py
  pyanaconda/ui/tui/hubs/__init__.py
  pyanaconda/ui/tui/spokes/__init__.py
  tests/unit_tests/pyanaconda_tests/ui/test_help.py
  widgets/glade/AnacondaWidgets.xml
  widgets/src/BaseWindow.c
  widgets/src/BaseWindow.h
Labels: notable change, documentation, f40

#5295 Make possible to start TUI with installed WebUI
  pyanaconda/anaconda.py
  pyanaconda/core/constants.py
  pyanaconda/display.py
Labels: f40

#5350 bootloader: Create an installation task for collecting kernel arguments
  pyanaconda/modules/storage/bootloader/base.py
  pyanaconda/modules/storage/bootloader/bootloader.py
  pyanaconda/modules/storage/bootloader/installation.py
  pyanaconda/modules/storage/bootloader/utils.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_bootloader.py
Labels: f40

#5351 infra: Ignore j2 files by pylint
  tests/pylint/runpylint.py
Labels: port to Fedora, port to RHEL8, infrastructure, rhel-9

#5348 RHEL-9: backport fixes for jinja-renderer
  scripts/jinja-render
Labels: infrastructure, rhel-9

#5352 spec: Add noarch where applicable
  anaconda.spec.in
Labels: f40

#5353 storage: Remove support for NVDIMM namespaces
  anaconda.py
  anaconda.spec.in
  configure.ac
  docs/release-notes/remove-nvdimm-support.rst
  pyanaconda/core/kickstart/commands.py
  pyanaconda/modules/common/constants/objects.py
  pyanaconda/modules/common/structures/storage.py
  pyanaconda/modules/storage/Makefile.am
  pyanaconda/modules/storage/devicetree/viewer.py
  pyanaconda/modules/storage/initialization.py
  pyanaconda/modules/storage/kickstart.py
  pyanaconda/modules/storage/nvdimm/Makefile.am
  pyanaconda/modules/storage/nvdimm/__init__.py
  pyanaconda/modules/storage/nvdimm/nvdimm.py
  pyanaconda/modules/storage/nvdimm/nvdimm_interface.py
  pyanaconda/modules/storage/nvdimm/reconfigure.py
  pyanaconda/modules/storage/storage.py
  pyanaconda/ui/gui/spokes/advanced_storage.glade
  pyanaconda/ui/gui/spokes/advanced_storage.py
  pyanaconda/ui/gui/spokes/advstorage/nvdimm.glade
  pyanaconda/ui/gui/spokes/advstorage/nvdimm.py
  pyanaconda/ui/gui/spokes/storage.py
  pyanaconda/ui/lib/storage.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_device_tree.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_nvdimm.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_storage.py
Labels: documentation, f40
