Repository rhinstaller/anaconda, pull requests merged in 2023-10, with the labels that each got.

#5195 Simplify keyboard layout handling, rely on localed more
  pyanaconda/keyboard.py
  pyanaconda/modules/localization/live_keyboard.py
  pyanaconda/modules/localization/localed.py
  pyanaconda/modules/localization/utils.py
  tests/unit_tests/pyanaconda_tests/modules/localization/test_live_keyboard.py
  tests/unit_tests/pyanaconda_tests/modules/localization/test_module_localization_tasks.py
Labels: f40

#5209 Drop kbd-legacy requirement in localization module
  pyanaconda/modules/localization/localization.py
  tests/unit_tests/pyanaconda_tests/modules/localization/test_module_localization.py
Labels: f40

#5217 webui: clean up and improve documentation on storage folder
  ui/webui/src/components/storage/EncryptedDevices.jsx
  ui/webui/src/components/storage/InstallationMethod.jsx
  ui/webui/src/components/storage/ModifyStorage.jsx
  ui/webui/src/components/storage/MountPointMapping.jsx
  ui/webui/src/helpers/utils.js
Labels: webui, f40

#5224 pylint: Use 'exit' instead of 'do_exit' for pylint.lint.Run
  tests/pylint/censorship.py
Labels: f40

#5231 webui: tests: temporarilly pin down firefox to unbreak CI
  ui/webui/test/build-rpms
  ui/webui/test/prepare-updates-img
Labels: webui, f40

#5234 webui: Stop pinning cockpit package versions, support testing against a cockpit PR
  ui/webui/test/README.rst
  ui/webui/test/build-rpms
  ui/webui/test/prepare-updates-img
Labels: webui, f40

#5227 WebUI: drop eslint flowtype plugin
  ui/webui/.eslintrc.json
  ui/webui/package.json
Labels: webui, f40

#5212 Simplify keyboard layout handling, rely on localed more (Fedora 39)
  pyanaconda/keyboard.py
  pyanaconda/modules/localization/live_keyboard.py
  pyanaconda/modules/localization/localed.py
  pyanaconda/modules/localization/utils.py
  tests/unit_tests/pyanaconda_tests/modules/localization/test_live_keyboard.py
  tests/unit_tests/pyanaconda_tests/modules/localization/test_module_localization_tasks.py
Labels: blocked, f39

#5237 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f40

#5239 tests: Drop unused testing dir
  tests/unit_tests/pyanaconda_tests/core/test_util.py
Labels: f40

#5240 webui: storage step improvements
  ui/webui/src/actions/storage-actions.js
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/src/components/storage/InstallationMethod.jsx
  ui/webui/src/components/storage/InstallationScenario.jsx
  ui/webui/src/reducer.js
Labels: webui, f40

#5228 webui: set form validity also at the initial load of the mount point mapping
  ui/webui/src/components/storage/MountPointMapping.jsx
  ui/webui/test/check-storage
Labels: webui, f40

#5244 webui: check existence of payload image when running testing VM
  ui/webui/test/machine_install.py
Labels: webui, f40

#5226 webui: Avoid crash on non-translated languages
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/src/components/review/ReviewConfiguration.jsx
  ui/webui/test/check-review
Labels: webui, f40

#5229 Update dnf progress for removed PKG_VERIFY
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
  pyanaconda/modules/payloads/payload/dnf/transaction_progress.py
  pyanaconda/modules/payloads/payload/dnf/utils.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf_manager.py
Labels: f40

#5194 storage: Handle BTRFS with systemd-boot
  pyanaconda/modules/storage/bootloader/systemd.py
Labels: f40

#5252 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f40

#5245 webui: unpin firefox version from updates.img
  ui/webui/test/build-rpms
  ui/webui/test/prepare-updates-img
Labels: webui, f40

#5247 logging: log content of /root/lorax-packages if available
  anaconda.py
  pyanaconda/core/constants.py
  pyanaconda/core/util.py
Labels: f40

#5259 webui: more code cleanup
  ui/webui/src/components/AnacondaHeader.jsx
  ui/webui/src/components/AnacondaPage.jsx
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/src/components/Common.jsx
  ui/webui/src/components/Error.jsx
  ui/webui/src/components/HeaderKebab.jsx
  ui/webui/src/components/app.jsx
  ui/webui/src/components/installation/InstallationProgress.jsx
  ui/webui/src/components/review/ReviewConfiguration.jsx
  ui/webui/src/components/storage/InstallationDestination.jsx
  ui/webui/src/components/storage/InstallationDestination.scss
  ui/webui/src/components/storage/InstallationMethod.jsx
  ui/webui/src/components/storage/InstallationScenario.jsx
  ui/webui/src/components/storage/InstallationScenario.scss
  ui/webui/src/components/storage/ModifyStorage.jsx
Labels: webui, f40

#5233 webui: send stderr from webui-desktop to a webui-desktop.log file
  ui/webui/webui-desktop
Labels: webui, f40

#5260 Revert "Disable geolocation on the Fedora Workstation live image"
  data/profile.d/fedora-workstation.conf
Labels: f39

#5268 webui: remove step notification from the InstallationMethod component
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/src/components/storage/InstallationMethod.jsx
Labels: webui, f40

#5254 infra: Disable l10n updates on branch
  .github/workflows/l10n-po-update.yml
  .github/workflows/l10n-po-update.yml.j2
Labels: infrastructure, f40

#5261 Misc docs updates
  docs/release-notes.rst
  docs/release-notes/bigger-esp.rst
  docs/release-notes/dd-compressed-kernel-modules.rst
  docs/release-notes/keyboard_from_live.rst
  docs/release-notes/kickstart-dns-settings.rst
  docs/release-notes/lang-configuration-setting.rst
  docs/release-notes/removed-conf-options.rst
  docs/release-notes/respect-blivet-label-type.rst
  docs/release-notes/runtime-module.rst
  docs/release-notes/systemd-boot.rst
  docs/release-notes/wait_5_secs_for_disks.rst
  docs/release.rst
  tests/README.rst
Labels: documentation, f40

#5264 Webui: Fix for adding report for JS bugs
  ui/webui/src/components/app.jsx
Labels: webui, f40

#5267 webui: document commit message suggestion for prefixing the ui name if relevant
  docs/commit-log.rst
Labels: documentation, f40

#5230 Extend the Timezone DBus module
  pyanaconda/modules/timezone/timezone.py
  pyanaconda/modules/timezone/timezone_interface.py
  tests/unit_tests/pyanaconda_tests/modules/timezone/test_module_timezone.py
Labels: f40

#5265 Tests use reach review
  ui/webui/test/check-storage
  ui/webui/test/helpers/installer.py
Labels: master

#5255 Remove screenshot support
  anaconda.spec.in
  docs/release-notes/remove-screenshot-support.rst
  pyanaconda/core/constants.py
  pyanaconda/modules/boss/installation.py
  pyanaconda/ui/gui/__init__.py
  tests/unit_tests/pyanaconda_tests/modules/boss/test_copy_logs_task.py
Labels: documentation, release note required, f40

#5270 Global password policies
  ui/webui/src/actions/runtime-actions.js
  ui/webui/src/apis/runtime.js
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/src/components/app.jsx
  ui/webui/src/components/storage/DiskEncryption.jsx
  ui/webui/src/reducer.js
Labels: webui, f40

#5271 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f40

#5278 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f40

#5262 webui: Conditional enable networking hint
  ui/webui/src/components/Error.jsx
Labels: webui, f40

#5276 Add new substitution members in dnf tests
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf_manager.py
Labels: f40

#5282 webui: package.json: use exact versions of all package dependencies
  ui/webui/package.json
Labels: webui, f40

#5281 webui: apis: dont repeat yourself
  ui/webui/src/actions/storage-actions.js
  ui/webui/src/apis/boss.js
  ui/webui/src/apis/helpers.js
  ui/webui/src/apis/localization.js
  ui/webui/src/apis/network.js
  ui/webui/src/apis/payloads.js
  ui/webui/src/apis/runtime.js
  ui/webui/src/apis/storage.js
  ui/webui/src/apis/storage_bootloader.js
  ui/webui/src/apis/storage_devicetree.js
  ui/webui/src/apis/storage_disk_initialization.js
  ui/webui/src/apis/storage_disks_selection.js
  ui/webui/src/apis/storage_partitioning.js
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/src/components/review/ReviewConfiguration.jsx
  ui/webui/src/components/storage/EncryptedDevices.jsx
  ui/webui/src/components/storage/InstallationDestination.jsx
  ui/webui/src/components/storage/InstallationScenario.jsx
  ui/webui/src/components/storage/MountPointMapping.jsx
Labels: webui, f40
