Repository rhinstaller/anaconda, pull requests merged in 2023-05, with the labels that each got.

#4715 webui: reset partitioning on Back from review screen
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/test/check-storage
Labels: webui, f39

#4718 F38 vslavik release notes
  docs/release-notes.rst
Labels: documentation, f38

#4725 conf: Missing geolocation provider URL disables it
  data/anaconda.conf
  pyanaconda/modules/timezone/initialization.py
  tests/unit_tests/pyanaconda_tests/modules/timezone/test_timezone_geoloc.py
Labels: f39

#4684 Move from webpack to esbuild bundler
  anaconda.spec.in
  ui/webui/.babelrc.json
  ui/webui/.eslintrc.json
  ui/webui/Makefile.am
  ui/webui/README.rst
  ui/webui/build.js
  ui/webui/package.json
  ui/webui/src/components/AnacondaHeader.jsx
  ui/webui/src/components/storage/InstallationDestination.jsx
  ui/webui/src/components/storage/StorageConfiguration.jsx
  ui/webui/src/index.html
  ui/webui/webpack.config.js
Labels: webui, f39

#4737 webui: better source maps
  ui/webui/build.js
Labels: webui, f39

#4733 infra: rename webui-periodic workflow to something comprehensible
  .github/workflows/webui-periodic.yml
Labels: infrastructure

#4719 localization: allow to turn off geolocation by configuration
  data/anaconda.conf
  docs/release-notes/lang-configuration-setting.rst
  pyanaconda/core/configuration/anaconda.py
  pyanaconda/core/configuration/localization.py
  pyanaconda/startup_utils.py
Labels: blocked, f39

#4727 webui: create disk images for VirtInstallMachine in advance
  ui/webui/test/machine_install.py
Labels: webui, f39

#4729 New WebUI integration tests Storage encryption and Wizard navigation
  ui/webui/test/helpers/integration.py
  ui/webui/test/helpers/storage.py
  ui/webui/test/integration/storage_encryption.py
  ui/webui/test/integration/storage_encryption.tc.yaml
  ui/webui/test/integration/wizard_navigation.py
  ui/webui/test/integration/wizard_navigation.tc.yaml
Labels: webui, f39

#4732 webui: commonLanguages can contains codes that are not in the locales the API returns
  ui/webui/src/components/localization/InstallationLanguage.jsx
Labels: webui, f39

#4734 webui: migrate to async syntax for promises in review screen
  ui/webui/src/components/review/ReviewConfiguration.jsx
Labels: webui, f39

#4747 docs: Add WebUI integration tests badge to CI status
  docs/ci-status.rst
Labels: documentation, f39

#4745 infra: Fix release rehearsal status reporting
  .github/workflows/try-release-daily.yml
  .github/workflows/try-release-daily.yml.j2
Labels: infrastructure, f39

#4750 Use the latest Read the Docs theme (rhel-8)
  docs/requirements.txt
Labels: rhel8-branch, documentation

#4736 DNS kickstart options for RHEL 8
  anaconda.spec.in
  dracut/parse-kickstart
  pyanaconda/core/kickstart/commands.py
  pyanaconda/modules/network/ifcfg.py
  pyanaconda/modules/network/nm_client.py
Labels: rhel8-branch, ready to merge

#4571 Port DNS kickstart options to RHEL 9
  anaconda.spec.in
  dracut/parse-kickstart
  pyanaconda/core/kickstart/commands.py
  pyanaconda/modules/network/nm_client.py
  tests/unit_tests/pyanaconda_tests/modules/network/test_module_network_nm_client.py
Labels: rhel-9, ready to merge

#4722 RHEL-9: Improve driver updates debugging
  dracut/driver_updates.py
  tests/unit_tests/dracut_tests/test_dracut_source.py
  tests/unit_tests/dracut_tests/test_driver_updates.py
Labels: rhel-9, ready to merge

#4720 RHEL-9 wait for OEMDRV
  docs/boot-options.rst
  docs/driverdisc.rst
  dracut/README-driver-updates.md
  dracut/anaconda-lib.sh
  dracut/driver-updates-genrules.sh
  dracut/kickstart-genrules.sh
Labels: rhel-9, ready to merge

#4723 Rhel 8 improve driver updates debugging
  dracut/driver_updates.py
  tests/nosetests/dracut_tests/test_driver_updates.py
Labels: rhel8-branch, ready to merge

#4721 Rhel 8 wait on oemdrv
  docs/boot-options.rst
  docs/driverdisc.rst
  dracut/README-driver-updates.md
  dracut/anaconda-lib.sh
  dracut/driver-updates-genrules.sh
  dracut/kickstart-genrules.sh
Labels: rhel8-branch, ready to merge

#4752 WebUI: update ESLINT to LINT
  ui/webui/test/webui_testvm.py
Labels: webui, f39

#4748 WebUI: close embedded panel when clicking prev/next
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/src/components/app.jsx
  ui/webui/src/components/storage/InstallationDestination.jsx
  ui/webui/test/check-progress
  ui/webui/test/helpers/installer.py
  ui/webui/test/helpers/storage.py
Labels: webui, f39

#4759 Backport f38 release notes
  CONTRIBUTING.rst
  docs/release-notes.rst
  docs/release-notes/no-rd-znet.rst
  docs/release-notes/ostree-native-containers-support.rst
Labels: f39

#4738 infra: Drop RHEL 8 COPR nightly builds
  .github/workflows/daily-rhel-copr.yml
  .github/workflows/daily-rhel-copr.yml.j2
  dockerfile/anaconda-rhel-copr/Dockerfile
  dockerfile/anaconda-rhel-copr/copr-builder-rhel.conf
Labels: infrastructure, f39

#4749 Save selected storage scenario in state
  ui/webui/src/components/AnacondaWizard.jsx
  ui/webui/src/components/review/ReviewConfiguration.jsx
  ui/webui/src/components/storage/StorageConfiguration.jsx
Labels: webui, f39

#4741 WebUI: improve handling of removal of testvm's
  ui/webui/test/webui_testvm.py
Labels: webui, f39

#4772 webui: use the reason in title of disabled partitioing warning
  ui/webui/src/components/storage/StorageConfiguration.jsx
Labels: webui, f39

#4731 Tests create disk images separately unify
  ui/webui/test/machine_install.py
Labels: webui, f39

#4769 infra: Run unit and rpm tests daily/nightly
  .github/workflows/tests-daily.yml
  .github/workflows/tests-daily.yml.j2
  docs/ci-status.rst
Labels: infrastructure, f39

#4773 Add release notes packaging Web UI
  docs/release-notes.rst
Labels: f38

#4781 infra: Remove RHEL 8 copr builds from CI status
  docs/ci-status.rst
Labels: infrastructure, f39

#4707 .github: add Cockpit library update action
  .github/workflows/cockpit-lib-update.yml
  docs/ci-status.rst
Labels: infrastructure, f39

#4787 infra: Always try to make artefacts cleanable
  .github/workflows/kickstart-tests.yml
  .github/workflows/kickstart-tests.yml.j2
Labels: infrastructure, f39

#4792 Parameter cleanup
  anaconda.py
  pyanaconda/kickstart.py
  pyanaconda/startup_utils.py
Labels: f39

#4711 Increase the minimum EFI System Partition (ESP) size to 500MiB
  docs/release-notes/bigger-esp.rst
  pyanaconda/modules/storage/platform.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_platform.py
Labels: notable change, f39

#4796 infra: Use correct branch in daily tests
  .github/workflows/tests-daily.yml
  .github/workflows/tests-daily.yml.j2
Labels: infrastructure, f39

#4798 webui: Fix malformed XML
  ui/webui/org.cockpit-project.anaconda-webui.metainfo.xml
Labels: f39
