Repository rhinstaller/anaconda, pull requests merged in 2024-07, with the labels that each got.

#5730 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f41

#5731 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required

#5732 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#5680 Change location of rescue mode flag file
  data/post-scripts/80-setfilecons.ks
  data/post-scripts/99-copy-logs.ks
  pyanaconda/core/constants.py
Labels: rhel-9, ready to merge

#5670 Backport: Rhel 10 rescue warning msg
  pyanaconda/rescue.py
Labels: ready to merge, rhel-10

#5741 tests: unit_tests: conditionalize some btrfs unit tests
  tests/unit_tests/pyanaconda_tests/modules/storage/partitioning/test_module_part_factory.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_storage.py
  tests/unit_tests/pyanaconda_tests/test_kickstart_specification.py
Labels: f41

#5681 infra: Drop libxklavier from packit dependencies
  .packit.yml.j2
Labels: infrastructure, port to RHEL10, f41

#5729 Fix starting anaconda on z/VM and LPAR s390x
  pyanaconda/startup_utils.py
Labels: port to Fedora, ready to merge, rhel-10

#5742 infra: sync template files from master branch
  .github/workflows/tests.yml
  .github/workflows/tests.yml.j2
  .packit.yml
  .packit.yml.j2
Labels: infrastructure, rhel-10

#5743 infra: use development repos in the release container
  dockerfile/anaconda-release/Dockerfile
  dockerfile/anaconda-release/anaconda-centos.repo
Labels: infrastructure, rhel-10

#5748 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#5747 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required

#5746 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f41

#5752 infra: temporarily install selinux-policy-targeted in container
  dockerfile/anaconda-ci/Dockerfile
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf_installation.py
Labels: infrastructure, f41

#5753 infra: temporarily install selinux-policy-targeted in container
  dockerfile/anaconda-ci/Dockerfile
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf_installation.py
Labels: infrastructure, rhel-10

#5751 tests: cleanup comment after commit bdff5fc945644b408511d955a14c8ae2657f84d4
  tests/Makefile.am
Labels: f41

#5750 infra: improve logic for ignoring unrelated commits in the makebumpver
  scripts/makebumpver
Labels: f41

#5757 infra: improve logic for ignoring unrelated commits in the makebumpver
  scripts/makebumpver
Labels: rhel-10

#5756 infra: makebumpver: remove leftover debug log
  scripts/makebumpver
Labels: f41

#5755 infra: Revert "infra: temporarily install selinux-policy-targeted in container
  dockerfile/anaconda-ci/Dockerfile
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf_installation.py
Labels: infrastructure, f41

#5759 makeupdates: Bump Python version in site packages path to 3.13
  scripts/makeupdates
Labels: f41

#5762 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f41

#5764 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#5763 Update translations from Weblate
  po/l10n-config.mk
Labels: rhel-9, sanity check required

#5754 infra: Local image udates workflow - rhel-10 branch version
  .structure-config
  CONTRIBUTING.rst
  scripts/rebuild_boot_iso
  scripts/update_boot_iso
Labels: infrastructure, rhel-10

#5727 Clean up the code by removing the utils directory
  .gitignore
  Makefile.am
  configure.ac
  dracut/Makefile.am
  dracut/README-driver-updates.md
  dracut/dd/.gitignore
  dracut/dd/Makefile.am
  dracut/dd/dd_extract.c
  dracut/dd/dd_list.c
  dracut/dd/dd_utils.h
  dracut/dd/rpmutils.c
  dracut/dd/rpmutils.h
  scripts/Makefile.am
  scripts/handle-sshpw
  tests/README.rst
  tests/unit_tests/dd_tests/test_dd.py
  tests/unit_tests/dracut_tests/test_dracut_source.py
  utils/Makefile.am
Labels: f41

#5758 storage: store the partition name in device attrs for partitions
  pyanaconda/modules/common/structures/storage.py
  pyanaconda/modules/storage/devicetree/viewer.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_device_tree.py
Labels: f41

#5770 infra: Revert "infra: temporarily install selinux-policy-targeted in container
  dockerfile/anaconda-ci/Dockerfile
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf_installation.py
Labels: infrastructure, rhel-10

#5774 Document RHEL 10 specifics for container shell
  tests/README.rst
Labels: documentation, port to RHEL10, f41

#5769 storage: add windows system to GetExistingSystems
  pyanaconda/modules/storage/constants.py
  pyanaconda/modules/storage/devicetree/viewer.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_device_tree.py
Labels: f41

#5713 Deprecate kickstart modularity module
  docs/release-notes/deprecate-modularity.rst
  pyanaconda/core/kickstart/commands.py
Labels: documentation, rhel-10

#5722 Allow to run kickstart tests on a PR with a specific test PR
  .github/workflows/kickstart-tests.yml
  .github/workflows/kickstart-tests.yml.j2
  tests/README.rst
Labels: infrastructure, f41

#5777 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f41

#5779 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#5768 Don't use tmpfs in build if not enough RAM
  Makefile.am
Labels: f41

#5783 infra: fix --kstest-pr option of /kickstart-test workflow
  .github/workflows/kickstart-tests.yml
  .github/workflows/kickstart-tests.yml.j2
Labels: infrastructure, f41

#5570 Remove threading compatibility layer
  pyanaconda/threading.py
Labels: f41

#5736 Rhel 10 cleanup xorg and vnc leftovers
  anaconda.py
  anaconda.spec.in
  data/anaconda_options.txt
  data/liveinst/liveinst
  data/systemd/anaconda-direct.service
  docs/boot-options.rst
  docs/intro.rst
  dracut/parse-anaconda-options.sh
  pyanaconda/argument_parsing.py
  pyanaconda/core/constants.py
  pyanaconda/core/util.py
  pyanaconda/display.py
  pyanaconda/exception.py
  pyanaconda/startup_utils.py
  pyanaconda/ui/gui/__init__.py
  pyanaconda/ui/gui/spokes/keyboard.py
  pyanaconda/ui/tui/spokes/askrd.py
  tests/pylint/runpylint.py
  tests/unit_tests/pyanaconda_tests/test_argparse.py
  widgets/configure.ac
Labels: port to Fedora, documentation, rhel-10

#5780 Port rhel 38451 bond port profiles rhel 10
  pyanaconda/modules/network/initialization.py
Labels: rhel-10

#5784 LUKS support fixes in DeviceTreeSchedulerModule and tests
  pyanaconda/modules/storage/partitioning/interactive/scheduler_module.py
  tests/unit_tests/pyanaconda_tests/modules/storage/partitioning/test_module_scheduler.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_device_tree.py
Labels: f41

#5787 infra: Document RHEL 10 specifics for container shell
  tests/README.rst
Labels: infrastructure, rhel-10
