Repository rhinstaller/anaconda, pull requests merged in 2024-06, with the labels that each got.

#5686 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#5685 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required

#5684 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f41

#5547 Use InconsistentParentSectorSize instead of InconsistentPVSectorSize
  pyanaconda/modules/storage/partitioning/base_partitioning.py
  pyanaconda/modules/storage/partitioning/interactive/add_device.py
  pyanaconda/modules/storage/partitioning/interactive/change_device.py
Labels: f41

#5499 Kickstart commands migration
  anaconda.py
  pyanaconda/display.py
  pyanaconda/kickstart.py
  pyanaconda/modules/common/structures/logging.py
  pyanaconda/modules/common/structures/rescue.py
  pyanaconda/modules/common/structures/vnc.py
  pyanaconda/modules/runtime/kickstart.py
  pyanaconda/modules/runtime/runtime.py
  pyanaconda/modules/runtime/runtime_interface.py
  pyanaconda/modules/runtime/user_interface/ui.py
  pyanaconda/modules/runtime/user_interface/ui_interface.py
  pyanaconda/rescue.py
  pyanaconda/startup_utils.py
  tests/unit_tests/pyanaconda_tests/modules/runtime/test_module_runtime.py
Labels: f41

#5692 infra: Always store logs of action Live ISO build
  .github/workflows/build-image.yml
  .github/workflows/build-image.yml.j2
Labels: infrastructure, f41

#5463 libxklavier removal
  .gitignore
  anaconda.spec.in
  pyanaconda/modules/common/constants/services.py
  pyanaconda/modules/localization/gk_keyboard_manager.py
  pyanaconda/modules/localization/localization.py
  pyanaconda/modules/localization/localization_interface.py
  pyanaconda/ui/gui/spokes/keyboard.py
  pyanaconda/ui/gui/xkl_wrapper.py
  scripts/makeupdates
  widgets/configure.ac
  widgets/src/LayoutIndicator.c
  widgets/src/LayoutIndicator.h
  widgets/src/Makefile.am
  widgets/src/dbus/org.fedoraproject.Anaconda.Modules.Localization.xml
Labels: rhel-10

#5470 xrandr and xrdb removal
  anaconda.spec.in
  pyanaconda/core/regexes.py
  pyanaconda/display.py
  pyanaconda/modules/common/constants/services.py
  pyanaconda/mutter_display.py
Labels: rhel-10

#5693 infra: Update IP adress parsing live lmc
  dockerfile/anaconda-live-iso-creator/lmc-build
  dockerfile/anaconda-live-iso-creator/lmc-build.j2
Labels: infrastructure, f41

#5691 infra: Update Ubuntu runners from 20.04 to 22.04
  .github/workflows/autolabel.yml
  .github/workflows/container-rebuild-action.yml
  .github/workflows/infra-check.yml
  .github/workflows/push-tests.yml
  .github/workflows/push-tests.yml.j2
  .github/workflows/release-notes.yml
  .github/workflows/template-check.yml
  .github/workflows/tests-daily.yml
  .github/workflows/tests-daily.yml.j2
  .github/workflows/tests.yml
  .github/workflows/tests.yml.j2
Labels: infrastructure, f41

#5697 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f41

#5698 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required

#5699 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#5679 gui: fix setting timezone from locale in the Welcome spoke
  pyanaconda/ui/gui/spokes/welcome.py
Labels: f41

#5677 infra: Fix typo in template check error message
  .github/workflows/template-check.yml
Labels: infrastructure, f41

#5498 Xorg server removal plus grd
  anaconda.py
  anaconda.spec.in
  data/anaconda_options.txt
  docs/boot-options.rst
  pyanaconda/argument_parsing.py
  pyanaconda/core/constants.py
  pyanaconda/core/util.py
  pyanaconda/display.py
  pyanaconda/flags.py
  pyanaconda/gnome_remote_destop.py
  pyanaconda/startup_utils.py
  pyanaconda/ui/gui/spokes/keyboard.py
  pyanaconda/ui/tui/spokes/askrd.py
  pyanaconda/vnc.py
  tests/unit_tests/pyanaconda_tests/test_simple_import.py
Labels: rhel-10

#5694 infra: Do not propose-downstream by Packit service
  .packit.yml.j2
Labels: f41

#5702 infra: sync template files with master
  .github/workflows/build-image.yml.j2
  .github/workflows/push-tests.yml.j2
  .github/workflows/tests-daily.yml
  .github/workflows/tests-daily.yml.j2
  .github/workflows/tests.yml
  .github/workflows/tests.yml.j2
  .github/workflows/trigger-webui.yml.j2
  .packit.yml
  .packit.yml.j2
  dockerfile/anaconda-live-iso-creator/lmc-build
  dockerfile/anaconda-live-iso-creator/lmc-build.j2
Labels: infrastructure, rhel-10

#5508 bootupd: call bootupctl with --update-firmware
  pyanaconda/modules/payloads/payload/rpm_ostree/installation.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_rpm_ostree_tasks.py
Labels: port to RHEL9, port to RHEL10, f41

#5706 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required

#5707 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#5705 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f41

#5711 tests: explicitely whitelist violated pylint conventions
  pyanaconda/core/process_watchers.py
  pyanaconda/core/threads.py
  pyanaconda/ntp.py
  tests/gettext_tests/style_guide.py
  tests/pylint/pylintrc
  tests/unit_tests/pyanaconda_tests/test_kickstart_specification.py
Labels: f41

#5714 Fix broken locale support in console check
  pyanaconda/localization.py
  tests/unit_tests/pyanaconda_tests/test_localization.py
Labels: f41

#5715 docs: Remove wrong test doc for /kickstart-tests
  tests/README.rst
Labels: f41

#5716 Add runtime deps to install_dependencies.sh
  .github/workflows/tests.yml
  .github/workflows/tests.yml.j2
  scripts/testing/install_dependencies.sh
Labels: infrastructure, f41

#5710 Migrate vnc tui spokes to runtime DBUS
  pyanaconda/display.py
  pyanaconda/ui/tui/spokes/askvnc.py
  pyanaconda/vnc.py
Labels: f41

#5717 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f41

#5720 Replace deprecated methods to avoid warnings
  pyanaconda/modules/network/device_configuration.py
  pyanaconda/modules/network/initialization.py
  pyanaconda/modules/network/nm_client.py
  tests/unit_tests/pyanaconda_tests/modules/network/test_module_network_nm_client.py
Labels: f41

#5687 Do not mark ancestors of device with source or stage2 as protected
  pyanaconda/modules/storage/devicetree/model.py
Labels: f41

#5726 chore: remove unused atk in BaseWindow.c
  widgets/src/BaseWindow.c
Labels: f41

#5682 Fix kickstart --dhcpclass option application
  pyanaconda/modules/network/nm_client.py
  tests/unit_tests/pyanaconda_tests/modules/network/test_module_network_nm_client.py
Labels: rhel-10
