Repository rhinstaller/anaconda, pull requests merged in 2024-04, with the labels that each got.

#5533 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f40

#5520 gui:Fix index error for _remove_treeinfo_repositories()
  pyanaconda/ui/gui/spokes/installation_source.py
Labels: rhel-9, ready to merge

#5536 anaconda-diskroot: wait before dying on media check fail
  dracut/anaconda-diskroot
Labels: rhel-9

#5540 infra: Prepare templating to support RHEL-10
  .branch-variables.yml
  .github/labeler.yml.j2
  .github/workflows/container-autoupdate-fedora.yml.j2
  .github/workflows/kickstart-tests.yml
  .github/workflows/kickstart-tests.yml.j2
  .github/workflows/l10n-po-update.yml
  .github/workflows/l10n-po-update.yml.j2
  .github/workflows/tests-daily.yml.j2
  .github/workflows/tests.yml.j2
  .github/workflows/try-release-daily.yml
  .github/workflows/try-release-daily.yml.j2
  Makefile.am
  widgets/configure.ac
Labels: infrastructure, f41

#5551 infra: Fix typo in the kickstart-tests workflow
  .github/workflows/kickstart-tests.yml
  .github/workflows/kickstart-tests.yml.j2
Labels: infrastructure, f41

#5550 infra: Packit fix empty jobs field
  .packit.yml
  .packit.yml.j2
Labels: rhel-10

#5549 infra: Always rebuild RPM test container on RHEL
  .github/workflows/tests.yml
  .github/workflows/tests.yml.j2
Labels: port to Fedora, infrastructure, rhel-10

#5548 infra: Do not trigger web UI tests on RHEL-10
  .github/workflows/trigger-webui.yml.j2
Labels: infrastructure, rhel-10

#5544 network: do not crash on destroyed device object in GUI
  pyanaconda/ui/gui/spokes/network.py
Labels: rhel-9, ready to merge

#5539 Teamd capabilities
  pyanaconda/core/constants.py
  pyanaconda/modules/network/network.py
  pyanaconda/modules/network/network_interface.py
  pyanaconda/ui/gui/spokes/network.py
  tests/unit_tests/pyanaconda_tests/modules/network/test_module_network.py
Labels: port to RHEL10, f41

#5546 Remove loading obsolete modules
  dracut/anaconda-modprobe.sh
Labels: rhel-9

#5561 infra: Tweak rhel-10 repository files
  dockerfile/anaconda-ci/rhel-10.repo
  dockerfile/anaconda-rpm/rhel-10.repo
Labels: infrastructure, rhel-10

#5564 packit: Land a new upstream release automatically to centos-stream c9s
  .packit.yml
  .packit.yml.j2
Labels: f41

#5545 Do not try to load sha256 module in intramfs
  dracut/anaconda-modprobe.sh
Labels: f41

#5521 infra: Setup vulture for tests
  dockerfile/anaconda-ci/requirements.txt
  pyanaconda/argument_parsing.py
  pyanaconda/core/dbus.py
  pyanaconda/core/glib.py
  pyanaconda/modules/payloads/payload/dnf/download_progress.py
  pyanaconda/modules/payloads/payload/dnf/transaction_progress.py
  pyanaconda/modules/payloads/payload/live_image/installation_progress.py
  pyanaconda/modules/payloads/payload/rpm_ostree/flatpak_manager.py
  pyanaconda/modules/subscription/runtime.py
  pyanaconda/screensaver.py
  pyanaconda/ui/gui/__init__.py
  pyanaconda/ui/gui/spokes/advanced_storage.py
  pyanaconda/ui/gui/spokes/lib/dasdfmt.py
  pyanaconda/ui/gui/spokes/lib/refresh.py
  pyanaconda/ui/gui/spokes/lib/resize.py
  pyanaconda/ui/gui/spokes/lib/storage_dialogs.py
  pyanaconda/ui/gui/utils.py
  tests/Makefile.am
  tests/lib/timer.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_flatpak_manager.py
  tests/vulture/run_vulture.sh
Labels: infrastructure, f41

#5563 Fix kickstart --dhcpclass option application
  pyanaconda/modules/network/nm_client.py
  tests/unit_tests/pyanaconda_tests/modules/network/test_module_network_nm_client.py
Labels: f41

#5575 packit: never sync changelog in the propose_downstream job
  .packit.yml.j2
Labels: f41

#5572 Add usage documentation to kickstart-test GitHub workflow
  .github/workflows/kickstart-tests.yml
  .github/workflows/kickstart-tests.yml.j2
Labels: infrastructure, f41

#5573 infra: Do not use rhel repos in centos container
  dockerfile/anaconda-ci/Dockerfile
  dockerfile/anaconda-ci/rhel-10.repo
  dockerfile/anaconda-iso-creator/Dockerfile
  dockerfile/anaconda-iso-creator/lorax-build
  dockerfile/anaconda-iso-creator/lorax-build.j2
  dockerfile/anaconda-iso-creator/rhel-10.repo
  dockerfile/anaconda-release/Dockerfile
  dockerfile/anaconda-release/rhel-10.repo
  dockerfile/anaconda-rpm/Dockerfile
  dockerfile/anaconda-rpm/rhel-10.repo
Labels: infrastructure, rhel-10

#5557 network: guard team devices configuration in kickstart by capabilities
  pyanaconda/modules/network/initialization.py
  pyanaconda/modules/network/network.py
Labels: f41

#5462 Do not include teamd on RHEL
  anaconda.spec.in
Labels: f41

#5580 Fix signature of the method passed to DNF
  pyanaconda/modules/payloads/payload/dnf/download_progress.py
Labels: f41

#5579 infra: fix how we run vulture for tests
  tests/vulture/run_vulture.sh
Labels: f41

#5582 infra: ensure template alignment across branches
  .github/workflows/template-check.yml
Labels: infrastructure, f41

#5591 infra: Remove python3-polib dependency from anaconda-release container
  dockerfile/anaconda-release/Dockerfile
Labels: infrastructure, f41

#5593 infra: Remove python3-polib dependency from anaconda-release container
  dockerfile/anaconda-release/Dockerfile
Labels: rhel-9

#5592 infra: Remove python3-polib dependency from anaconda-release container
  dockerfile/anaconda-release/Dockerfile
Labels: rhel-10

#5587 infra: ensure template alignment across branches
  .github/workflows/template-check.yml
Labels: rhel-9

#5588 infra: ensure template alignment across branches
  .github/workflows/template-check.yml
Labels: rhel-10

#5599 infra: ensure all templates are synced with master
  .github/workflows/template-check.yml
Labels: infrastructure, f41

#5602 infra: Disable Fedora 40 in automation
  .branch-variables.yml
  .github/workflows/container-autoupdate-fedora.yml
  .github/workflows/l10n-po-update.yml
  .github/workflows/tests-daily.yml
  .github/workflows/try-release-daily.yml
Labels: infrastructure, f41

#5594 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f41

#5604 infra: Backport some template syncing PRs
  .github/workflows/template-check.yml
  branch-config.mk
  branch-config.mk.j2
  dockerfile/anaconda-iso-creator/lorax-build-webui
  dockerfile/anaconda-iso-creator/lorax-build-webui.j2
  dockerfile/anaconda-iso-creator/lorax-build.j2
  dockerfile/anaconda-live-iso-creator/Dockerfile
  dockerfile/anaconda-live-iso-creator/Dockerfile.j2
  dockerfile/anaconda-live-iso-creator/lmc-build
  dockerfile/anaconda-live-iso-creator/lmc-build.j2
Labels: blocked

#5567 Rhel10 guard teamd functionality
  pyanaconda/core/constants.py
  pyanaconda/modules/network/initialization.py
  pyanaconda/modules/network/network.py
  pyanaconda/modules/network/network_interface.py
  pyanaconda/ui/gui/spokes/network.py
  tests/unit_tests/pyanaconda_tests/modules/network/test_module_network.py
Labels: ready to merge, rhel-10

#5560 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#5616 infra: Use devel repos in ISO build container
  dockerfile/anaconda-iso-creator/Dockerfile
  dockerfile/anaconda-iso-creator/anaconda-centos.repo
Labels: infrastructure, rhel-10

#5620 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f41

#5622 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#5621 Update translations from Weblate
  po/l10n-config.mk
Labels: rhel-9, sanity check required

#5609 infra: remove -1 suffix from the upstream release tag name
  .github/workflows/release-automatically.yml
  .github/workflows/release-automatically.yml.j2
  .github/workflows/release-from-tag.yml
  .packit.yml
  .packit.yml.j2
  anaconda.spec.in
  scripts/makebumpver
  scripts/makeupdates
Labels: infrastructure, f41

#5577 Do not run disabled kstests by default
  .github/workflows/kickstart-tests.yml
  .github/workflows/kickstart-tests.yml.j2
Labels: infrastructure, f41

#5624 infra: update cpp check
  tests/cppcheck/runcppcheck.sh
Labels: f41
