Repository rhinstaller/anaconda, pull requests merged in 2024-12, with the labels that each got.

#6031 docs: fix test container update doc
  tests/README.rst
Labels: f42

#6034 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#6033 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required

#6032 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f42

#6024 efi: Update __all__ dictionary
  pyanaconda/modules/storage/bootloader/efi.py
Labels: f42

#5999 Do not crash if RDP is selected after regular GUI startup failed (#2326410)
  pyanaconda/display.py
Labels: port to RHEL10, f42

#6040 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required

#6039 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f42

#6048 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f42

#6049 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required

#6051 tests: skip checks using Iterable from abc
  tests/unit_tests/pyanaconda_tests/core/test_kernel.py
Labels: f42

#6052 tests: expand R pylint rules and start re-enabling these
  docs/conf.py
  dracut/parse-kickstart
  pyanaconda/argument_parsing.py
  pyanaconda/core/storage.py
  pyanaconda/core/threads.py
  pyanaconda/display.py
  pyanaconda/installation_tasks.py
  pyanaconda/modules/common/structures/realm.py
  pyanaconda/modules/common/structures/user.py
  pyanaconda/modules/payloads/payload/dnf/installation.py
  pyanaconda/modules/services/services.py
  pyanaconda/modules/storage/checker/utils.py
  pyanaconda/modules/storage/fcoe/fcoe.py
  pyanaconda/modules/storage/partitioning/automatic/utils.py
  pyanaconda/modules/storage/partitioning/interactive/utils.py
  pyanaconda/modules/storage/partitioning/manual/manual_module.py
  pyanaconda/modules/storage/zfcp/zfcp.py
  pyanaconda/mutter_display.py
  pyanaconda/ui/common.py
  pyanaconda/ui/gui/spokes/advanced_storage.py
  pyanaconda/ui/gui/spokes/keyboard.py
  pyanaconda/ui/gui/spokes/lib/lang_locale_handler.py
  pyanaconda/ui/gui/spokes/lib/network_secret_agent.py
  pyanaconda/ui/gui/xkl_wrapper.py
  scripts/anaconda-cleanup
  scripts/handle-sshpw
  scripts/makebumpver
  tests/pylint/pylintrc
  tests/unit_tests/pyanaconda_tests/core/test_kernel.py
  tests/unit_tests/pyanaconda_tests/core/test_live_user.py
  tests/unit_tests/pyanaconda_tests/core/test_util.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_grub_raid.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_fcoe.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_storage_checker.py
  tests/unit_tests/pyanaconda_tests/test_localization.py
  tests/unit_tests/pyanaconda_tests/ui/test_simple_ui.py
Labels: f42

#6055 Fix useless-return pylint rule
  pyanaconda/gnome_remote_desktop.py
  pyanaconda/ui/tui/spokes/shell_spoke.py
  tests/pylint/pylintrc
Labels: f42

#6062 infra: rename the 'master' branch to 'main'
  .codecov.yml
  .github/workflows/README.md
  .github/workflows/container-autoupdate-eln.yml
  .github/workflows/container-autoupdate-eln.yml.j2
  .github/workflows/container-autoupdate.yml
  .github/workflows/container-autoupdate.yml.j2
  .github/workflows/container-rebuild-action.yml
  .github/workflows/differential-shellcheck.yml
  .github/workflows/l10n-po-update.yml
  .github/workflows/l10n-po-update.yml.j2
  .github/workflows/push-tests.yml
  .github/workflows/push-tests.yml.j2
  .github/workflows/template-check.yml
  .github/workflows/tests-daily.yml
  .github/workflows/tests-daily.yml.j2
  .github/workflows/tests.yml
  .github/workflows/tests.yml.j2
  .github/workflows/trigger-webui.yml
  .github/workflows/trigger-webui.yml.j2
  .github/workflows/try-release-daily.yml
  .github/workflows/try-release-daily.yml.j2
  .packit.yml
  .packit.yml.j2
  CONTRIBUTING.rst
  README.rst
  branch-config.mk
  branch-config.mk.j2
  dockerfile/anaconda-ci/Dockerfile
  dockerfile/anaconda-iso-creator/Dockerfile
  dockerfile/anaconda-iso-creator/lorax-build
  dockerfile/anaconda-iso-creator/lorax-build-webui
  dockerfile/anaconda-iso-creator/lorax-build-webui.j2
  dockerfile/anaconda-iso-creator/lorax-build.j2
  dockerfile/anaconda-live-iso-creator/Dockerfile
  dockerfile/anaconda-live-iso-creator/Dockerfile.j2
  dockerfile/anaconda-live-iso-creator/lmc-build
  dockerfile/anaconda-live-iso-creator/lmc-build.j2
  dockerfile/anaconda-rpm/Dockerfile
  docs/index.rst
  docs/release.rst
  po/l10n-config.mk
  scripts/testing/check-container-age.sh
  tests/README.rst
Labels: infrastructure, documentation, f42

#6065 Tweak documentation sections
  docs/.gitignore
  docs/developer.rst
  docs/developer/commit-log.rst
  docs/developer/configuration-files.rst
  docs/developer/driverdisc.rst
  docs/developer/drop-in-scripts.rst
  docs/developer/iscsi.rst
  docs/developer/mount-points.rst
  docs/developer/multipath.rst
  docs/developer/sysconfig-file.rst
  docs/developer/testing.rst
  docs/index.rst
  docs/release.rst
Labels: documentation, f42

#6069 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required

#6068 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f42

#6061 github: trigger webui: force setting the status
  .github/workflows/trigger-webui.yml
  .github/workflows/trigger-webui.yml.j2
Labels: infrastructure, f42
