Repository rhinstaller/anaconda, pull requests merged in 2024-05, with the labels that each got.

#5626 Enable upload of our CentOS Stream containers (rhel-9 and rhel-10 branches)
  .github/workflows/container-autoupdate-fedora.yml.j2
  .github/workflows/container-autoupdate.yml
  .github/workflows/container-autoupdate.yml.j2
  .github/workflows/container-rebuild-action.yml.j2
Labels: infrastructure, f41

#5618 infra: run tests.yml workflow on ubuntu runners also for rhel branches
  .github/workflows/tests.yml
  .github/workflows/tests.yml.j2
Labels: infrastructure, f41

#5629 Stop pretending liveinst+vnc is supported (#678354)
  data/anaconda_options.txt
  data/liveinst/liveinst
Labels: f41

#5571 Write a warning rescue selinux
  pyanaconda/rescue.py
Labels: f41

#5555 GUI: Correctly display device label
  pyanaconda/ui/gui/spokes/installation_source.py
Labels: f41

#5630 docs: Fix link on ci status for container updates
  docs/ci-status.rst
Labels: documentation, f41

#5631 infra: quote GIT_BRANCH variables to avoid expansion
  Makefile.am
Labels: infrastructure, rhel-10

#5632 Fix link on ci-status page
  docs/ci-status.rst
Labels: documentation, f41

#5634 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f41

#5641 RHEL moved from Bugzilla to Jira
  .github/pull_request_template.md
Labels: infrastructure, f41

#5635 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required

#5636 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#5644 infra: Migrate to DNF5 copr plugin install
  dockerfile/anaconda-ci/Dockerfile
  dockerfile/anaconda-rpm/Dockerfile
Labels: infrastructure, f41

#5654 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required

#5617 RHEL-9: Update workflows from master
  .github/workflows/release-from-tag.yml
  .github/workflows/tests.yml
  .github/workflows/tests.yml.j2
  .packit.yml
  .packit.yml.j2
  anaconda.spec.in
  scripts/makebumpver
  scripts/makeupdates
Labels: rhel-9

#5640 Do not rewrite logs in rescue mode
  anaconda.py
  data/post-scripts/80-setfilecons.ks
  data/post-scripts/99-copy-logs.ks
  pyanaconda/core/constants.py
Labels: rhel-9, ready to merge

#5627 RHEL-10: Update workflows from master
  .github/workflows/container-autoupdate-fedora.yml.j2
  .github/workflows/container-autoupdate.yml
  .github/workflows/container-autoupdate.yml.j2
  .github/workflows/kickstart-tests.yml.j2
  .github/workflows/release-automatically.yml
  .github/workflows/release-automatically.yml.j2
  .github/workflows/release-from-tag.yml
  .github/workflows/tests.yml
  .github/workflows/tests.yml.j2
  .packit.yml
  .packit.yml.j2
  anaconda.spec.in
  branch-config.mk.j2
  scripts/makebumpver
  scripts/makeupdates
Labels: infrastructure, ready to merge, rhel-10

#5655 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#5623 RHEL-10: Add ping to Dracut
  anaconda.spec.in
  docs/release-notes/support-ping-in-dracut.rst
  dracut/module-setup.sh
Labels: ready to merge, documentation, rhel-10

#5611 Backport NVMe-oF to RHEL-10
  anaconda.spec.in
  docs/release-notes/nvme-over-fabrics.rst
  pyanaconda/modules/common/structures/storage.py
  pyanaconda/modules/storage/devicetree/viewer.py
  pyanaconda/ui/gui/spokes/advanced_storage.glade
  pyanaconda/ui/gui/spokes/advanced_storage.py
  pyanaconda/ui/lib/storage.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_device_tree.py
Labels: ready to merge, rhel-10

#5656 infra: trigger-webui: Migrate to DNF5 copr plugin install
  .github/workflows/trigger-webui.yml
  .github/workflows/trigger-webui.yml.j2
Labels: infrastructure, f41

#5652 docs: Add guide how to debug/develop GH workflows
  .github/workflows/README.md
Labels: documentation, f41

#5663 Master cleanup makefiles
  Makefile.am
  po/Makefile.am
Labels: f41

#5658 infra: remove `tag` and `release-and-tag` Makefile targets
  Makefile.am
Labels: port to RHEL9, port to RHEL10

#5660 Sync po/Makefile.am with master and install git in the rpm container
  Makefile.am
  dockerfile/anaconda-rpm/Dockerfile
  po/.gitignore
  po/Makefile.am
Labels: rhel-9

#5666 infra: move to Fedora 40 container image
  .github/workflows/trigger-webui.yml
  .github/workflows/trigger-webui.yml.j2
Labels: infrastructure, f41

#5653 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f41

#5664 infra: remove `tag` and `release-and-tag` Makefile targets
  Makefile.am
Labels: infrastructure, rhel-10

#5665 infra: remove `tag` and `release-and-tag` Makefile targets
  Makefile.am
Labels: infrastructure, rhel-9

#5662 Deprecate kickstart modularity module
  docs/release-notes/deprecate-modularity.rst
  pyanaconda/core/kickstart/commands.py
Labels: release note required, port to RHEL10, f41

#5669 infra: specify copr repository in the trigger webui workflow
  .github/workflows/trigger-webui.yml
  .github/workflows/trigger-webui.yml.j2
Labels: infrastructure, f41

#5671 infra: trigger-webui: also specify releasever
  .github/workflows/trigger-webui.yml
  .github/workflows/trigger-webui.yml.j2
Labels: infrastructure, f41

#5673 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f41

#5674 Update translations from Weblate
  po/l10n-config.mk
Labels: rhel-9, sanity check required

#5675 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#5672 Remove 'linear' from list of expected MD RAID levels
  dracut/anaconda-modprobe.sh
  tests/unit_tests/pyanaconda_tests/modules/storage/partitioning/test_module_scheduler.py
Labels: port to RHEL10, f41
