Repository rhinstaller/anaconda, pull requests merged in 2024-11, with the labels that each got.

#5928 security: call /usr/libexec/fips-setup-helper
  anaconda.spec.in
  pyanaconda/modules/security/installation.py
  pyanaconda/modules/security/security.py
  tests/unit_tests/pyanaconda_tests/modules/security/test_module_security.py
Labels: rhel-9, ready to merge

#5945 dd_extract: Add support for compressed kernel modules
  docs/driverdisc.rst
  docs/release-notes/dd-compressed-kernel-modules.rst
  tests/unit_tests/dd_tests/test_dd.py
  utils/dd/dd_extract.c
Labels: rhel-9, ready to merge

#5973 security: call /usr/libexec/fips-setup-helper
  anaconda.spec.in
  pyanaconda/modules/security/installation.py
  pyanaconda/modules/security/security.py
  tests/unit_tests/pyanaconda_tests/modules/security/test_module_security.py
Labels: ready to merge, rhel-10

#5976 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required

#5977 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#5974 pyanaconda: storage: workaround for Virtio Block Device being displayed as 0x1af4
  pyanaconda/modules/storage/devicetree/viewer.py
Labels: f42

#5971 docs: Collect release notes for F41
  docs/release-notes.rst
  docs/release-notes/crypt_r.rst
  docs/release-notes/deprecate-modularity.rst
  docs/release-notes/flatpak-remote-is-configurable.rst
  docs/release-notes/no-network-port-device-default-profiles.rst
  docs/release-notes/nvme-over-fabrics.rst
  docs/release-notes/remove-deprecated-warnings-for-inst-prefix.rst
  docs/release-notes/riscv64-support.rst
  docs/release-notes/support-ping-in-dracut.rst
Labels: documentation, f42

#5962 Redirect only GLib loggers to Journal
  pyanaconda/anaconda_logging.py
  pyanaconda/core/glib.py
Labels: port to RHEL10, f42

#5981 infra: update cppcheck for version 2.16
  tests/cppcheck/suppression-list.txt
Labels: infrastructure, f42

#5983 infra: Switch back to regular RHEL 10 repo
  dockerfile/anaconda-iso-creator/lorax-build.j2
Labels: infrastructure, f42

#5985 infra: fixup of cppcheck update
  tests/cppcheck/suppression-list.txt
Labels: f42

#5986 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f42

#5988 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#5987 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required

#5982 Sync subscription code from rhel 9
  anaconda.spec.in
  pyanaconda/errors.py
  pyanaconda/modules/common/constants/objects.py
  pyanaconda/modules/common/errors/installation.py
  pyanaconda/modules/common/errors/subscription.py
  pyanaconda/modules/common/structures/subscription.py
  pyanaconda/modules/subscription/installation.py
  pyanaconda/modules/subscription/runtime.py
  pyanaconda/modules/subscription/satellite.py
  pyanaconda/modules/subscription/subscription.py
  pyanaconda/modules/subscription/subscription_interface.py
  pyanaconda/modules/subscription/utils.py
  pyanaconda/ui/gui/spokes/installation_source.py
  pyanaconda/ui/gui/spokes/lib/subscription.py
  pyanaconda/ui/gui/spokes/subscription.glade
  pyanaconda/ui/gui/spokes/subscription.py
  pyanaconda/ui/lib/subscription.py
  tests/unit_tests/pyanaconda_tests/modules/subscription/test_subscription.py
  tests/unit_tests/pyanaconda_tests/modules/subscription/test_subscription_tasks.py
  tests/unit_tests/pyanaconda_tests/test_subscription_helpers.py
Labels: port to Fedora, ready to merge, rhel-10

#5955 network: add warning for kickstart network configuration when running…
  pyanaconda/core/util.py
  pyanaconda/network.py
  tests/unit_tests/pyanaconda_tests/core/test_util.py
Labels: f42

#5980 Explicitly place biosboot partition only on stage1 disk
  pyanaconda/modules/storage/partitioning/automatic/utils.py
Labels: rhel-10

#5992 Remove stray comma from widgets/configure.ac
  widgets/configure.ac
Labels: f42

#5946 liveinst: Allow running as a Wayland-native application
  data/liveinst/liveinst
Labels: f42

#5994 Fix RDP var contains string instead of bool
  pyanaconda/display.py
Labels: port to RHEL10, f42

#5990 network: add warning for kickstart network configuration when running…
  pyanaconda/core/util.py
  pyanaconda/network.py
  tests/unit_tests/pyanaconda_tests/core/test_util.py
Labels: ready to merge, rhel-10

#5960 network: handle autoconnections policy for rhel upstream
  data/systemd/Makefile.am
  data/systemd/anaconda-generator
  data/systemd/anaconda-nm-disable-autocons-rhel.service
Labels: ready to merge, rhel-10

#5991 Explicitly place biosboot partition only on stage1 disk
  pyanaconda/modules/storage/partitioning/automatic/utils.py
Labels: f42

#6002 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required

#6001 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f42

#5998 doc: RDP boot option is not supported in live
  data/anaconda_options.txt
Labels: f42

#6006 payload: raise exception on non zero exit code from rsync
  pyanaconda/modules/payloads/payload/live_image/installation.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_live.py
Labels: f42

#6021 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required

#6022 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#6009 payload: utilize disk usage for assuming the minimum required disk size in live OS
  pyanaconda/modules/payloads/source/live_os/initialization.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_live_os.py
Labels: f42

#5959 util: correct errors and suppress stderr for common cases
  scripts/log-capture
Labels: f42

#6017 Fix typo in anaconda hints
  pyanaconda/startup_utils.py
Labels: f42

#6016 infra: update path of handle-sshpw in makeupdates
  scripts/makeupdates
Labels: f42

#6005 RHEL-10: Redirect only GLib loggers to Journal
  anaconda.py
  pyanaconda/anaconda_logging.py
  pyanaconda/core/glib.py
Labels: ready to merge, rhel-10

#6000 RHEL-10: Backport localed patchset
  anaconda.spec.in
  docs/release-notes/rdp-support.rst
  docs/release-notes/wayland-migration.rst
  pyanaconda/core/configuration/system.py
  pyanaconda/keyboard.py
  pyanaconda/modules/common/constants/services.py
  pyanaconda/modules/localization/gk_keyboard_manager.py
  pyanaconda/modules/localization/localed.py
  pyanaconda/modules/localization/localization.py
  tests/unit_tests/pyanaconda_tests/modules/localization/gk_keyboard_manager_test.py
  tests/unit_tests/pyanaconda_tests/modules/localization/test_localed_wrapper.py
  tests/unit_tests/pyanaconda_tests/modules/localization/test_module_localization.py
  tests/unit_tests/pyanaconda_tests/test_keyboard.py
Labels: ready to merge, documentation, rhel-10

#5808 util: Add additional information for EFI systems
  scripts/log-capture
Labels: ready to merge, rhel-10

#6004 RHEL-10: Fix user systemd error printed to console and other minor RDP fixes
  anaconda.py
  data/liveinst/liveinst
  pyanaconda/core/configuration/system.py
  pyanaconda/display.py
  pyanaconda/gnome_remote_desktop.py
  pyanaconda/startup_utils.py
  tests/unit_tests/pyanaconda_tests/core/test_startup_utils.py
  tests/unit_tests/pyanaconda_tests/test_display.py
Labels: ready to merge, rhel-10

#6025 infra: Allow webui tests for external contributors
  .github/workflows/trigger-webui.yml
  .github/workflows/trigger-webui.yml.j2
Labels: infrastructure, f42

#6027 Revert "infra: Allow webui tests for external contributors"
  .github/workflows/trigger-webui.yml
  .github/workflows/trigger-webui.yml.j2
Labels: infrastructure, f42

#6018 Wayland fixes
  pyanaconda/ui/gui/__init__.py
  pyanaconda/ui/gui/main.glade
  pyanaconda/ui/gui/spokes/advanced_user.glade
  pyanaconda/ui/gui/spokes/advstorage/dasd.glade
  pyanaconda/ui/gui/spokes/advstorage/fcoe.glade
  pyanaconda/ui/gui/spokes/advstorage/iscsi.glade
  pyanaconda/ui/gui/spokes/advstorage/zfcp.glade
  pyanaconda/ui/gui/spokes/keyboard.glade
  pyanaconda/ui/gui/spokes/lib/beta_warning_dialog.glade
  pyanaconda/ui/gui/spokes/lib/cart.glade
  pyanaconda/ui/gui/spokes/lib/custom_storage_helpers.glade
  pyanaconda/ui/gui/spokes/lib/dasdfmt.glade
  pyanaconda/ui/gui/spokes/lib/detailederror.glade
  pyanaconda/ui/gui/spokes/lib/installation_source_helpers.glade
  pyanaconda/ui/gui/spokes/lib/network_secret_agent.glade
  pyanaconda/ui/gui/spokes/lib/ntp_dialog.glade
  pyanaconda/ui/gui/spokes/lib/passphrase.glade
  pyanaconda/ui/gui/spokes/lib/refresh.glade
  pyanaconda/ui/gui/spokes/lib/resize.glade
  pyanaconda/ui/gui/spokes/lib/storage_dialogs.glade
Labels: manual testing required, port to RHEL10, f42

#6030 pyanaconda: payload: split rsync command for /boot/efi to handle FAT filesystem limitations
  pyanaconda/modules/payloads/payload/live_image/installation.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_live.py
Labels: f42
