Repository rhinstaller/anaconda, pull requests merged in 2024-09, with the labels that each got.

#5858 Ignore all storage errors when trying to activate swaps
  pyanaconda/modules/storage/devicetree/fsset.py
Labels: f42

#5863 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#5860 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f42

#5862 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required

#5861 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f41

#5824 security: call /usr/libexec/fips-setup-helper
  anaconda.spec.in
  pyanaconda/modules/security/installation.py
  pyanaconda/modules/security/security.py
  tests/unit_tests/pyanaconda_tests/modules/security/test_module_security.py
Labels: port to RHEL10, f42

#5872 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#5871 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required

#5869 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f42

#5879 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required

#5880 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#5878 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f41

#5877 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f42

#5875 Fix scheduling actions in reclaim space dialog (#2311936)
  pyanaconda/ui/gui/spokes/lib/resize.py
Labels: f41, f42

#5884 configure: only append -fanalyzer when building with gcc
  configure.ac
Labels: f42

#5886 Remove deprecated `method` boot option
  docs/boot-options.rst
  dracut/parse-anaconda-options.sh
  pyanaconda/argument_parsing.py
  pyanaconda/payload/dnf/payload.py
Labels: documentation, f42

#5885 util: log PID when also when a created process terminates
  pyanaconda/core/util.py
Labels: f42

#5889 Fixes for unblocking RHEL-10 container builds
  dockerfile/anaconda-ci/Dockerfile
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf_installation.py
  tests/unit_tests/pyanaconda_tests/modules/storage/partitioning/test_module_scheduler.py
Labels: infrastructure, rhel-10

#5887 Remove support for i686 builds
  anaconda.spec.in
  docs/release-notes/drop-i686-builds.rst
Labels: release note required, f42

#5893 pyanaconda: fix incorrect access to --repo argument
  pyanaconda/payload/dnf/payload.py
Labels: f42

#5874 Fix check for biosboot partition in GRUB2.check
  pyanaconda/modules/storage/bootloader/grub2.py
Labels: f42

#5897 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#5896 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required

#5895 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f41

#5898 webui: Move webui-desktop in libexec to our subdirectory
  data/liveinst/liveinst
  pyanaconda/ui/webui/__init__.py
  tests/unit_tests/pyanaconda_tests/ui/test_webui.py
Labels: f41

#5894 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f42

#5899 infra: release should be a number to be parsed by workflow jinjas
  .branch-variables.yml
  .github/workflows/tests.yml
Labels: infrastructure, f41

#5734 webui: Saving webui-desktop log to anaconda.log
  pyanaconda/ui/webui/__init__.py
  tests/unit_tests/pyanaconda_tests/ui/test_webui.py
Labels: f41

#5905 build: remove the Obsoletes line from the spec file for booty
  anaconda.spec.in
Labels: f42

#5904 build: rpmlint fix: disable the generation of the debuginfo for core package
  anaconda.spec.in
Labels: f42

#5903 build: rpmlint fix: E: explicit-lib-dependency libselinux-python3
  anaconda.spec.in
Labels: f42

#5876 Take partition label from blivet
  pyanaconda/modules/common/structures/storage.py
  pyanaconda/modules/storage/devicetree/viewer.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_device_tree.py
Labels: f42

#5909 Fix scheduling actions in reclaim space dialog (#2311936)
  pyanaconda/ui/gui/spokes/lib/resize.py
Labels: f41

#5911 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f41

#5912 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required

#5913 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#5910 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f42

#5906 docs: Adjust CONTRIBUTING document to mention automatic linter checks
  CONTRIBUTING.rst
Labels: f42
