Repository rhinstaller/anaconda, pull requests merged in 2025-03, with the labels that each got.

#6224 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f43

#6221 rpmlint: Ignore explicit-lib-dependency on libblockdev-tools
  rpmlint.toml
Labels: f43

#6226 Update translations from Weblate
  po/l10n-config.mk
Labels: rhel-9, sanity check required

#6225 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f42

#6227 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#6220 Enhance reading of the Live keyboard layouts
  pyanaconda/modules/localization/live_keyboard.py
  pyanaconda/modules/localization/localization.py
  pyanaconda/modules/localization/localization_interface.py
  pyanaconda/modules/localization/runtime.py
  tests/unit_tests/pyanaconda_tests/modules/localization/test_live_keyboard.py
  tests/unit_tests/pyanaconda_tests/modules/localization/test_module_localization.py
Labels: f43

#6191 spec: Add libblockdev-tools to install-env-deps
  anaconda.spec.in
  rpmlint.toml
Labels: release-blocker, f42

#6230 Enhance reading of the Live keyboard layouts
  pyanaconda/modules/localization/live_keyboard.py
  pyanaconda/modules/localization/localization.py
  pyanaconda/modules/localization/localization_interface.py
  pyanaconda/modules/localization/runtime.py
  tests/unit_tests/pyanaconda_tests/modules/localization/test_live_keyboard.py
  tests/unit_tests/pyanaconda_tests/modules/localization/test_module_localization.py
Labels: f42

#6202 Add the locale1-x11-sync script to the anaconda-live subpackage (#2346855)
  anaconda.spec.in
  data/liveinst/Makefile.am
  data/liveinst/locale1-x11-sync
  data/liveinst/locale1-x11-sync.service
Labels: f42

#6208 network: enable dnsconfd service in installer environment
  dracut/Makefile.am
  dracut/anaconda-dnsconfd.sh
  dracut/module-setup.sh
Labels: f42, f43

#6206 network: pass 16-dns-backend.conf to target system
  pyanaconda/modules/network/installation.py
  tests/unit_tests/pyanaconda_tests/modules/network/test_module_network.py
Labels: f42, f43

#6209 network: enable dnsconfd service on installed system if required
  pyanaconda/modules/network/installation.py
  tests/unit_tests/pyanaconda_tests/modules/network/test_module_network.py
Labels: f42, f43

#6231 Fix bad formatting for `format` function
  pyanaconda/modules/localization/live_keyboard.py
  tests/unit_tests/pyanaconda_tests/modules/localization/test_live_keyboard.py
Labels: f43

#6232 Fix bad formatting for `format` function
  pyanaconda/modules/localization/live_keyboard.py
  tests/unit_tests/pyanaconda_tests/modules/localization/test_live_keyboard.py
Labels: f42

#6124 Create autogenerated dbus docs + default theme change
  docs/_static/custom.css
  docs/conf.py
  docs/generate_modules.py
  docs/index.rst
  docs/requirements.txt
Labels: documentation, f43

#6237 infra: automatically sync packit configuration file downstream
  .packit.yml
  .packit.yml.j2
Labels: f43

#6213 netowrk: enable dnsconfd service in installer environment
  dracut/Makefile.am
  dracut/anaconda-dnsconfd.sh
  dracut/module-setup.sh
Labels: rhel-9, ready to merge

#6215 network: start dnsconfd in initramfs
  dracut/Makefile.am
  dracut/anaconda-lib.sh
  dracut/anaconda-start-dnsconfd.sh
  dracut/module-setup.sh
Labels: rhel-9, ready to merge

#6214 network: pass 16-dns-backend.conf to target system
  pyanaconda/modules/network/installation.py
  tests/unit_tests/pyanaconda_tests/modules/network/test_module_network.py
Labels: rhel-9, ready to merge

#6012 Revert "pyanaconda: storage: workaround for Virtio Block Device being displayed as 0x1af4"
  pyanaconda/modules/storage/devicetree/viewer.py
Labels: f43

#6238 infra: automatically sync packit configuration file downstream
  .packit.yml
  .packit.yml.j2
Labels: infrastructure, f42

#6130 Disable support of kernel 'nokill' option in anaconda
  anaconda.py
Labels: f43

#6240 infra: use single copr for both main and branched fedora
  .packit.yml.j2
  branch-config.mk
  branch-config.mk.j2
  dockerfile/anaconda-ci/Dockerfile
Labels: infrastructure, f43

#6243 infra: Fix permissions of ISO from update_iso
  scripts/testing/update_iso
Labels: infrastructure, f43

#6244 infra: Fix permissions of ISO from update_iso
  scripts/testing/update_iso
Labels: infrastructure, f42

#6246 infra: Fix permissions of ISO from update_iso
  scripts/testing/update_iso
Labels: infrastructure, rhel-10

#6245 infra: Fix permissions of ISO from update_iso
  scripts/testing/update_iso
Labels: infrastructure, rhel-9

#6248 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f43

#6249 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f42

#6250 Update translations from Weblate
  po/l10n-config.mk
Labels: rhel-9, sanity check required

#6229 Disable centos production repo, keep only development enabled.
  dockerfile/anaconda-rpm/Dockerfile
Labels: infrastructure, rhel-10

#6184 netowrk: enable dnsconfd service in installer environment
  dracut/Makefile.am
  dracut/anaconda-dnsconfd.sh
  dracut/module-setup.sh
Labels: blocked, ready to merge, rhel-10

#6186 network: enable dnsconfd service on installed system if required
  pyanaconda/modules/network/installation.py
  tests/unit_tests/pyanaconda_tests/modules/network/test_module_network.py
Labels: ready to merge, rhel-10

#6200 network: start dnsconfd in initramfs
  dracut/Makefile.am
  dracut/anaconda-lib.sh
  dracut/anaconda-start-dnsconfd.sh
  dracut/module-setup.sh
Labels: ready to merge, rhel-10

#6201 network: pass 16-dns-backend.conf to target system
  pyanaconda/modules/network/installation.py
  tests/unit_tests/pyanaconda_tests/modules/network/test_module_network.py
Labels: ready to merge, rhel-10

#6247 Disable systemd-resolved when enabling dnsconfd
  dracut/anaconda-dnsconfd.sh
Labels: f43

#6235 Add dnsconfd
  anaconda.spec.in
  pyanaconda/modules/network/network.py
Labels: f43

#6239 Fix tui error after rd question
  pyanaconda/display.py
Labels: f43

#6256 gui: replace emblem icons removed from adwaita package
  pyanaconda/ui/gui/spokes/advstorage/dasd.glade
  pyanaconda/ui/gui/spokes/advstorage/zfcp.glade
  pyanaconda/ui/gui/spokes/language_support.py
  pyanaconda/ui/gui/spokes/lib/dasdfmt.glade
  pyanaconda/ui/gui/spokes/lib/installation_source_helpers.glade
  pyanaconda/ui/gui/spokes/lib/installation_source_helpers.py
  pyanaconda/ui/gui/spokes/lib/ntp_dialog.py
  pyanaconda/ui/gui/spokes/lib/refresh.glade
Labels: f43

#6142 network: update NM autoconnections configuration for centos
  data/systemd/anaconda-nm-disable-autocons-rhel.service
  scripts/anaconda-nm-disable-autocons
Labels: f43

#6261 pyanaconda: storage: fix getting of usable devices
  pyanaconda/modules/storage/partitioning/manual/manual_module.py
Labels: ready to merge, f43

#6262 pyanaconda: storage: fix getting of usable devices
  pyanaconda/modules/storage/partitioning/manual/manual_module.py
Labels: release-blocker, f42

#6252 infra: use single copr for both main and branched fedora
  .packit.yml
  .packit.yml.j2
  branch-config.mk
  branch-config.mk.j2
  dockerfile/anaconda-ci/Dockerfile
Labels: infrastructure, f42

#6265 Sync infra with main
  .github/workflows/trigger-webui.yml
  .github/workflows/trigger-webui.yml.j2
  .packit.yml
  .packit.yml.j2
Labels: infrastructure, f42

#6267 F42: gui: replace emblem icons removed from adwaita package
  pyanaconda/ui/gui/spokes/advstorage/dasd.glade
  pyanaconda/ui/gui/spokes/advstorage/zfcp.glade
  pyanaconda/ui/gui/spokes/language_support.py
  pyanaconda/ui/gui/spokes/lib/dasdfmt.glade
  pyanaconda/ui/gui/spokes/lib/installation_source_helpers.glade
  pyanaconda/ui/gui/spokes/lib/installation_source_helpers.py
  pyanaconda/ui/gui/spokes/lib/ntp_dialog.py
  pyanaconda/ui/gui/spokes/lib/refresh.glade
Labels: f42

#6271 infra: packit: Downstream jobs run only from the main dist-git branch
  .packit.yml
  .packit.yml.j2
Labels: release-blocker, f43

#6268 infra: when enabling copr in trigger webui workflow take in mind correct distro version
  .github/workflows/trigger-webui.yml.j2
Labels: infrastructure, f43

#6273 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f42

#6269 infra: when enabling copr in trigger webui workflow take in mind correct distro version
  .github/workflows/trigger-webui.yml
  .github/workflows/trigger-webui.yml.j2
  .packit.yml
  .packit.yml.j2
Labels: infrastructure, f42

#6277 infra: skip kickstart tests not working for anaconda PR CI workflow
  .github/workflows/kickstart-tests.yml
  .github/workflows/kickstart-tests.yml.j2
Labels: infrastructure, f43

#6282 infra: fixup of a --anaconda-pr kstest workflow commit
  .github/workflows/kickstart-tests.yml
  .github/workflows/kickstart-tests.yml.j2
Labels: infrastructure, f43

#6283 Support redirects in apply-updates
  scripts/apply-updates
Labels: f42

#6278 Support redirects in apply-updates
  scripts/apply-updates
Labels: f43

#6234 Disable LVM auto-activation during installation
  anaconda.py
  anaconda.spec.in
  pyanaconda/modules/storage/initialization.py
Labels: f42

#6270 Fix tui error after rd question
  pyanaconda/display.py
Labels: f42

#6286 infra: explicitely allow packit to create koji builds and bodhi updates
  .packit.yml
  .packit.yml.j2
Labels: f43

#6288 Use tmpfs for /var/tmp in CI containers
  Makefile.am
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_live.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_live_image.py
Labels: f43

#6279 pyanaconda: storage: add some checks for MDRAID devices as stage1/stage2
  pyanaconda/modules/storage/bootloader/base.py
  pyanaconda/modules/storage/platform.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_platform.py
Labels: f43

#6290 pyanaconda: storage: add some checks for MDRAID devices as stage1/stage2
  pyanaconda/modules/storage/bootloader/base.py
  pyanaconda/modules/storage/platform.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_platform.py
Labels: infrastructure, f42

#6292 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f42

#6291 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f43

#6296 F42: Start/stop locale-sync systemd unit in liveinst #6295
  data/liveinst/liveinst
  data/liveinst/locale1-x11-sync.service
Labels: f42

#6295 Start/stop locale-sync systemd unit in liveinst
  data/liveinst/liveinst
  data/liveinst/locale1-x11-sync.service
Labels: f43

#6287 Stop parsing PLATFORM_ID from os-release
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
  tests/unit_tests/pyanaconda_tests/core/test_util.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf_manager.py
Labels: f43

#6293 Update translations from Weblate
  po/l10n-config.mk
Labels: rhel-9, sanity check required

#6294 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#6305 F42: Fix condition to run locale1-sync script
  data/liveinst/liveinst
Labels: f42

#6303 Fix condition to run locale1-sync script
  data/liveinst/liveinst
Labels: f43

#6301 Disable keyboard shortcuts for layouts switching
  docs/developer/keyboard-control.rst
  docs/release-notes/disabled-keyboard-shortcuts-to-switch-layouts.rst
  pyanaconda/core/configuration/system.py
  pyanaconda/modules/localization/localed.py
  pyanaconda/ui/gui/spokes/keyboard.py
  tests/unit_tests/pyanaconda_tests/modules/localization/test_localed_wrapper.py
Labels: release note required, f43

#6304 F42: Disable keyboard shortcuts for layouts switching
  docs/developer/keyboard-control.rst
  docs/release-notes/disabled-keyboard-shortcuts-to-switch-layouts.rst
  pyanaconda/core/configuration/system.py
  pyanaconda/modules/localization/localed.py
  pyanaconda/ui/gui/spokes/keyboard.py
  tests/unit_tests/pyanaconda_tests/modules/localization/test_localed_wrapper.py
Labels: documentation, f42

#6307 pyanaconda: add support for Mac OS detection
  pyanaconda/modules/storage/constants.py
  pyanaconda/modules/storage/devicetree/viewer.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_device_tree.py
Labels: f43

#6310 infra: trigger-webui: parameterize releasever
  .github/workflows/trigger-webui.yml
  .github/workflows/trigger-webui.yml.j2
Labels: infrastructure, f42

#6309 infra: trigger-webui: parameterize releasever
  .github/workflows/trigger-webui.yml.j2
Labels: infrastructure, f43

#6308 F42: pyanaconda: add support for Mac OS detection
  pyanaconda/modules/storage/constants.py
  pyanaconda/modules/storage/devicetree/viewer.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_device_tree.py
Labels: f42

#6313 Limit support for only RAID1 on /boot
  pyanaconda/modules/storage/bootloader/grub2.py
Labels: f43

#6314 F42 limit boot on raid1
  docs/release-notes/limit-boot-on-RAID1.rst
  pyanaconda/modules/storage/bootloader/grub2.py
Labels: documentation, release note required, f42

#6316 storage: remove EFI and BIOS boot partition requirements for MBR disks
  pyanaconda/modules/storage/devicetree/viewer.py
Labels: f42

#6306 pyanaconda: mount point constraints: remove EFI and BIOS boot partition requirements for MBR disks
  pyanaconda/modules/storage/devicetree/viewer.py
Labels: f43

#6320 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f42

#6319 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f43

#6323 pyanaconda: storage: when checking the md device validity check also parent
  pyanaconda/modules/storage/bootloader/base.py
Labels: f43

#6324 pyanaconda: storage: when checking the md device validity check also parent
  pyanaconda/modules/storage/bootloader/base.py
Labels: f42

#6318 anaconda-tmux@.service: pass TERM
  data/systemd/anaconda-tmux@.service
  docs/release-notes/enable-TERM-passthrough.rst
Labels: release note required, f43
