Repository rhinstaller/anaconda, pull requests merged in 2025-01, with the labels that each got.

#6072 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f42

#6073 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required

#6074 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#6085 Don't log a bogus warning when kickstart specifies a disk label
  pyanaconda/modules/storage/partitioning/automatic/noninteractive_partitioning.py
Labels: f42

#6083 Fix displaying attributes on advanced storage spoke
  pyanaconda/ui/gui/spokes/advanced_storage.glade
  pyanaconda/ui/gui/spokes/advanced_storage.py
Labels: f42

#6086 Revert "build: Install systemd-resolved in ELN aka RHEL-11"
  anaconda.spec.in
Labels: f42

#6088 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required

#6089 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#6067 Add documentation for keyboard layout control
  docs/developer.rst
  docs/developer/keyboard-control.rst
Labels: documentation, f42

#6087 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f42

#5995 Backport support for Wayland-native Anaconda live installer from Fedora
  data/liveinst/liveinst
  pyanaconda/ui/gui/__init__.py
  pyanaconda/ui/gui/main.glade
  pyanaconda/ui/gui/spokes/advanced_user.glade
  pyanaconda/ui/gui/spokes/advstorage/dasd.glade
  pyanaconda/ui/gui/spokes/advstorage/fcoe.glade
  pyanaconda/ui/gui/spokes/advstorage/iscsi.glade
  pyanaconda/ui/gui/spokes/advstorage/zfcp.glade
  pyanaconda/ui/gui/spokes/keyboard.glade
  pyanaconda/ui/gui/spokes/lib/beta_warning_dialog.glade
  pyanaconda/ui/gui/spokes/lib/cart.glade
  pyanaconda/ui/gui/spokes/lib/custom_storage_helpers.glade
  pyanaconda/ui/gui/spokes/lib/dasdfmt.glade
  pyanaconda/ui/gui/spokes/lib/detailederror.glade
  pyanaconda/ui/gui/spokes/lib/installation_source_helpers.glade
  pyanaconda/ui/gui/spokes/lib/network_secret_agent.glade
  pyanaconda/ui/gui/spokes/lib/ntp_dialog.glade
  pyanaconda/ui/gui/spokes/lib/passphrase.glade
  pyanaconda/ui/gui/spokes/lib/refresh.glade
  pyanaconda/ui/gui/spokes/lib/resize.glade
  pyanaconda/ui/gui/spokes/lib/storage_dialogs.glade
Labels: ready to merge, rhel-10

#6037 RHEL-10: Do not crash if RDP is selected after regular GUI startup failed
  pyanaconda/display.py
Labels: ready to merge, rhel-10

#6060 Handle invalid UTF-8 characters in efibootmgr output
  pyanaconda/core/util.py
  pyanaconda/modules/storage/bootloader/efi.py
  tests/unit_tests/pyanaconda_tests/core/test_util.py
Labels: f42

#6084 rpmostree: Use `--merge` for kargs
  pyanaconda/modules/payloads/payload/rpm_ostree/installation.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_rpm_ostree_tasks.py
Labels: f42

#6100 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#6099 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required

#6098 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f42

#6095 docs: update release note for certificates import
  docs/release-notes/certificates-import.rst
Labels: documentation, f42

#6097 certificate: do not crash initramfs ks parsing on read-only filesystem
  dracut/parse-kickstart
Labels: f42

#6090 Disable keyboard switching with a shortcut in boot.iso
  pyanaconda/core/configuration/system.py
  pyanaconda/modules/localization/localed.py
  pyanaconda/modules/localization/localization.py
  pyanaconda/ui/gui/spokes/keyboard.py
  tests/unit_tests/pyanaconda_tests/modules/localization/test_localed_wrapper.py
  tests/unit_tests/pyanaconda_tests/modules/localization/test_module_localization.py
Labels: f42

#5773 Fix download of stage2 image from .treeinfo
  dracut/anaconda-lib.sh
  tests/unit_tests/dracut_tests/test_dracut_anaconda-lib.py
Labels: port to RHEL9, port to RHEL10, f42

#6104 data: profiles: enable language screen for Web UI on Workstation
  data/profile.d/fedora-workstation.conf
Labels: f42

#6107 Move shell testing to a separated directory
  tests/unit_tests/shell_tests/__init__.py
  tests/unit_tests/shell_tests/test_dracut_anaconda-lib.py
Labels: f42

#6108 Improve tests/README
  docs/images/tests/GH-self-hosted-runners.png
  tests/README.rst
Labels: documentation, f42

#6111 Update translations from Weblate
  po/l10n-config.mk
Labels: rhel-9, sanity check required

#6110 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f42

#6102 Edns pass config to system
  data/anaconda.conf
  pyanaconda/modules/network/installation.py
  tests/unit_tests/pyanaconda_tests/modules/network/test_module_network.py
Labels: f42

#5807 util: Add additional information for EFI systems
  scripts/log-capture
Labels: rhel-9, ready to merge

#6105 RHEL 10: Disable keyboard switching with a shortcut in boot.iso
  pyanaconda/core/configuration/system.py
  pyanaconda/modules/localization/localed.py
  pyanaconda/modules/localization/localization.py
  pyanaconda/ui/gui/spokes/keyboard.py
  tests/unit_tests/pyanaconda_tests/modules/localization/test_localed_wrapper.py
  tests/unit_tests/pyanaconda_tests/modules/localization/test_module_localization.py
Labels: ready to merge, rhel-10
