Repository rhinstaller/anaconda, pull requests merged in 2025-08, with the labels that each got.

#6542 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#6553 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#6552 Update translations from Weblate
  po/l10n-config.mk
Labels: rhel-9, sanity check required

#6551 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f43

#6559 infra: update container update workflows to use release-specific CI tags
  .github/workflows/container-autoupdate.yml
  .github/workflows/container-autoupdate.yml.j2
  .github/workflows/container-rebuild-action.yml
Labels: infrastructure, f43

#6560 workflows: remove hardcoded CONTAINER_TAG="lorax" usage
  .github/workflows/build-image.yml
  .github/workflows/build-image.yml.j2
  .github/workflows/kickstart-tests.yml
  .github/workflows/kickstart-tests.yml.j2
  Makefile.am
Labels: infrastructure, f43

#6561 infra: reuse container-tag parameters instead of obsolete hardcoded main value
  .github/workflows/container-rebuild-action.yml
Labels: infrastructure, f43

#6550 infra: Temporary override for COPR use in containers
  dockerfile/anaconda-ci/Dockerfile
  dockerfile/anaconda-rpm/Dockerfile
Labels: infrastructure, f43

#6563 infra: replace supported_branches with supported_releases
  .branch-variables.yml
  .github/workflows/container-autoupdate.yml
  .github/workflows/container-autoupdate.yml.j2
  .github/workflows/tests-daily.yml
  .github/workflows/tests-daily.yml.j2
  .github/workflows/try-release-daily.yml
  .github/workflows/try-release-daily.yml.j2
Labels: infrastructure, f43

#6565 infra: expose CI_TAG on KS tests (fixes regression from 031e684a6575)
  .github/workflows/kickstart-tests.yml
  .github/workflows/kickstart-tests.yml.j2
Labels: infrastructure, f43

#6567 packit: drive jobs from supported_releases per branch; dedupe and group targets
  .branch-variables.yml
  .packit.yml
  .packit.yml.j2
Labels: f43, f44

#6566 Revert "infra: Temporary override for COPR use in containers"
  dockerfile/anaconda-ci/Dockerfile
  dockerfile/anaconda-rpm/Dockerfile
Labels: infrastructure, f43, f44

#6571 Update translations from Weblate
  po/l10n-config.mk
Labels: rhel-9, sanity check required

#6572 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#6493 RHEL-10: Fix vconsole layout doesn't work for ostree
  pyanaconda/modules/payloads/payload/rpm_ostree/installation.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_rpm_ostree_tasks.py
Labels: ready to merge, rhel-10

#6570 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f43, f44

#6577 infra: expose CI_TAG for all branches
  branch-config.mk
  branch-config.mk.j2
Labels: infrastructure, f43, f44

#6581 Update translations from Weblate
  po/l10n-config.mk
Labels: rhel-9, sanity check required

#6584 storage: devicetree: read VERSION or VERSION_CODENAME for identifying OS from os-release
  pyanaconda/modules/storage/devicetree/root.py
Labels: f43, f44

#6586 build: makefile: remove noop CI_TAG self assignment
  Makefile.am
Labels: f43, f44

#6583 infra: modify WebUI workflow to trigger tests for all supported releases on main branch
  .github/workflows/trigger-webui.yml
  .github/workflows/trigger-webui.yml.j2
Labels: infrastructure, f43, f44

#6594 Reset comps queries when resetting the dnf base
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
Labels: f43, f44

#6596 infra: Add --image parameter to build-image workflow
  .github/workflows/build-image.yml
  .github/workflows/build-image.yml.j2
Labels: infrastructure, f43, f44

#6598 infra: build-image: Use sudo -E to preserve environment variables including CI_TAG
  .github/workflows/build-image.yml
  .github/workflows/build-image.yml.j2
Labels: infrastructure, f43, f44
