Repository rhinstaller/anaconda, pull requests merged in 2025-06, with the labels that each got.

#6451 Update translations from Weblate
  po/l10n-config.mk
Labels: rhel-9, sanity check required

#6450 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f43

#6445 anaconda: Remove manual start of `systemd --user`
  anaconda.py
  pyanaconda/core/configuration/system.py
  pyanaconda/display.py
  tests/unit_tests/pyanaconda_tests/test_display.py
Labels: f43

#6448 Use os.get_terminal_size rather than ioctl magic
  pyanaconda/argument_parsing.py
Labels: f43

#6449 Avoid the multiprocessing forkserver method with dnf
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
Labels: f43

#6461 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#6460 Update translations from Weblate
  po/l10n-config.mk
Labels: rhel-9, sanity check required

#6462 anaconda-rpm: Dockerfile: install pocketlint via pip to avoid RPM dependency issues
  dockerfile/anaconda-rpm/Dockerfile
  dockerfile/anaconda-rpm/requirements.txt
Labels: infrastructure, f43

#6463 makeupdates: Bump Python version in site packages path to 3.14
  scripts/makeupdates
Labels: f43

#6457 bootloader: drop write_config_console, just preserve console=
  data/anaconda.conf
  pyanaconda/modules/storage/bootloader/base.py
  pyanaconda/modules/storage/bootloader/extlinux.py
  pyanaconda/modules/storage/bootloader/grub2.py
  pyanaconda/modules/storage/bootloader/systemd.py
Labels: f43

#6464 tests: allow DeprecationWarning in test_sync_call_glib_in_thread
  tests/unit_tests/pyanaconda_tests/modules/network/test_module_network_nm_client.py
Labels: f43

#6467 Remove tmpfs on /var/tmp for ISO builds
  Makefile.am
Labels: f43

#6444 Enable more ruff rules
  dracut/driver_updates.py
  pyanaconda/modules/payloads/payload/live_image/installation_progress.py
  pyanaconda/modules/payloads/payload/rpm_ostree/installation.py
  pyanaconda/modules/storage/devicetree/utils.py
  pyanaconda/modules/storage/partitioning/interactive/utils.py
  pyanaconda/modules/storage/partitioning/manual/manual_module.py
  pyanaconda/rescue.py
  pyanaconda/ui/gui/spokes/datetime_spoke.py
  pyanaconda/ui/gui/spokes/welcome.py
  pyanaconda/ui/gui/utils.py
  tests/ruff/ruff.toml
  tests/unit_tests/dd_tests/test_dd.py
  tests/unit_tests/dracut_tests/test_driver_updates.py
  tests/unit_tests/pyanaconda_tests/core/test_user_create.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_rpm_ostree.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_cdn.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_cdrom.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_closest_mirror.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_harddrive.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_hmc.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_live_image.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_live_os.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_nfs.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_repo_files.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_repo_path.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_rpm_ostree.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_rpm_ostree_container.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/test_module_payloads.py
  tests/unit_tests/pyanaconda_tests/modules/storage/partitioning/test_module_part_automatic.py
  tests/unit_tests/pyanaconda_tests/modules/subscription/test_subscription.py
  tests/unit_tests/pyanaconda_tests/modules/users/test_module_users.py
  tests/unit_tests/pyanaconda_tests/test_localization.py
  tests/unit_tests/pyanaconda_tests/ui/test_ui_source_spoke.py
Labels: f43

#6474 infra: fix setting PR number
  .github/workflows/trigger-webui.yml
  .github/workflows/trigger-webui.yml.j2
Labels: infrastructure, f43

#6469 Fix a pair of error messages.
  pyanaconda/modules/storage/checker/utils.py
  pyanaconda/modules/storage/partitioning/automatic/automatic_partitioning.py
Labels: f43

#6470 Change formatting on some error messages.
  .github/pull_request_template.md
  pyanaconda/modules/storage/checker/utils.py
  pyanaconda/modules/storage/partitioning/automatic/automatic_partitioning.py
Labels: infrastructure, f43

#6479 Update translations from Weblate
  po/l10n-config.mk
Labels: rhel-9, sanity check required

#6480 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#6472 RHEL-9: Remove tmpfs on /var/tmp for ISO builds
  Makefile.am
Labels: infrastructure, rhel-9

#6471 RHEL-10: Remove tmpfs on /var/tmp for ISO builds
  Makefile.am
Labels: infrastructure, rhel-10

#6482 infra: Add hint when kickstart test CI fails for empty test selection
  .github/workflows/kickstart-tests.yml
  .github/workflows/kickstart-tests.yml.j2
Labels: infrastructure, f43

#6489 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#6488 Update translations from Weblate
  po/l10n-config.mk
Labels: rhel-9, sanity check required

#6487 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f43

#6431 payload/rpm-ostree: Include program output in exception
  pyanaconda/core/util.py
  pyanaconda/modules/payloads/payload/rpm_ostree/installation.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_rpm_ostree_tasks.py
Labels: ready to merge, rhel-10
