Repository rhinstaller/anaconda, pull requests merged in 2025-04, with the labels that each got.

#6326 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f43

#6330 infra: sync differential-shellcheck workflow from main
  .github/workflows/differential-shellcheck.yml
Labels: infrastructure, rhel-10

#6332 F42: Fix race condition when reading localed layouts
  pyanaconda/modules/localization/localed.py
Labels: f42

#6331 storage: Fix EFI partition detection for other OSes (Windows, MacOS)
  pyanaconda/modules/storage/devicetree/viewer.py
Labels: f43

#6334 storage: Fix EFI partition detection for other OSes (Windows, MacOS)
  pyanaconda/modules/storage/devicetree/viewer.py
Labels: f42

#6329 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#6328 Update translations from Weblate
  po/l10n-config.mk
Labels: rhel-9, sanity check required

#6114 security: handle exception on early anaconda certificate import
  pyanaconda/startup_utils.py
Labels: f43

#6284 New getter for product in Runtime module
  pyanaconda/modules/common/structures/product.py
  pyanaconda/modules/runtime/user_interface/ui.py
  pyanaconda/modules/runtime/user_interface/ui_interface.py
  tests/unit_tests/pyanaconda_tests/modules/runtime/test_module_ui.py
Labels: blocked, f43

#6333 Fix race condition when reading localed layouts
  pyanaconda/modules/localization/installation.py
  pyanaconda/modules/localization/localed.py
  pyanaconda/modules/localization/localization.py
  tests/unit_tests/pyanaconda_tests/modules/localization/test_localed_wrapper.py
  tests/unit_tests/pyanaconda_tests/modules/localization/test_module_localization.py
  tests/unit_tests/pyanaconda_tests/modules/localization/test_module_localization_tasks.py
Labels: f43

#6109 RHEL-10: Fix download of stage2 image from .treeinfo
  dracut/anaconda-lib.sh
  tests/README.rst
  tests/unit_tests/shell_tests/__init__.py
  tests/unit_tests/shell_tests/test_dracut_anaconda-lib.py
Labels: ready to merge, rhel-10

#6106 security: transfer certificates from intiramfs to root in dracut
  dracut/Makefile.am
  dracut/anaconda-copy-certs.sh
  dracut/module-setup.sh
Labels: f43

#6341 spec: Properly strip objects and fix generation of debuginfo packages
  anaconda.spec.in
  rpmlint.toml
Labels: f43

#6347 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f42

#6258 edns: allow dnsconfd name resolution for kickstart fetching
  dracut/anaconda-lib.sh
  dracut/anaconda-start-dnsconfd.sh
Labels: f43

#6351 infra: use `dnf install --allowerasing` instead of `dnf swap` for systemd
  dockerfile/anaconda-rpm/Dockerfile
Labels: infrastructure, f43

#6346 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f43

#6349 Update translations from Weblate
  po/l10n-config.mk
Labels: ready to merge, sanity check required, rhel-10

#6348 Update translations from Weblate
  po/l10n-config.mk
Labels: rhel-9, ready to merge, sanity check required

#6289 s390x - enable raid1 as a stage2 device
  pyanaconda/modules/storage/bootloader/zipl.py
Labels: port to RHEL9, port to RHEL10, f43

#5760 RHEL 9: bootupd update firmware
  pyanaconda/modules/payloads/payload/rpm_ostree/installation.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_rpm_ostree_tasks.py
Labels: rhel-9, ready to merge

#6337 security: fix dnsconfd backend option check in initramfs
  dracut/anaconda-dnsconfd.sh
Labels: rhel-9, ready to merge

#6344 Disable rhel autoconnections on bootif r9
  data/systemd/Makefile.am
  data/systemd/anaconda-generator
  data/systemd/anaconda-nm-disable-autocons-rhel.service
  data/systemd/anaconda-nm-disable-autocons.service
Labels: rhel-9, ready to merge

#6357 infra: trigger also EFI Web UI installation tests
  .github/workflows/trigger-webui.yml
  .github/workflows/trigger-webui.yml.j2
Labels: infrastructure, f43

#6363 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f42

#6365 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required

#6361 RHEL-9: tests: Fix outdated bootupd_run test
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_rpm_ostree_tasks.py
Labels: rhel-9

#6364 Update translations from Weblate
  po/l10n-config.mk
Labels: rhel-9, sanity check required

#6148 rpm_ostree/installation.py: fix image deployment on s390x
  pyanaconda/modules/payloads/payload/rpm_ostree/installation.py
Labels: f43

#6340 Run restorecon after copying logs
  pyanaconda/modules/boss/boss.py
  pyanaconda/modules/boss/installation.py
  tests/unit_tests/pyanaconda_tests/modules/boss/test_boss.py
  tests/unit_tests/pyanaconda_tests/modules/boss/test_copy_logs_task.py
Labels: f43

#6356 pyanaconda: storage: efi: never try to decode utf8 when calling efibootmgr
  pyanaconda/core/util.py
  pyanaconda/modules/storage/bootloader/efi.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_module_storage.py
Labels: f43

#6373 infra: Template FSF address change on rhel-{9,10}
  dracut/kickstart_version.py.j2
  pyanaconda/core/kickstart/version.py.j2
Labels: infrastructure, f43

#6372 RHEL-10: infra: Update ubuntu-runners to 24.04
  .github/workflows/autolabel.yml
  .github/workflows/build-image.yml.j2
  .github/workflows/container-rebuild-action.yml.j2
  .github/workflows/infra-check.yml
  .github/workflows/kickstart-tests.yml.j2
  .github/workflows/push-tests.yml.j2
  .github/workflows/release-notes.yml
  .github/workflows/template-check.yml
  .github/workflows/tests-daily.yml
  .github/workflows/tests-daily.yml.j2
  .github/workflows/tests.yml
  .github/workflows/tests.yml.j2
  .github/workflows/trigger-webui.yml.j2
  .packit.yml
  .packit.yml.j2
  branch-config.mk.j2
  dockerfile/anaconda-iso-creator/lorax-build.j2
  dracut/kickstart_version.py.j2
  pyanaconda/core/kickstart/version.py.j2
Labels: infrastructure, rhel-10

#6338 security: fix dnsconfd backend option check in initramfs
  dracut/anaconda-dnsconfd.sh
Labels: ready to merge, rhel-10

#6343 network: disable autoconnections on RHEL also for BOOTIF option
  data/systemd/anaconda-nm-disable-autocons-rhel.service
Labels: ready to merge, rhel-10

#6353 edns: allow dnsconfd name resolution for kickstart fetching
  dracut/anaconda-lib.sh
  dracut/anaconda-start-dnsconfd.sh
Labels: ready to merge, rhel-10

#6370 RHEL-10: Run restorecon after copying logs
  pyanaconda/modules/boss/boss.py
  pyanaconda/modules/boss/installation.py
  tests/unit_tests/pyanaconda_tests/modules/boss/test_boss.py
  tests/unit_tests/pyanaconda_tests/modules/boss/test_copy_logs_task.py
Labels: ready to merge, rhel-10

#6359 RHEL 10: Enable raid1 as stag2 s390
  pyanaconda/modules/storage/bootloader/zipl.py
Labels: ready to merge, rhel-10

#6369 Fix typo in systemd service
  data/systemd/anaconda-nm-disable-autocons-rhel.service
Labels: rhel-9, ready to merge

#6358 Rhel-9-enable-raid1-as-stag2-s390
  pyanaconda/modules/storage/bootloader/zipl.py
Labels: rhel-9, ready to merge

#6354 network: update NM autoconnections configuration for centos
  data/systemd/anaconda-nm-disable-autocons-rhel.service
  scripts/anaconda-nm-disable-autocons
Labels: ready to merge, rhel-10

#6352 edns: allow dnsconfd name resolution for kickstart fetching
  dracut/anaconda-lib.sh
  dracut/anaconda-start-dnsconfd.sh
Labels: rhel-9, ready to merge

#6382 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#6381 Update translations from Weblate
  po/l10n-config.mk
Labels: rhel-9, sanity check required

#6379 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f43

#6285 Revert "Do not copy resolv.conf to target system at the end of installation
  pyanaconda/modules/network/installation.py
  tests/unit_tests/pyanaconda_tests/modules/network/test_module_network.py
Labels: f43

#6386 docs: Collect release notes for F42
  docs/release-notes.rst
  docs/release-notes/certificates-import.rst
  docs/release-notes/disabled-keyboard-shortcuts-to-switch-layouts.rst
  docs/release-notes/drop-i686-builds.rst
  docs/release-notes/enable-TERM-passthrough.rst
  docs/release-notes/hidden-webui-pages.rst
  docs/release-notes/rdp-support.rst
  docs/release-notes/wayland-migration.rst
Labels: documentation, f43

#6388 infra: Replace dnf swap with --allowerasing
  dockerfile/anaconda-ci/Dockerfile
Labels: infrastructure, f43
