Repository rhinstaller/anaconda, pull requests merged in 2025-07, with the labels that each got.

#6498 Update translations from Weblate
  po/l10n-config.mk
Labels: rhel-9, sanity check required

#6497 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f43

#6501 Cleanup obsolete comment and re-place import
  anaconda.py
Labels: f43

#6505 Update translations from Weblate
  po/l10n-config.mk
Labels: rhel-9, sanity check required

#6508 Fix an issue with automake versions when building the rpm
  anaconda.spec.in
Labels: f43

#6509 data: profile.d: use slitherer as default web engine everywhere but for workstation
  data/anaconda.conf
  data/profile.d/fedora-workstation.conf
  data/profile.d/fedora.conf
Labels: f43

#6485 pyanaconda: storage: enforce GPT partition table for ESP on EFI x86 platforms
  pyanaconda/modules/storage/bootloader/base.py
  pyanaconda/modules/storage/bootloader/factory.py
  pyanaconda/modules/storage/platform.py
  tests/unit_tests/pyanaconda_tests/modules/storage/test_platform.py
Labels: f43

#6483 Retrieve DEVICE_TYPES from blivet.
  pyanaconda/core/configuration/storage_constraints.py
  pyanaconda/core/storage.py
  pyanaconda/modules/storage/partitioning/interactive/add_device.py
  pyanaconda/modules/storage/partitioning/interactive/utils.py
  pyanaconda/ui/gui/spokes/custom_storage.py
  pyanaconda/ui/gui/spokes/lib/custom_storage_helpers.py
  tests/unit_tests/pyanaconda_tests/modules/storage/partitioning/test_module_part_interactive.py
  tests/unit_tests/pyanaconda_tests/modules/storage/partitioning/test_module_scheduler.py
  tests/unit_tests/pyanaconda_tests/ui/test_ui_custom_spoke.py
Labels: f43

#6515 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#6432 bootloader: efi: utilize grub2-common script for handling config file generation
  anaconda.spec.in
  pyanaconda/modules/storage/bootloader/efi.py
Labels: f43

#5857 DNF5 prototype
  anaconda.spec.in
  pyanaconda/modules/payloads/payload/dnf/dnf.py
  pyanaconda/modules/payloads/payload/dnf/dnf_manager.py
  pyanaconda/modules/payloads/payload/dnf/download_progress.py
  pyanaconda/modules/payloads/payload/dnf/initialization.py
  pyanaconda/modules/payloads/payload/dnf/repositories.py
  pyanaconda/modules/payloads/payload/dnf/requirements.py
  pyanaconda/modules/payloads/payload/dnf/transaction_progress.py
  pyanaconda/modules/payloads/payload/dnf/utils.py
  pyanaconda/modules/payloads/payload/dnf/validation.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_dnf_initialization.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_dnf_repositories.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_dnf_tear_down.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_dnf_validation.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf_installation.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf_manager.py
  tests/unit_tests/pyanaconda_tests/modules/payloads/payload/test_module_payload_dnf_requirements.py
Labels: f43

#6519 Fix unit tests for code running rsync by mocking it.
  tests/unit_tests/pyanaconda_tests/modules/payloads/source/test_source_live_image.py
Labels: f43

#6523 Update translations from Weblate
  po/l10n-config.mk
Labels: rhel-9, sanity check required

#6522 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, f43

#6527 data: profile: hide date time screen from workstation
  data/profile.d/fedora-workstation.conf
Labels: f43

#6533 Update translations from Weblate
  po/l10n-config.mk
Labels: sanity check required, rhel-10

#6539 Revert "Default to GTK UI when available, fallback to Web UI otherwise"
  data/liveinst/liveinst
  pyanaconda/anaconda.py
  pyanaconda/startup_utils.py
  tests/unit_tests/pyanaconda_tests/core/test_startup_utils.py
Labels: f43
